Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

add path checks in tests
  gateway/tests/core/services/storage/test_file_storage.py
Due: lint-gateway

update componente version gha
  .github/workflows/update-component-versions.yaml
Due: none

Refactor/file storage (#2182)
  gateway/api/use_cases/files/delete.py
  gateway/api/use_cases/files/download.py
  gateway/api/use_cases/files/list.py
  gateway/api/use_cases/files/provider_delete.py
  gateway/api/use_cases/files/provider_download.py
  gateway/api/use_cases/files/provider_list.py
  gateway/api/use_cases/files/provider_upload.py
  gateway/api/use_cases/files/upload.py
  gateway/core/services/runners/ray_runner.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/file_storage_fleets.py
  gateway/core/services/storage/file_storage_ray.py
  gateway/tests/api/use_cases/files/test_provider_files.py
  gateway/tests/api/use_cases/files/test_user_files.py
  gateway/tests/core/services/storage/test_file_storage.py
Due: lint-gateway

Fix FleetsResultStorage: implement COS-based result retrieval
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/result_storage.py
  gateway/core/services/storage/result_storage_fleets.py
  gateway/core/services/storage/result_storage_ray.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/core/services/storage/test_result_storage_fleets.py
Due: lint-gateway

Add 4-mount COS path layout for custom and provider functions
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/main/settings.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Skip COS save in serializer.
  gateway/api/serializers.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/result_storage_fleets.py
Due: lint-gateway

Extract test_fleet_utils.py.
  gateway/pyproject.toml
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_utils.py
Due: lint-gateway

Run wrapper directly from PDS mount, fix log copy on FUSE
  gateway/templates/fleet_custom_job_wrapper.py
  gateway/templates/fleet_provider_job_wrapper.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_template.py
Due: lint-gateway

Use get_arguments_storage to upload arguments in runner
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Improve error messages and raise on missing COS
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Document new FleetJobPaths field naming conventions
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
Due: lint-gateway

Undo pyproject.toml change
  gateway/pyproject.toml
Due: none

Fix lint
  gateway/core/services/runners/fleets_runner.py
Due: lint-gateway

fix(test): use correct app script in provider truncation test
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_template.py
Due: lint-gateway

update componente version gha (#2201)
  .github/workflows/update-component-versions.yaml
Due: none

Fix FleetsResultStorage: implement COS-based result retrieval (#2185)
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/result_storage.py
  gateway/core/services/storage/result_storage_fleets.py
  gateway/core/services/storage/result_storage_ray.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/core/services/storage/test_result_storage_fleets.py
Due: lint-gateway

Add missing custom function permission tests for provider and combined instances
  tests/instances/test_instance_permissions.py
Due: lint-tests

Add INSTANCES spec document
  specs/INSTANCES.md
Due: none

Disable too-many-public-methods pylint warning in test classes
  tests/instances/test_instance_permissions.py
Due: lint-tests

Rename INSTANCES.md to INSTANCES_AUTH.md
  specs/INSTANCES_AUTH.md
Due: none

changed import path
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

black
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

feat: add running_started_at field to Job for usage tracking
  gateway/api/migrations/0053_job_running_started_at.py
  gateway/core/models.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

feat: add IBMEventStreamsClient for job usage events
  gateway/core/ibm_cloud/clients.py
  gateway/requirements.txt
  gateway/tests/core/services/ibm_cloud/test_clients_unit.py
Due: lint-gateway

feat: publish usage events to Event Streams in Fleets job lifecycle
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

Add missing acceptance tests for custom function permissions (#2202)
  .gitignore
  specs/INSTANCES_AUTH.md
  tests/instances/test_instance_permissions.py
Due: lint-tests

Update provider_logs use case and view for Fleet presigned URL redirect
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/v1/views/jobs/provider_logs.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/use_cases/jobs/test_logs_use_cases_fleets.py
Due: lint-gateway

Update get_logs use case and view for Fleet presigned URL redirect
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/v1/views/jobs/get_logs.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/use_cases/jobs/test_logs_use_cases_fleets.py
Due: lint-gateway

Update client logs() and provider_logs() to handle 302 redirect and 204
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_serverless_client_jobs.py
Due: lint-client

Clarify COS redirect detection with named variable and comment
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

tests
  client/tests/core/test_serverless_client_jobs.py
Due: lint-client

Return 'No logs yet.' on 204 in logs() and provider_logs()
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_serverless_client_jobs.py
Due: lint-client

Fix test assertions to use LogsResult.raw_log instead of comparing to string
  gateway/tests/api/use_cases/jobs/test_provider_logs.py
Due: lint-gateway

Add presigned URL methods to FleetsLogsStorage
  gateway/core/services/storage/logs_storage_fleets.py
  gateway/tests/core/services/storage/test_logs_storage_fleets.py
Due: lint-gateway

minor
  docs/superpowers/plans/2026-06-01-fleet-logs-presigned-url.md
Due: none

Address PR review comments
  client/qiskit_serverless/core/clients/serverless_client.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/logs_result.py
Due: lint-gateway, lint-client

Add get_public/private_logs_url to LogsStorage interface and Ray stub
  gateway/core/services/storage/logs_storage.py
  gateway/core/services/storage/logs_storage_ray.py
  gateway/tests/core/services/storage/test_logs_storage.py
Due: lint-gateway

Add head_object and generate_presigned_url to COSClient
  gateway/core/ibm_cloud/cos/cos_client.py
  gateway/tests/core/services/ibm_cloud/cos/test_cos_client_unit.py
Due: lint-gateway

Fix logs redirect detection to use hostname comparison instead of allow_redirects=False
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

Add design spec: Fleet logs presigned URL redirect
  docs/superpowers/specs/2026-05-29-fleet-logs-presigned-url-design.md
Due: none

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
