Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

added error code panels
  gateway/scheduler/metrics/grafana_partners.json
Due: none

improve tests
  gateway/tests/api/use_cases/jobs/test_provider_list.py
Due: lint-gateway

improve tests
  gateway/tests/api/access_policies/test_jobs.py
Due: lint-gateway

cache Runtime API access
  gateway/api/clients/function_access_client.py
  gateway/main/settings.py
  gateway/tests/api/clients/conftest.py
  gateway/tests/api/clients/test_function_access_client.py
Due: lint-gateway

deployment values
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

deployment values
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/api/clients/function_access_client.py
  gateway/main/settings.py
  gateway/tests/api/clients/conftest.py
Due: lint-gateway

removed old value
  gateway/main/settings.py
Due: lint-gateway

removed old value
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

refactor tests + add logs
  gateway/api/access_policies/providers.py
  gateway/api/use_cases/jobs/provider_list.py
  gateway/api/v1/views/jobs/provider_list.py
  gateway/tests/api/use_cases/jobs/test_provider_list.py
Due: lint-gateway

204 = has_response
  gateway/api/clients/function_access_client.py
Due: lint-gateway

Enable Instances auth: jobs/provider-list endpoint (#2064)
  gateway/api/access_policies/providers.py
  gateway/api/authentication.py
  gateway/api/domain/authentication/custom_authentication.py
  gateway/api/domain/authorization/function_access_result.py
  gateway/api/use_cases/jobs/provider_list.py
  gateway/api/v1/views/jobs/provider_list.py
  gateway/core/model_managers/functions.py
  gateway/core/model_managers/jobs.py
  gateway/tests/api/access_policies/test_jobs.py
  gateway/tests/api/authentication/custom_token/test_ibm_quantum_platform.py
  gateway/tests/api/test_job.py
  gateway/tests/api/use_cases/__init__.py
  gateway/tests/api/use_cases/jobs/__init__.py
  gateway/tests/api/use_cases/jobs/test_provider_list.py
  gateway/tests/core/model_managers/__init__.py
  gateway/tests/core/model_managers/test_functions.py
  gateway/tests/core/model_managers/test_jobs.py
Due: lint-gateway

Configure cache and url for Runtime API /functions call (#2066)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/api/clients/function_access_client.py
  gateway/main/settings.py
  gateway/tests/api/clients/conftest.py
  gateway/tests/api/clients/test_function_access_client.py
Due: lint-gateway

rename has_response to use_legacy_authorization
  gateway/api/access_policies/jobs.py
  gateway/api/access_policies/providers.py
  gateway/api/authentication.py
  gateway/api/clients/function_access_client.py
  gateway/api/domain/authorization/function_access_result.py
  gateway/api/use_cases/jobs/provider_list.py
  gateway/api/v1/exception_handler.py
  gateway/tests/api/access_policies/test_jobs.py
  gateway/tests/api/access_policies/test_providers.py
  gateway/tests/api/clients/conftest.py
  gateway/tests/api/clients/test_function_access_client.py
  gateway/tests/api/domain/authorization/test_function_access_result.py
  gateway/tests/api/test_job.py
  gateway/tests/api/use_cases/jobs/test_provider_list.py
Due: lint-gateway

rename has_response to use_legacy_authorization
  gateway/api/clients/function_access_client.py
  gateway/api/domain/authorization/function_access_result.py
  gateway/api/v1/exception_handler.py
Due: lint-gateway

fix
  gateway/api/domain/authorization/function_access_entry.py
  gateway/api/domain/exceptions/runtime_api_exception.py
  gateway/tests/api/clients/test_function_access_client.py
Due: lint-gateway

Reduce redundant run() calls in integration tests
  tests/integration/test_dependencies.py
  tests/integration/test_jobs.py
Due: lint-tests

Reduce redundant run() calls in integration tests (#2068)
  tests/integration/test_dependencies.py
  tests/integration/test_jobs.py
Due: lint-tests

Add FleetsRunner implementation (#2033)
  gateway/api/management/commands/sync_ce_project.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/v1/serializers.py
  gateway/core/ibm_cloud/code_engine/ce_client/models/__init__.py
  gateway/core/ibm_cloud/code_engine/ce_client/models/v2_gpu_preference.py
  gateway/core/ibm_cloud/code_engine/ce_client/models/v2_gpu_scale.py
  gateway/core/ibm_cloud/code_engine/fleets/cos.py
  gateway/core/ibm_cloud/code_engine/fleets/handler.py
  gateway/core/services/runners/__init__.py
  gateway/core/services/runners/abstract_runner.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/runners/ray_runner.py
  gateway/entrypoint-gateway.sh
  gateway/entrypoint-scheduler.sh
  gateway/main/settings.py
  gateway/scheduler/schedule.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_job_cos_unit.py
  gateway/tests/core/services/runners/__init__.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/core/test_ray_runner.py
Due: lint-gateway

deploy: ca2b9e1cad5c2aca72595fd13246be97017a40f3
  .buildinfo
  .doctrees/environment.pickle
Due: none

Changed setting value name to `TimeoutHours` and default value to 24 hours
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/main/settings.py
Due: lint-gateway

Change log message and boundry case
  gateway/scheduler/schedule.py
Due: lint-gateway

changed releasenotes
  releasenotes/notes/default-time-job-in-running_status-b1a6296c58d4dcb3.yaml
Due: none

updated tests var name
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

Allow to set COS private endpoint URL. Needed for deployment.
  gateway/core/ibm_cloud/clients.py
  gateway/core/ibm_cloud/code_engine/fleets/cos.py
  gateway/core/ibm_cloud/cos/cos_client.py
  gateway/core/services/runners/fleets_runner.py
  gateway/main/settings.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_job_cos_unit.py
  gateway/tests/core/services/ibm_cloud/cos/test_cos_client_unit.py
  gateway/tests/core/services/ibm_cloud/test_clients_unit.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Small fix: handle US spelling of canceled in fleet status mapping
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Refactor: rename `has_response` to `use_legacy_authorization` (#2067)
  gateway/api/access_policies/jobs.py
  gateway/api/access_policies/providers.py
  gateway/api/authentication.py
  gateway/api/clients/function_access_client.py
  gateway/api/domain/authorization/function_access_entry.py
  gateway/api/domain/authorization/function_access_result.py
  gateway/api/domain/exceptions/runtime_api_exception.py
  gateway/api/use_cases/jobs/provider_list.py
  gateway/api/v1/exception_handler.py
  gateway/tests/api/access_policies/test_jobs.py
  gateway/tests/api/access_policies/test_providers.py
  gateway/tests/api/clients/conftest.py
  gateway/tests/api/clients/test_function_access_client.py
  gateway/tests/api/domain/authorization/test_function_access_result.py
  gateway/tests/api/test_job.py
  gateway/tests/api/use_cases/jobs/test_provider_list.py
Due: lint-gateway

Small fix: handle US spelling of canceled in fleet status mapping (#2070)
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Expose fleet_id in job responses and runner in program admin
  gateway/api/admin.py
  gateway/api/serializers.py
  gateway/api/v1/serializers.py
  gateway/api/views/programs.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

Add fleet_id property and get_job_data to Job client
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/job.py
  client/tests/core/test_job.py
Due: lint-client

Expose fleet_id in job responses and runner in program admin (#2071)
  gateway/api/admin.py
  gateway/api/serializers.py
  gateway/api/v1/serializers.py
  gateway/api/views/programs.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

Programs use Runtime API /functions for auth
  gateway/api/serializers.py
  gateway/api/views/programs.py
  gateway/tests/api/access_policies/test_jobs.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/use_cases/jobs/test_provider_list.py
  gateway/tests/utils.py
Due: lint-gateway

linter
  gateway/api/views/programs.py
Due: lint-gateway

missing conftest
  gateway/tests/api/conftest.py
Due: lint-gateway

Expose fleet_id on Job and allow status polling via get_job_data (#2072)
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/job.py
  client/tests/core/test_job.py
Due: lint-client

refactor
  gateway/tests/api/access_policies/test_jobs.py
  gateway/tests/api/conftest.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/use_cases/jobs/test_provider_list.py
  gateway/tests/utils.py
Due: lint-gateway

Pass job env vars to fleet containers
  gateway/core/services/runners/fleets_runner.py
Due: lint-gateway

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
