Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

compute profile input refactor
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/run_input.py
  gateway/api/v1/views/programs/run.py
  gateway/core/domain/compute_profile.py
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/api/use_cases/programs/test_run.py
  gateway/tests/core/domain/test_compute_profile.py
  gateway/tests/core/services/runners/test_compute_profile.py
Due: lint-gateway

compute profile input refactor (#2447)
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/run_input.py
  gateway/api/v1/views/programs/run.py
  gateway/core/domain/compute_profile.py
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/api/use_cases/programs/test_run.py
  gateway/tests/core/domain/test_compute_profile.py
  gateway/tests/core/services/runners/test_compute_profile.py
Due: lint-gateway

deploy: d682d3b26adbf9130b5bc1943482b320a3d67f38
  .buildinfo
  .doctrees/environment.pickle
Due: none

adding default size to setting
  gateway/main/settings.py
Due: lint-gateway

function Size normalization and error handelinh
  gateway/api/domain/function_sizes.py
Due: lint-gateway

uploading new function
  gateway/api/v1/views/programs/upload.py
Due: lint-gateway

upload function gateway - update sizes
  gateway/api/use_cases/programs/upload.py
  gateway/api/use_cases/programs/upload_input.py
Due: lint-gateway

Update charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
Due: none

Add function_size run kwarg to client, deprecate compute_profile
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/function.py
  client/tests/core/test_serverless_client_jobs.py
Due: lint-client

Resolve runs through the function size catalog and record provenance
  gateway/api/admin.py
  gateway/api/migrations/0060_job_size_source_and_more.py
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/run_input.py
  gateway/api/use_cases/programs/runner_config.py
  gateway/api/v1/views/programs/run.py
  gateway/core/models.py
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/api/use_cases/programs/test_run.py
Due: lint-gateway

Extract scalar-field updates in upload _update to satisfy pylint
  gateway/api/use_cases/programs/upload.py
Due: lint-gateway

Add filler job event contexts
  gateway/core/model_managers/job_events.py
Due: lint-gateway

Skip billing events for filler jobs
  gateway/core/ibm_cloud/event_streams/abstract_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/noop_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_noop_event_streams_client.py
Due: lint-gateway

Use filler prefix for filler job fleet names
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Clarify FILLER_AUTHOR_USERNAME holds a username, not a primary key
  gateway/main/settings.py
  gateway/tests/main/test_settings.py
Due: lint-gateway

Make Config.get_int fall back to a default instead of raising
  gateway/core/models.py
  gateway/tests/core/test_config.py
Due: lint-gateway

Log filler-job billing skip and document the emit guard contract
  gateway/core/ibm_cloud/event_streams/abstract_event_streams_client.py
Due: lint-gateway

improve sizes and default_size validaton
  gateway/api/use_cases/programs/upload.py
  gateway/api/v1/views/programs/upload.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/api/use_cases/programs/test_upload.py
Due: lint-gateway

add test to validate the behavior for Ray
  gateway/tests/api/use_cases/programs/test_run.py
Due: lint-gateway

Default the filler author username and trim its comments
  gateway/core/models.py
  gateway/main/settings.py
  gateway/tests/main/test_settings.py
Due: lint-gateway

Trim the EventStreamsClient docstring
  gateway/core/ibm_cloud/event_streams/abstract_event_streams_client.py
Due: lint-gateway

disable sizes creation for ray jobs
  gateway/api/use_cases/programs/upload.py
  gateway/tests/api/use_cases/programs/test_upload.py
Due: lint-gateway

Apply batched suggestions from code review
  gateway/core/ibm_cloud/event_streams/abstract_event_streams_client.py
Due: lint-gateway

Drop the filler compute profile config value
  gateway/core/config_key.py
  gateway/main/settings.py
Due: lint-gateway

Require Django 6.0.8
  gateway/api/migrations/0060_job_filler.py
  gateway/requirements.txt
Due: lint-gateway

Pin the gateway tox environments to Python 3.12
  gateway/tox.ini
Due: none

Apply suggestion from @avilches
  gateway/tox.ini
Due: none

Name fleets after the function, profile and user
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Drop the timestamp from fleet names and shorten the filler prefix
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Use a readable UTC timestamp in fleet names
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

updated old compute profile reference
  .github/workflows/fleets-integration-tests.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  docker-compose-fleets-test.yaml
  gateway/main/settings.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/api/use_cases/programs/test_run.py
Due: lint-gateway

exception refactor
  gateway/api/domain/exceptions/invalid_function_sizes_error.py
  gateway/api/domain/function_sizes.py
  gateway/api/v1/views/programs/upload.py
Due: lint-gateway

T-Shirt Sizes API - uploading function with sizes (#2431)
  .github/workflows/fleets-integration-tests.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/function.py
  client/tests/core/test_serverless_client_jobs.py
  docker-compose-fleets-test.yaml
  gateway/api/admin.py
  gateway/api/domain/exceptions/invalid_function_sizes_error.py
  gateway/api/domain/function_sizes.py
  gateway/api/migrations/0060_job_size_source_and_more.py
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/run_input.py
  gateway/api/use_cases/programs/runner_config.py
  gateway/api/use_cases/programs/upload.py
  gateway/api/use_cases/programs/upload_input.py
  gateway/api/v1/views/programs/run.py
  gateway/api/v1/views/programs/upload.py
  gateway/core/models.py
  gateway/main/settings.py
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/api/use_cases/programs/test_run.py
  gateway/tests/api/use_cases/programs/test_upload.py
Due: lint-gateway, lint-client

client: carry sizes in the function body, read via sizes()/get_default_size()
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/function.py
  client/tests/core/test_serverless_client_functions.py
  gateway/api/use_cases/programs/get_sizes.py
  gateway/api/v1/views/programs/get_sizes.py
  gateway/tests/api/use_cases/programs/test_get_sizes.py
Due: lint-gateway, lint-client

client: add RunnableQiskitFunction.sizes() and get_default_size()
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/function.py
  client/tests/core/test_serverless_client_functions.py
  gateway/api/use_cases/programs/get_sizes.py
  gateway/api/v1/views/programs/get_sizes.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/api/use_cases/programs/test_get_sizes.py
Due: lint-gateway, lint-client

gateway: add GET programs/<title>/sizes endpoint
  gateway/api/v1/views/programs/get_sizes.py
Due: lint-gateway

gateway: carry sizes and default_size in the function representation
  gateway/api/v1/views/programs/get_by_title.py
  gateway/api/v1/views/programs/list.py
  gateway/api/v1/views/programs/sizes_fields.py
  gateway/api/v1/views/programs/upload.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

Add sizes() and get_default_size() to functions, carried in the function body (#2448)
  client/qiskit_serverless/core/function.py
  client/tests/core/test_serverless_client_functions.py
  gateway/api/v1/views/programs/get_by_title.py
  gateway/api/v1/views/programs/list.py
  gateway/api/v1/views/programs/sizes_fields.py
  gateway/api/v1/views/programs/upload.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway, lint-client

Let callers of execute_fleets_job choose the job event context
  gateway/scheduler/schedule.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

Add a partial index for filler job lookups
  gateway/api/migrations/0061_job_job_filler_true_idx.py
  gateway/core/models.py
  gateway/tests/core/test_job_model.py
Due: lint-gateway
