Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Fix log migration
  gateway/scheduler/management/commands/migrate_old_job_logs.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

Fix log migration - tests
  gateway/tests/scheduler/management/test_migrate_old_job_logs.py
Due: lint-gateway

added logs
  gateway/api/v1/views/dependencies_versions.py
  gateway/api/v1/views/files/delete.py
  gateway/api/v1/views/files/download.py
  gateway/api/v1/views/files/list.py
  gateway/api/v1/views/files/provider_delete.py
  gateway/api/v1/views/files/provider_download.py
  gateway/api/v1/views/files/provider_list.py
  gateway/api/v1/views/files/provider_upload.py
  gateway/api/v1/views/files/upload.py
  gateway/api/v1/views/jobs/get_logs.py
  gateway/api/v1/views/jobs/list.py
  gateway/api/v1/views/jobs/provider_list.py
  gateway/api/v1/views/jobs/provider_logs.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/api/v1/views/jobs/runtime_jobs.py
  gateway/api/v1/views/jobs/save_result.py
  gateway/api/v1/views/jobs/set_sub_status.py
  gateway/api/v1/views/jobs/stop.py
  gateway/api/views/programs.py
  gateway/main/urls.py
Due: lint-gateway

Add client unit tests: serverless client class (part 1) (#1937)
  client/tests/core/test_decorator.py
  client/tests/core/test_function_upload.py
  client/tests/core/test_ibm_serverless_client.py
  client/tests/core/test_serverless_client_jobs.py
  client/tests/serializers/test_program_serializers.py
Due: lint-client

Add client unit tests: utils module (#1921)
  client/tests/utils/__init__.py
  client/tests/utils/test_errors.py
  client/tests/utils/test_formatting.py
  client/tests/utils/test_http.py
  client/tests/utils/test_json.py
Due: lint-client

added logs
  gateway/api/v1/views/files/delete.py
  gateway/api/v1/views/files/download.py
  gateway/api/v1/views/files/list.py
  gateway/api/v1/views/files/provider_delete.py
  gateway/api/v1/views/files/provider_download.py
  gateway/api/v1/views/files/provider_list.py
  gateway/api/v1/views/files/provider_upload.py
  gateway/api/v1/views/files/upload.py
  gateway/api/v1/views/jobs/list.py
  gateway/api/v1/views/jobs/provider_list.py
  gateway/api/v1/views/jobs/provider_logs.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/api/v1/views/jobs/runtime_jobs.py
  gateway/api/v1/views/jobs/save_result.py
  gateway/api/v1/views/jobs/set_sub_status.py
Due: lint-gateway

added logs
  gateway/api/v1/views/dependencies_versions.py
  gateway/api/v1/views/files/delete.py
  gateway/api/v1/views/files/download.py
  gateway/api/v1/views/files/list.py
  gateway/api/v1/views/files/provider_delete.py
  gateway/api/v1/views/files/provider_download.py
  gateway/api/v1/views/files/provider_list.py
  gateway/api/v1/views/files/provider_upload.py
  gateway/api/v1/views/files/upload.py
  gateway/api/v1/views/jobs/get_logs.py
  gateway/api/v1/views/jobs/list.py
  gateway/api/v1/views/jobs/provider_list.py
  gateway/api/v1/views/jobs/provider_logs.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/api/v1/views/jobs/runtime_jobs.py
  gateway/api/v1/views/jobs/save_result.py
  gateway/api/v1/views/jobs/set_sub_status.py
  gateway/api/v1/views/jobs/stop.py
  gateway/api/views/programs.py
Due: lint-gateway

conflict solving
  gateway/tests/api/test_logs.py
Due: lint-gateway

Fix log migration (#1941)
  gateway/scheduler/management/commands/migrate_old_job_logs.py
  gateway/tests/scheduler/management/test_migrate_old_job_logs.py
Due: lint-gateway

fix exception raising error
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/job.py
  client/qiskit_serverless/core/job_event.py
  client/qiskit_serverless/utils/errors.py
  gateway/templates/main.tmpl
  tests/integration/test_jobs.py
  tests/source_files/exception_producer.py
Due: lint-client, lint-tests

fix test
  tests/integration/test_jobs.py
Due: lint-tests

Starting to update all tests of program to work with new test class
  gateway/tests/api/test_v1_program.py
  gateway/tests/utils.py
Due: lint-gateway

added istio.yaml
  charts/qiskit-serverless/templates/istio.yaml
Due: none

fix
  charts/qiskit-serverless/templates/istio.yaml
Due: none

Enable Prometheus and added logs to every endpoint (#1940)
  charts/qiskit-serverless/templates/istio.yaml
  gateway/api/v1/views/dependencies_versions.py
  gateway/api/v1/views/files/delete.py
  gateway/api/v1/views/files/download.py
  gateway/api/v1/views/files/list.py
  gateway/api/v1/views/files/provider_delete.py
  gateway/api/v1/views/files/provider_download.py
  gateway/api/v1/views/files/provider_list.py
  gateway/api/v1/views/files/provider_upload.py
  gateway/api/v1/views/files/upload.py
  gateway/api/v1/views/jobs/get_logs.py
  gateway/api/v1/views/jobs/list.py
  gateway/api/v1/views/jobs/provider_list.py
  gateway/api/v1/views/jobs/provider_logs.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/api/v1/views/jobs/runtime_jobs.py
  gateway/api/v1/views/jobs/save_result.py
  gateway/api/v1/views/jobs/set_sub_status.py
  gateway/api/v1/views/jobs/stop.py
  gateway/api/views/programs.py
  gateway/main/urls.py
Due: lint-gateway

Migrate Django tests to Pytest syntax and fixtures (1 of n) (#1938)
  gateway/tests/api/access_policies/test_jobs.py
  gateway/tests/api/access_policies/test_providers.py
  gateway/tests/api/access_policies/test_users.py
  gateway/tests/api/authentication/mock_token/test_mock_token.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

Update headers in core tests
  client/tests/core/test_function_upload.py
  client/tests/core/test_job.py
  client/tests/core/test_serverless_client_jobs.py
Due: lint-client

Add unit tests for function-related methods of ServerlessClient
  client/tests/core/test_serverless_client_functions.py
Due: lint-client

Merge function upload tests into new file
  client/tests/core/test_function_upload.py
  client/tests/core/test_serverless_client_functions.py
Due: lint-client

Add unit tests for GatewayFilesClient utilities
  client/tests/core/test_files.py
Due: lint-client

Added comments for calrification
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

Validate input kwargs in jobs following user feedback
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

Add unit tests for kwarg validation
  client/tests/core/test_serverless_client_jobs.py
Due: lint-client

black
  tests/integration/test_jobs.py
Due: lint-tests

Add first iteration of gateway API docs
  docs/gateway_api/README.md
  docs/gateway_api/authentication.rst
  docs/gateway_api/endpoints.rst
  docs/gateway_api/index.rst
  docs/index.rst
  gateway/main/urls.py
Due: lint-gateway

Enriched scenario for enriched test
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

fix tests
  client/tests/core/test_job.py
Due: lint-client

optional details
  client/qiskit_serverless/core/serverless_error.py
Due: lint-client

changed assert method
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

rename endpoints and stop using repositories
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/job.py
  gateway/api/use_cases/jobs/create_event.py
  gateway/api/use_cases/jobs/list_events.py
  gateway/api/v1/views/jobs/create_event.py
  gateway/api/v1/views/jobs/get_events.py
  gateway/tests/api/test_job.py
Due: lint-gateway, lint-client

download real streaming from COS
  gateway/api/use_cases/files/download.py
  gateway/api/use_cases/files/provider_download.py
  gateway/api/v1/views/files/download.py
  gateway/api/v1/views/files/provider_download.py
  gateway/core/services/storage/file_storage.py
Due: lint-gateway

linter
  gateway/api/v1/views/files/provider_download.py
Due: lint-gateway

config postgres
  gateway/main/settings.py
  gateway/scheduler/views/probes.py
Due: lint-gateway

config postgres
  gateway/main/settings.py
Due: lint-gateway

release note
  releasenotes/notes/fix-download-error-with-big-files-f6e1ff9a85dcb4c9.yaml
Due: none

test
  gateway/tests/core/services/storage/test_file_storage.py
Due: lint-gateway

Editted more tests (still not working. I suspect authentication )
  gateway/tests/api/test_v1_program.py
  gateway/tests/utils.py
Due: lint-gateway

tests
  gateway/core/services/storage/file_storage.py
  gateway/tests/core/services/storage/test_file_storage.py
Due: lint-gateway

Added permissions to the utility class
  gateway/tests/api/test_v1_program.py
  gateway/tests/utils.py
Due: lint-gateway

migrate to PyTest
  gateway/tests/api/test_job.py
  gateway/tests/api/test_logs.py
  gateway/tests/core/services/storage/test_arguments_storage.py
Due: lint-gateway

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
