Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

refactor: ProviderAccessPolicy con métodos nombrados por operación
  gateway/INSTANCES_PHASE2.md
  gateway/api/access_policies/jobs.py
  gateway/api/access_policies/providers.py
  gateway/api/use_cases/files/provider_delete.py
  gateway/api/use_cases/files/provider_download.py
  gateway/api/use_cases/files/provider_list.py
  gateway/api/use_cases/files/provider_upload.py
  gateway/api/use_cases/jobs/provider_list.py
  gateway/api/views/programs.py
  gateway/core/domain/authorization/function_access_result.py
  gateway/core/model_managers/functions.py
  gateway/tests/api/access_policies/test_jobs.py
  gateway/tests/api/access_policies/test_providers.py
Due: lint-gateway

linter
  gateway/api/access_policies/jobs.py
  gateway/api/access_policies/providers.py
Due: lint-gateway

Added description for all methods in `TestUtil` class
  gateway/tests/api/test_compute_profile.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/scheduler/test_schedule.py
  gateway/tests/utils.py
Due: lint-gateway

Added `ComputeResource` get_or_create method.
  gateway/tests/utils.py
Due: lint-gateway

Updated tests to work without fixtures.
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

black
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/utils.py
Due: lint-gateway

refine provider access checks to function level when client responds
  gateway/api/access_policies/jobs.py
  gateway/api/access_policies/providers.py
  gateway/tests/api/access_policies/test_jobs.py
  gateway/tests/api/access_policies/test_providers.py
Due: lint-gateway

update phase 2 plan with function-level access design decision
  gateway/INSTANCES_PHASE2.md
Due: none

remove planning doc from git tracking
  gateway/INSTANCES_PHASE2.md
Due: none

removed fixtures from `test_schedule`
  gateway/tests/api/test_logs.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

added ordering to the filter
  gateway/scheduler/schedule.py
Due: lint-gateway

Changed the default value in charts to 1 day
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

reorder ProviderAccessPolicy params: provider, function_title, accessible_functions
  gateway/api/access_policies/jobs.py
  gateway/api/access_policies/providers.py
  gateway/api/use_cases/files/provider_delete.py
  gateway/api/use_cases/files/provider_download.py
  gateway/api/use_cases/files/provider_list.py
  gateway/api/use_cases/files/provider_upload.py
  gateway/api/use_cases/jobs/provider_list.py
  gateway/api/views/programs.py
  gateway/tests/api/access_policies/test_providers.py
Due: lint-gateway

added release notes
  releasenotes/notes/default-time-job-in-running_status-b1a6296c58d4dcb3.yaml
Due: none

black
  gateway/scheduler/schedule.py
Due: lint-gateway

update can_read_provider_logs docstring to match can_access style
  gateway/api/access_policies/jobs.py
Due: lint-gateway

rename PLATFORM_PERMISSION_VIEW to PLATFORM_PERMISSION_READ
  gateway/core/model_managers/functions.py
  gateway/core/models.py
  gateway/tests/api/domain/authorization/test_function_access_entry.py
  gateway/tests/api/domain/authorization/test_function_access_result.py
  gateway/tests/core/model_managers/test_functions.py
Due: lint-gateway

improve PLATFORM_PERMISSION_* comments
  gateway/core/models.py
Due: lint-gateway

per-function access in provider job list; add is_provider_admin fallback
  gateway/api/access_policies/providers.py
  gateway/api/use_cases/jobs/provider_list.py
  gateway/api/v1/views/jobs/provider_list.py
  gateway/core/model_managers/jobs.py
  gateway/tests/api/access_policies/test_providers.py
Due: lint-gateway

Apply suggestions from code review
  gateway/api/access_policies/providers.py
Due: lint-gateway

refactor provider job list use case; remove duplicate api/domain/authorization
  gateway/api/domain/authorization/__init__.py
  gateway/api/domain/authorization/function_access_entry.py
  gateway/api/domain/authorization/function_access_result.py
  gateway/api/use_cases/jobs/provider_list.py
  gateway/tests/api/domain/authorization/test_function_access_entry.py
  gateway/tests/api/domain/authorization/test_function_access_result.py
Due: lint-gateway

fix trailing whitespace
  gateway/api/access_policies/providers.py
Due: lint-gateway

clarify ProviderAccessPolicy docstrings: both auth paths
  gateway/api/access_policies/providers.py
Due: lint-gateway

better comments
  gateway/api/use_cases/jobs/provider_list.py
Due: lint-gateway

refactor methods
  gateway/api/access_policies/providers.py
  gateway/core/domain/authorization/function_access_result.py
  gateway/core/model_managers/functions.py
  gateway/tests/api/domain/authorization/test_function_access_result.py
Due: lint-gateway

rename field
  gateway/api/use_cases/jobs/provider_list.py
  gateway/core/model_managers/jobs.py
Due: lint-gateway

Address PR reviewer comments on FleetsRunner
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/core/services/runners/abstract_runner.py
  gateway/core/services/runners/fleets_runner.py
  gateway/main/settings.py
  gateway/tests/api/test_logs.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Guard compute_resource in scheduler and add runner to upload API
  gateway/api/v1/serializers.py
  gateway/scheduler/schedule.py
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

integration tests
  gateway/api/clients/function_access_client.py
  tests/integration/test_jobs.py
Due: lint-gateway, lint-tests

reorganize test_functions into classes
  gateway/tests/core/model_managers/test_functions.py
Due: lint-gateway

silence pylint unused-argument on base client stub
  gateway/api/clients/function_access_client.py
Due: lint-gateway

integration tests
  gateway/api/access_policies/jobs.py
  gateway/api/use_cases/jobs/provider_list.py
  gateway/api/views/programs.py
Due: lint-gateway

integration tests
  docker-compose-dev.yaml
  docker-compose.yaml
  gateway/api/authentication.py
  gateway/api/clients/function_access_client.py
  gateway/main/settings.py
  gateway/tests/api/clients/conftest.py
  gateway/tests/api/clients/test_function_access_client.py
  tests/integration/test_jobs.py
Due: lint-gateway, lint-tests

normalize business_model to uppercase; fix pylint warnings in conftest
  tests/integration/conftest.py
Due: lint-tests

added logs
  gateway/api/v1/views/jobs/provider_list.py
Due: lint-gateway

Added feature flag
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/values.yaml
  docker-compose-dev.yaml
  docker-compose.yaml
  gateway/api/clients/function_access_client.py
  gateway/main/settings.py
  gateway/tests/api/clients/conftest.py
  gateway/tests/api/clients/test_function_access_client.py
Due: lint-gateway

Added feature flag k8s
  docker-compose-dev.yaml
  docker-compose.yaml
  gateway/api/clients/function_access_client.py
  gateway/core/config_key.py
  gateway/main/settings.py
  gateway/tests/api/clients/conftest.py
  gateway/tests/api/clients/test_function_access_client.py
  tests/tox.ini
Due: lint-gateway

use env var override in FunctionAccessClient to bypass stale DB config
  gateway/api/clients/function_access_client.py
  gateway/main/settings.py
  gateway/tests/api/clients/test_function_access_client.py
Due: lint-gateway

Fix feature flag in tests
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/values.yaml
  docker-compose-dev.yaml
  docker-compose.yaml
  gateway/api/clients/function_access_client.py
  gateway/main/settings.py
  gateway/tests/api/clients/test_function_access_client.py
  tests/integration/conftest.py
  tests/requirements-dev.txt
  tests/tox.ini
Due: lint-gateway, lint-tests

Enable flag in tests only
  docker-compose-dev.yaml
  docker-compose.yaml
  tests/integration/conftest.py
  tests/requirements-dev.txt
  tests/tox.ini
Due: lint-tests

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
