Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Add business_model to job table + migration
  gateway/api/migrations/0047_job_business_model.py
  gateway/api/migrations/0048_job_business_model_backfill.py
  gateway/api/migrations/0049_job_business_model_not_null.py
  gateway/api/serializers.py
  gateway/core/models.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

adding fleethandler implementation and unit test
  gateway/core/services/ibm_cloud/code_engine/fleets/fleet_handler.py
  gateway/core/services/ibm_cloud/code_engine/fleets/fleet_utils.py
  gateway/core/services/ibm_cloud/code_engine/fleets/fleet_workers.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
Due: lint-gateway

Add unit tests for FleetHandler, JobWorkers, and fleet_utils builders
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
Due: lint-gateway

Add FleetHandler, JobWorkers, JobCOS, and fleet_utils for Code Engine fleets
  gateway/core/services/ibm_cloud/code_engine/fleets/cos.py
  gateway/core/services/ibm_cloud/code_engine/fleets/fleet_handler.py
  gateway/core/services/ibm_cloud/code_engine/fleets/fleet_utils.py
  gateway/core/services/ibm_cloud/code_engine/fleets/fleet_workers.py
Due: lint-gateway

Add ce-swagger-sdk to PYTHONPATH for runtime and test discovery
  gateway/Dockerfile
  gateway/pytest.ini
Due: none

remove duplicated code (#2008)
  gateway/api/serializers.py
  gateway/api/views/programs.py
Due: lint-gateway

deploy: cebcfb504676e9ec6aaeff66f13e8a55680e51cf
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: ba63eb9590c91bbae8d5b5a3afa00e1749cc9ef0
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: e396b1dcec9f1554773c87c9f5f4e07da96d03be
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: 27ccb0431a113da80ec14edf3bdad326fc7c1bb2
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: ad9148f232f25dcc842253cb243c2370f95d972e
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: c9546b36a00c27256379bddaf38aca9fd9800a21
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: 931607e5b80f786253cbf83345e069c847db34a2
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: cb98d7a3d91339b4d3397a62a5bbdfeac3f81c28
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: ad27c5afabc501b689c4cd7a69c3f8fbbcd17552
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: 6671fe3911a9df0995753ad9e652402cde01679a
  .buildinfo
  .doctrees/environment.pickle
Due: none

[create-pull-request] automated change
  charts/qiskit-serverless/Chart.lock
  charts/qiskit-serverless/Chart.yaml
  charts/qiskit-serverless/charts/gateway/Chart.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  client/qiskit_serverless/VERSION.txt
  docker-compose.yaml
  docs/custom_images/custom_function/Sample-Dockerfile
  docs/deployment/cloud.rst
  gateway/main/settings.py
Due: lint-gateway

deploy: c48c71057c359e0bfe62fcc33634c6253a32564e
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: f72e26516f65d21b59b77600bd24fc0d42627731
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: 3d1751b1582aff94566df0b23807a93ad8b91a46
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: a09ff94de561c08885e2b9f2bc09c3a0e9d4dca7
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: 2695c75a3ad5e1fffacfe4f8a60aff760e614e4e
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: f3c71aaa43bf4a5d5fe73201bd71780710e76cfe
  .buildinfo
  .doctrees/environment.pickle
Due: none

type and values in uppercase
  gateway/api/migrations/0033_job_trial_program_trial_instances_and_more.py
  gateway/api/migrations/0048_job_business_model_backfill.py
  gateway/api/migrations/0049_job_business_model_not_null.py
  gateway/api/serializers.py
  gateway/core/models.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

bugfix
  gateway/api/migrations/0033_job_trial_program_trial_instances_and_more.py
Due: lint-gateway

Add derived field platform_id to easy lookup functions from runtime api
  gateway/api/migrations/0047_program_platform_id.py
  gateway/core/models.py
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

organize migration
  gateway/api/migrations/0050_program_platform_id.py
Due: lint-gateway

organize migration
  gateway/api/migrations/0047_program_platform_id.py
Due: lint-gateway

Apply suggestion from @avilches
  gateway/core/models.py
Due: lint-gateway

Apply suggestion from @riley2012
  gateway/core/models.py
Due: lint-gateway

fix
  gateway/templates/main.tmpl
Due: none

Apply suggestion from @ElePT
  gateway/templates/main.tmpl
Due: none

Update gateway/templates/main.tmpl
  gateway/templates/main.tmpl
Due: none

Add compute profile to client, gateway, add unit tests
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/function.py
  client/qiskit_serverless/core/job.py
  client/tests/core/test_serverless_client_jobs.py
  gateway/api/serializers.py
  gateway/api/v1/serializers.py
  gateway/api/views/programs.py
  gateway/main/settings.py
  gateway/tests/api/test_compute_profile.py
Due: lint-gateway, lint-client

Polish implementation
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/job.py
  gateway/tests/api/test_compute_profile.py
Due: lint-gateway, lint-client

Fix template to allow previous versions (#2030)
  gateway/templates/main.tmpl
Due: none

Trim ce-swagger-sdk to only the models and APIs required at runtime
  gateway/ce-swagger-sdk/swagger_client/__init__.py
  gateway/ce-swagger-sdk/swagger_client/api/__init__.py
  gateway/ce-swagger-sdk/swagger_client/api/secrets_and_configmaps_api.py
  gateway/ce-swagger-sdk/swagger_client/models/__init__.py
  gateway/ce-swagger-sdk/swagger_client/models/pagination_list_first_metadata.py
  gateway/ce-swagger-sdk/swagger_client/models/pagination_list_next_metadata.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_env_var.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_network_placement.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_secret.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_secret_list.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_task_progress.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_task_state_store.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_tasks_specification.py
Due: lint-gateway

deploy: fb779a777c35fd0f1a7a4833934c03b266daf642
  .buildinfo
  .doctrees/environment.pickle
  .doctrees/release-notes.doctree
  index.html
  objects.inv
  release-notes.html
  searchindex.js
Due: none
