Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Reject compute_profile for licensed functions, waive fee on missing function_size, fix duplicate method
  gateway/api/use_cases/programs/run.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/scheduler/tasks/publish_outbox.py
  gateway/tests/api/use_cases/programs/test_run.py
  gateway/tests/scheduler/test_publish_outbox.py
Due: lint-gateway

Add missing emit logs and note function_size in the license fee docstring
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
Due: lint-gateway

Trim _emit_license_fee docstring to match its siblings
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
Due: lint-gateway

Inline the single-use function_size resolver and trim stale PR references
  gateway/api/use_cases/programs/run.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/scheduler/tasks/publish_outbox.py
  gateway/tests/api/use_cases/programs/test_run.py
Due: lint-gateway

Update gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
Due: lint-gateway

remove compute_profile from filler jobs (#2507)
  gateway/scheduler/tasks/balance_filler_jobs.py
  gateway/tests/scheduler/test_balance_filler_jobs.py
Due: lint-gateway

Fix the postgres healthcheck passing before the database is ready
  docker-compose-dev.yaml
  docker-compose-fleets-test.yaml
  docker-compose.yaml
Due: none

move from scheduler to gateway
  gateway/core/apps.py
  gateway/scheduler/main.py
  gateway/scheduler/tasks/consume_blocked_account_events.py
  gateway/tests/scheduler/test_consume_blocked_account_events.py
Due: lint-gateway

Pin the STOPPING entry in the job status gauge
  gateway/tests/scheduler/test_update_job_status_counts.py
  gateway/tests/utils.py
Due: lint-gateway

Add a STOPPING job status
  gateway/api/migrations/0065_alter_job_status.py
  gateway/core/models.py
  gateway/scheduler/tasks/update_job_status_counts.py
Due: lint-gateway

removed comments
  gateway/api/admin.py
  gateway/api/use_cases/programs/run.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
Due: lint-gateway

Log metric_type in job event emission logs
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
Due: lint-gateway

Docs and comment updates
  gateway/api/clients/function_access_client.py
  specs/INSTANCES_AUTH.md
  tests/instances/runtime_api_client.py
Due: lint-gateway, lint-tests

Count a stopping job as active
  gateway/core/models.py
  gateway/scheduler/tasks/update_job_status_counts.py
  gateway/tests/core/test_job_model.py
  gateway/tests/scheduler/test_update_job_status_counts.py
Due: lint-gateway

Name the Fleets concurrency cap in the status list comment
  gateway/core/models.py
Due: lint-gateway

Change all references to /functions to /entitlements in specs/INSTANCES_AUTH.md
  specs/INSTANCES_AUTH.md
Due: none

Coalesce null functions and permissions in the entitlements response
  gateway/api/clients/function_access_client.py
Due: lint-gateway

Docs updates
  gateway/api/clients/function_access_client.py
  gateway/api/domain/exceptions/runtime_api_exception.py
  gateway/core/model_managers/functions.py
  specs/INSTANCES_AUTH.md
  tests/instances/conftest.py
  tests/instances/ntc_client.py
  tests/instances/permission_checks.py
  tests/instances/test_instance_permissions.py
  tests/instances/test_instance_propagation.py
  tests/instances/test_runtime_api.py
Due: lint-gateway, lint-tests

Correct the 204 fallback and empty functions descriptions
  gateway/tests/api/clients/conftest.py
  specs/INSTANCES_AUTH.md
  tests/instances/runtime_api_client.py
  tests/instances/test_runtime_api.py
Due: lint-gateway, lint-tests

Resolve the Code Engine project name to its id and resource group
  gateway/api/management/commands/sync_ce_project.py
  gateway/core/ibm_cloud/code_engine/ce_client/__init__.py
  gateway/core/ibm_cloud/code_engine/ce_client/api/projects_api.py
  gateway/core/ibm_cloud/code_engine/ce_client/models/__init__.py
  gateway/core/ibm_cloud/code_engine/ce_client/models/v2_project.py
  gateway/core/ibm_cloud/code_engine/ce_client/models/v2_project_list.py
  gateway/core/ibm_cloud/code_engine/projects.py
  gateway/tests/api/test_sync_ce_project.py
  gateway/tests/core/services/ibm_cloud/code_engine/test_projects.py
Due: lint-gateway

Replace MinIO with LocalStack in fleets integration tests
  docker-compose-fleets-test.yaml
Due: none

Use SeaweedFS instead of LocalStack for the S3 backend
  docker-compose-fleets-test.yaml
Due: none

Add new plan_id and subscription_id fields to job models/table
  gateway/api/domain/authentication/custom_authentication.py
  gateway/api/migrations/0065_job_plan_id_subscription_id.py
  gateway/core/models.py
Due: lint-gateway

Replace MinIO with SeaweedFS in fleets integration tests (#2511)
  docker-compose-fleets-test.yaml
Due: none

deploy: 9b3d11b8fd464c269c49015c3922e71f5bce4f2d
  .buildinfo
  .doctrees/environment.pickle
Due: none

Give external tests its own name and use sentence case
  .github/workflows/external-tests.yaml
  .github/workflows/integration-tests.yaml
Due: none

gateway update compute_profile -> compute_profile_fk
  gateway/api/use_cases/programs/get_jobs.py
  gateway/api/v1/views/jobs/list.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/api/v1/views/programs/get_jobs.py
  gateway/api/v1/views/programs/run.py
  gateway/tests/api/test_compute_profile.py
Due: lint-gateway

Trim the Service-CRN header where it is read and remove an unnecessary comment
  gateway/api/authentication.py
  gateway/api/clients/function_access_client.py
Due: lint-gateway

Explain the entitlements test fixture in terms of one response shape
  gateway/tests/api/clients/conftest.py
Due: lint-gateway

Describe the 204 fallback as a statement about the account
  gateway/api/clients/function_access_client.py
  specs/INSTANCES_AUTH.md
Due: lint-gateway

Split to_running into PENDING transition and already-RUNNING branch
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

Reject compute_profile for a licensed function
  gateway/api/use_cases/programs/run.py
Due: lint-gateway

Replace JobOutbox with a generic Outbox model
  gateway/api/migrations/0065_joboutbox.py
  gateway/api/migrations/0065_outbox.py
  gateway/core/model_managers/job_outbox.py
  gateway/core/models.py
  gateway/tests/core/model_managers/test_job_events.py
  gateway/tests/core/model_managers/test_job_outbox.py
  gateway/tests/core/test_outbox_model.py
Due: lint-gateway

Add pure builders for the two billing outbox messages
  gateway/core/domain/billing_events.py
  gateway/tests/core/domain/test_billing_events.py
Due: lint-gateway

Suppress pylint unused-argument warning in license fee builder
  gateway/core/domain/billing_events.py
Due: lint-gateway

Accept the private.icr.io endpoint for a provider registry
  gateway/api/v1/views/programs/upload.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

Build and enqueue outbox messages from Job.change_status
  gateway/core/models.py
  gateway/tests/core/test_job_model.py
Due: lint-gateway

Remove JobOutbox precreation from run.py and stale outbox comments
  gateway/api/use_cases/programs/run.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/api/use_cases/programs/test_run.py
Due: lint-gateway

Remove orphaned give_default_size helper from test_run.py
  gateway/tests/api/use_cases/programs/test_run.py
Due: lint-gateway

Sync external secret database
  charts/qiskit-serverless/README.md
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/templates/secret-psql.yaml
Due: none
