Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

refactor result storage to receive a job
  gateway/api/use_cases/jobs/retrieve.py
  gateway/api/use_cases/jobs/save_result.py
  gateway/core/services/storage/result_storage.py
  gateway/tests/api/test_job.py
  gateway/tests/core/services/storage/test_result_storage.py
Due: lint-gateway

create result storage structure
  gateway/api/use_cases/jobs/retrieve.py
  gateway/api/use_cases/jobs/save_result.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/result_storage.py
  gateway/core/services/storage/result_storage_fleets.py
  gateway/core/services/storage/result_storage_ray.py
  gateway/tests/api/test_job.py
  gateway/tests/core/services/storage/test_result_storage.py
Due: lint-gateway

refactor
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/main/settings.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

[create-pull-request] automated change
  client/qiskit_serverless/VERSION.txt
  docs/deployment/cloud.rst
Due: none

added RESULTS_PATH
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
Due: lint-gateway

update lost references
  .github/ISSUE_TEMPLATE/pip_dependency_request.yaml
  CITATION.cff
  charts/qiskit-serverless/Chart.lock
  charts/qiskit-serverless/Chart.yaml
  charts/qiskit-serverless/charts/gateway/Chart.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  docker-compose.yaml
  docs/custom_images/custom_function/Sample-Dockerfile
  docs/custom_images/custom_image_examples.rst
  docs/custom_images/deploy_custom_image_function.rst
  gateway/main/settings.py
Due: lint-gateway

flix client version
  client/qiskit_serverless/VERSION.txt
Due: none

fix references
  docs/deployment/cloud.rst
Due: none

refactor
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

restore chart.lock
  charts/qiskit-serverless/Chart.lock
Due: none

rename func names
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/logs_storage_fleets.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

update chart.lock
  charts/qiskit-serverless/Chart.lock
Due: none

update docstring
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

refactor
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
Due: lint-gateway

refactor FleetsArgumentsStorage
  gateway/core/services/storage/arguments_storage_fleets.py
Due: lint-gateway

Configure telemetry http (#2157)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  client/qiskit_serverless/core/tracing.py
  client/requirements.txt
  client/tests/core/test_tracing.py
  docker-compose.yaml
  gateway/main/tracing.py
  gateway/tests/test_tracing.py
Due: lint-gateway, lint-client

Fleet jobs: implement COS-backed log endpoints (#2160)
  LOGS.md
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/arguments_storage_fleets.py
  gateway/core/services/storage/logs_storage_fleets.py
  gateway/templates/fleet_custom_job_wrapper.tmpl
  gateway/templates/fleet_provider_job_wrapper.tmpl
  gateway/tests/api/use_cases/jobs/test_logs_use_cases_fleets.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/core/services/storage/test_logs_storage_fleets.py
Due: lint-gateway

Add provider image entrypoint support for Fleets runner
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Cosmetic updates
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

fix OTEL warnings
  gateway/main/tracing.py
Due: lint-gateway

Fix execution on local demo
  gateway/core/services/runners/fleets_runner.py
  gateway/main/settings.py
Due: lint-gateway

fix tests for otel
  gateway/tests/test_tracing.py
Due: lint-gateway

if refactor
  gateway/main/tracing.py
Due: lint-gateway

Fix OTEL warnings at initialization (#2176)
  gateway/main/tracing.py
  gateway/tests/test_tracing.py
Due: lint-gateway

Fix provider image fleets jobs: arguments upload, logs, and gateway host
  client/qiskit_serverless/serializers/program_serializers.py
  custom-image/Dockerfile
  custom-image/runner.py
  docker-compose-dev-2.yaml
  gateway/core/services/runners/fleets_runner.py
Due: lint-gateway, lint-client

Use custom-image/Dockerfile for ray-head in docker-compose-dev.yaml
  docker-compose-dev.yaml
Due: none

Consolidate fleets env var construction into single function
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Consolidate fleets env var construction into single function (#2177)
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Limit fleet log size to FUNCTIONS_LOGS_SIZE_LIMIT in COS and /tmp
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/templates/fleet_custom_job_wrapper.tmpl
  gateway/templates/fleet_provider_job_wrapper.tmpl
Due: lint-gateway

Fix result retrieval and save for Fleets provider image jobs
  client/qiskit_serverless/core/job.py
  gateway/api/use_cases/jobs/retrieve.py
  gateway/core/services/runners/fleets_runner.py
Due: lint-gateway, lint-client

Enable Instances auth: user files endpoints (#2153)
  gateway/api/use_cases/files/delete.py
  gateway/api/use_cases/files/download.py
  gateway/api/use_cases/files/list.py
  gateway/api/use_cases/files/upload.py
  gateway/api/v1/views/files/delete.py
  gateway/api/v1/views/files/download.py
  gateway/api/v1/views/files/list.py
  gateway/api/v1/views/files/upload.py
  gateway/tests/api/use_cases/files/test_user_files.py
  tests/instances/test_instance_permissions.py
Due: lint-gateway, lint-tests

Fix post-merge issues: gateway host, log contamination, and mock patches
  docker-compose-fleets-test.yaml
  gateway/core/services/runners/fleets_mock.py
  gateway/main/settings.py
  tests/fleets/fleet-worker/worker.py
Due: lint-gateway, lint-tests

Strengthen test assertions and add coverage for edge cases
  tests/fleets/source_files/entrypoint_no_args.py
  tests/fleets/test_fleets_jobs.py
Due: lint-tests

Add fleet wrapper integration tests and improve unit test coverage
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_template.py
Due: lint-gateway

Update gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
Due: lint-gateway

Add integration test for log size truncation (PR #2179)
  docker-compose-fleets-test.yaml
  tests/fleets/source_files/entrypoint_large_log.py
  tests/fleets/test_fleets_jobs.py
Due: lint-tests

Merge upload_log and truncate_local into single tail read, add COS upload specs
  gateway/templates/UPLOAD_COS_SPECS.md
  gateway/templates/fleet_custom_job_wrapper.tmpl
  gateway/templates/fleet_provider_job_wrapper.tmpl
Due: none

Use realistic COS paths in fleet wrapper tests
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_template.py
  specs/FLEETS_LOGS_UPLOAD.md
  specs/LOGS.md
Due: lint-gateway

Mount COS paths as /cos inside Docker containers in tests
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_template.py
Due: lint-gateway

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
