Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

update integration test to match FunctionNotFoundException message
  tests/integration/test_jobs.py
Due: lint-tests

remove superpowers planning docs from tracked files
  docs/superpowers/plans/2026-06-15-programs-endpoints-migration.md
  docs/superpowers/specs/2026-06-15-programs-endpoints-migration-design.md
  docs/superpowers/specs/VIEWS_REFACTOR.md
Due: none

restore VIEWS_REFACTOR.md spec to docs/superpowers/specs
  docs/superpowers/specs/VIEWS_REFACTOR.md
Due: none

expose service api for useful methods
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

update and added tests
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

updated releasenotes
  releasenotes/notes/ibm-client-run-backend-validation-a9c0e2609474f9bd.yaml
Due: none

black + lint
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

deploy: 570938e8bfd7ab84adf77a91da3615b09324081c
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: 33015c1bfd1973b31c88f88aae2344135c4f9cc5
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: 64bebcac7eb0219e18a6064eb09765a0300a4b14
  .buildinfo
  .doctrees/environment.pickle
Due: none

Migrate programs list and get_by_title to standalone function endpoints (#2253)
  docs/superpowers/specs/VIEWS_REFACTOR.md
  gateway/api/use_cases/programs/__init__.py
  gateway/api/use_cases/programs/get_by_title.py
  gateway/api/use_cases/programs/list.py
  gateway/api/v1/views/programs/__init__.py
  gateway/api/v1/views/programs/get_by_title.py
  gateway/api/v1/views/programs/list.py
  gateway/api/views/programs.py
  gateway/tests/api/use_cases/programs/__init__.py
  gateway/tests/api/use_cases/programs/test_get_by_title.py
  gateway/tests/api/use_cases/programs/test_list.py
  tests/integration/test_jobs.py
Due: lint-gateway, lint-tests

Add IBM Cloud Event Streams external secret (#2251)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/templates/kafka-credentials.yaml
  gateway/api/migrations/0054_job_running_started_at.py
  gateway/core/models.py
Due: lint-gateway

added fractional gates to `least_busy` method
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

migrate upload endpoint to standalone use case and view
  gateway/api/use_cases/programs/upload.py
  gateway/api/v1/views/programs/__init__.py
  gateway/api/v1/views/programs/upload.py
  gateway/tests/api/use_cases/programs/test_upload.py
Due: lint-gateway

move VIEWS_REFACTOR.md to specs/
  specs/VIEWS_REFACTOR.md
Due: none

remove dead get_serializer_upload_program from v1 ViewSet
  gateway/api/v1/views/programs/__init__.py
Due: lint-gateway

add provider function update test to UploadFunctionUseCase
  gateway/tests/api/use_cases/programs/test_upload.py
Due: lint-gateway

preserve optional fields on re-upload; omit arguments_schema from SDK payload when None
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_serverless_client_functions.py
  gateway/api/serializers.py
  gateway/api/views/programs.py
  gateway/tests/api/test_v1_program.py
Due: lint-gateway, lint-client

fix lint errors in programs views, serializers and serverless client
  client/qiskit_serverless/core/clients/serverless_client.py
  gateway/api/v1/serializers.py
  gateway/api/v1/views/programs/__init__.py
  gateway/api/views/programs.py
Due: lint-gateway, lint-client

Replace CE API-based is_active() with COS status check
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

simplify is_active() to a fleet_id existence check
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

move upload persistence from serializer.save() to direct ORM in use case
  gateway/api/use_cases/programs/upload.py
Due: lint-gateway

Carbon Design System theme and Job admin list improvements (#2235)
  .gitignore
  gateway/api/admin.py
  gateway/api/static/admin/css/admin_dashboard.css
  gateway/api/static/admin/css/carbon_theme.css
  gateway/api/static/admin/fonts/ibm-plex-mono-latin.woff2
  gateway/api/static/admin/fonts/ibm-plex-sans-latin.woff2
  gateway/api/static/admin/img/ibm-logo.svg
  gateway/api/static/admin/img/icon-addlink.svg
  gateway/api/static/admin/img/icon-alert.svg
  gateway/api/static/admin/img/icon-calendar.svg
  gateway/api/static/admin/img/icon-changelink.svg
  gateway/api/static/admin/img/icon-clock.svg
  gateway/api/static/admin/img/icon-deletelink.svg
  gateway/api/static/admin/img/icon-hidelink.svg
  gateway/api/static/admin/img/icon-no.svg
  gateway/api/static/admin/img/icon-unknown-alt.svg
  gateway/api/static/admin/img/icon-unknown.svg
  gateway/api/static/admin/img/icon-viewlink.svg
  gateway/api/static/admin/img/icon-yes.svg
  gateway/api/static/admin/img/inline-delete.svg
  gateway/api/static/admin/img/search.svg
  gateway/api/static/admin/img/sorting-icons.svg
  gateway/api/static/admin/img/tooltag-add.svg
  gateway/api/static/admin/img/tooltag-arrowright.svg
  gateway/api/static/admin/js/clickable_rows.js
  gateway/main/settings.py
  gateway/templates/admin/base_site.html
  gateway/templates/admin/index.html
  gateway/templates/admin/login.html
  gateway/templates/admin/nav_sidebar.html
  gateway/tests/test_admin_dashboard.py
  gateway/tests/test_carbon_icons.py
Due: lint-gateway

remove dead create/update from UploadProgramSerializer and migrate affected tests
  gateway/api/serializers.py
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

Migrate upload endpoint to standalone use case and view (#2254)
  gateway/api/serializers.py
  gateway/api/use_cases/programs/upload.py
  gateway/api/v1/views/programs/__init__.py
  gateway/api/v1/views/programs/upload.py
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/api/use_cases/programs/test_upload.py
  specs/VIEWS_REFACTOR.md
Due: lint-gateway

Add COS file explorer in Django Admin (#2232)
  gateway/api/admin.py
  gateway/core/ibm_cloud/code_engine/fleets/cos.py
  gateway/core/ibm_cloud/cos/cos_client.py
  gateway/core/services/storage/job_file_explorer.py
  gateway/core/services/storage/logs_storage_ray.py
  gateway/core/services/storage/result_storage_ray.py
  gateway/templates/admin/api/job/files.html
  gateway/tests/core/ibm_cloud/__init__.py
  gateway/tests/core/ibm_cloud/cos/__init__.py
  gateway/tests/core/ibm_cloud/cos/test_cos_client_metadata.py
  gateway/tests/core/services/test_job_file_explorer.py
Due: lint-gateway

Check that the logs file is created before erasing the job logs
  gateway/scheduler/management/commands/migrate_old_job_logs.py
Due: lint-gateway

Add Apple Silicon (arm64) build path for custom images
  docker-compose.arm64.yaml
  docs/custom_images/index.rst
  docs/custom_images/run_on_apple_silicon.rst
  ray-node/Dockerfile.arm64
  ray-node/requirements-dynamic-dependencies-arm64.txt
Due: none

Branch arm64 page into two paths, add cross-references, fix typos
  docs/custom_images/deploy_custom_image_function.rst
  docs/custom_images/index.rst
  docs/custom_images/run_on_apple_silicon.rst
  docs/deployment/local.rst
Due: none

Fix docs build
  docs/custom_images/run_on_apple_silicon.rst
Due: none

Fix custom image deployment guide
  docs/custom_images/deploy_custom_image_function.rst
Due: none

fix: make Ray result storage provider-aware
  gateway/core/services/storage/result_storage_ray.py
  gateway/tests/core/services/storage/test_result_storage.py
  releasenotes/notes/fix-ray-provider-result-path-0b3c1d2e4f5a6b7c.yaml
Due: lint-gateway

Add Job admin tab navigation with Events, Storage Files, and History pages
  docs/BACKOFFICE.md
  gateway/api/admin.py
  gateway/api/static/admin/css/job_admin.css
  gateway/templates/admin/api/job/_job_subtitle.html
  gateway/templates/admin/api/job/change_form.html
  gateway/templates/admin/api/job/events.html
  gateway/templates/admin/api/job/files.html
  gateway/templates/admin/api/job/object_history.html
Due: lint-gateway

Sync charts folder
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
Due: none

changed per code review
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

fix migration
  gateway/scheduler/management/commands/migrate_old_job_logs.py
Due: lint-gateway

Add support for local builds in apple arm64 (#2256)
  docker-compose.arm64.yaml
  docs/custom_images/deploy_custom_image_function.rst
  docs/custom_images/index.rst
  docs/custom_images/run_on_apple_silicon.rst
  docs/deployment/local.rst
  ray-node/Dockerfile.arm64
  ray-node/requirements-dynamic-dependencies-arm64.txt
Due: none

fixed doc string
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client
