Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

improve Job admin list: columns, program filter, clickable rows
  gateway/api/admin.py
  gateway/api/static/admin/js/clickable_rows.js
Due: lint-gateway

fix pylint docstrings in JobProgramFilter and get_program
  gateway/api/admin.py
Due: lint-gateway

translate Spanish comments to English
  gateway/main/settings.py
  gateway/tests/test_carbon_icons.py
Due: lint-gateway

add validate_arguments use case
  gateway/api/use_cases/validate_arguments.py
  gateway/requirements.txt
  gateway/tests/api/use_cases/test_validate_arguments.py
Due: lint-gateway

improve validate_arguments docstrings and pin jsonschema upper bound
  gateway/api/use_cases/validate_arguments.py
  gateway/requirements.txt
Due: lint-gateway

validate arguments against schema before creating job in /run
  gateway/api/views/programs.py
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

validate arguments before saving jobconfig to prevent orphaned rows
  gateway/api/views/programs.py
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

fixed PR comments
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

Fix _load_user_bucket to use self._project after FK move to Program
  gateway/core/services/storage/result_storage_fleets.py
Due: lint-gateway

Add mount invariant test for FleetJobPaths COS-to-container paths (#2210)
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_utils.py
Due: lint-gateway

refactor: split runtime_jobs endpoint into separate GET and POST handlers
  gateway/api/v1/endpoint_decorator.py
  gateway/api/v1/route_registry.py
  gateway/api/v1/views/jobs/associate_runtime_jobs.py
  gateway/api/v1/views/jobs/get_runtime_jobs.py
  gateway/api/v1/views/jobs/runtime_jobs.py
Due: lint-gateway

fix pylint warnings
  gateway/api/v1/route_registry.py
  gateway/api/v1/views/jobs/associate_runtime_jobs.py
  gateway/api/v1/views/jobs/get_runtime_jobs.py
Due: lint-gateway

add /validate_arguments/ endpoint
  gateway/api/v1/serializers.py
  gateway/api/v1/views/programs.py
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

harden validate_arguments endpoint: error handling, exception decorator, logging
  gateway/api/v1/views/programs.py
Due: lint-gateway

add IBM logo to header/login, status badges in job list, hide nav +Add
  gateway/api/admin.py
  gateway/api/static/admin/css/carbon_theme.css
  gateway/api/static/admin/img/ibm-logo.svg
  gateway/templates/admin/base_site.html
  gateway/templates/admin/login.html
Due: lint-gateway

removing dead code
  gateway/core/domain/filter_logs.py
  gateway/core/services/runners/ray_runner.py
  gateway/tests/api/domain/functions/test_filter_logs.py
Due: lint-gateway

Add programs endpoints migration spec
  docs/superpowers/specs/2026-06-15-programs-endpoints-migration-design.md
Due: none

send arguments_schema in upload payload
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/function.py
  client/tests/core/test_serverless_client_functions.py
Due: lint-client

add programs endpoints migration implementation plan
  docs/superpowers/plans/2026-06-15-programs-endpoints-migration.md
Due: none

refactor and comments
  gateway/api/use_cases/jobs/get_result.py
  gateway/api/use_cases/jobs/save_result.py
Due: lint-gateway

improve tests: simplify log mocks and add streaming filter coverage
  gateway/scheduler/tasks/update_ray_jobs_statuses.py
  gateway/tests/api/test_logs.py
  gateway/tests/core/test_ray_runner.py
Due: lint-gateway

removing dead code
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

add validate_arguments method to client SDK
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/function.py
  client/tests/core/test_serverless_client_functions.py
Due: lint-client

convert v1 programs view to package to allow endpoint submodules
  gateway/api/use_cases/programs/__init__.py
  gateway/api/v1/views/programs/__init__.py
  gateway/tests/api/use_cases/programs/__init__.py
Due: lint-gateway

use QiskitObjectsEncoder in validate_arguments and add abstract method to RunService
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/function.py
Due: lint-client

add arguments validation integration test
  tests/integration/test_jobs.py
Due: lint-tests

Functions client unification to runtime - part 1\n (#2187)
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_ibm_serverless_client.py
  releasenotes/notes/runtime-service-authentication-2c0d96730c4025c2.yaml
Due: lint-client

remove pyarrow
  client/requirements.txt
Due: none

remove pyarrow (#2237)
  client/requirements.txt
Due: none

Added constants for usage check (warning threshold and error threshold)
  client/qiskit_serverless/core/constants.py
Due: lint-client

added backend checks to the client
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

added tests to cover changes
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

added release notes
  releasenotes/notes/ibm-client-run-backend-validation-a9c0e2609474f9bd.yaml
Due: none

black
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

black again
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

add ListFunctionsUseCase with tests
  gateway/api/use_cases/programs/list.py
  gateway/tests/api/use_cases/programs/test_list.py
Due: lint-gateway

fixed the test
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

use QiskitServerlessException in arguments validation integration test
  tests/integration/test_jobs.py
Due: lint-tests

Fix post-merge issues: gateway host, log contamination, and mock patches
  docker-compose-fleets-test.yaml
  gateway/core/services/runners/fleets_mock.py
  tests/fleets/fleet-worker/worker.py
Due: lint-gateway, lint-tests

Fix CI lint: exclude fleets from pylint (needs client package)
  tests/tox.ini
Due: none
