Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

deleted duplicated tests
  gateway/tests/api/test_v1_files.py
Due: lint-gateway

migrate to PyTest
  gateway/tests/api/test_v1_files.py
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

adding error type
  client/qiskit_serverless/core/job.py
  client/qiskit_serverless/core/job_event.py
  client/qiskit_serverless/core/serverless_error.py
  client/qiskit_serverless/utils/errors.py
  gateway/api/use_cases/jobs/create_event.py
  gateway/api/v1/views/jobs/create_event.py
  gateway/api/v1/views/jobs/get_events.py
  gateway/core/model_managers/job_events.py
  gateway/templates/main.tmpl
  gateway/tests/api/test_job.py
Due: lint-gateway, lint-client

fix tests
  client/qiskit_serverless/core/job_event.py
  client/tests/core/test_job.py
Due: lint-client

fix test
  tests/source_files/event_error_producer.py
Due: lint-tests

Add client unit tests: serverless client class (part 2) (#1944)
  client/tests/core/test_function_upload.py
  client/tests/core/test_job.py
  client/tests/core/test_serverless_client_functions.py
  client/tests/core/test_serverless_client_jobs.py
Due: lint-client

Add unit tests for GatewayFilesClient utilities (#1945)
  client/tests/core/test_files.py
Due: lint-client

set timeout pere application
  gateway/main/settings.py
Due: lint-gateway

disable migration in Scheduler
  gateway/scripts/scheduler.sh
Due: none

fix test
  tests/integration/test_jobs.py
Due: lint-tests

better timeout values
  gateway/main/settings.py
Due: lint-gateway

Update releasenotes/notes/fix-download-error-with-big-files-f6e1ff9a85dcb4c9.yaml
  releasenotes/notes/fix-download-error-with-big-files-f6e1ff9a85dcb4c9.yaml
Due: none

Fix streaming download (#1947)
  gateway/api/use_cases/files/download.py
  gateway/api/use_cases/files/provider_download.py
  gateway/api/v1/views/files/download.py
  gateway/api/v1/views/files/provider_download.py
  gateway/core/services/storage/file_storage.py
  gateway/tests/core/services/storage/test_file_storage.py
  releasenotes/notes/fix-download-error-with-big-files-f6e1ff9a85dcb4c9.yaml
Due: lint-gateway

enable prometheus in the Gateway
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

black
  gateway/tests/api/test_v1_program.py
  gateway/tests/utils.py
Due: lint-gateway

Add missing release notes and prelude for patch release
  releasenotes/notes/fix-file-upload-error-22b2062f7a90c90a.yaml
  releasenotes/notes/prepare-0.30.1-e17b51e18eac9195.yaml
Due: none

Add prelude
  releasenotes/notes/prepare-0.30.1-e17b51e18eac9195.yaml
Due: none

enable prometheus in the Gateway (#1951)
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

Add first iteration of gateway API docs (#1946)
  docs/gateway_api/README.md
  docs/gateway_api/authentication.rst
  docs/gateway_api/endpoints.rst
  docs/gateway_api/index.rst
  docs/index.rst
  gateway/main/urls.py
Due: lint-gateway

Add release notes from latest client-facing changes (#1952)
  releasenotes/notes/fix-file-upload-error-22b2062f7a90c90a.yaml
  releasenotes/notes/prepare-0.30.1-e17b51e18eac9195.yaml
Due: none

Update base images versions
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  gateway/Dockerfile
  ray-node/Dockerfile
Due: none

Update base images versions (#1953)
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  gateway/Dockerfile
  ray-node/Dockerfile
Due: none

Improve Postgres connection config (#1948)
  gateway/main/settings.py
  gateway/scheduler/views/probes.py
  gateway/scripts/scheduler.sh
Due: lint-gateway

lint
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

fixed new api problem
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/utils.py
Due: lint-gateway

added comments and changed name field of permission
  gateway/tests/utils.py
Due: lint-gateway

Update docs paths in action to update package versions
  .github/workflows/update-component-versions.yaml
Due: none

Update docs paths in action to update package versions (#1954)
  .github/workflows/update-component-versions.yaml
Due: none

deploy: 0b385686a8f2007fa46cbdc51cbabc03a781095b
  .buildinfo
  .doctrees/environment.pickle
Due: none

Update missing path in action
  .github/workflows/update-component-versions.yaml
Due: none

Update version action (#1955)
  .github/workflows/update-component-versions.yaml
Due: none

[create-pull-request] automated change
  charts/qiskit-serverless/Chart.lock
  charts/qiskit-serverless/Chart.yaml
  charts/qiskit-serverless/charts/gateway/Chart.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  client/qiskit_serverless/VERSION.txt
  docker-compose.yaml
  docs/custom_images/custom_function/Sample-Dockerfile
  docs/deployment/cloud.rst
  gateway/main/settings.py
Due: lint-gateway

deploy: c44777f20e448abfabc7faa2f6bc2edadf8612b0
  .buildinfo
  .doctrees/environment.pickle
Due: none

Rename client to runner
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/use_cases/jobs/stop.py
  gateway/core/services/job_status.py
  gateway/core/services/runners/__init__.py
  gateway/core/services/runners/abstract_runner.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/runners/ray_runner.py
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/free_resources.py
  gateway/scheduler/tasks/update_jobs_statuses.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/utils/test_cluster_name_generator.py
  gateway/tests/core/test_ray_runner.py
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

Rename client to runner
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

rename
  gateway/core/services/runners/__init__.py
  gateway/core/services/runners/fleets_runner.py
Due: lint-gateway

rename
  gateway/core/services/runners/fleets_runner.py
Due: lint-gateway

Migrate Django tests to Pytest syntax and fixtures (2 of n) (#1949)
  gateway/tests/api/test_job.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/test_v1_files.py
  gateway/tests/core/services/storage/test_arguments_storage.py
Due: lint-gateway
