Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Fix backoffice dashboard status colors and bar chart
  gateway/api/static/admin/css/admin_dashboard.css
  gateway/api/static/admin/css/admin_job_event_inline.css
  gateway/api/static/admin/css/carbon_theme.css
  gateway/templates/admin/index.html
Due: none

Use purple for QUEUED badge instead of gray
  gateway/api/static/admin/css/admin_job_event_inline.css
  gateway/api/static/admin/css/carbon_theme.css
Due: none

Fix backoffice bar chart widths and per-app admin page
  gateway/main/settings.py
  gateway/templates/admin/app_index.html
  gateway/tests/test_admin_dashboard.py
Due: lint-gateway

Fix swagger schema generation and redirect root to swagger
  gateway/api/v1/views/jobs/get_runtime_jobs.py
  gateway/api/v1/views/jobs/set_sub_status.py
  gateway/main/urls.py
  gateway/tests/main/test_urls.py
Due: lint-gateway

improved the release note to read it easily
  releasenotes/notes/ce-project-per-provider-83dea96302b691d9.yaml
Due: none

Fix backoffice dashboard status colors and bar chart (#2439)
  gateway/api/static/admin/css/admin_dashboard.css
  gateway/api/static/admin/css/admin_job_event_inline.css
  gateway/api/static/admin/css/carbon_theme.css
  gateway/main/settings.py
  gateway/templates/admin/app_index.html
  gateway/templates/admin/index.html
  gateway/tests/test_admin_dashboard.py
Due: lint-gateway

Fix swagger schema generation and redirect root to swagger (#2440)
  gateway/api/v1/views/jobs/get_runtime_jobs.py
  gateway/api/v1/views/jobs/set_sub_status.py
  gateway/main/urls.py
  gateway/tests/main/test_urls.py
Due: lint-gateway

Fix N+1 query in Job admin program filter
  gateway/api/admin.py
Due: lint-gateway

Add regression test for Job admin program filter N+1
  gateway/tests/test_job_admin_program_filter.py
Due: lint-gateway

Fix slow admin job list caused by N+1 program filter query (#2441)
  gateway/api/admin.py
  gateway/tests/test_job_admin_program_filter.py
Due: lint-gateway

Add Fleets-specific per-user concurrent job limit
  gateway/main/settings.py
  gateway/scheduler/schedule.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

Fix settings injection in Fleets limit tests
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

Reject Fleets jobs whose compute profile is not registered
  gateway/api/use_cases/programs/run.py
  gateway/tests/api/use_cases/programs/test_run.py
Due: lint-gateway

Share one ComputeProfileSerializer across job views
  gateway/api/v1/views/jobs/list.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/api/v1/views/serializer_utils.py
Due: lint-gateway

Seed ComputeProfile rows in Fleets job-creation tests
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_compute_profile.py
Due: lint-gateway

Use staging default compute profile in Fleets tests and seed its row
  .github/workflows/fleets-integration-tests.yaml
  docker-compose-fleets-test.yaml
  gateway/tests/api/test_compute_profile.py
Due: lint-gateway

Clarify compute_profile_fk comment: string is transitional, FK is source of truth
  gateway/api/use_cases/programs/run.py
Due: lint-gateway

Normalize compute profile to bare notation at ingest
  .github/workflows/fleets-integration-tests.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  docker-compose-fleets-test.yaml
  gateway/api/use_cases/programs/run.py
  gateway/api/v1/views/programs/run.py
  gateway/core/services/runners/compute_profile.py
  gateway/core/services/runners/fleets_runner.py
  gateway/main/settings.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/api/use_cases/programs/test_run.py
  gateway/tests/core/services/runners/test_compute_profile.py
Due: lint-gateway

remove version on client
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_job.py
Due: lint-client

Drop the row index number from the Gantt label
  gateway/api/domain/job_timeline.py
Due: lint-gateway

removed releasenote
  releasenotes/notes/ce-project-per-provider-83dea96302b691d9.yaml
Due: none

Add runner filter, per-runner overlaps, status badge colors and a home dashboard widget
  gateway/api/admin.py
  gateway/api/domain/job_timeline.py
  gateway/api/static/admin/css/job_timeline.css
  gateway/api/static/admin/js/job_timeline.js
  gateway/templates/admin/api/job/_timeline_widget.html
  gateway/templates/admin/api/job/timeline.html
  gateway/templates/admin/index.html
  gateway/tests/test_admin_dashboard.py
  gateway/tests/test_job_timeline_admin.py
Due: lint-gateway

Assign Code Engine projects per provider (#2436)
  docker-compose-fleets-test.yaml
  gateway/api/admin.py
  gateway/api/domain/exceptions/function_configuration_exception.py
  gateway/api/migrations/0059_provider_code_engine_project.py
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/upload.py
  gateway/api/v1/exception_handler.py
  gateway/core/model_managers/code_engine_projects.py
  gateway/core/models.py
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/api/use_cases/programs/test_upload.py
  gateway/tests/core/model_managers/test_code_engine_projects.py
  gateway/tests/utils.py
  tests/fleets/conftest.py
Due: lint-gateway, lint-tests

Add Fleets-specific per-user concurrent job limit (#2442)
  gateway/main/settings.py
  gateway/scheduler/schedule.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

Order jobs oldest first, show status inside/outside segments, theme the chart canvas
  gateway/api/domain/job_timeline.py
  gateway/api/static/admin/css/job_timeline.css
  gateway/tests/test_job_timeline_admin.py
Due: lint-gateway

Show overlap partners on hover/click instead of a permanent border, fix the fallback outcome color
  gateway/api/domain/job_timeline.py
  gateway/api/static/admin/css/job_timeline.css
  gateway/api/static/admin/js/job_timeline.js
  gateway/tests/test_job_timeline_admin.py
Due: lint-gateway

Drop the hover preview, highlight the whole overlap group on click
  gateway/api/static/admin/css/job_timeline.css
  gateway/api/static/admin/js/job_timeline.js
Due: none

Add a Timeline action to the job admin (#2444)
  gateway/api/admin.py
  gateway/api/domain/job_timeline.py
  gateway/api/static/admin/css/job_timeline.css
  gateway/api/static/admin/js/job_timeline.js
  gateway/templates/admin/api/job/_timeline_widget.html
  gateway/templates/admin/api/job/timeline.html
  gateway/templates/admin/index.html
  gateway/tests/test_admin_dashboard.py
  gateway/tests/test_job_timeline_admin.py
Due: lint-gateway

Fix merge conflict
  gateway/api/use_cases/programs/run.py
Due: lint-gateway

update kindest/node to v1.34.11 and update related files
  .github/workflows/kubernetes-deploy.yaml
  docs/custom_images/custom_function/local_cluster/deploy.sh
  tests/kind-config.yaml
Due: none

fix test
  gateway/tests/api/use_cases/programs/test_run.py
Due: lint-gateway

update kindest/node to v1.34.11 and update related files (#2445)
  .github/workflows/kubernetes-deploy.yaml
  docs/custom_images/custom_function/local_cluster/deploy.sh
  tests/kind-config.yaml
Due: none

Fix adversarial review findings: cross-runner overlap counting, attribute escaping, stale text, TOCTOU, unbounded gridlines, dashboard caching
  gateway/api/admin.py
  gateway/api/domain/job_timeline.py
  gateway/api/static/admin/css/job_timeline.css
  gateway/tests/conftest.py
Due: lint-gateway

use settings directly without gettatribute
  gateway/api/use_cases/programs/run.py
Due: lint-gateway

Fix adversarial review findings: cross-runner overlap counting, attribute escaping, stale text, TOCTOU, unbounded gridlines, dashboard caching (#2446)
  gateway/api/admin.py
  gateway/api/domain/job_timeline.py
  gateway/api/static/admin/css/job_timeline.css
  gateway/tests/conftest.py
Due: lint-gateway

create a dataclass for the runner config
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/runner_config.py
Due: lint-gateway

Add filler jobs config keys and Config.get_int
  gateway/core/config_key.py
  gateway/core/models.py
  gateway/main/settings.py
  gateway/tests/core/test_config.py
Due: lint-gateway

T-shirt sizes model serializer (#2390)
  .github/workflows/fleets-integration-tests.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  docker-compose-fleets-test.yaml
  gateway/api/admin.py
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/runner_config.py
  gateway/api/v1/views/jobs/list.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/api/v1/views/programs/run.py
  gateway/api/v1/views/serializer_utils.py
  gateway/core/model_managers/compute_profiles.py
  gateway/core/model_managers/function_sizes.py
  gateway/core/models.py
  gateway/core/services/runners/compute_profile.py
  gateway/core/services/runners/fleets_runner.py
  gateway/main/settings.py
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/api/use_cases/programs/test_run.py
  gateway/tests/core/services/runners/test_compute_profile.py
Due: lint-gateway

Add FILLER_AUTHOR_ID setting
  gateway/main/settings.py
  gateway/tests/main/test_settings.py
Due: lint-gateway

Add filler field to Job
  gateway/api/migrations/0060_job_filler.py
  gateway/core/models.py
  gateway/tests/core/test_job_model.py
Due: lint-gateway
