Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix child exit safety and CPU vs wall-clock error reporting
  gateway/api/domain/isolated.py
  gateway/tests/api/domain/test_isolated.py
Due: lint-gateway

limit how many subschemas an arguments schema may contain
  gateway/api/domain/arguments_schema.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
Due: lint-gateway

count booleans in node limit to prevent bypass with False branches
  gateway/api/domain/arguments_schema.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
Due: lint-gateway

validate arguments in isolation instead of subclassing the validator
  gateway/api/domain/arguments_schema.py
  gateway/api/v1/views/programs/upload.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
Due: lint-gateway

apply the cheap limits in the use case and validate in isolation
  gateway/api/use_cases/programs/validate_arguments.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
Due: lint-gateway

Distinguish caller mistakes from schema faults, restore uniqueItems fast path and upload length check
  gateway/api/domain/arguments_schema.py
  gateway/api/domain/isolated.py
  gateway/api/use_cases/programs/validate_arguments.py
  gateway/api/v1/views/programs/upload.py
  gateway/tests/api/domain/test_isolated.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
Due: lint-gateway

test the isolated arguments schema check on upload
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

assert the specific error message in the two new isolation tests
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

drop the google-re2 dependency, no longer needed
  gateway/requirements.txt
Due: none

document validation in isolation instead of the removed rules
  gateway/api/domain/arguments_schema.py
  gateway/api/domain/isolated.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
  specs/ARGUMENTS_VALIDATION.md
Due: lint-gateway

fix design decisions section in arguments validation spec to match current code
  specs/ARGUMENTS_VALIDATION.md
Due: none

add missing Fleets Code Engine check to the run order list
  specs/ARGUMENTS_VALIDATION.md
Due: none

updated model names (`flavor` to `compute_profile_fk`) and remove restriction on sizes.
  gateway/api/migrations/0057_computeprofiles_job_compute_profile_fk_functionsize.py
  gateway/core/models.py
Due: lint-gateway

Created and updated the serializers
  gateway/api/v1/views/jobs/retrieve.py
Due: lint-gateway

Fix schema isolation edge cases and make memory limit configurable
  gateway/api/domain/arguments_schema.py
  gateway/api/domain/isolated.py
  gateway/api/use_cases/programs/validate_arguments.py
  gateway/main/settings.py
  gateway/tests/api/domain/test_isolated.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
  specs/ARGUMENTS_VALIDATION.md
Due: lint-gateway

PSQL secret refactor (#2387)
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/templates/secret-psql.yaml
Due: none

Refactor name and secretRef (#2388)
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/templates/kafka-credentials.yaml
  charts/qiskit-serverless/templates/w3id-sso-credentials.yaml
  charts/qiskit-serverless/values.yaml
Due: none

changed `compute_profile` to `compute_profile_id` and `compute_profile` to `compute_profile_fk_fk` + migrations
  gateway/api/migrations/0057_computeprofiles_job_compute_profile_fk_functionsize.py
  gateway/core/models.py
Due: lint-gateway

updated name and change migrations
  gateway/api/migrations/0057_computeprofiles_job_compute_profile_fk_functionsize.py
  gateway/core/models.py
Due: lint-gateway

updated the __str__ of ComputeProfiles
  gateway/core/models.py
Due: lint-gateway

Publish business model in license fee events
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

Address business model suggestion
  gateway/core/domain/business_models.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
Due: lint-gateway

add test cases for the new business model method
  gateway/tests/core/domain/test_business_models.py
Due: lint-gateway

Propagate business_model in the license fee event (#2394)
  gateway/core/domain/business_models.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/tests/core/domain/test_business_models.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

API Key external secret configuration
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/templates/ibm-cloud-fid-api-key.yaml
  charts/qiskit-serverless/values.yaml
Due: none

update the field to compute_profile_id in retrieve
  gateway/api/v1/views/jobs/retrieve.py
Due: lint-gateway

Added model managers to new models
  gateway/core/model_managers/compute_profiles.py
  gateway/core/model_managers/function_sizes.py
Due: lint-gateway

updated model with their corresponding managers
  gateway/core/models.py
Due: lint-gateway

added to admin panel
  gateway/api/admin.py
Due: lint-gateway

Added assignment to `compute_profile_fk` on job execution.
  gateway/api/use_cases/programs/run.py
Due: lint-gateway

added changes not in sync
  .gitattributes
  .gitignore
  gateway/.gitignore
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/noop_event_streams_client.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

Arguments validation: report an unusable stored schema instead of decoding it into the wrong type (#2389)
  client/qiskit_serverless/core/function.py
  client/tests/core/test_serverless_client_functions.py
  gateway/api/v1/views/programs/get_by_title.py
  gateway/tests/api/test_v1_program.py
Due: lint-gateway, lint-client

move db check above and add author check
  gateway/api/use_cases/programs/upload.py
  gateway/tests/api/use_cases/programs/test_upload.py
Due: lint-gateway

added changes not in sync (#2396)
  .gitattributes
  .gitignore
  gateway/.gitignore
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/noop_event_streams_client.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

API Key external secret configuration (#2395)
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/templates/ibm-cloud-fid-api-key.yaml
  charts/qiskit-serverless/values.yaml
Due: none

changed names per review
  gateway/core/models.py
Due: lint-gateway

Update requirements.txt
  client/requirements.txt
Due: none

remove `default_compute_profile` and changed models per review.
  gateway/core/models.py
Due: lint-gateway

update migrations
  gateway/api/migrations/0057_computeprofile_and_more.py
Due: lint-gateway

remove `default_compute_profile` from admin
  gateway/api/admin.py
Due: lint-gateway

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
