Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Return 404 instead of 500 when retrieving an unknown job (#2402)
  gateway/api/use_cases/jobs/retrieve.py
  gateway/tests/api/test_job.py
  gateway/tests/api/use_cases/jobs/test_retrieve.py
  releasenotes/notes/fix-job-retrieve-unknown-id-7c1d3b5e9a204f68.yaml
Due: lint-gateway

Look up jobs with filter().first() instead of catching DoesNotExist
  gateway/api/use_cases/jobs/associate_runtime_jobs.py
  gateway/api/use_cases/jobs/create_event.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/get_result.py
  gateway/api/use_cases/jobs/get_runtime_jobs.py
  gateway/api/use_cases/jobs/list_events.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/use_cases/jobs/retrieve.py
  gateway/api/use_cases/jobs/save_result.py
  gateway/api/use_cases/jobs/set_sub_status.py
  gateway/api/use_cases/jobs/stop.py
Due: lint-gateway

Fix tox env names in the testing docs (#2403)
  CONTRIBUTING.md
  gateway/README.md
Due: none

Update requirements.txt
  client/requirements.txt
Due: none

Look up jobs with filter().first() instead of catching DoesNotExist (#2404)
  gateway/api/use_cases/jobs/associate_runtime_jobs.py
  gateway/api/use_cases/jobs/create_event.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/get_result.py
  gateway/api/use_cases/jobs/get_runtime_jobs.py
  gateway/api/use_cases/jobs/list_events.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/use_cases/jobs/retrieve.py
  gateway/api/use_cases/jobs/save_result.py
  gateway/api/use_cases/jobs/set_sub_status.py
  gateway/api/use_cases/jobs/stop.py
Due: lint-gateway

Base Images updated (#2400)
  docker-images/fleet-node/Dockerfile
  docker-images/ray-node/Dockerfile
  gateway/Dockerfile
Due: none

Measure what legitimate schemas cost against the CPU budget (#2401)
  gateway/tests/api/domain/test_legitimate_schema_cost.py
Due: lint-gateway

chore: update remaining Python 3.11 references to 3.12
  .github/actions/helm-lint/action.yaml
  .github/workflows/fleets-integration-tests.yaml
  README.md
  docker-compose-fleets-test.yaml
  docs/local_setup/fleets_integration_tests.rst
  tests/fleets/test_fleets_jobs.py
  tests/tox.ini
Due: lint-tests

Update requirements.txt
  gateway/requirements.txt
Due: none

fix: custom jobs (artifact set) always use the default fleet-node image
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

chore: bump fleet-node version in charts/gateway/values.yaml on release
  .github/workflows/update-component-versions.yaml
Due: none

chore: update remaining Python 3.11 references to 3.12 (#2408)
  .github/actions/helm-lint/action.yaml
  .github/workflows/fleets-integration-tests.yaml
  README.md
  docker-compose-fleets-test.yaml
  docs/local_setup/fleets_integration_tests.rst
  tests/fleets/test_fleets_jobs.py
  tests/tox.ini
Due: lint-tests

Fix/fleets get image artifact (#2409)
  .github/workflows/update-component-versions.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Add an admin page to validate arguments against a function's schema
  gateway/api/admin.py
  gateway/templates/program/change_form.html
  gateway/templates/program/validate_arguments.html
  gateway/tests/test_program_admin.py
  specs/ARGUMENTS_VALIDATION.md
Due: lint-gateway

Modify classical time billing
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

Modify classical time billing (#2411)
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

Use green for the valid verdict in the admin validate page
  gateway/templates/program/validate_arguments.html
Due: none

Word the valid verdict as the call that produced it
  gateway/templates/program/validate_arguments.html
Due: none

Name the call in both verdicts and keep the error colour from the theme
  gateway/templates/program/validate_arguments.html
Due: none

Arguments validation/backoffice: add an admin page to validate arguments against a function's schema (#2410)
  gateway/api/admin.py
  gateway/templates/program/change_form.html
  gateway/templates/program/validate_arguments.html
  gateway/tests/test_program_admin.py
  specs/ARGUMENTS_VALIDATION.md
Due: lint-gateway

[create-pull-request] automated change
  .github/ISSUE_TEMPLATE/pip_dependency_request.yaml
  CITATION.cff
  charts/qiskit-serverless/Chart.lock
  charts/qiskit-serverless/Chart.yaml
  charts/qiskit-serverless/charts/gateway/Chart.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  client/qiskit_serverless/VERSION.txt
  docker-compose.yaml
  docs/custom_images/custom_function/Sample-Dockerfile
  docs/custom_images/custom_image_examples.rst
  docs/custom_images/deploy_custom_image_function.rst
  docs/custom_images/run_on_apple_silicon.rst
  docs/deployment/cloud.rst
  gateway/main/settings.py
Due: lint-gateway

Rename release-notes skill to serverless-reno to avoid clash with built-in
  .claude/skills/serverless-reno.md
Due: none

add release note for the arguments validation feature (#2384)
  releasenotes/notes/0.34.0/arguments-validation-5b7701bd6f304c2f.yaml
Due: none

deploy: cd2dab54be4586ab6cbc9bb4a59fc5b3f96936fc
  .buildinfo
  .doctrees/environment.pickle
  .doctrees/release-notes.doctree
  objects.inv
  release-notes.html
  searchindex.js
Due: none

Prepare 0.35.0 release notes
  releasenotes/notes/0.34.0/bump-qiskit-addon-aqc-tensor-4a34476ed557217d.yaml
  releasenotes/notes/0.35.0/arguments-validation-5b7701bd6f304c2f.yaml
  releasenotes/notes/0.35.0/bump-qiskit-ibm-runtime-b616c7b1f6386603.yaml
  releasenotes/notes/0.35.0/fix-job-retrieve-unknown-id-7c1d3b5e9a204f68.yaml
  releasenotes/notes/0.35.0/prelude-0.35.0-2c7d24871fef9f23.yaml
  releasenotes/notes/0.35.0/ray-node-dockerfile-py312-arm64-c2c43bcfd6bbd177.yaml
  releasenotes/notes/0.35.0/remove-client-name-attribute-22d41a16ad2218f5.yaml
  releasenotes/notes/stop-seeding-ce-projects-on-startup-1f7e6b8681267812.yaml
Due: none

Update serverless-reno skill with lessons from 0.35.0 run
  .claude/skills/serverless-reno.md
Due: none

correct the arguments validation release note and spec
  client/qiskit_serverless/core/function.py
  releasenotes/notes/0.35.0/arguments-validation-5b7701bd6f304c2f.yaml
  specs/ARGUMENTS_VALIDATION.md
Due: lint-client

Apply suggestion from @avilches
  releasenotes/notes/0.35.0/arguments-validation-5b7701bd6f304c2f.yaml
Due: none

Arguments validation/docs: fix release note + spec (#2413)
  client/qiskit_serverless/core/function.py
  releasenotes/notes/0.35.0/arguments-validation-5b7701bd6f304c2f.yaml
  specs/ARGUMENTS_VALIDATION.md
Due: lint-client

Wrap job creation in a database transaction
  gateway/api/use_cases/programs/run.py
  gateway/tests/api/use_cases/programs/test_run.py
  releasenotes/notes/wrap-job-creation-in-transaction-8b2f4c6d1e9a3705.yaml
Due: lint-gateway

Keep the arguments upload out of the transaction
  gateway/api/use_cases/programs/run.py
Due: lint-gateway

Apply suggestion from @avilches
  gateway/api/use_cases/programs/run.py
Due: lint-gateway

Fleets: inject IBM Cloud private service URLs into job containers
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/main/settings.py
Due: lint-gateway

Rename FLEETS_*→FLEETS_RUNTIME_* settings for clarity
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/main/settings.py
Due: lint-gateway

Scope provider job listings to the requested provider
  gateway/core/model_managers/jobs.py
  gateway/tests/api/use_cases/jobs/test_provider_list.py
  gateway/tests/core/model_managers/test_jobs.py
Due: lint-gateway

move db check above and add author check
  gateway/api/use_cases/programs/upload.py
  gateway/tests/api/use_cases/programs/test_upload.py
Due: lint-gateway

Update gateway/core/model_managers/jobs.py
  gateway/core/model_managers/jobs.py
Due: lint-gateway

test updates
  gateway/tests/api/use_cases/jobs/test_provider_list.py
  gateway/tests/core/model_managers/test_jobs.py
Due: lint-gateway

reduce fixtures
  gateway/tests/api/use_cases/jobs/test_provider_list.py
  gateway/tests/core/model_managers/test_jobs.py
Due: lint-gateway
