Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

update logs storage architecture (#2149)
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/logs_storage.py
  gateway/core/services/storage/logs_storage_fleets.py
  gateway/core/services/storage/logs_storage_ray.py
  gateway/scheduler/management/commands/migrate_old_job_logs.py
  gateway/scheduler/tasks/update_ray_jobs_statuses.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/use_cases/jobs/test_provider_logs.py
  gateway/tests/core/services/storage/test_logs_storage.py
  gateway/tests/scheduler/management/test_migrate_old_job_logs.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

Make Serverless error_message method backward compatible. (#2148)
  client/qiskit_serverless/core/job.py
  client/tests/core/test_job.py
  tests/integration/test_jobs.py
Due: lint-client, lint-tests

deploy: f541ddb44c5f2ba09cd6206b00e88f2e64f35ea7
  .buildinfo
  .doctrees/environment.pickle
  _modules/qiskit_serverless/core/job.html
Due: none

fix logs artifactory implementation
  gateway/core/services/storage/__init__.py
Due: lint-gateway

trying to unblock the error
  gateway/core/services/storage/__init__.py
Due: lint-gateway

test or configuration in environment variable
  gateway/main/settings.py
Due: lint-gateway

Fix Logs artifactory (#2150)
  gateway/core/services/storage/__init__.py
  gateway/main/settings.py
Due: lint-gateway

implemented logs storage
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/logs_storage_fleets.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/core/services/storage/test_logs_storage_fleets.py
Due: lint-gateway

enable fleets storage in the factory
  gateway/core/services/storage/__init__.py
Due: lint-gateway

Fix RESOURCE_CONTROLLER_IBM_CLOUD_BASE_URL ignoring default when env var is empty string
  gateway/main/settings.py
Due: lint-gateway

Remove dead settings QUANTUM_PLATFORM_API_BASE_URL and SETTINGS_TOKEN_AUTH_VERIFICATION_FIELD
  gateway/main/settings.py
Due: lint-gateway

Fix SETTINGS_AUTH_MECHANISM silently falling back to mock_token when env var is empty string
  gateway/main/settings.py
Due: lint-gateway

Remove orphaned env vars from gateway Helm deployment
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
Due: none

Fix settings configuration (#2152)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  gateway/main/settings.py
Due: lint-gateway

Enable Instances auth: user files endpoints
  gateway/api/use_cases/files/delete.py
  gateway/api/use_cases/files/download.py
  gateway/api/use_cases/files/list.py
  gateway/api/use_cases/files/upload.py
  gateway/api/v1/views/files/delete.py
  gateway/api/v1/views/files/download.py
  gateway/api/v1/views/files/list.py
  gateway/api/v1/views/files/upload.py
  gateway/tests/api/use_cases/files/test_user_files.py
  tests/instances/test_instance_permissions.py
Due: lint-gateway, lint-tests

Make accessible_functions kwarg-only to satisfy pylint
  gateway/api/use_cases/files/delete.py
  gateway/api/use_cases/files/download.py
  gateway/api/use_cases/files/upload.py
Due: lint-gateway

Pre-filter Fleet logs in-container with periodic COS upload
  LOGS.md
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/templates/fleet_custom_job_wrapper.tmpl
  gateway/templates/fleet_provider_job_wrapper.tmpl
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
Due: lint-gateway

Apply review suggestions
  gateway/core/services/runners/fleets_runner.py
  gateway/scheduler/schedule.py
Due: lint-gateway

Fix clash in project access by project id by adding zone (found in staging tests)
  gateway/api/management/commands/sync_ce_project.py
Due: lint-gateway

Restore scheduler tests
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

Restore tests from proper branch
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

Drop Python 3.9 support
  .github/workflows/client-verify.yaml
  client/pyproject.toml
Due: none

Remove assertion from tests (logs are not saved in this scenario)
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

Add suggestions from Junye's code review
  client/README.md
  client/tox.ini
Due: none

Update qiskit badge too
  client/README.md
Due: none

Update contributing
  CONTRIBUTING.md
Due: none

Apply suggestion from @HuangJunye
  CONTRIBUTING.md
Due: none

Add release notes for user-facing features
  releasenotes/notes/default-time-job-in-running_status-b1a6296c58d4dcb3.yaml
  releasenotes/notes/error-message-backward-compat-1c923955a0ad8ac9.yaml
  releasenotes/notes/runtime-and-telemetry-improvements-f8e0fee796cbaeb8.yaml
Due: none

Add release note
  releasenotes/notes/drop-python-3-9-support-19ff2bdc207bfcac.yaml
Due: none

Add unit tests for public/private log filtering on Fleets path
  gateway/tests/api/use_cases/jobs/test_provider_logs.py
Due: lint-gateway

Drop Python 3.9 support (#2154)
  .github/workflows/client-verify.yaml
  CONTRIBUTING.md
  client/README.md
  client/pyproject.toml
  client/tox.ini
  releasenotes/notes/drop-python-3-9-support-19ff2bdc207bfcac.yaml
Due: none

feat: switch gateway OTLP exporter from gRPC to HTTP
  gateway/main/tracing.py
  gateway/tests/test_tracing.py
Due: lint-gateway

feat: switch client OTLP exporter from gRPC to HTTP
  client/qiskit_serverless/core/tracing.py
  client/tests/core/test_tracing.py
Due: lint-client

chore: replace grpc OTLP dep with http in client requirements
  client/requirements.txt
Due: none

chore: update Helm chart OTLP endpoint to HTTP port 4318
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

Expose HTTP interface for jaeger
  docker-compose.yaml
Due: none

Logs Storage for fleets (#2151)
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/logs_storage_fleets.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/core/services/storage/test_logs_storage_fleets.py
Due: lint-gateway

update base images
  gateway/Dockerfile
  ray-node/Dockerfile
Due: none

Fixes
  LOGS.md
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/templates/fleet_custom_job_wrapper.tmpl
  gateway/templates/fleet_provider_job_wrapper.tmpl
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
Due: lint-gateway

Fixes
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
Due: lint-gateway

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
