Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && pylint -rn api main'
  language: system
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && pylint -rn qiskit_serverless tests && mypy --install-types --non-interactive .'
  language: system
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && pylint -rn docker/test_* docker/conftest.py'
  language: system
  stages:
  - pre-push

coverage and line length to 120
  gateway/.pylintrc
  gateway/api/repositories/jobs.py
  gateway/api/services/authentication/ibm_quantum_platform.py
  gateway/scheduler/schedule.py
Due: lint-gateway

coverage and line length to 120
  .pre-commit-config.yaml
Due: none

fix test
  tests/external/test_runtime.py
  tests/integration/test_decorators.py
  tests/integration/test_dependencies.py
  tests/integration/test_files.py
  tests/integration/test_jobs.py
Due: none

fix test
  .pre-commit-config.yaml
Due: none

trailing whitespaces
  .github/dependabot.yml
  .github/workflows/client-pypi-release.yaml
  .github/workflows/generate-release-notes.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  charts/qiskit-serverless/templates/pvcs.yaml
  client/README.md
  client/qiskit_serverless/core/client.py
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/constants.py
  client/qiskit_serverless/core/decorators.py
  client/qiskit_serverless/core/files.py
  client/qiskit_serverless/core/function.py
  client/qiskit_serverless/core/job.py
  client/qiskit_serverless/core/tracing.py
  client/qiskit_serverless/serializers/serializers.py
  client/qiskit_serverless/utils/errors.py
  client/qiskit_serverless/utils/formatting.py
  client/qiskit_serverless/utils/runtime_service_client.py
  client/qiskit_serverless/visualization/widget.py
  client/tests/core/test_decorator.py
  client/tests/core/test_ibm_serverless_client.py
  client/tests/core/test_job.py
  docs/deployment/client_configuration.rst
  docs/deployment/custom_function/local_cluster/deploy.sh
  docs/deployment/custom_function/runner.py
  docs/deployment/deploying_custom_image_function.rst
  docs/deployment/example_custom_image_function.rst
  docs/deployment/local.rst
  docs/getting_started/basic/source_files/function.py
  docs/getting_started/basic/source_files/function_with_arguments.py
  docs/getting_started/basic/source_files/function_with_dependencies.py
  docs/getting_started/basic/source_files/function_with_parallel_workflow.py
  docs/getting_started/experimental/source_files/consume_files.py
  gateway/tests/api/domain/functions/test_filter_logs.py
  releasenotes/notes/0.27/add-runtime-integration-6dcfa0fe966daea1.yaml
  releasenotes/notes/improve-exception-404-9815392d005df623.yaml
  releasenotes/notes/logs-refactor-with-cos-227ee56323684349.yaml
  releasenotes/notes/remove-local-ray-client-8401e08384314cce.yaml
  tox.ini
Due: lint-gateway, lint-client

trailing whitespaces
  .pre-commit-config.yaml
Due: none

fix
  tests/.pylintrc
Due: none

exclude py from whitespace trailing
  .pre-commit-config.yaml
Due: none

fix
  .pre-commit-config.yaml
Due: none

fix
  client/qiskit_serverless/core/client.py
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/decorators.py
  client/qiskit_serverless/core/files.py
  client/qiskit_serverless/core/function.py
  client/qiskit_serverless/core/job.py
  client/qiskit_serverless/serializers/serializers.py
  client/qiskit_serverless/utils/formatting.py
  client/qiskit_serverless/utils/runtime_service_client.py
  client/qiskit_serverless/visualization/widget.py
  client/tests/core/test_decorator.py
  client/tests/core/test_ibm_serverless_client.py
  docs/getting_started/basic/source_files/function_with_arguments.py
  tests/integration/test_jobs.py
Due: lint-client

fix
  client/qiskit_serverless/serializers/program_serializers.py
  client/qiskit_serverless/utils/json.py
  client/qiskit_serverless/utils/loggers.py
  client/requirements-dev.txt
  client/tests/serializers/test_program_serializers.py
  client/tox.ini
  docs/getting_started/experimental/source_files/program.py
Due: lint-client

fix
  client/.pylintrc
Due: none

fix
  client/.pylintrc
  client/qiskit_serverless/core/decorators.py
  gateway/.pylintrc
Due: lint-client

fix
  client/tox.ini
Due: none

set Python version for lint/black
  client/tox.ini
Due: none

add new client-tests.yaml
  .github/workflows/client-tests.yaml
  .github/workflows/client-verify.yaml
Due: none

ignore lint in tests
  client/tox.ini
Due: none

ignore lint in tests
  .github/workflows/client-tests.yaml
  .github/workflows/client-verify.yaml
  .pre-commit-config.yaml
  client/requirements-dev.txt
  client/tox.ini
  gateway/requirements-dev.txt
  tests/requirements-dev.txt
Due: none

fix
  tests/integration/test_jobs.py
Due: none

upgrade ray node image (#1889)
  ray-node/Dockerfile
Due: none

Fix integration tests to work in staging and production (#1888)
  tests/external/conftest.py
  tests/external/test_runtime.py
  tests/source_files/runtime_job.py
  tests/source_files/runtime_session.py
  tests/source_files/runtime_stop.py
Due: none

improve tests
  tests/external/test_runtime.py
  tests/integration/test_jobs.py
  tests/source_files/logger.py
  tests/utils.py
Due: none

improve tests
  tests/integration/test_jobs.py
  tests/utils.py
Due: none

Add category
  client/qiskit_serverless/core/decorators.py
Due: lint-client

changed to monotonic
  tests/utils.py
Due: none

Fix black
  tests/integration/test_decorators.py
Due: none

Fix lint
  tests/integration/test_decorators.py
Due: none

More black and lint
  client/qiskit_serverless/core/decorators.py
Due: lint-client

reduce tests
  tests/integration/test_jobs.py
Due: none

Improve integration tests for dynamic logs feature (#1893)
  tests/external/test_runtime.py
  tests/integration/test_jobs.py
  tests/source_files/logger.py
  tests/utils.py
Due: none

logs skip cache
  gateway/api/services/storage/logs_storage.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
Due: lint-gateway

add s3 client to read logs from COS
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  gateway/api/services/storage/logs_storage.py
  gateway/main/settings.py
  gateway/requirements.txt
Due: lint-gateway

minimal cos client
  gateway/api/services/storage/cos_client.py
Due: lint-gateway

move the bash loop to Python in the scheduler
  gateway/scheduler/free_resources.py
  gateway/scheduler/main.py
  gateway/scheduler/management/commands/scheduler_loop.py
  gateway/scheduler/schedule_queued_jobs.py
  gateway/scheduler/update_jobs_statuses.py
  gateway/scripts/scheduler.sh
  gateway/tests/api/test_logs.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

refactor tasks
  gateway/scheduler/main.py
Due: lint-gateway

linter
  gateway/scheduler/free_resources.py
  gateway/scheduler/main.py
  gateway/scheduler/schedule_queued_jobs.py
  gateway/scheduler/update_jobs_statuses.py
Due: lint-gateway

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/docker/ and \.py$
