Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix test settings
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

fix test settings
  gateway/tests/api/management/__init__.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/core/services/storage/test_arguments_storage.py
  gateway/tests/core/services/storage/test_file_storage.py
  gateway/tests/core/services/storage/test_result_storage.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

fix test settings
  gateway/tests/core/services/storage/test_arguments_storage.py
  gateway/tests/core/services/storage/test_file_storage.py
  gateway/tests/core/services/storage/test_result_storage.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

added send and get error in client and added some integration tests
  client/qiskit_serverless/__init__.py
  client/qiskit_serverless/core/__init__.py
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/job.py
  gateway/api/use_cases/jobs/event.py
  gateway/api/v1/views/jobs/event.py
  gateway/api/v1/views/jobs/events.py
  gateway/core/model_managers/job_events.py
  gateway/tests/api/test_job.py
  tests/integration/test_jobs.py
  tests/source_files/event_error_producer.py
Due: lint-gateway, lint-client, lint-tests

added releasenote
  releasenotes/notes/send_and_get_error_events-66d3fb658cd6f4bd.yaml
Due: none

remove unneeded line
  gateway/scheduler/management/commands/migrate_old_job_logs.py
Due: lint-gateway

change only one job
  gateway/scheduler/management/commands/migrate_old_job_logs.py
Due: lint-gateway

fix release note
  releasenotes/notes/send_and_get_error_events-66d3fb658cd6f4bd.yaml
Due: none

modify release note
  releasenotes/notes/send_and_get_error_events-66d3fb658cd6f4bd.yaml
Due: none

migrate old job logs working with tests (#1863)
  gateway/main/settings.py
  gateway/scheduler/management/commands/migrate_old_job_logs.py
  gateway/tests/scheduler/management/test_commands.py
  tests/integration/test_jobs.py
Due: lint-gateway, lint-tests

deploy: 3c3063ca2c4ef5f8cd455782fee3a1f753e4e294
  .buildinfo
  .doctrees/environment.pickle
Due: none

Avoid accumulating junk files in Gateway tests #3 (#1934)
  gateway/tests/api/management/__init__.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/core/services/storage/test_arguments_storage.py
  gateway/tests/core/services/storage/test_file_storage.py
  gateway/tests/core/services/storage/test_result_storage.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

Enable PyTest in Django
  gateway/README.md
  gateway/main/settings.py
  gateway/pytest.ini
  gateway/requirements-dev.txt
  gateway/tests/api/test_logs.py
  gateway/tox.ini
Due: lint-gateway

Apply feedback from Alberto
  client/tests/core/test_job.py
Due: lint-client

release note improvement
  releasenotes/notes/send_and_get_error_events-66d3fb658cd6f4bd.yaml
Due: none

better test docs
  tests/integration/test_jobs.py
Due: lint-tests

better test docs
  gateway/tests/api/test_job.py
Due: lint-gateway

better test docs
  gateway/api/v1/views/jobs/event.py
Due: lint-gateway

better test docs
  gateway/api/v1/views/jobs/events.py
Due: lint-gateway

improve docs
  gateway/api/use_cases/jobs/event.py
  gateway/api/use_cases/jobs/events.py
  gateway/api/v1/views/jobs/event.py
  gateway/api/v1/views/jobs/events.py
  gateway/core/model_managers/job_events.py
Due: lint-gateway

improve docs
  gateway/api/v1/views/jobs/event.py
  gateway/tests/api/test_job.py
Due: lint-gateway

limit events to running jobs
  gateway/api/use_cases/jobs/event.py
  gateway/tests/api/test_job.py
Due: lint-gateway

Add release note guidelines to CONTRIBUTING.md (#1922)
  CONTRIBUTING.md
  releasenotes/notes/0.30/upload_file_restrictions-4e49ef545267cd37.yaml
Due: none

Add unit tests for job-related methods in ServerlessClient class, instead of relying implicitly on the IBMServerlessClient tests.
  client/tests/core/test_serverless_client_jobs.py
Due: lint-client

Refactor rest of tests to use assert directly
  client/tests/core/test_decorator.py
  client/tests/core/test_function_upload.py
  client/tests/core/test_ibm_serverless_client.py
  client/tests/serializers/test_program_serializers.py
Due: lint-client

using serveless exception almost done
  client/qiskit_serverless/__init__.py
  client/qiskit_serverless/core/__init__.py
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/job.py
  client/qiskit_serverless/core/job_event.py
  client/qiskit_serverless/core/serverless_error.py
  client/qiskit_serverless/utils/errors.py
  gateway/api/use_cases/jobs/event.py
  gateway/templates/main.tmpl
  tests/integration/test_jobs.py
  tests/source_files/exception_producer.py
Due: lint-gateway, lint-client, lint-tests

Enable PyTest in Django (#1936)
  gateway/README.md
  gateway/main/settings.py
  gateway/pytest.ini
  gateway/requirements-dev.txt
  gateway/tests/api/test_logs.py
  gateway/tox.ini
Due: lint-gateway

add docstrings
  client/qiskit_serverless/core/job_event.py
  client/qiskit_serverless/core/serverless_error.py
Due: lint-client

fix mypy
  client/qiskit_serverless/core/serverless_error.py
Due: lint-client

fix lint
  tests/integration/test_jobs.py
Due: lint-tests

Migrate some tests to Pytest
  gateway/tests/api/access_policies/test_jobs.py
  gateway/tests/api/access_policies/test_providers.py
  gateway/tests/api/access_policies/test_users.py
  gateway/tests/api/authentication/mock_token/test_mock_token.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

improve docs
  client/qiskit_serverless/core/job_event.py
Due: lint-client

Add client unit tests: jobs file (#1933)
  client/tests/core/test_job.py
Due: lint-client

Remove remenants of unittest module
  client/tests/utils/test_errors.py
  client/tests/utils/test_http.py
  client/tests/utils/test_json.py
Due: lint-client

Remove remnants of unittest on all client tests.
  client/tests/core/test_decorator.py
  client/tests/core/test_function_upload.py
  client/tests/core/test_ibm_serverless_client.py
  client/tests/serializers/test_program_serializers.py
Due: lint-client

Fix lint
  client/tests/serializers/test_program_serializers.py
Due: lint-client

Fix lint
  client/tests/utils/test_errors.py
Due: lint-client

Fix log migration
  gateway/scheduler/management/commands/migrate_old_job_logs.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
