Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Mock get_job_status: raise 404 for missing fleet to match real CE
  gateway/core/services/runners/fleets_mock.py
Due: lint-gateway

Exclude local virtualenvs from the Docker build context
  .dockerignore
Due: none

Make instance seeds resilient to NTC propagation lag and document test suite
  specs/INSTANCES_AUTH.md
  tests/instances/conftest.py
  tests/instances/test_instance_propagation.py
  tests/tox.ini
Due: lint-tests

Poll catalog for visibility changes to absorb NTC propagation lag
  specs/INSTANCES_AUTH.md
  tests/instances/conftest.py
  tests/instances/test_instance_propagation.py
  tests/tox.ini
Due: lint-tests

Add arm64 fix for docker compose dev on top of docker-compose.yaml
  docker-compose-dev.arm64.yaml
  docs/custom_images/run_on_apple_silicon.rst
Due: none

Verify instance entitlements via Runtime API and fix RC propagation timestamp
  specs/INSTANCES_AUTH.md
  tests/instances/conftest.py
  tests/instances/ntc_client.py
  tests/instances/runtime_api_client.py
  tests/instances/test_ntc_client.py
  tests/instances/test_runtime_api.py
  tests/instances/test_runtime_api_client.py
  tests/tox.ini
Due: lint-tests

Document Runtime API client and instance PATCH timestamp in spec
  specs/INSTANCES_AUTH.md
Due: none

added args and results migrations (#2279)
  gateway/scheduler/management/commands/migrate_old_job_arguments.py
  gateway/scheduler/management/commands/migrate_old_job_results.py
  gateway/tests/scheduler/management/test_migrate_old_job_arguments.py
  gateway/tests/scheduler/management/test_migrate_old_job_results.py
Due: lint-gateway

Handle null custom_functions and fix test/doc inconsistencies
  gateway/api/clients/function_access_client.py
  gateway/tests/api/clients/conftest.py
  gateway/tests/api/clients/test_function_access_client.py
  specs/INSTANCES_AUTH.md
  tests/instances/conftest.py
  tests/instances/test_ntc_client.py
  tests/instances/test_runtime_api.py
Due: lint-gateway, lint-tests

Align test spec matrix with actual test coverage
  specs/INSTANCES_AUTH.md
Due: none

Fix spec test-doc formatting and key runtime match by business_model
  specs/INSTANCES_AUTH.md
  tests/instances/conftest.py
Due: lint-tests

Add key to the message in order to fit partition policy
  gateway/core/ibm_cloud/event_streams/event_streams_client.py
Due: lint-gateway

Assert key passed properly in the message
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

Separate event streams clients in different files
  gateway/core/ibm_cloud/event_streams/abstract_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/noop_event_streams_client.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

Added deprecation notice to the base client
  client/qiskit_serverless/core/client.py
Due: lint-client

Added deprecation notice to Serverless Client
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

Added deprecation notice to the visualization `_init_` file
  client/qiskit_serverless/visualization/__init__.py
Due: lint-client

Added deprecation notice to the Widget
  client/qiskit_serverless/visualization/widget.py
Due: lint-client

Added release notes.
  releasenotes/notes/deprecate-widget-and-client-name-a3f1c8e2d4b07691.yaml
Due: none

black
  client/qiskit_serverless/core/client.py
Due: lint-client

Emit job usage data through IBM Cloud Event Streams instances (#2209)
  gateway/core/ibm_cloud/event_streams/__init__.py
  gateway/core/ibm_cloud/event_streams/abstract_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/noop_event_streams_client.py
  gateway/main/settings.py
  gateway/requirements.txt
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/services/ibm_cloud/event_streams/__init__.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

fixed bug of multiple warnings
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

changed releasenotes
  releasenotes/notes/deprecate-widget-and-client-name-a3f1c8e2d4b07691.yaml
Due: none

updated tutorial
  docs/function_features/basic/01_custom_upload_run.ipynb
Due: none

Deprecation notice on widget and client name attribute (#2283)
  client/qiskit_serverless/core/client.py
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/visualization/__init__.py
  client/qiskit_serverless/visualization/widget.py
  docs/function_features/basic/01_custom_upload_run.ipynb
  releasenotes/notes/deprecate-widget-and-client-name-a3f1c8e2d4b07691.yaml
Due: lint-client

allow update with title only; entrypoint/image required only on create
  gateway/api/use_cases/programs/upload.py
  gateway/api/v1/views/programs/upload.py
Due: lint-gateway

Read instance state directly now that the PATCH timestamp fixes re-sync
  specs/INSTANCES_AUTH.md
  tests/instances/conftest.py
  tests/instances/test_instance_propagation.py
  tests/instances/test_runtime_api.py
  tests/tox.ini
Due: lint-tests

Remove stale references to the old four-CRN instance suite
  tests/instances/permission_checks.py
  tests/instances/test_instance_permissions.py
  tests/instances/test_runtime_api.py
Due: lint-tests

Add ReconfigurableInstance wrapper and poll on async account narrow
  specs/INSTANCES_AUTH.md
  tests/instances/conftest.py
  tests/instances/ntc_client.py
  tests/instances/reconfigurable_instance.py
  tests/instances/test_instance_permissions.py
  tests/instances/test_instance_propagation.py
  tests/instances/test_runtime_api.py
Due: lint-tests

Rename test helpers for clarity and split account/instance writes
  specs/INSTANCES_AUTH.md
  tests/instances/conftest.py
  tests/instances/instance_client.py
  tests/instances/ntc_client.py
  tests/instances/permission_checks.py
  tests/instances/reconfigurable_instance.py
  tests/instances/runtime_api_client.py
  tests/instances/test_instance_permissions.py
  tests/instances/test_instance_propagation.py
  tests/instances/test_runtime_api.py
Due: lint-tests

Add arm64 fix for docker compose dev on top of docker-compose.yaml (#2281)
  docker-compose-dev.arm64.yaml
  docs/custom_images/run_on_apple_silicon.rst
Due: none

group dependabot updates by module
  .github/dependabot.yml
Due: none

Replace CE API-based is_active() with fleet id check (#2225)
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

deploy: f73722287cf5d3ea772cbd4f936731dde61720c8
  .buildinfo
  .doctrees/environment.pickle
Due: none

Scope pytest-timeout to test bodies so warm_pipeline's budget isn't capped
  tests/fleets/pytest.ini
Due: none

Address deep-review findings in the fleets harness
  gateway/core/services/runners/fleets_mock.py
  tests/fleets/_helpers.py
  tests/fleets/conftest.py
  tests/fleets/test_fleets_jobs.py
Due: lint-gateway, lint-tests

Use job.cancel() instead of deprecated job.stop() in fleets tests
  tests/fleets/conftest.py
  tests/fleets/test_fleets_jobs.py
Due: lint-tests

Explicitly verify the presigned-URL (COS) path against MinIO
  tests/fleets/_helpers.py
  tests/fleets/test_fleets_jobs.py
Due: lint-tests

Warm the fleets pipeline before timed tests to fix CI first-job flake
  tests/fleets/conftest.py
Due: lint-tests

Stop the cancel test from starving other jobs on the single-threaded worker
  tests/fleets/test_fleets_jobs.py
Due: lint-tests
