Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Add fleet-node base image for Fleets workers
  .github/workflows/build-containers-test.yaml
  .github/workflows/fleets-integration-tests.yaml
  Makefile
  docker-compose-fleets-test.yaml
  docs/local_setup/fleets_integration_tests.rst
  fleet-node/Dockerfile
  tests/fleets/fleet-worker/Dockerfile
  tests/fleets/fleet-worker/storage.py
Due: lint-tests

Format storage.py RuntimeError message on one line (black)
  tests/fleets/fleet-worker/storage.py
Due: lint-tests

Update requirements.txt
  client/requirements.txt
Due: none

deploy: ebfa880857f4d9eb391abd8e5f192c6e580e82bf
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: 7ef329669262d7ec051aeec45e6babc54c0b34b3
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: 79254100be7bb16a8746e966baa967e0ddc53cde
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: a6492df7474c947fd1258accf73735ffb7e1c0f7
  .buildinfo
  .doctrees/environment.pickle
Due: none

Drop unused python matrix dim from build-containers-test
  .github/workflows/build-containers-test.yaml
Due: none

Pin explicit CVE floors for pip/setuptools in fleet-node base
  fleet-node/Dockerfile
Due: none

Update fleet-node/Dockerfile
  fleet-node/Dockerfile
Due: none

fleet-node: create only the Fleets COS mounts, not the Ray ones
  fleet-node/Dockerfile
Due: none

Address review nits in fleet-node and fleet-worker
  fleet-node/Dockerfile
  tests/fleets/fleet-worker/storage.py
Due: lint-tests

fleet-node: use its own dynamic-dependencies file
  fleet-node/Dockerfile
  fleet-node/requirements-dynamic-dependencies.txt
Due: none

convert ray-node/Dockerfile to two-stage build, bump default Python to 3.12
  ray-node/Dockerfile
Due: none

Use versioned fleet-node image as the default and bump it on release
  .github/workflows/update-component-versions.yaml
  gateway/main/settings.py
Due: lint-gateway

simplify ray-node/Dockerfile: remove two-stage split, keep PYTHON_VERSION arg
  ray-node/Dockerfile
Due: none

Wipe env_vars at submit time for both Ray and Fleets jobs
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/schedule_ray_jobs.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/scheduler/tasks/update_ray_jobs_statuses.py
  gateway/tests/scheduler/test_schedule.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

restore original rm -rf /tmp/qs /tmp/requirements*.txt cleanup step
  ray-node/Dockerfile
Due: none

Revert "simplify ray-node/Dockerfile: remove two-stage split, keep PYTHON_VERSION arg"
  ray-node/Dockerfile
Due: none

Revert "restore original rm -rf /tmp/qs /tmp/requirements*.txt cleanup step"
  ray-node/Dockerfile
Due: none

Fix missed save_direct assertion in test_schedule_queued_jobs
  gateway/tests/scheduler/test_schedule_queued_jobs.py
Due: lint-gateway

add arm64 stage to ray-node/Dockerfile, remove Dockerfile.arm64
  ray-node/Dockerfile
  ray-node/Dockerfile.arm64
Due: none

update docs and compose files: Dockerfile.arm64 -> --target arm64 in ray-node/Dockerfile
  docker-compose-dev.arm64.yaml
  docker-compose.arm64.yaml
  docs/custom_images/run_on_apple_silicon.rst
Due: none

add release note for py3.12 bump and arm64 stage consolidation
  releasenotes/notes/ray-node-dockerfile-py312-arm64-c2c43bcfd6bbd177.yaml
Due: none

Keep terminal-state env_vars wipe as safety net for in-flight jobs
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/scheduler/tasks/update_ray_jobs_statuses.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

Add comments explaining early env_vars wipe at submit time
  gateway/scheduler/schedule.py
Due: lint-gateway

Trim env_vars wipe comments
  gateway/scheduler/schedule.py
Due: lint-gateway

Pin default fleet-node image to 0.34.0
  gateway/main/settings.py
Due: lint-gateway

Refactor ray-node Dockerfiles into single multi-stage file, bump default to Python 3.12 (#2362)
  docker-compose-dev.arm64.yaml
  docker-compose.arm64.yaml
  docs/custom_images/run_on_apple_silicon.rst
  ray-node/Dockerfile
  ray-node/Dockerfile.arm64
  releasenotes/notes/ray-node-dockerfile-py312-arm64-c2c43bcfd6bbd177.yaml
Due: none

Wipe job env vars from DB immediately after submission (#2356)
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/schedule_ray_jobs.py
  gateway/scheduler/tasks/update_ray_jobs_statuses.py
  gateway/tests/scheduler/test_schedule.py
  gateway/tests/scheduler/test_schedule_queued_jobs.py
Due: lint-gateway

Harden Fleets job wrappers: drop capabilities and set no-new-privs
  gateway/templates/fleet_custom_job_wrapper.py
  gateway/templates/fleet_provider_job_wrapper.py
Due: lint-gateway

Restore python field in build-containers-test.yaml
  .github/workflows/build-containers-test.yaml
Due: none

Update .github/workflows/build-containers-test.yaml
  .github/workflows/build-containers-test.yaml
Due: none

Make _harden() non-fatal on platforms without glibc/prctl support
  gateway/templates/fleet_custom_job_wrapper.py
  gateway/templates/fleet_provider_job_wrapper.py
Due: lint-gateway

Switch fleet template tests to python:3-slim and add hardening verification
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_template.py
Due: lint-gateway

Add fleet-node base image for Fleets workers (#2357)
  .github/workflows/build-containers-test.yaml
  .github/workflows/fleets-integration-tests.yaml
  .github/workflows/update-component-versions.yaml
  Makefile
  docker-compose-fleets-test.yaml
  docs/local_setup/fleets_integration_tests.rst
  fleet-node/Dockerfile
  fleet-node/requirements-dynamic-dependencies.txt
  gateway/main/settings.py
  tests/fleets/fleet-worker/Dockerfile
  tests/fleets/fleet-worker/storage.py
Due: lint-gateway, lint-tests

Fix fleet template tests: use absolute path for Docker bind-mount
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_template.py
Due: lint-gateway

preserve entrypoint, artifact and image on program re-upload when omitted
  gateway/api/migrations/0056_program_arguments_schema.py
  gateway/api/use_cases/programs/upload.py
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

resolve migration leaf conflict with 0055_program_gpu
  gateway/api/migrations/0056_program_arguments_schema.py
Due: lint-gateway
