Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Add fieldsets to ProgramAdmin
  gateway/api/admin.py
Due: lint-gateway

Rework job edit page in backoffice (#2260)
  docs/BACKOFFICE.md
  gateway/api/admin.py
  gateway/api/static/admin/css/job_admin.css
  gateway/templates/admin/api/job/_job_subtitle.html
  gateway/templates/admin/api/job/change_form.html
  gateway/templates/admin/api/job/events.html
  gateway/templates/admin/api/job/files.html
  gateway/templates/admin/api/job/object_history.html
Due: lint-gateway

refactor: split runtime_jobs endpoint into separate GET and POST handlers
  gateway/api/v1/endpoint_decorator.py
  gateway/api/v1/route_registry.py
  gateway/api/v1/views/jobs/associate_runtime_jobs.py
  gateway/api/v1/views/jobs/get_runtime_jobs.py
Due: lint-gateway

fix pylint no-member on dynamically set DRF attributes
  gateway/api/v1/endpoint_decorator.py
Due: lint-gateway

restore VIEWS_REFACTOR.md spec to docs/superpowers/specs
  docs/superpowers/specs/VIEWS_REFACTOR.md
Due: none

migrate run endpoint to standalone use case and view
  gateway/api/domain/exceptions/function_disabled_exception.py
  gateway/api/use_cases/programs/run.py
  gateway/api/v1/exception_handler.py
  gateway/api/v1/views/programs/__init__.py
  gateway/api/v1/views/programs/run.py
  gateway/tests/api/use_cases/programs/test_run.py
Due: lint-gateway

update integration test to match FunctionNotFoundException message
  tests/integration/test_jobs.py
Due: lint-tests

move pylint disable to class line for too-many-instance-attributes
  gateway/api/use_cases/programs/run_input.py
  gateway/api/use_cases/programs/upload_input.py
Due: lint-gateway

migrate programs list endpoint to standalone function view
  gateway/api/v1/views/programs/__init__.py
  gateway/api/v1/views/programs/list.py
Due: lint-gateway

move sanitize_name to RunProgramSerializer validators
  gateway/api/v1/serializers.py
  gateway/api/v1/views/programs/run.py
Due: lint-gateway

introduce UploadFunctionInput and RunFunctionInput dataclasses; use cases receive typed data
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/run_input.py
  gateway/api/use_cases/programs/upload.py
  gateway/api/use_cases/programs/upload_input.py
  gateway/api/v1/views/programs/run.py
  gateway/api/v1/views/programs/upload.py
  gateway/tests/api/use_cases/programs/test_run.py
  gateway/tests/api/use_cases/programs/test_upload.py
Due: lint-gateway

extract GetJobsUseCase from get_jobs view; add unit tests
  gateway/api/use_cases/programs/get_jobs.py
  gateway/api/v1/views/programs/get_jobs.py
  gateway/tests/api/use_cases/programs/test_get_jobs.py
Due: lint-gateway

consolidate api/serializers.py into api/v1/serializers.py; delete base serializer file
  gateway/api/serializers.py
  gateway/api/v1/serializers.py
  gateway/api/v1/views/jobs/get_runtime_jobs.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/api/v1/views/jobs/save_result.py
  gateway/api/v1/views/jobs/set_sub_status.py
Due: lint-gateway

remove get_serializer_job override from v1 ViewSet; add fields to base JobSerializer
  gateway/api/serializers.py
  gateway/api/v1/views/programs/__init__.py
Due: lint-gateway

update VIEWS_REFACTOR spec: dead serializer code, test migration, end-state checklist
  specs/VIEWS_REFACTOR.md
Due: none

move _parse_provider_and_title to upload view; use case receives pre-parsed title and provider
  gateway/api/use_cases/programs/upload.py
  gateway/api/use_cases/programs/upload_input.py
  gateway/api/v1/views/programs/upload.py
  gateway/tests/api/use_cases/programs/test_upload.py
Due: lint-gateway

remove dead code from serializers; delete api/views/programs.py
  gateway/api/serializers.py
  gateway/api/views/__init__.py
  gateway/api/views/programs.py
Due: lint-gateway

suppress too-many-arguments pylint warning on RunFunctionUseCase.execute
  gateway/api/use_cases/programs/run.py
Due: lint-gateway

remove superpowers planning docs from tracked files
  docs/superpowers/plans/2026-06-15-programs-endpoints-migration.md
  docs/superpowers/specs/2026-06-15-programs-endpoints-migration-design.md
  docs/superpowers/specs/VIEWS_REFACTOR.md
Due: none

add docstrings to RunProgramSerializer validators
  gateway/api/v1/serializers.py
Due: lint-gateway

Fix FunctionDisabledException handler order and add function ID assertion
  gateway/api/v1/exception_handler.py
  gateway/tests/api/use_cases/programs/test_run.py
Due: lint-gateway

move ProgramViewSet stub to v1/views/__init__.py; empty programs/__init__.py
  docs/superpowers/specs/VIEWS_REFACTOR.md
  gateway/api/v1/views/__init__.py
  gateway/api/v1/views/programs/__init__.py
Due: lint-gateway

migrate get_jobs to standalone view; remove ProgramViewSet and SimpleRouter
  gateway/api/v1/urls.py
  gateway/api/v1/views/__init__.py
  gateway/api/v1/views/programs/get_jobs.py
Due: lint-gateway

move serializer validation to views; use cases receive validated data not request
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/upload.py
  gateway/api/v1/views/programs/run.py
  gateway/api/v1/views/programs/upload.py
  gateway/tests/api/use_cases/programs/test_run.py
Due: lint-gateway

suppress pylint positional-args and locals warnings on RunFunctionUseCase.execute
  gateway/api/use_cases/programs/run.py
Due: lint-gateway

migrate upload endpoint to standalone use case and view
  gateway/api/use_cases/programs/upload.py
  gateway/api/v1/views/programs/__init__.py
  gateway/tests/api/use_cases/programs/test_upload.py
Due: lint-gateway

refactor: remove @api_view from all endpoints, make method required in @endpoint
  gateway/api/v1/endpoint_decorator.py
  gateway/api/v1/route_registry.py
  gateway/api/v1/views/jobs/associate_runtime_jobs.py
  gateway/api/v1/views/jobs/get_runtime_jobs.py
Due: lint-gateway

fix pylint warnings
  gateway/api/v1/route_registry.py
  gateway/api/v1/views/jobs/associate_runtime_jobs.py
  gateway/api/v1/views/jobs/get_runtime_jobs.py
Due: lint-gateway

suppress abstract-method warnings on RunProgramSerializer
  gateway/api/serializers.py
  gateway/api/v1/serializers.py
Due: lint-gateway

fix CSRF 403 on POST/DELETE endpoints: set csrf_exempt on dispatch
  gateway/api/v1/route_registry.py
Due: lint-gateway

add programs endpoints migration implementation plan
  docs/superpowers/plans/2026-06-15-programs-endpoints-migration.md
Due: none

replace VIEWS_REFACTOR.md with concise VIEWS.md endpoint guide
  specs/VIEWS.md
  specs/VIEWS_REFACTOR.md
Due: none

document input dataclasses pattern in VIEWS.md
  specs/VIEWS.md
Due: none

move compute_profile validation to RunProgramSerializer; use validated_data consistently in view
  gateway/api/v1/serializers.py
  gateway/api/v1/views/programs/run.py
Due: lint-gateway

fix pylint warnings on input dataclasses
  gateway/api/use_cases/programs/run_input.py
  gateway/api/use_cases/programs/upload_input.py
Due: lint-gateway

add from_validated_data to UploadFunctionInput; simplify upload view
  gateway/api/use_cases/programs/upload_input.py
  gateway/api/v1/views/programs/upload.py
Due: lint-gateway

Add programs endpoints migration spec
  docs/superpowers/specs/2026-06-15-programs-endpoints-migration-design.md
Due: none

add VIEWS_REFACTOR spec: standalone function endpoints pattern
  docs/superpowers/specs/VIEWS_REFACTOR.md
Due: none

remove @api_view from programs views, use method= in @endpoint
  gateway/api/v1/views/programs/get_by_title.py
  gateway/api/v1/views/programs/list.py
Due: lint-gateway

move compute_profile/limit checks to view; replace RunJobSerializer with direct ORM in use case
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/run_input.py
  gateway/api/v1/views/programs/run.py
  gateway/tests/api/use_cases/programs/test_run.py
Due: lint-gateway

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
