Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Report an unresolvable Code Engine project as nothing to cancel
  gateway/api/use_cases/jobs/stop.py
  gateway/api/v1/views/jobs/stop.py
  gateway/api/v1/views/swagger_utils.py
  gateway/core/services/runners/abstract_runner.py
  gateway/core/services/runners/fleets_mock.py
  gateway/core/services/runners/fleets_runner.py
  gateway/scheduler/tasks/balance_filler_jobs.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/api/use_cases/jobs/test_stop.py
  gateway/tests/core/services/runners/test_fleets_mock.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

Tell a permanent cancel failure from a transient one
  gateway/api/use_cases/jobs/stop.py
  gateway/core/services/runners/abstract_runner.py
  gateway/core/services/runners/fleets_runner.py
  gateway/scheduler/tasks/balance_filler_jobs.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/api/test_job.py
  gateway/tests/api/use_cases/jobs/test_stop.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

Remove the Ray-coupling decorators from the client (#1586)
  client/README.md
  client/qiskit_serverless/__init__.py
  client/qiskit_serverless/core/__init__.py
  client/qiskit_serverless/core/constants.py
  client/qiskit_serverless/core/decorators.py
  client/qiskit_serverless/core/tracing.py
  client/tests/core/test_decorator.py
  client/tests/core/test_ray_optional.py
  client/tests/resources/job.py
  docs/function_features/basic/03_distributed_workloads.ipynb
  releasenotes/notes/remove-distribute-task-decorators-f99db42de4ecd51c.yaml
  tests/integration/test_decorators.py
  tests/source_files/pattern_with_parallel_workflow.py
Due: lint-client, lint-tests

Fix subscription id
  gateway/api/services/authentication/ibm_quantum_platform.py
  gateway/tests/api/authentication/custom_token/test_ibm_quantum_platform.py
Due: lint-gateway

Switch to compute_profile_id (#2540)
  gateway/core/domain/billing_events.py
  gateway/tests/core/domain/test_billing_events.py
Due: lint-gateway

Fix subscription id (#2544)
  gateway/api/services/authentication/ibm_quantum_platform.py
  gateway/tests/api/authentication/custom_token/test_ibm_quantum_platform.py
Due: lint-gateway

Store the CRN region in the outbox and drain it per region (#2541)
  gateway/api/migrations/0069_outbox_region_outbox_outbox_chan_reg_created_idx.py
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
  gateway/core/ibm_cloud/sender.py
  gateway/core/models.py
  gateway/core/services/job_transitions.py
  gateway/scheduler/tasks/circuit_breaker.py
  gateway/scheduler/tasks/outbox.py
  gateway/scheduler/tasks/outbox_destination.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_sender.py
  gateway/tests/core/services/test_job_transitions.py
  gateway/tests/scheduler/test_circuit_breaker.py
  gateway/tests/scheduler/test_outbox.py
  specs/OUTBOX.md
Due: lint-gateway

fixing python site packages for cuda libraries
  docker-images/fleet-node/Dockerfile
Due: none

fixing the names of shared objects for cuda libraries
  docker-images/fleet-node/Dockerfile
  docker-images/requirements-dynamic-dependencies-gpu.txt
Due: none

Cover budget, kill signal and failure metric in the one-by-one send and document its guarantees
  gateway/core/ibm_cloud/sender.py
  gateway/scheduler/tasks/outbox_destination.py
  gateway/tests/scheduler/test_outbox.py
  specs/OUTBOX.md
Due: lint-gateway

Send to plain senders one row at a time and to batch senders in batches
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
  gateway/core/ibm_cloud/sender.py
  gateway/scheduler/tasks/outbox_destination.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_sender.py
  gateway/tests/scheduler/test_outbox.py
  specs/OUTBOX.md
Due: lint-gateway

Remind in Adding a channel that a plain sender needs its own timeout
  specs/OUTBOX.md
Due: none

fix: renumber migrations to stack after main's outbox region migration
  gateway/api/migrations/0070_alter_job_size_source.py
  gateway/api/migrations/0071_alter_job_function_size.py
Due: lint-gateway

compute profile registration -> fixture
  .github/workflows/fleets-integration-tests.yaml
  tests/fleets/conftest.py
Due: lint-tests

compute profile registration -> fixture (#2546)
  .github/workflows/fleets-integration-tests.yaml
  tests/fleets/conftest.py
Due: lint-tests

remove compute profile string from client (#2537)
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/function.py
  client/tests/core/test_serverless_client_jobs.py
  gateway/api/migrations/0070_alter_job_size_source.py
  gateway/api/migrations/0071_alter_job_function_size.py
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/run_input.py
  gateway/api/v1/views/programs/run.py
  gateway/core/models.py
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/api/use_cases/programs/test_run.py
  releasenotes/notes/remove-run-compute-profile-input-6f16f1e233e57c2a.yaml
Due: lint-gateway, lint-client

Send best-effort Kafka events without waiting for a flush
  gateway/core/ibm_cloud/event_streams/kafka_producers.py
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
  gateway/core/ibm_cloud/sender.py
  gateway/core/services/job_transitions.py
  gateway/scheduler/main.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_sender.py
  gateway/tests/core/services/test_job_transitions.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
  specs/OUTBOX.md
Due: lint-gateway

consume blocked accounts events
  gateway/scheduler/main.py
  gateway/scheduler/tasks/consume_blocked_account_events.py
  gateway/tests/scheduler/test_consume_blocked_account_events.py
Due: lint-gateway

move from scheduler to gateway
  gateway/core/apps.py
  gateway/scheduler/main.py
  gateway/scheduler/tasks/consume_blocked_account_events.py
  gateway/tests/scheduler/test_consume_blocked_account_events.py
Due: lint-gateway

create one thread per region
  gateway/core/apps.py
Due: lint-gateway

Add blocked-account consumer to scheduler
  gateway/core/apps.py
  gateway/core/ibm_cloud/event_streams/kafka_consumer.py
  gateway/scheduler/main.py
  gateway/scheduler/tasks/consume_blocked_account_events.py
Due: lint-gateway

Drop the dead try/except around send_best_effort in the in-progress event
  gateway/core/services/job_transitions.py
  gateway/tests/core/services/test_job_transitions.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

fix main
  gateway/scheduler/main.py
Due: lint-gateway

Register blocked accounts on startup
  gateway/api/admin.py
  gateway/api/migrations/0066_blockedcloudresource.py
  gateway/core/models.py
  gateway/scheduler/tasks/consume_blocked_account_events.py
  gateway/tests/core/test_blocked_cloud_resource.py
  gateway/tests/scheduler/test_consume_blocked_account_events.py
Due: lint-gateway

Use send with timeout=0 for best-effort events instead of a new method
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
  gateway/core/ibm_cloud/sender.py
  gateway/core/services/job_transitions.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_sender.py
  gateway/tests/core/services/test_job_transitions.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
  specs/OUTBOX.md
Due: lint-gateway

Report dropped best-effort events as one warning, flush within one deadline, add tests
  gateway/core/ibm_cloud/event_streams/kafka_producers.py
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
  gateway/core/ibm_cloud/sender.py
  gateway/core/services/job_transitions.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_producers.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_sender.py
  gateway/tests/core/services/test_job_transitions.py
  gateway/tests/scheduler/test_main.py
  specs/OUTBOX.md
Due: lint-gateway

Share the produce path between the send variants and simplify the drop warning
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_sender.py
  specs/OUTBOX.md
Due: lint-gateway

Silence the unused argument warning in the best-effort callback
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
Due: lint-gateway

Drop the shutdown flush and shorten the Sender docs
  gateway/core/ibm_cloud/event_streams/kafka_producers.py
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
  gateway/core/ibm_cloud/sender.py
  gateway/core/services/job_transitions.py
  gateway/scheduler/main.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_producers.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_sender.py
  gateway/tests/core/services/test_job_transitions.py
  gateway/tests/scheduler/test_main.py
  specs/OUTBOX.md
Due: lint-gateway

Add a Kafka integration test for sends without waiting and fill test gaps
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_sender.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_sender_integration.py
  gateway/tests/core/services/test_job_transitions.py
Due: lint-gateway

fix
  gateway/api/migrations/0072_blockedcloudresource.py
Due: lint-gateway

Poll when the producer queue is full, inject the clock in tests and pin the Kafka image
  gateway/core/ibm_cloud/event_streams/kafka_producers.py
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_sender.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_sender_integration.py
Due: lint-gateway

Simplify the stopping path into one try_stop and one timeout entry point
  gateway/api/use_cases/jobs/stop.py
  gateway/core/services/job_transitions.py
  gateway/scheduler/tasks/balance_filler_jobs.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/api/use_cases/jobs/test_stop.py
  gateway/tests/core/services/test_job_transitions.py
  gateway/tests/scheduler/test_balance_filler_jobs.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
  tests/fleets/test_fleets_jobs.py
Due: lint-gateway, lint-tests

Make a failed outbox row wait longer after each failure so a bad row cannot starve its region
  gateway/api/migrations/0072_outbox_retry_state.py
  gateway/core/config_key.py
  gateway/core/models.py
  gateway/main/settings.py
  gateway/scheduler/tasks/outbox.py
  gateway/scheduler/tasks/outbox_destination.py
  gateway/tests/scheduler/test_outbox.py
  specs/OUTBOX.md
Due: lint-gateway

Remove the half-open state of the outbox circuit breaker
  gateway/main/settings.py
  gateway/scheduler/tasks/circuit_breaker.py
  gateway/scheduler/tasks/outbox_destination.py
  gateway/tests/scheduler/test_circuit_breaker.py
  gateway/tests/scheduler/test_outbox.py
  specs/OUTBOX.md
Due: lint-gateway

Open the Kafka outbox breaker after 3 failures and pause it for 2 minutes
  gateway/main/settings.py
  gateway/tests/scheduler/test_outbox.py
  specs/OUTBOX.md
Due: lint-gateway

Read the event id only when a send fails
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
Due: lint-gateway

Keep a single delivery error in send instead of a list
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
Due: lint-gateway

Explain timeout=0 in the best-effort send
  gateway/core/services/job_transitions.py
Due: lint-gateway

Split send into a wait-for-ack path and a no-wait path
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
Due: lint-gateway
