Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

fix tests
  gateway/tests/api/test_v1_files.py
Due: lint-gateway

add test http server
  gateway/scheduler/http_server.py
  gateway/scheduler/main.py
Due: lint-gateway

fix files
  tests/integration/test_files.py
  tests/source_files/test.md
  tests/source_files/test.txt
Due: lint-tests

refactor flow
  gateway/scheduler/http_server.py
  gateway/scheduler/main.py
  gateway/tests/scheduler/test_http_server.py
  gateway/tests/scheduler/test_main.py
Due: lint-gateway

better comments
  gateway/tests/scheduler/test_http_server.py
  gateway/tests/scheduler/test_main.py
Due: lint-gateway

linter
  gateway/tests/scheduler/test_http_server.py
Due: lint-gateway

refactor
  gateway/scheduler/http_server.py
  gateway/scheduler/main.py
  gateway/scheduler/tasks/update_jobs_statuses.py
Due: lint-gateway

metrics work in progress
  gateway/scheduler/main.py
  gateway/scheduler/tasks/free_resources.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
  gateway/tests/scheduler/test_main.py
Due: lint-gateway

refactor
  gateway/scheduler/http_server.py
Due: lint-gateway

queue metrics
  gateway/core/model_managers/job_events.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
Due: lint-gateway

metrics class
  gateway/scheduler/metrics.py
Due: lint-gateway

linter
  gateway/scheduler/tasks/schedule_queued_jobs.py
Due: lint-gateway

Add version field to client upload code (#1908)
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_function_upload.py
  releasenotes/notes/add-version-fe2b6a4ae0b42f76.yaml
Due: lint-client

Update gateway/core/models.py
  gateway/core/models.py
Due: lint-gateway

apply suggestion
  gateway/core/config_key.py
  gateway/main/settings.py
Due: lint-gateway

json to comma separated values
  gateway/core/models.py
  gateway/main/settings.py
Due: lint-gateway

remove not needed test
  tests/integration/test_files.py
  tests/integration/test_jobs.py
Due: lint-tests

Adjust typehints to show that argument is actually optional
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

Adjust default to match typehint
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

Remove h/g/p from docstring
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

Apply change to save_account
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

Update defaults in discover_account
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

Add unit tests for account verification
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

Add release notes for relevant 0.30 features (#1910)
  releasenotes/notes/0.29/improve-exception-404-9815392d005df623.yaml
  releasenotes/notes/0.29/improve-storage-logic-cffa12b8e089a34d.yaml
  releasenotes/notes/0.29/remove-local-ray-client-8401e08384314cce.yaml
  releasenotes/notes/0.29/remove-old-iqp-authentication-903433fbbc1d59fe.yaml
  releasenotes/notes/0.29/update-runtime-0.45-557adfb4707927cf.yaml
  releasenotes/notes/create-job-events-246dea646646a2fc.yaml
  releasenotes/notes/fix-data-path-892b3f3b42dc4b6c.yaml
  releasenotes/notes/logs-refactor-with-cos-227ee56323684349.yaml
  releasenotes/notes/new-api-exceptions-7aa47ab63b218672.yaml
  releasenotes/notes/scheduler-refactored-f8cbc662aa0072f2.yaml
Due: none

Adjust channel typehint in client (#1912)
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

change default types
  gateway/main/settings.py
Due: lint-gateway

fix lint
  gateway/main/settings.py
Due: lint-gateway

move the job.gpu from scheduler to job creation
  gateway/api/serializers.py
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

cleanup
  gateway/scheduler/schedule.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

comments
  gateway/scheduler/main.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
Due: lint-gateway

File upload type restriction feature (#1870)
  .pre-commit-config.yaml
  gateway/Dockerfile
  gateway/api/v1/views/files/provider_upload.py
  gateway/api/v1/views/files/upload.py
  gateway/api/v1/views/utils.py
  gateway/core/config_key.py
  gateway/core/models.py
  gateway/main/settings.py
  gateway/requirements.txt
  gateway/tests/api/test_v1_files.py
  tests/integration/test_files.py
  tests/integration/test_jobs.py
  tests/source_files/test.txt
Due: lint-gateway, lint-tests

Move the `job.gpu` from scheduler to job creation (#1913)
  gateway/api/serializers.py
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

[create-pull-request] automated change
  charts/qiskit-serverless/Chart.lock
  charts/qiskit-serverless/Chart.yaml
  charts/qiskit-serverless/charts/gateway/Chart.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  client/qiskit_serverless/VERSION.txt
  docker-compose.yaml
  docs/deployment/cloud.rst
  docs/deployment/custom_function/Sample-Dockerfile
  gateway/main/settings.py
Due: lint-gateway

Move release notes to 0.30 folder
  releasenotes/notes/0.30/add-version-fe2b6a4ae0b42f76.yaml
  releasenotes/notes/0.30/create-job-events-246dea646646a2fc.yaml
  releasenotes/notes/0.30/deprecate-decorators-b6a8376f22f485f0.yaml
  releasenotes/notes/0.30/fix-data-path-892b3f3b42dc4b6c.yaml
  releasenotes/notes/0.30/logs-refactor-with-cos-227ee56323684349.yaml
  releasenotes/notes/0.30/new-api-exceptions-7aa47ab63b218672.yaml
  releasenotes/notes/0.30/queue_limit_setting-07e5fdde214f55d3.yaml
  releasenotes/notes/0.30/scheduler-refactored-f8cbc662aa0072f2.yaml
Due: none

Classify gateway changes as upgrade to keep features focused on client/external-facing changes
  releasenotes/notes/0.30/add-version-fe2b6a4ae0b42f76.yaml
  releasenotes/notes/0.30/create-job-events-246dea646646a2fc.yaml
  releasenotes/notes/0.30/logs-refactor-with-cos-227ee56323684349.yaml
  releasenotes/notes/0.30/new-api-exceptions-7aa47ab63b218672.yaml
  releasenotes/notes/0.30/queue_limit_setting-07e5fdde214f55d3.yaml
Due: none

Remove release generation line not supported in the current github cli version
  .github/workflows/generate-release-notes.yml
Due: none

add error events
  gateway/api/access_policies/jobs.py
  gateway/api/use_cases/jobs/event.py
  gateway/api/v1/views/jobs/event.py
  gateway/core/model_managers/job_events.py
  gateway/core/models.py
  gateway/tests/api/test_job.py
Due: lint-gateway

add release note for file types restriction
  releasenotes/notes/upload_file_restrictions-4e49ef545267cd37.yaml
Due: none

Update releasenotes/notes/upload_file_restrictions-4e49ef545267cd37.yaml
  releasenotes/notes/upload_file_restrictions-4e49ef545267cd37.yaml
Due: none
