Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Default with_result to false and add GET swagger for /result endpoint
  gateway/api/v1/views/jobs/retrieve.py
  gateway/api/v1/views/jobs/save_result.py
Due: lint-gateway

Fix line too long in retrieve.py
  gateway/api/v1/views/jobs/retrieve.py
Due: lint-gateway

Fix tests: pass with_result=true explicitly after default changed to false
  gateway/tests/api/test_job.py
Due: lint-gateway

filter and truncate per stream during streaming (FilteredLogs)
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/core/services/runners/ray_runner.py
  gateway/scheduler/tasks/update_ray_jobs_statuses.py
  gateway/tests/api/test_logs.py
  gateway/tests/core/test_ray.py
  gateway/tests/core/test_ray_runner.py
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/scheduler/test_schedule.py
  gateway/tests/scheduler/test_update_jobs_statuses.py
Due: lint-gateway

suppress pylint too-many-statements on _stream_logs_from_ray
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

Move code_engine_project FK from Job to Program
  docker-compose-dev.yaml
  gateway/api/admin.py
  gateway/api/management/commands/sync_ce_project.py
  gateway/api/migrations/0053_add_code_engine_project_to_program.py
  gateway/api/serializers.py
  gateway/core/model_managers/code_engine_projects.py
  gateway/core/models.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/arguments_storage_fleets.py
  gateway/core/services/storage/logs_storage_fleets.py
  gateway/core/services/storage/result_storage_fleets.py
  gateway/examples/setup_fleets_env.sh
  gateway/main/settings.py
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/api/use_cases/jobs/test_logs_use_cases_fleets.py
  gateway/tests/core/model_managers/test_code_engine_projects.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/core/services/storage/test_arguments_storage_fleets.py
  gateway/tests/core/services/storage/test_logs_storage_fleets.py
  gateway/tests/core/services/storage/test_result_storage_fleets.py
Due: lint-gateway

Fix scheduler marking jobs FAILED on CE API rate limit (429)
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

style: apply Black formatting
  gateway/core/ibm_cloud/event_streams/event_streams_client.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/test_clients_unit.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

style: fix pylint docstring and implicit string concat warnings
  gateway/core/ibm_cloud/event_streams/event_streams_client.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
Due: lint-gateway

style: apply Black formatting
  gateway/core/ibm_cloud/event_streams/event_streams_client.py
Due: lint-gateway

deploy: 8b50cdcdc8cdb1c6f7ca55484ae2b0a8014c720e
  .buildinfo
  .doctrees/environment.pickle
Due: none

deleted deprecation warning
  client/qiskit_serverless/core/client.py
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

added releasenotes
  releasenotes/notes/runtime-service-authentication-2c0d96730c4025c2.yaml
Due: none

fixed tests to work with QiskitIBMRuntime
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

black
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

fixed patch path
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

Adding default value that was in the internal implementation of discover account
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

changed mocked instance name to match the test instance name
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

changed crn to match the instance value
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

fix crn name
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

Use public COS endpoint for presigned URL generation
  gateway/core/ibm_cloud/cos/cos_client.py
  gateway/tests/core/services/ibm_cloud/cos/test_cos_client_unit.py
Due: lint-gateway

Use public COS endpoint for presigned URL generation (#2224)
  gateway/core/ibm_cloud/cos/cos_client.py
  gateway/tests/core/services/ibm_cloud/cos/test_cos_client_unit.py
Due: lint-gateway

Address code review feedback
  gateway/api/serializers.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/result_storage_fleets.py
  gateway/tests/core/services/storage/test_result_storage_fleets.py
Due: lint-gateway

Move code_engine_project FK from Job to Program
  docker-compose-dev.yaml
  gateway/api/admin.py
  gateway/api/management/commands/sync_ce_project.py
  gateway/api/migrations/0053_add_code_engine_project_to_program.py
  gateway/api/serializers.py
  gateway/core/model_managers/code_engine_projects.py
  gateway/core/models.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/arguments_storage_fleets.py
  gateway/core/services/storage/logs_storage_fleets.py
  gateway/core/services/storage/result_storage_fleets.py
  gateway/main/settings.py
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/api/use_cases/jobs/test_logs_use_cases_fleets.py
  gateway/tests/core/model_managers/test_code_engine_projects.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/core/services/storage/test_arguments_storage_fleets.py
  gateway/tests/core/services/storage/test_logs_storage_fleets.py
  gateway/tests/core/services/storage/test_result_storage_fleets.py
Due: lint-gateway

Replace CE API polling with COS-based fleet status detection
  gateway/core/services/runners/fleets_runner.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Replace CE API polling with COS-based fleet status detection (#2223)
  gateway/core/services/runners/fleets_runner.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

Add ce_project_name and ce_region snapshots to Job
  gateway/api/management/commands/sync_ce_project.py
  gateway/api/migrations/0053_add_code_engine_project_to_program_and_job_snapshots.py
  gateway/api/serializers.py
  gateway/core/models.py
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/core/model_managers/test_code_engine_projects.py
Due: lint-gateway

Replace CE API-based is_active() with COS status check
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Move code_engine_project FK from Job to Program (#2200)
  docker-compose-dev.yaml
  gateway/api/admin.py
  gateway/api/management/commands/sync_ce_project.py
  gateway/api/migrations/0053_add_code_engine_project_to_program_and_job_snapshots.py
  gateway/api/serializers.py
  gateway/core/model_managers/code_engine_projects.py
  gateway/core/models.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/arguments_storage_fleets.py
  gateway/core/services/storage/logs_storage_fleets.py
  gateway/core/services/storage/result_storage_fleets.py
  gateway/main/settings.py
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/api/use_cases/jobs/test_logs_use_cases_fleets.py
  gateway/tests/core/model_managers/test_code_engine_projects.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/core/services/storage/test_arguments_storage_fleets.py
  gateway/tests/core/services/storage/test_logs_storage_fleets.py
  gateway/tests/core/services/storage/test_result_storage_fleets.py
Due: lint-gateway

added default project name to deployment
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

Fix sync_ce_project crash with duplicate zone rows
  gateway/api/management/commands/sync_ce_project.py
  gateway/tests/api/test_sync_ce_project.py
Due: lint-gateway

added default project name to deployment (#2226)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

make an update instead to a delete
  gateway/api/management/commands/sync_ce_project.py
  gateway/tests/api/test_sync_ce_project.py
Due: lint-gateway

added test with CRN format
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

added file storage for fleets
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/file_storage_fleets.py
  gateway/tests/core/services/storage/test_file_storage_fleets.py
Due: lint-gateway

added aux functions
  gateway/core/services/storage/file_storage_fleets.py
Due: lint-gateway

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
