Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Fetch the job compute profile in the page query, not per row
  gateway/api/use_cases/jobs/list.py
  gateway/tests/api/test_compute_profile.py
Due: lint-gateway

Read Functions entitlements from GET /entitlements (#2495)
  gateway/api/authentication.py
  gateway/api/clients/function_access_client.py
  gateway/api/domain/exceptions/runtime_api_exception.py
  gateway/core/model_managers/functions.py
  gateway/tests/api/clients/conftest.py
  gateway/tests/api/clients/test_function_access_client.py
  specs/INSTANCES_AUTH.md
  tests/instances/conftest.py
  tests/instances/ntc_client.py
  tests/instances/permission_checks.py
  tests/instances/runtime_api_client.py
  tests/instances/test_instance_permissions.py
  tests/instances/test_instance_propagation.py
  tests/instances/test_runtime_api.py
  tests/instances/test_runtime_api_client.py
Due: lint-gateway, lint-tests

Fix the postgres healthcheck passing before the database is ready (#2509)
  docker-compose-dev.yaml
  docker-compose-fleets-test.yaml
  docker-compose.yaml
Due: none

Extract KafkaProducers and add KafkaOutboxSender for the outbox billing channel
  gateway/core/ibm_cloud/event_streams/abstract_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/kafka_outbox_sender.py
  gateway/core/ibm_cloud/event_streams/kafka_producers.py
  gateway/core/ibm_cloud/event_streams/noop_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_outbox_sender.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_producers.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_noop_event_streams_client.py
Due: lint-gateway

Replace PublishOutbox with generic, per-channel DrainOutbox
  gateway/scheduler/tasks/drain_outbox.py
  gateway/scheduler/tasks/publish_outbox.py
  gateway/tests/scheduler/test_drain_outbox.py
  gateway/tests/scheduler/test_publish_outbox.py
Due: lint-gateway

Wire DrainOutbox into the scheduler loop; make the breaker gauge per-channel
  gateway/scheduler/main.py
  gateway/scheduler/metrics/scheduler_metrics_collector.py
  gateway/tests/scheduler/metrics/__init__.py
  gateway/tests/scheduler/metrics/test_scheduler_metrics_collector.py
  gateway/tests/scheduler/test_main.py
Due: lint-gateway

Rewrite specs/OUTBOX.md for the generic outbox design
  gateway/core/domain/billing_events.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/scheduler/tasks/drain_outbox.py
  specs/OUTBOX.md
Due: lint-gateway

Fix two inaccuracies in specs/OUTBOX.md
  gateway/core/domain/billing_events.py
  specs/OUTBOX.md
Due: lint-gateway

Fix fallout from the generic outbox rewrite
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/kafka_outbox_sender.py
  gateway/scheduler/tasks/circuit_breaker.py
  gateway/tests/scheduler/test_main.py
Due: lint-gateway

Skip outbox enqueue on a second terminal transition to avoid double billing
  gateway/core/models.py
  gateway/tests/core/test_job_model.py
Due: lint-gateway

Floor usage seconds at zero against clock skew in both billing calculators
  gateway/core/domain/billing_events.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/tests/core/domain/test_billing_events.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

Unify Kafka message building in usage_events.py and merge senders into KafkaSender
  gateway/api/use_cases/programs/run.py
  gateway/core/domain/billing_events.py
  gateway/core/domain/usage_events.py
  gateway/core/ibm_cloud/event_streams/abstract_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/kafka_producers.py
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
  gateway/core/ibm_cloud/event_streams/noop_event_streams_client.py
  gateway/core/models.py
  gateway/scheduler/tasks/drain_outbox.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/domain/test_billing_events.py
  gateway/tests/core/domain/test_usage_events.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_outbox_sender.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_producers.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_sender.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_noop_event_streams_client.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

Fix stale docs and restore test coverage from the Kafka client review
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/domain/test_usage_events.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_sender.py
  specs/OUTBOX.md
Due: lint-gateway

Read Kafka config from settings, rename usage_events to billing_events, simplify DrainOutbox
  gateway/api/use_cases/programs/run.py
  gateway/core/domain/billing_events.py
  gateway/core/domain/usage_events.py
  gateway/core/ibm_cloud/event_streams/kafka_producers.py
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
  gateway/core/models.py
  gateway/main/settings.py
  gateway/scheduler/tasks/drain_outbox.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/domain/test_billing_events.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_producers.py
  gateway/tests/main/test_settings.py
  gateway/tests/scheduler/test_drain_outbox.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
  specs/OUTBOX.md
Due: lint-gateway

Validate job status transitions and fix outbox retry/kill-switch bugs; simplify DrainOutbox and merge job_started into job_in_progress
  gateway/api/use_cases/jobs/stop.py
  gateway/core/config_key.py
  gateway/core/domain/billing_events.py
  gateway/core/ibm_cloud/event_streams/kafka_producers.py
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
  gateway/core/models.py
  gateway/main/settings.py
  gateway/scheduler/metrics/scheduler_metrics_collector.py
  gateway/scheduler/tasks/balance_filler_jobs.py
  gateway/scheduler/tasks/drain_outbox.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/api/use_cases/jobs/test_stop.py
  gateway/tests/core/domain/test_billing_events.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_producers.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_sender.py
  gateway/tests/core/test_job_model.py
  gateway/tests/main/test_settings.py
  gateway/tests/scheduler/test_drain_outbox.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
  specs/OUTBOX.md
Due: lint-gateway

docs: document non-blocking result retrieval with wait=False
  docs/function_features/basic/02_arguments_and_results.ipynb
Due: none

docs: fix spelling mistakes in docs, READMEs and comments
  charts/qiskit-serverless/README.md
  client/README.md
  client/qiskit_serverless/core/files.py
  client/qiskit_serverless/utils/loggers.py
  docs/custom_images/deploy_custom_image_function.rst
  docs/function_features/basic/04_retrieving_past_results.ipynb
  docs/function_features/experimental/manage_data_directory.ipynb
  gateway/api/utils.py
  gateway/core/services/storage/path_builder.py
  gateway/main/settings.py
  specs/LOGS.md
Due: lint-gateway, lint-client

Add new plan_id and subscription_id fields to job models/table (#2512)
  gateway/api/domain/authentication/custom_authentication.py
  gateway/api/migrations/0065_job_plan_id_subscription_id.py
  gateway/core/models.py
Due: lint-gateway

gateway update compute_profile -> compute_profile_fk (#2514)
  gateway/api/use_cases/jobs/list.py
  gateway/api/use_cases/programs/get_jobs.py
  gateway/api/v1/views/jobs/list.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/api/v1/views/programs/get_jobs.py
  gateway/api/v1/views/programs/run.py
  gateway/tests/api/test_compute_profile.py
Due: lint-gateway

Rename CI checks to Ray Integration tests and Fleets smoke tests (#2374)
  .github/workflows/external-tests.yaml
  .github/workflows/fleets-integration-tests.yaml
  .github/workflows/integration-tests.yaml
Due: none

deploy: 6461878a2808ceb50c7cf58e4c7e37b5deb927fb
  .buildinfo
  .doctrees/environment.pickle
Due: none

Pin CI runners to ubuntu-24.04
  .github/workflows/build-containers-test.yaml
  .github/workflows/client-pypi-release.yaml
  .github/workflows/client-verify.yaml
  .github/workflows/docs-verify.yaml
  .github/workflows/external-tests.yaml
  .github/workflows/fleets-integration-tests.yaml
  .github/workflows/gateway-verify.yaml
  .github/workflows/generate-release-notes.yml
  .github/workflows/helm-verify.yaml
  .github/workflows/integration-tests.yaml
  .github/workflows/kubernetes-deploy.yaml
  .github/workflows/publish-docs.yaml
  .github/workflows/publish-helm.yaml
  .github/workflows/release-drafter.yml
  .github/workflows/update-component-versions.yaml
Due: none

Resolve the Code Engine project name to its id and resource group (#2510)
  gateway/api/management/commands/sync_ce_project.py
  gateway/core/ibm_cloud/code_engine/ce_client/__init__.py
  gateway/core/ibm_cloud/code_engine/ce_client/api/projects_api.py
  gateway/core/ibm_cloud/code_engine/ce_client/models/__init__.py
  gateway/core/ibm_cloud/code_engine/ce_client/models/v2_project.py
  gateway/core/ibm_cloud/code_engine/ce_client/models/v2_project_list.py
  gateway/core/ibm_cloud/code_engine/projects.py
  gateway/tests/api/test_sync_ce_project.py
  gateway/tests/core/services/ibm_cloud/code_engine/test_projects.py
Due: lint-gateway

deploy: 94f0e3f409228f923973e2bdba367e8c1a9ea46f
  .buildinfo
  .doctrees/environment.pickle
Due: none

removed comments
  gateway/api/use_cases/programs/run.py
  gateway/tests/api/use_cases/programs/test_run.py
Due: lint-gateway

docs: fix spelling mistakes in docs, READMEs and comments (#2517)
  charts/qiskit-serverless/README.md
  client/README.md
  client/qiskit_serverless/core/files.py
  client/qiskit_serverless/utils/loggers.py
  docs/custom_images/deploy_custom_image_function.rst
  docs/function_features/basic/04_retrieving_past_results.ipynb
  docs/function_features/experimental/manage_data_directory.ipynb
  gateway/api/utils.py
  gateway/core/services/storage/path_builder.py
  gateway/main/settings.py
  specs/LOGS.md
Due: lint-gateway, lint-client

docs: document non-blocking result retrieval with wait=False (#2516)
  docs/function_features/basic/02_arguments_and_results.ipynb
Due: none

apply comments
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

added blocked accounts models to database
  gateway/api/admin.py
  gateway/api/migrations/0065_blockedcloudresource.py
  gateway/core/models.py
  gateway/tests/core/test_blocked_cloud_resource.py
Due: lint-gateway

register blocked accounts
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

fix lint
  gateway/api/admin.py
Due: lint-gateway

fix integration tests
  gateway/api/migrations/0066_blockedcloudresource.py
Due: lint-gateway

Rename outbox event builders and build_kafka_sender, raise on invalid job transitions everywhere, and resolve the migration conflict
  gateway/api/migrations/0066_outbox.py
  gateway/api/use_cases/jobs/stop.py
  gateway/core/domain/billing_events.py
  gateway/core/ibm_cloud/event_streams/kafka_producers.py
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
  gateway/core/model_managers/job_events.py
  gateway/core/models.py
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/balance_filler_jobs.py
  gateway/scheduler/tasks/drain_outbox.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/domain/test_billing_events.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_producers.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_sender.py
  gateway/tests/core/test_job_model.py
  gateway/tests/scheduler/test_balance_filler_jobs.py
  gateway/tests/scheduler/test_drain_outbox.py
  gateway/tests/scheduler/test_schedule.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
  specs/OUTBOX.md
Due: lint-gateway

Set compute_profile_id on the kafka billing test's mock job
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

Read the billing compute profile from the FK instead of the string
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

comments
  gateway/core/domain/billing_events.py
  gateway/tests/core/domain/test_billing_events.py
  specs/OUTBOX.md
Due: lint-gateway

comments
  gateway/api/domain/job_timeline.py
  gateway/api/use_cases/jobs/stop.py
  gateway/core/domain/billing_events.py
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
  gateway/core/models.py
  gateway/scheduler/main.py
  gateway/scheduler/tasks/drain_outbox.py
  gateway/tests/test_job_timeline_admin.py
Due: lint-gateway

comments
  gateway/core/domain/billing_events.py
  gateway/scheduler/main.py
  gateway/scheduler/tasks/outbox.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/domain/test_billing_events.py
  gateway/tests/scheduler/test_drain_outbox.py
  gateway/tests/scheduler/test_main.py
  specs/OUTBOX.md
Due: lint-gateway

Resolve plan_id and subscription_id during authentication
  gateway/api/authentication.py
  gateway/api/domain/authentication/authentication_result.py
  gateway/api/services/authentication/authentication_base.py
  gateway/api/services/authentication/ibm_quantum_platform.py
  gateway/api/services/authentication/local_authentication.py
  gateway/api/use_cases/authentication.py
  gateway/tests/api/authentication/custom_token/test_ibm_quantum_platform.py
Due: lint-gateway

Install Ray in the Fleets selector image
  docker-images/fleet-node/Dockerfile
Due: none
