Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

remove classes
  gateway/tests/api/use_cases/jobs/test_provider_list.py
  gateway/tests/core/model_managers/test_jobs.py
Due: lint-gateway

T-shirt sizes - Adding models to the gateway (#2386)
  gateway/api/admin.py
  gateway/api/migrations/0057_computeprofile_and_more.py
  gateway/core/models.py
  gateway/tests/api/test_function_sizes.py
  releasenotes/notes/add-function-size-and-compute-profile-models-1562cb724e32f451.yaml
Due: lint-gateway

Scope provider job listings to the requested provider (#2416)
  gateway/core/model_managers/jobs.py
  gateway/tests/api/use_cases/jobs/test_provider_list.py
  gateway/tests/core/model_managers/test_jobs.py
Due: lint-gateway

black
  gateway/api/admin.py
Due: lint-gateway

add regions to kafka
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/main/settings.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
  gateway/tox.ini
Due: lint-gateway

update docs and deployment yamls
  charts/qiskit-serverless/README.md
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

Remove release note
  releasenotes/notes/wrap-job-creation-in-transaction-8b2f4c6d1e9a3705.yaml
Due: none

Set an explicit request body size limit and report going over it as 413
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/templates/ingress.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/api/domain/arguments_schema.py
  gateway/api/v1/exception_handler.py
  gateway/main/settings.py
  gateway/tests/api/test_request_body_size.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
  releasenotes/notes/fix-request-body-size-limit-9c4f81ba2e5d7a36.yaml
  specs/ARGUMENTS_VALIDATION.md
Due: lint-gateway

Say where the derived proxy-body-size annotation does and does not apply
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/main/settings.py
  releasenotes/notes/fix-request-body-size-limit-9c4f81ba2e5d7a36.yaml
Due: lint-gateway

Keep the default_compute_profile column so a previous release can still be deployed
  gateway/api/migrations/0057_computeprofile_and_more.py
  releasenotes/notes/add-function-size-and-compute-profile-models-1562cb724e32f451.yaml
Due: lint-gateway

Raise the arguments limit to 32 MB and justify both limits against the pod
  charts/qiskit-serverless/charts/gateway/templates/ingress.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/api/domain/arguments_schema.py
  gateway/api/v1/exception_handler.py
  gateway/main/settings.py
  releasenotes/notes/fix-request-body-size-limit-9c4f81ba2e5d7a36.yaml
  specs/ARGUMENTS_VALIDATION.md
Due: lint-gateway

improved classical metric type
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

fix tests
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

fix test
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

Make the arguments length limit configurable and add a sizing table
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/api/domain/arguments_schema.py
  gateway/api/use_cases/programs/validate_arguments.py
  gateway/main/settings.py
  gateway/tests/api/domain/test_legitimate_schema_cost.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
  specs/ARGUMENTS_VALIDATION.md
Due: lint-gateway

Update the release note for the configurable arguments limit
  releasenotes/notes/fix-request-body-size-limit-9c4f81ba2e5d7a36.yaml
Due: none

Move the size limit research into specs/ARGUMENTS_LIMIT.md
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/api/domain/arguments_schema.py
  gateway/main/settings.py
  specs/ARGUMENTS_LIMIT.md
  specs/ARGUMENTS_VALIDATION.md
Due: lint-gateway

Fix the nil annotations crash and correct the figures an adversarial review caught
  charts/qiskit-serverless/charts/gateway/templates/ingress.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/api/domain/arguments_schema.py
  gateway/api/domain/isolated.py
  gateway/api/v1/exception_handler.py
  gateway/main/settings.py
  gateway/tests/api/domain/test_legitimate_schema_cost.py
  gateway/tests/api/test_request_body_size.py
  specs/ARGUMENTS_LIMIT.md
  specs/ARGUMENTS_VALIDATION.md
Due: lint-gateway

Spell out Django REST Framework and trim the comments
  gateway/api/domain/arguments_schema.py
  gateway/api/v1/exception_handler.py
  gateway/main/settings.py
  gateway/tests/api/test_request_body_size.py
  releasenotes/notes/fix-request-body-size-limit-9c4f81ba2e5d7a36.yaml
  specs/ARGUMENTS_LIMIT.md
  specs/ARGUMENTS_VALIDATION.md
Due: lint-gateway

Keep the default_compute_profile column so a previous release can still be deployed (#2420)
  gateway/api/migrations/0057_computeprofile_and_more.py
  releasenotes/notes/add-function-size-and-compute-profile-models-1562cb724e32f451.yaml
Due: lint-gateway

grant provider operations to function authors.
  gateway/api/access_policies/providers.py
  gateway/api/use_cases/jobs/provider_list.py
  gateway/api/use_cases/programs/upload.py
  gateway/core/model_managers/functions.py
  gateway/tests/api/access_policies/test_providers.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/use_cases/files/test_provider_files.py
  gateway/tests/api/use_cases/jobs/test_provider_list.py
  gateway/tests/api/use_cases/jobs/test_provider_logs.py
  specs/INSTANCES_AUTH.md
Due: lint-gateway

Apply suggestion from @avilches
  releasenotes/notes/fix-request-body-size-limit-9c4f81ba2e5d7a36.yaml
Due: none

Refuse a length above the ceiling instead of lowering it, and revert the ingress annotation
  charts/qiskit-serverless/charts/gateway/templates/ingress.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/api/apps.py
  gateway/api/domain/arguments_schema.py
  gateway/api/v1/exception_handler.py
  gateway/main/settings.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
  specs/ARGUMENTS_LIMIT.md
Due: lint-gateway

Correct the version that introduced the change to 3.17.2
  gateway/api/v1/exception_handler.py
  gateway/main/settings.py
  gateway/tests/api/test_request_body_size.py
  specs/ARGUMENTS_LIMIT.md
Due: lint-gateway

Enforce the arguments length ceiling in settings and drop the helper
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/api/apps.py
  gateway/api/domain/arguments_schema.py
  gateway/api/use_cases/programs/validate_arguments.py
  gateway/main/settings.py
  gateway/tests/api/domain/test_legitimate_schema_cost.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
  specs/ARGUMENTS_LIMIT.md
  specs/ARGUMENTS_VALIDATION.md
Due: lint-gateway

Simplify the release note for the removed field
  releasenotes/notes/add-function-size-and-compute-profile-models-1562cb724e32f451.yaml
Due: none

Drop the api_program.default_compute_profile column
  gateway/api/migrations/0058_drop_program_default_compute_profile.py
  releasenotes/notes/drop-program-default-compute-profile-column-9f4c2be71a3d5e08.yaml
Due: lint-gateway

Apply suggestion from @avilches
  releasenotes/notes/drop-program-default-compute-profile-column-9f4c2be71a3d5e08.yaml
Due: none

Simplify the release note for the removed field (#2423)
  releasenotes/notes/add-function-size-and-compute-profile-models-1562cb724e32f451.yaml
Due: none

Document the ceiling of the arguments limit and where it stops scaling
  gateway/main/settings.py
  specs/ARGUMENTS_LIMIT.md
Due: lint-gateway

Fleets: always inject QISKIT_IBM_PRIVATE_ENDPOINT into job containers
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_utils.py
Due: lint-gateway

Set an explicit request body size limit and report going over it as 413 (#2419)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/api/domain/arguments_schema.py
  gateway/api/domain/isolated.py
  gateway/api/use_cases/programs/validate_arguments.py
  gateway/api/v1/exception_handler.py
  gateway/main/settings.py
  gateway/tests/api/domain/test_legitimate_schema_cost.py
  gateway/tests/api/test_request_body_size.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
  releasenotes/notes/fix-request-body-size-limit-9c4f81ba2e5d7a36.yaml
  specs/ARGUMENTS_LIMIT.md
  specs/ARGUMENTS_VALIDATION.md
Due: lint-gateway

Allow get_runtime_service to use a private endpoint
  client/qiskit_serverless/core/job.py
  client/tests/core/test_job.py
  releasenotes/notes/runtime-service-private-endpoint-6a052c5bfbb17c36.yaml
Due: lint-client

Fix/provider function author upload (#2397)
  gateway/api/access_policies/providers.py
  gateway/api/use_cases/jobs/provider_list.py
  gateway/api/use_cases/programs/upload.py
  gateway/core/model_managers/functions.py
  gateway/tests/api/access_policies/test_providers.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/use_cases/files/test_provider_files.py
  gateway/tests/api/use_cases/jobs/test_provider_list.py
  gateway/tests/api/use_cases/jobs/test_provider_logs.py
  gateway/tests/api/use_cases/programs/test_upload.py
  specs/INSTANCES_AUTH.md
Due: lint-gateway

adapt instances suite to ownership granting provider operations
  specs/INSTANCES_AUTH.md
  tests/instances/conftest.py
  tests/instances/permission_checks.py
  tests/instances/test_instance_permissions.py
  tests/tox.ini
Due: lint-tests

Helm: add FLEETS_RUNTIME_* gateway env vars to deployment chart
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

Update releasenotes/notes/runtime-service-private-endpoint-6a052c5bfbb17c36.yaml
  releasenotes/notes/runtime-service-private-endpoint-6a052c5bfbb17c36.yaml
Due: none

Fleets: inject private URLs into job containers (#2415)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/main/settings.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_utils.py
Due: lint-gateway

Fix the release note indentation so reno can parse it
  releasenotes/notes/runtime-service-private-endpoint-6a052c5bfbb17c36.yaml
Due: none

Adapt the instances suite to function ownership granting the provider operations (#2425)
  specs/INSTANCES_AUTH.md
  tests/instances/conftest.py
  tests/instances/permission_checks.py
  tests/instances/test_instance_permissions.py
  tests/tox.ini
Due: lint-tests
