Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Add release note for file types restriction (#1918)
  releasenotes/notes/upload_file_restrictions-4e49ef545267cd37.yaml
Due: none

deploy: 7f6df4681e17e3daeff94f1acc01209b2cbaced9
  .buildinfo
  .doctrees/environment.pickle
  .doctrees/release-notes.doctree
  release-notes.html
  searchindex.js
Due: none

system metrics
  gateway/requirements.txt
  gateway/scheduler/http_server.py
  gateway/scheduler/main.py
  gateway/scheduler/metrics/__init__.py
  gateway/scheduler/metrics/scheduler_metrics_collector.py
  gateway/scheduler/metrics/system_metrics_collector.py
  gateway/scheduler/tasks/free_resources.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

Scheduler lightweight http server for metrics (#1911)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/main/settings.py
  gateway/scheduler/http_server.py
  gateway/scheduler/main.py
  gateway/scheduler/management/commands/run_scheduler.py
  gateway/scheduler/tasks/update_jobs_statuses.py
  gateway/scheduler/views/__init__.py
  gateway/scheduler/views/probes.py
  gateway/tests/scheduler/test_http_server.py
  gateway/tests/scheduler/test_main.py
Due: lint-gateway

refactor metrics
  gateway/scheduler/http_server.py
  gateway/scheduler/main.py
  gateway/scheduler/management/commands/run_scheduler.py
  gateway/scheduler/metrics/scheduler_metrics_collector.py
  gateway/tests/scheduler/test_http_server.py
Due: lint-gateway

add some extra tests
  client/qiskit_serverless/core/files.py
  gateway/tests/api/test_v1_files.py
  gateway/tests/resources/test-img.png
Due: lint-gateway, lint-client

improve error handling and added some integration tests
  client/qiskit_serverless/core/files.py
  client/qiskit_serverless/utils/errors.py
  tests/integration/test_files.py
  tests/source_files/test-img.png
Due: lint-client, lint-tests

change assertEqual in favor of assert X == Y
  gateway/tests/api/test_v1_files.py
Due: lint-gateway

change assertTrue in favor of assert
  gateway/tests/api/test_v1_files.py
Due: lint-gateway

remove uneeded prints
  client/qiskit_serverless/core/files.py
Due: lint-client

linter
  gateway/scheduler/metrics/scheduler_metrics_collector.py
  gateway/scheduler/metrics/system_metrics_collector.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
Due: lint-gateway

Upload files restriction improvements (#1919)
  client/qiskit_serverless/core/files.py
  client/qiskit_serverless/utils/errors.py
  gateway/tests/api/test_v1_files.py
  gateway/tests/resources/test-img.png
  tests/integration/test_files.py
  tests/source_files/test-img.png
Due: lint-gateway, lint-client, lint-tests

Improve custom image deployment guide, fix bugs in source code
  docs/deployment/deploying_custom_image_function.rst
Due: none

Rename file
  docs/local_setup/index.rst
  docs/local_setup/local_infrastructure.rst
Due: none

Fix cross-references
  docs/deployment/index.rst
  docs/function_features/basic/01_custom_upload_run.ipynb
  docs/local_setup/client_config.rst
Due: none

1st draft working version
  gateway/api/management/commands/create_compute_resource.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/use_cases/jobs/stop.py
  gateway/core/services/job_status.py
  gateway/core/services/ray.py
  gateway/core/services/runners/__init__.py
  gateway/core/services/runners/fleets_client.py
  gateway/core/services/runners/ray_client.py
  gateway/core/services/runners/runner.py
  gateway/core/services/runners/runner_client.py
  gateway/core/utils.py
  gateway/main/settings.py
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/free_resources.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/utils/test_cluster_name_generator.py
  gateway/tests/core/test_ray.py
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/scheduler/test_schedule.py
  tests/integration/test_jobs.py
Due: lint-gateway, lint-tests

linter
  gateway/core/services/runners/__init__.py
  gateway/core/services/runners/fleets_client.py
  gateway/core/services/runners/ray_client.py
  gateway/core/services/runners/runner_client.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
Due: lint-gateway

Improve local deployment guide, remove duplicate source of truth while still having a dedicated section for local setup
  docs/deployment/client.rst
  docs/deployment/cloud.rst
  docs/deployment/index.rst
  docs/deployment/local.rst
  docs/local_setup/client_config.rst
  docs/local_setup/index.rst
  docs/local_setup/local_infrastructure.rst
Due: none

ray client compatible with fleets/ray
  gateway/api/management/commands/create_compute_resource.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/use_cases/jobs/stop.py
  gateway/core/services/job_status.py
  gateway/core/services/ray.py
  gateway/core/utils.py
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/free_resources.py
  gateway/scheduler/tasks/update_jobs_statuses.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/utils/test_cluster_name_generator.py
  gateway/tests/core/test_ray.py
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

linter
  gateway/scheduler/tasks/update_jobs_statuses.py
Due: lint-gateway

client
  gateway/core/services/runners/__init__.py
  gateway/core/services/runners/fleets_client.py
  gateway/core/services/runners/ray_client.py
  gateway/core/services/runners/runner.py
  gateway/core/services/runners/runner_client.py
Due: lint-gateway

Apply comments from Alberto's review
  docs/custom_images/deploy_custom_image_function.rst
  docs/deployment/client.rst
Due: none

Adapt settings style to django-csp>4
  gateway/main/settings.py
Due: lint-gateway

refactor
  gateway/core/services/runners/fleets_client.py
  gateway/core/services/runners/ray_client.py
  gateway/core/services/runners/runner_client.py
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/free_resources.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
  gateway/tests/core/test_ray.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

client init
  gateway/core/services/runners/__init__.py
  gateway/core/services/runners/runner.py
Due: lint-gateway

Docs refactoring (#1920)
  client/tests/core/test_function_upload.py
  docs/custom_images/custom_function/Sample-Dockerfile
  docs/custom_images/custom_function/custom_module/__init__.py
  docs/custom_images/custom_function/custom_module/library.py
  docs/custom_images/custom_function/local_cluster/deploy.sh
  docs/custom_images/custom_function/runner.py
  docs/custom_images/custom_image_examples.rst
  docs/custom_images/deploy_custom_image_function.rst
  docs/custom_images/index.rst
  docs/deployment/client.rst
  docs/deployment/client_configuration.rst
  docs/deployment/cloud.rst
  docs/deployment/deploying_custom_image_function.rst
  docs/deployment/example_custom_image_function.rst
  docs/deployment/index.rst
  docs/deployment/local.rst
  docs/function_features/basic/01_custom_upload_run.ipynb
  docs/function_features/basic/02_arguments_and_results.ipynb
  docs/function_features/basic/03_distributed_workloads.ipynb
  docs/function_features/basic/04_retrieving_past_results.ipynb
  docs/function_features/basic/images/widget.png
  docs/function_features/basic/index.rst
  docs/function_features/basic/source_files/circuit_utils.py
  docs/function_features/basic/source_files/function.py
  docs/function_features/basic/source_files/function_with_arguments.py
  docs/function_features/basic/source_files/function_with_dependencies.py
  docs/function_features/basic/source_files/function_with_parallel_workflow.py
  docs/function_features/experimental/file_download.ipynb
  docs/function_features/experimental/index.rst
  docs/function_features/experimental/manage_data_directory.ipynb
  docs/function_features/experimental/source_files/circuit_utils.py
  docs/function_features/experimental/source_files/consume_files.py
  docs/function_features/experimental/source_files/produce_files.py
  docs/function_features/experimental/source_files/program.py
  docs/function_features/index.rst
  docs/getting_started/index.rst
  docs/index.rst
  docs/installation/index.rst
  docs/local_setup/index.rst
Due: lint-client

Add client utils unit tests
  client/tests/utils/__init__.py
  client/tests/utils/test_errors.py
  client/tests/utils/test_formatting.py
  client/tests/utils/test_http.py
  client/tests/utils/test_json.py
Due: lint-client

Fix lint
  client/tests/utils/test_json.py
Due: lint-client

Move stray 0.30 reno to its place
  releasenotes/notes/0.30/upload_file_restrictions-4e49ef545267cd37.yaml
Due: none

Update contributing guidelines with release note instructions
  CONTRIBUTING.md
Due: none

Remove outdated check (watch out for other uses of hgp)
  client/tests/utils/test_http.py
Due: lint-client

added get events endpoint and client features
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/job.py
  gateway/api/access_policies/jobs.py
  gateway/api/use_cases/jobs/events.py
  gateway/api/v1/views/jobs/event.py
  gateway/api/v1/views/jobs/events.py
  gateway/core/model_managers/job_events.py
  gateway/tests/api/test_job.py
  tests/integration/test_jobs.py
Due: lint-gateway, lint-client, lint-tests

Scheduler metrics (#1923)
  gateway/core/model_managers/job_events.py
  gateway/requirements.txt
  gateway/scheduler/http_server.py
  gateway/scheduler/main.py
  gateway/scheduler/management/commands/run_scheduler.py
  gateway/scheduler/metrics/__init__.py
  gateway/scheduler/metrics/scheduler_metrics_collector.py
  gateway/scheduler/metrics/system_metrics_collector.py
  gateway/scheduler/tasks/free_resources.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/scheduler/test_http_server.py
  gateway/tests/scheduler/test_main.py
Due: lint-gateway

Use assert instead of self.assert to follow pytest standards
  client/tests/utils/test_errors.py
  client/tests/utils/test_http.py
  client/tests/utils/test_json.py
Due: lint-client

Add new tests to Job test class to increase coverage
  client/tests/core/test_job.py
Due: lint-client

Parametrize status mapping tests for better readability
  client/tests/core/test_job.py
Due: lint-client

Use nonlocal instead of list for the counter
  client/tests/core/test_job.py
Due: lint-client

Rename test class
  client/tests/core/test_job.py
Due: lint-client
