Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix
  gateway/tests/api/test_logs.py
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/scheduler/test_schedule.py
  gateway/tests/scheduler/test_schedule_queued_jobs.py
  gateway/tests/scheduler/test_update_jobs_statuses.py
Due: lint-gateway

added more tests
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

added secret file
  .secrets.baseline
Due: none

Refactor: move CE project selection to job creation time (#2109)
  gateway/api/management/commands/sync_ce_project.py
  gateway/api/serializers.py
  gateway/core/model_managers/code_engine_projects.py
  gateway/core/models.py
  gateway/core/services/runners/fleets_runner.py
  gateway/main/settings.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/core/model_managers/test_code_engine_projects.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Add provider files permission tests to instance integration tests
  tests/instances/test_instance_permissions.py
Due: lint-tests

Add provider file download and delete permission tests
  tests/instances/test_instance_permissions.py
Due: lint-tests

Add fleets mock layer for local integration tests
  gateway/core/apps.py
  gateway/core/services/runners/fleets_mock.py
Due: lint-gateway

Add fleets integration tests with Docker Compose and CI
  .dockerignore
  .github/workflows/fleets-integration-tests.yaml
  docker-compose-fleets-test.yaml
  gateway/core/apps.py
  gateway/core/services/runners/fleets_mock.py
  tests/fleets/_helpers.py
  tests/fleets/conftest.py
  tests/fleets/fleet-worker/Dockerfile
  tests/fleets/fleet-worker/worker.py
  tests/fleets/pytest.ini
  tests/fleets/source_files/bad_entrypoint.py
  tests/fleets/source_files/entrypoint.py
  tests/fleets/source_files/other-file-by-user.json
  tests/fleets/test_fleets_jobs.py
  tests/requirements-dev.txt
  tests/tox.ini
Due: lint-gateway, lint-tests

Apply reviewer feedback: docstrings, import fix, remove unused file
  gateway/core/apps.py
  gateway/core/services/runners/fleets_mock.py
  tests/fleets/_helpers.py
  tests/fleets/conftest.py
  tests/fleets/fleet-worker/worker.py
  tests/fleets/source_files/other-file-by-user.json
  tests/fleets/test_fleets_jobs.py
Due: lint-gateway, lint-tests

Fix CI lint: exclude fleets from pylint (needs client package)
  tests/tox.ini
Due: none

Fix COS endpoint URL: use direct instead of private (#2126)
  gateway/core/ibm_cloud/clients.py
  gateway/core/ibm_cloud/cos/cos_client.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_job_cos_unit.py
  gateway/tests/core/services/ibm_cloud/cos/test_cos_client_unit.py
  gateway/tests/core/services/ibm_cloud/test_clients_unit.py
Due: lint-gateway

deploy: 8c84c8a7a0099cffaf908bbe140c60e381af6c4b
  .buildinfo
  .doctrees/environment.pickle
Due: none

Port over remaining changes from mvp-1 branch
  client/qiskit_serverless/utils/http.py
  gateway/api/management/commands/sync_ce_project.py
  gateway/api/serializers.py
  gateway/api/v1/serializers.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/core/services/runners/fleets_runner.py
  gateway/main/settings.py
  gateway/scheduler/schedule.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway, lint-client

Add 2 pds mount change
  gateway/core/services/runners/fleets_runner.py
Due: lint-gateway

Revert test changes
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Undo typing change
  client/qiskit_serverless/utils/http.py
Due: lint-client

Attempt to fix lint
  gateway/scheduler/schedule.py
Due: lint-gateway

Fix runner unit tests
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Remove unnecesary guard, add tests
  gateway/core/services/runners/fleets_runner.py
  gateway/scheduler/schedule.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

Scheduler: split and refactor Fleets job status updates (#2129)
  gateway/core/models.py
  gateway/scheduler/main.py
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/schedule_fleets_jobs.py
  gateway/scheduler/tasks/schedule_ray_jobs.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/scheduler/tasks/update_ray_jobs_statuses.py
  gateway/tests/api/test_logs.py
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/scheduler/test_schedule.py
  gateway/tests/scheduler/test_schedule_queued_jobs.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
  gateway/tests/scheduler/test_update_jobs_statuses.py
Due: lint-gateway

Wire accessible_functions through jobs/provider-logs endpoint
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/v1/views/jobs/provider_logs.py
  gateway/tests/api/use_cases/jobs/test_provider_logs.py
  tests/instances/test_instance_permissions.py
Due: lint-gateway, lint-tests

first migration to arguments storage fleets
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/arguments_storage_fleets.py
Due: lint-gateway

update tests for code engine
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/core/services/storage/test_arguments_storage_fleets.py
Due: lint-gateway

update tests to use testutils
  gateway/tests/api/test_compute_profile.py
  gateway/tests/core/services/storage/test_arguments_storage_fleets.py
  gateway/tests/utils.py
Due: lint-gateway

update logs format
  gateway/core/services/storage/arguments_storage_fleets.py
Due: lint-gateway

Fix provider-logs tests by mocking request.auth.accessible_functions
  gateway/tests/api/test_logs.py
Due: lint-gateway

added more input to logs
  gateway/core/services/storage/arguments_storage_fleets.py
Due: lint-gateway

remove _get_cos
  gateway/core/services/storage/arguments_storage_fleets.py
Due: lint-gateway

remove implementation from fleets get
  gateway/core/services/storage/arguments_storage_fleets.py
Due: lint-gateway

Enable Instances auth: provider files endpoints (#2131)
  gateway/api/use_cases/files/provider_delete.py
  gateway/api/use_cases/files/provider_download.py
  gateway/api/use_cases/files/provider_list.py
  gateway/api/use_cases/files/provider_upload.py
  gateway/api/v1/views/files/provider_delete.py
  gateway/api/v1/views/files/provider_download.py
  gateway/api/v1/views/files/provider_list.py
  gateway/api/v1/views/files/provider_upload.py
  gateway/tests/api/test_v1_files.py
  gateway/tests/api/use_cases/files/__init__.py
  gateway/tests/api/use_cases/files/test_provider_files.py
  tests/instances/test_instance_permissions.py
Due: lint-gateway, lint-tests

Arguments storage fleets (#2135)
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/arguments_storage_fleets.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/core/services/storage/test_arguments_storage_fleets.py
  gateway/tests/utils.py
Due: lint-gateway

fix tests
  gateway/tests/api/use_cases/jobs/test_provider_logs.py
Due: lint-gateway

Remove duplicate tests in test_instance_permissions
  tests/instances/test_instance_permissions.py
Due: lint-tests

Enable Instances auth: provider logs endpoint (#2134)
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/v1/views/jobs/provider_logs.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/use_cases/jobs/test_provider_logs.py
  tests/instances/test_instance_permissions.py
Due: lint-gateway, lint-tests

support new and old error message in job method
  client/qiskit_serverless/core/job.py
Due: lint-client

modified test
  client/tests/core/test_job.py
  tests/integration/test_jobs.py
Due: lint-client, lint-tests

error_message fix
  client/qiskit_serverless/core/job.py
Due: lint-client

fix integration tests
  tests/integration/test_jobs.py
Due: lint-tests

update logs storage architecture
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/logs_storage.py
  gateway/core/services/storage/logs_storage_fleets.py
  gateway/core/services/storage/logs_storage_ray.py
  gateway/scheduler/management/commands/migrate_old_job_logs.py
  gateway/scheduler/tasks/update_ray_jobs_statuses.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/use_cases/jobs/test_provider_logs.py
  gateway/tests/core/services/storage/test_logs_storage.py
  gateway/tests/scheduler/management/test_migrate_old_job_logs.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

improve code
  client/qiskit_serverless/core/job.py
Due: lint-client

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
