Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Require w3id SSO id and secret, add chart deployment env
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/api/authentication_oidc.py
  gateway/api/context_processors.py
  gateway/main/settings.py
  gateway/tests/api/authentication/w3id_sso/test_w3id_sso.py
Due: lint-gateway

Add fleets integration test docs to local_setup
  docs/local_setup/fleets_integration_tests.rst
  docs/local_setup/index.rst
Due: none

fix results migration
  gateway/scheduler/management/commands/migrate_old_job_results.py
Due: lint-gateway

group dependabot updates by module (#2294)
  .github/dependabot.yml
Due: none

Upgrade opentelemetry to 1.42+ and importlib-metadata to 9.x
  client/requirements.txt
Due: none

fix results migration (#2296)
  gateway/scheduler/management/commands/migrate_old_job_results.py
Due: lint-gateway

Hide author-private job result on cross-author provider listings
  gateway/api/use_cases/programs/get_jobs.py
  gateway/api/v1/views/programs/get_jobs.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/use_cases/programs/test_get_jobs.py
Due: lint-gateway

Upgrade opentelemetry to 1.42+ and importlib-metadata to 9.x (#2297)
  client/requirements.txt
Due: none

Fail closed on missing DJANGO_SECRET_KEY in production
  docker-compose.yaml
  gateway/main/settings.py
  gateway/tox.ini
Due: lint-gateway

Add environment prefix variable
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

Fail closed on unknown SETTINGS_AUTH_MECHANISM
  gateway/main/settings.py
Due: lint-gateway

Default ALLOWED_HOSTS to localhost in production
  docker-compose.yaml
  gateway/main/settings.py
Due: lint-gateway

fix result migration
  gateway/scheduler/management/commands/migrate_old_job_results.py
  gateway/tests/scheduler/management/test_migrate_old_job_results.py
Due: lint-gateway

Default DEBUG to off in production
  gateway/main/settings.py
Due: lint-gateway

Move gateway ray template dir off world-writable /tmp
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  gateway/main/settings.py
Due: lint-gateway

Basename client download target to prevent path traversal
  client/qiskit_serverless/core/files.py
Due: lint-client

Validate result decoder payload before object reconstruction
  client/qiskit_serverless/serializers/program_serializers.py
Due: lint-client

Enforce registry path boundary for custom images
  gateway/api/v1/views/programs/upload.py
Due: lint-gateway

Validate entrypoint is a safe relative .py path
  gateway/api/v1/views/programs/upload.py
Due: lint-gateway

Reject path traversal members in fleets artifact upload
  gateway/core/services/runners/fleets_runner.py
Due: lint-gateway

Drop duplicate ENV_JOB_ARGUMENTS literal env var for fleets
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
Due: lint-gateway

fix result migration (#2309)
  gateway/scheduler/management/commands/migrate_old_job_results.py
  gateway/tests/scheduler/management/test_migrate_old_job_results.py
Due: lint-gateway

Use registry-nested image names in integration tests
  gateway/tests/api/test_v1_serializers.py
  tests/integration/test_files.py
  tests/integration/test_jobs.py
Due: lint-gateway, lint-tests

Update custom image docs to use registry-nested image name
  docs/custom_images/deploy_custom_image_function.rst
  docs/custom_images/run_on_apple_silicon.rst
Due: none

Default chart allowedHosts to localhost so unset deployments fail closed
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

Fail closed when ALLOWED_HOSTS is unset in production
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/main/settings.py
  gateway/tox.ini
Due: lint-gateway

Simplify entrypoint validation comment wording
  gateway/api/v1/views/programs/upload.py
Due: lint-gateway

Simplify fleets env var comment wording
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
Due: lint-gateway

Add regression test for DEBUG and LOG_LEVEL defaults
  gateway/tests/main/__init__.py
  gateway/tests/main/test_settings.py
Due: lint-gateway

Simplify template dir comment wording
  gateway/main/settings.py
Due: lint-gateway

Add regression test for auth mechanism fail-closed
  gateway/tests/main/__init__.py
  gateway/tests/main/test_settings.py
Due: lint-gateway

Test fleets env builder drops ENV_JOB_ARGUMENTS
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_utils.py
Due: lint-gateway

Add settings test for extra template dir path
  gateway/tests/main/__init__.py
  gateway/tests/main/test_settings.py
Due: lint-gateway

Add ALLOWED_HOSTS settings regression tests
  gateway/tests/main/__init__.py
  gateway/tests/main/test_settings.py
Due: lint-gateway

Add settings regression test for DJANGO_SECRET_KEY fail-closed
  gateway/tests/main/__init__.py
  gateway/tests/main/test_settings.py
Due: lint-gateway

Add regression tests for download path traversal protection
  client/tests/core/test_files.py
Due: lint-client

Narrow artifact tar traversal check to real path escapes
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Check entrypoint type before splitting and add path validation tests
  gateway/api/v1/views/programs/upload.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

Add regression test for decoder __value__ validation
  client/tests/serializers/test_program_serializers.py
Due: lint-client

Reject path traversal members in fleets artifact upload (#2313)
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway
