Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Remove trailing slashes in Serveless host (#2329)
  client/qiskit_serverless/core/clients/serverless_client.py
  releasenotes/notes/remove-trailing-slashes-from-host-2b8418049a0f9ffd.yaml
Due: lint-client

Hide author-private job result on cross-author provider listings (#2300)
  gateway/api/use_cases/programs/get_jobs.py
  gateway/api/v1/views/programs/get_jobs.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/use_cases/programs/test_get_jobs.py
Due: lint-gateway

Fail closed on unknown SETTINGS_AUTH_MECHANISM (#2302)
  gateway/main/settings.py
  gateway/tests/main/test_settings.py
Due: lint-gateway

Add release note for registry path boundary enforcement
  releasenotes/notes/enforce-registry-path-boundary-649dfa6d7f2b3f69.yaml
Due: none

Enforce registry path boundary for custom images (#2303)
  docs/custom_images/deploy_custom_image_function.rst
  docs/custom_images/run_on_apple_silicon.rst
  gateway/api/v1/views/programs/upload.py
  gateway/tests/api/test_v1_serializers.py
  releasenotes/notes/enforce-registry-path-boundary-649dfa6d7f2b3f69.yaml
  tests/integration/test_files.py
  tests/integration/test_jobs.py
Due: lint-gateway, lint-tests

Update tests/source_files/gold_path_function.py
  tests/source_files/gold_path_function.py
Due: lint-tests

Bump client qiskit version to 2.2 and officially drop symengine from build (#2333)
  client/requirements.txt
  gateway/Dockerfile
  gateway/requirements.txt
  ray-node/Dockerfile
  ray-node/Dockerfile.arm64
  releasenotes/notes/0.33.0/bump-qiskit-2.2-drop-symengine-7c1e9f0a2b4d6835.yaml
Due: none

fix black
  tests/source_files/gold_path_function.py
Due: lint-tests

Fix Job.status() ignoring sub_status when using get_job_data path
  client/qiskit_serverless/core/job.py
  client/tests/core/test_job.py
Due: lint-client

Add more informative auth error messages (#2338)
  client/qiskit_serverless/core/clients/serverless_client.py
  gateway/api/authentication.py
  gateway/api/use_cases/authentication.py
  gateway/tests/api/authentication/custom_token/test_ibm_quantum_platform.py
Due: lint-gateway, lint-client

Make ray an optional dependency of the client (#2332)
  client/README.md
  client/pyproject.toml
  client/qiskit_serverless/core/decorators.py
  client/qiskit_serverless/core/job.py
  client/qiskit_serverless/serializers/serializers.py
  client/requirements.txt
  client/tests/core/test_decorator.py
  client/tests/core/test_ray_optional.py
  client/tests/utils.py
  ray-node/Dockerfile
  ray-node/Dockerfile.arm64
  releasenotes/notes/0.33.0/ray-optional-client-1605-3f7a9c2e5b1d8046.yaml
  tox.ini
Due: lint-client

Add release note for Job.status() sub_status fix
  releasenotes/notes/fix-job-status-sub-status-d3a7c1e8f2b94a05.yaml
Due: none

Refactor integration tests (#2337)
  tests/instances/runtime_api_client.py
  tests/integration/execution/test_files_execution.py
  tests/integration/execution/test_jobs_execution.py
  tests/integration/storage/test_files_storage.py
  tests/integration/storage/test_jobs_storage.py
  tests/integration/test_jobs.py
  tests/source_files/gold_path_function.py
  tests/source_files/pattern_with_arguments.py
Due: lint-tests

Add release note checklist item to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

deleted old migration
  gateway/api/migrations/0055_program_gpu.py
Due: lint-gateway

updated the gpu Boolean field
  gateway/core/models.py
Due: lint-gateway

Add release note checklist item to PR template (#2350)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix `Job.status()` ignoring `sub_status` (#2349)
  client/qiskit_serverless/core/job.py
  client/tests/core/test_job.py
  releasenotes/notes/fix-job-status-sub-status-d3a7c1e8f2b94a05.yaml
Due: lint-client

new migration file
  gateway/api/migrations/0055_program_gpu.py
Due: lint-gateway

generated migration with the correct version
  gateway/api/migrations/0055_program_gpu.py
Due: lint-gateway

Replace GPU allowlist ConfigMap with a gpu field on Program (#2339)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  gateway/api/migrations/0055_program_gpu.py
  gateway/api/use_cases/programs/run.py
  gateway/api/v1/gpu-jobs.json
  gateway/core/models.py
  gateway/core/utils.py
  gateway/main/settings.py
  gateway/tests/api/test_v1_serializers.py
  releasenotes/notes/add-gpu-field-to-program-model-7ee4a6a52c8cf43a.yaml
Due: lint-gateway

[create-pull-request] automated change
  .github/ISSUE_TEMPLATE/pip_dependency_request.yaml
  CITATION.cff
  charts/qiskit-serverless/Chart.lock
  charts/qiskit-serverless/Chart.yaml
  charts/qiskit-serverless/charts/gateway/Chart.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  client/qiskit_serverless/VERSION.txt
  docker-compose.yaml
  docs/custom_images/custom_function/Sample-Dockerfile
  docs/custom_images/custom_image_examples.rst
  docs/custom_images/deploy_custom_image_function.rst
  docs/deployment/cloud.rst
  gateway/main/settings.py
Due: lint-gateway

Add missing 0.34.0 release notes and move misplaced notes out of 0.33.0
  releasenotes/notes/bump-qiskit-2.2-drop-symengine-7c1e9f0a2b4d6835.yaml
  releasenotes/notes/fix-eu-de-region-auth-4b8c2e9f1a6d0357.yaml
  releasenotes/notes/hide-cross-author-job-result-7f3b1c9e5a2d4078.yaml
  releasenotes/notes/informative-auth-error-messages-4a2c8f1e9b7d0356.yaml
  releasenotes/notes/ray-optional-client-1605-3f7a9c2e5b1d8046.yaml
  releasenotes/notes/surface-non-json-error-responses-2e8d4c7a1f5b9036.yaml
Due: none

Move fix-eu-de-region-auth note back to 0.33.0
  releasenotes/notes/0.33.0/fix-eu-de-region-auth-4b8c2e9f1a6d0357.yaml
Due: none

Move 0.34.0 release notes into 0.34.0/ subfolder
  releasenotes/notes/0.34.0/add-cotengrust-dependency-e7b273eb496ca9b4.yaml
  releasenotes/notes/0.34.0/add-gpu-field-to-program-model-7ee4a6a52c8cf43a.yaml
  releasenotes/notes/0.34.0/bump-qiskit-2.2-drop-symengine-7c1e9f0a2b4d6835.yaml
  releasenotes/notes/0.34.0/deprecate-distribute-task-decorators-1586.yaml
  releasenotes/notes/0.34.0/enforce-registry-path-boundary-649dfa6d7f2b3f69.yaml
  releasenotes/notes/0.34.0/fix-job-status-sub-status-d3a7c1e8f2b94a05.yaml
  releasenotes/notes/0.34.0/hide-cross-author-job-result-7f3b1c9e5a2d4078.yaml
  releasenotes/notes/0.34.0/informative-auth-error-messages-4a2c8f1e9b7d0356.yaml
  releasenotes/notes/0.34.0/ray-optional-client-1605-3f7a9c2e5b1d8046.yaml
  releasenotes/notes/0.34.0/remove-client-widget-d095628f89b32915.yaml
  releasenotes/notes/0.34.0/remove-trailing-slashes-from-host-2b8418049a0f9ffd.yaml
  releasenotes/notes/0.34.0/surface-non-json-error-responses-2e8d4c7a1f5b9036.yaml
Due: none

Fix release note categories and reword provider job listing note
  releasenotes/notes/0.34.0/add-cotengrust-dependency-e7b273eb496ca9b4.yaml
  releasenotes/notes/0.34.0/hide-cross-author-job-result-7f3b1c9e5a2d4078.yaml
  releasenotes/notes/0.34.0/ray-optional-client-1605-3f7a9c2e5b1d8046.yaml
Due: none

Polish 0.34.0 release notes
  releasenotes/notes/0.34.0/add-cotengrust-dependency-e7b273eb496ca9b4.yaml
  releasenotes/notes/0.34.0/bump-qiskit-2.2-drop-symengine-7c1e9f0a2b4d6835.yaml
  releasenotes/notes/0.34.0/fix-job-status-sub-status-d3a7c1e8f2b94a05.yaml
  releasenotes/notes/0.34.0/remove-client-widget-d095628f89b32915.yaml
Due: none

Add prelude for 0.34.0 release notes
  releasenotes/notes/0.34.0/prelude-0.34.0-a3f1c8e2d4b07692.yaml
Due: none

Add /release-notes skill for drafting and reviewing release notes
  .claude/skills/release-notes.md
Due: none

Add GPU to the backoffice
  gateway/api/admin.py
Due: lint-gateway

Add GPU to the backoffice (#2353)
  gateway/api/admin.py
Due: lint-gateway

removed name from BaseClient and changed `__eq__` and `__repr__`
  client/qiskit_serverless/core/client.py
Due: lint-client

removed name attribute from `ServerlessClient`
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

Fix skill: never call reno new (triggers interactive version picker), generate hex suffix directly
  .claude/skills/release-notes.md
Due: none

lint
  client/qiskit_serverless/core/client.py
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

Skill: collect draft release URL and version number upfront before any steps
  .claude/skills/release-notes.md
Due: none

update aqc-tensor version
  gateway/tests/api/test_v1_dependencies.py
  ray-node/requirements-dynamic-dependencies.txt
Due: lint-gateway

Added release note for updating aqc-tensor version
  releasenotes/notes/bump-qiskit-addon-aqc-tensor-4a34476ed557217d.yaml
Due: none

wipe Fleets job env_vars from DB immediately after submission
  gateway/scheduler/schedule.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

Update AQC Tensor Addon Version (#2355)
  gateway/tests/api/test_v1_dependencies.py
  ray-node/requirements-dynamic-dependencies.txt
  releasenotes/notes/bump-qiskit-addon-aqc-tensor-4a34476ed557217d.yaml
Due: lint-gateway

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
