Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Specify Python 3.11 for tox test environments
  tox.ini
Due: none

Added libmagic to the list of tool requirements
  CONTRIBUTING.md
Due: none

moved secrets to templates and remove create
  charts/qiskit-serverless/charts/gateway/templates/secret-key.yaml
  charts/qiskit-serverless/charts/gateway/templates/secret-psql.yaml
  charts/qiskit-serverless/charts/gateway/templates/secret-superuser.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/templates/secret-key.yaml
  charts/qiskit-serverless/templates/secret-psql.yaml
  charts/qiskit-serverless/templates/secret-superuser.yaml
  charts/qiskit-serverless/values.yaml
  docs/custom_images/custom_function/local_cluster/deploy.sh
  tests/tox.ini
Due: none

Update client requirements to qiskit-ibm-runtime>0.47
  client/requirements.txt
Due: none

Standardize Python version for tests and document libmagic dependency (#1987)
  CONTRIBUTING.md
  tox.ini
Due: none

fix database
  gateway/scheduler/metrics/grafana_gateway.json
  gateway/scheduler/metrics/grafana_scheduler.json
Due: none

original golden signal iqp + partners
  gateway/scheduler/metrics/grafana_partners.json
Due: none

original golden signal iqp + partners
  gateway/scheduler/metrics/goldensignal.json
Due: none

fix panels
  gateway/scheduler/metrics/grafana_gateway.json
  gateway/scheduler/metrics/grafana_partners.json
  gateway/scheduler/metrics/grafana_scheduler.json
Due: none

Improve entrypoint files (#1984)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  docker-compose-dev.yaml
  docker-compose.yaml
  gateway/Dockerfile
  gateway/entrypoint-gateway.sh
  gateway/entrypoint-scheduler.sh
  gateway/scripts/scheduler.sh
Due: none

Update client requirements to qiskit-ibm-runtime>0.47 (#1988)
  client/requirements.txt
Due: none

adding filter data to prevent absolut-path attacks
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

add is_active function
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/use_cases/jobs/stop.py
  gateway/core/models.py
Due: lint-gateway

Remove tests
  gateway/tests/api/test_code_engine_models.py
Due: lint-gateway

Add first iteration of CodeEngineProject model and job fields (#1968)
  gateway/api/migrations/0045_codeengineproject_job_fleet_fields.py
  gateway/core/models.py
Due: lint-gateway

Update releasenotes/notes/send_and_get_error_events-66d3fb658cd6f4bd.yaml
  releasenotes/notes/send_and_get_error_events-66d3fb658cd6f4bd.yaml
Due: none

decouple compute resource from runner
  gateway/core/services/runners/abstract_runner.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/runners/ray_runner.py
  gateway/tests/core/test_ray.py
  gateway/tests/core/test_ray_runner.py
Due: lint-gateway

decouple compute resource from runner
  gateway/core/services/runners/abstract_runner.py
  gateway/core/services/runners/fleets_runner.py
  gateway/scheduler/schedule.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

Decouple ComputeResource from the runner interface (#1997)
  gateway/core/services/runners/abstract_runner.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/runners/ray_runner.py
  gateway/scheduler/schedule.py
  gateway/tests/core/test_ray.py
  gateway/tests/core/test_ray_runner.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

add is_active function (#1991)
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/use_cases/jobs/stop.py
  gateway/core/models.py
Due: lint-gateway

bugfix
  client/qiskit_serverless/core/job.py
  client/qiskit_serverless/core/serverless_error.py
  client/qiskit_serverless/utils/errors.py
  gateway/api/use_cases/jobs/create_event.py
  gateway/api/use_cases/jobs/list_events.py
  gateway/api/v1/views/jobs/create_event.py
  gateway/api/v1/views/jobs/get_events.py
  gateway/templates/main.tmpl
  tests/integration/test_jobs.py
  tests/source_files/exception_producer_serverless_error.py
Due: lint-gateway, lint-client, lint-tests

Send error events (#1935)
  client/qiskit_serverless/__init__.py
  client/qiskit_serverless/core/__init__.py
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/job.py
  client/qiskit_serverless/core/job_event.py
  client/qiskit_serverless/core/serverless_error.py
  client/qiskit_serverless/utils/errors.py
  client/tests/core/test_job.py
  gateway/api/access_policies/jobs.py
  gateway/api/use_cases/jobs/create_event.py
  gateway/api/use_cases/jobs/list_events.py
  gateway/api/v1/views/jobs/create_event.py
  gateway/api/v1/views/jobs/get_events.py
  gateway/core/model_managers/job_events.py
  gateway/core/models.py
  gateway/templates/main.tmpl
  gateway/tests/api/test_job.py
  releasenotes/notes/send_and_get_error_events-66d3fb658cd6f4bd.yaml
  tests/integration/test_jobs.py
  tests/source_files/event_error_producer.py
  tests/source_files/exception_producer_other_error.py
  tests/source_files/exception_producer_serverless_error.py
Due: lint-gateway, lint-client, lint-tests

refactor is_alive
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/use_cases/jobs/stop.py
  gateway/core/models.py
  gateway/core/services/runners/abstract_runner.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

Add runner field to Program and Job models
  gateway/api/migrations/0046_alter_config_options_alter_jobevent_options_and_more.py
  gateway/core/models.py
  gateway/main/settings.py
Due: lint-gateway

refactor is_alive
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

Add runner branching logic to scheduler
  gateway/core/services/runners/__init__.py
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
Due: lint-gateway

Add runner support to API serializers and use cases
  gateway/api/serializers.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/use_cases/jobs/stop.py
Due: lint-gateway

Add unit test for Fleets runner
  gateway/tests/core/test_ray_runner.py
Due: lint-gateway

Add runner field to client QiskitFunction and upload
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/function.py
Due: lint-client

fix lint
  gateway/api/migrations/0046_alter_config_options_alter_jobevent_options_and_more.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
Due: lint-gateway

refactor is_alive
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/use_cases/jobs/stop.py
  gateway/core/services/runners/abstract_runner.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

Refactor `is_active()` (#1998)
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/use_cases/jobs/stop.py
  gateway/core/models.py
  gateway/core/services/runners/abstract_runner.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

fix dependency
  gateway/requirements.txt
Due: none

adding minimal ce-swagger-sdk files
  gateway/ce-swagger-sdk/swagger_client/__init__.py
  gateway/ce-swagger-sdk/swagger_client/api/fleets_api.py
  gateway/ce-swagger-sdk/swagger_client/api_client.py
  gateway/ce-swagger-sdk/swagger_client/configuration.py
  gateway/ce-swagger-sdk/swagger_client/models/__init__.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet_cancel.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet_list.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet_prototype.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet_status_details.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet_volume_mount.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet_volume_mount_prototype.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_worker.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_worker_list.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_worker_profile.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_worker_profile_list.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_worker_status_details.py
  gateway/ce-swagger-sdk/swagger_client/rest.py
Due: lint-gateway

merge with main
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
Due: lint-gateway

fix race condition
  gateway/core/services/job_status.py
  gateway/core/services/runners/ray_runner.py
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/tests/core/test_ray_runner.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

linter
  gateway/core/services/job_status.py
  gateway/core/services/runners/ray_runner.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
Due: lint-gateway

Apply suggestion from @avilches
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

refactor
  gateway/api/use_cases/jobs/create_event.py
  gateway/api/use_cases/jobs/set_sub_status.py
  gateway/core/services/job_status.py
  gateway/core/services/runners/ray_runner.py
  gateway/tests/api/test_job.py
  gateway/tests/core/test_ray_runner.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway
