Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Use format_html instead of mark_safe in admin displays (#2336)
  gateway/api/admin.py
Due: lint-gateway

Release Note
  releasenotes/notes/add-cotengrust-dependency-e7b273eb496ca9b4.yaml
Due: none

Update Cotengrust Dependency (#2335)
  gateway/tests/api/test_v1_dependencies.py
  ray-node/requirements-dynamic-dependencies.txt
  releasenotes/notes/add-cotengrust-dependency-e7b273eb496ca9b4.yaml
Due: lint-gateway

Fix missing title field in Program admin form (#2334)
  gateway/api/admin.py
  gateway/tests/test_program_admin.py
Due: lint-gateway

Fix logs()/result() misparsing same-host COS redirects as JSON
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_serverless_client_jobs.py
Due: lint-client

Give informative auth errors instead of "Credentials couldn't be verified"
  client/qiskit_serverless/core/clients/serverless_client.py
  gateway/api/authentication.py
  gateway/api/use_cases/authentication.py
  gateway/tests/api/authentication/custom_token/test_ibm_quantum_platform.py
Due: lint-gateway, lint-client

updated docs and releasenotes.
  docs/function_features/basic/03_distributed_workloads.ipynb
  docs/function_features/basic/source_files/function_with_parallel_workflow.py
  releasenotes/notes/deprecate-distribute-task-decorators-1586.yaml
Due: none

Added gpu bool field to Program model
  gateway/core/models.py
Due: lint-gateway

updated `_runner_config` to fetch Program.gpu
  gateway/api/use_cases/programs/run.py
Due: lint-gateway

deleted `create_gpujob_allowlist()`
  gateway/core/utils.py
Due: lint-gateway

deleted the gateway setting `GATEWAY_GPU_JOBS_CONFIG`
  gateway/main/settings.py
Due: lint-gateway

removed gpu charts and `gpu-jobs.json`
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  gateway/api/v1/gpu-jobs.json
Due: none

Load an optional local .env file when ENV_FILE is set
  .dockerignore
  gateway/.dockerignore
  gateway/manage.py
  gateway/requirements.txt
Due: lint-gateway

migration for `Program.gpu`
  gateway/api/migrations/0055_program_gpu.py
Due: lint-gateway

cleanup of imports
  gateway/api/use_cases/programs/run.py
  gateway/core/utils.py
Due: lint-gateway

updated test to use 'Program.gpu`
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

added releasenotes
  releasenotes/notes/add-gpu-field-to-program-model-7ee4a6a52c8cf43a.yaml
Due: none

Load an optional local .env file when ENV_FILE is set (#2340)
  .dockerignore
  gateway/.dockerignore
  gateway/manage.py
  gateway/requirements.txt
Due: lint-gateway

fix tests
  tests/integration/execution/test_files_execution.py
  tests/integration/execution/test_jobs_execution.py
  tests/integration/storage/test_files_storage.py
  tests/integration/storage/test_jobs_storage.py
Due: lint-tests

fix lint
  tests/integration/execution/test_jobs_execution.py
Due: lint-tests

added help_text to the new field Program.gpu
  gateway/core/models.py
Due: lint-gateway

Update requirements.txt
  client/requirements.txt
Due: none

Update releasenotes/notes/remove-client-widget-d095628f89b32915.yaml
  releasenotes/notes/remove-client-widget-d095628f89b32915.yaml
Due: none

Surface HTTP status + body on non-JSON error responses
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/utils/json.py
  client/tests/core/test_serverless_client_jobs.py
  client/tests/utils/test_json.py
Due: lint-client

Field is now nullable in cse we need to rollback
  gateway/core/models.py
Due: lint-gateway

fix names
  tests/integration/execution/test_jobs_execution.py
Due: lint-tests

Remove widget from client (#2229)
  client/qiskit_serverless/core/client.py
  client/qiskit_serverless/visualization/__init__.py
  client/qiskit_serverless/visualization/widget.py
  client/requirements.txt
  releasenotes/notes/remove-client-widget-d095628f89b32915.yaml
Due: lint-client

Deprecation Serverless client decorators (#2328)
  client/qiskit_serverless/core/decorators.py
  client/tests/core/test_decorator.py
  docs/function_features/basic/03_distributed_workloads.ipynb
  docs/function_features/basic/source_files/function_with_parallel_workflow.py
  releasenotes/notes/deprecate-distribute-task-decorators-1586.yaml
Due: lint-client

Fix/surface non json error responses (#2345)
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/utils/json.py
  client/tests/core/test_serverless_client_jobs.py
  client/tests/utils/test_json.py
Due: lint-client

Use w3id SSO credentials from Secrets Manager (#2327)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/templates/w3id-sso-credentials.yaml
Due: none

IBM w3id SSO login for the backoffice (#2295)
  docker-compose-dev.yaml
  gateway/api/authentication_oidc.py
  gateway/api/context_processors.py
  gateway/api/static/admin/css/carbon_theme.css
  gateway/main/settings.py
  gateway/main/urls.py
  gateway/requirements.txt
  gateway/templates/admin/login.html
  gateway/tests/api/authentication/w3id_sso/__init__.py
  gateway/tests/api/authentication/w3id_sso/test_w3id_sso.py
Due: lint-gateway

add release note
  releasenotes/notes/remove-trailing-slashes-from-host-2b8418049a0f9ffd.yaml
Due: none

Upgrade fleet-worker base image build tools to patch CVEs
  tests/fleets/fleet-worker/Dockerfile
Due: none

Upgrade fleet-worker base image build tools to patch CVEs (#2346)
  tests/fleets/fleet-worker/Dockerfile
Due: none

updated ubi9-minimal
  ray-node/Dockerfile
  ray-node/Dockerfile.arm64
Due: none

update ubi9-micro
  gateway/Dockerfile
Due: none

update ubi9
  gateway/Dockerfile
Due: none

Update UBI base images (#2347)
  gateway/Dockerfile
  ray-node/Dockerfile
  ray-node/Dockerfile.arm64
Due: none

Use logger.exception to include traceback for RuntimeFunctionsException
  gateway/api/authentication.py
Due: lint-gateway

Fix test_decorator: guard deprecation-warning tests behind ray_installed skip
  client/tests/core/test_decorator.py
Due: lint-client

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
