Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Refactor FleetHandler: 429 retry, _wait_until_state, CE secret HMAC discovery
  gateway/core/services/ibm_cloud/code_engine/fleets/cos.py
  gateway/core/services/ibm_cloud/code_engine/fleets/fleet_handler.py
  gateway/core/services/ibm_cloud/code_engine/fleets/fleet_utils.py
  gateway/core/services/ibm_cloud/code_engine/fleets/fleet_workers.py
Due: lint-gateway

Update unit tests and register integration pytest marker
  gateway/.pylintrc
  gateway/tests/conftest.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
Due: lint-gateway

Add FleetHandler integration test with PDS mounts and COS log verification
  gateway/ce-swagger-sdk/swagger_client/__init__.py
  gateway/ce-swagger-sdk/swagger_client/api/__init__.py
  gateway/ce-swagger-sdk/swagger_client/models/__init__.py
  gateway/ce-swagger-sdk/swagger_client/models/pagination_list_first_metadata.py
  gateway/ce-swagger-sdk/swagger_client/models/pagination_list_next_metadata.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_env_var.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_network_placement.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_task_progress.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_task_state_store.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_tasks_specification.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler_integration.py
Due: lint-gateway

Add business_model to job table + migration (#2028)
  gateway/api/migrations/0047_job_business_model.py
  gateway/api/migrations/0048_job_business_model_backfill.py
  gateway/api/migrations/0049_job_business_model_not_null.py
  gateway/api/serializers.py
  gateway/core/models.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

Fix propagation of compute_profile and adjusts misconfigured tests
  gateway/api/serializers.py
  gateway/api/v1/views/jobs/list.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/api/views/programs.py
  gateway/tests/api/test_compute_profile.py
Due: lint-gateway

[WIP] Init changes
  gateway/main/settings.py
  gateway/scheduler/schedule.py
  gateway/tests/scheduler/test_schedule.py
  gateway/tests/utils.py
Due: lint-gateway

Clarify Fleets/Ray runner config separation. Replace _get_compute_profile() and _should_use_gpu() with unified _get_runner_config() that explicitly branches on runner type.
  gateway/api/serializers.py
  gateway/tests/api/test_compute_profile.py
Due: lint-gateway

Fix lint
  gateway/api/serializers.py
  gateway/api/views/programs.py
Due: lint-gateway

minor fixes
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/job.py
  gateway/api/serializers.py
  gateway/api/v1/serializers.py
Due: lint-gateway, lint-client

linter + test
  client/qiskit_serverless/core/function.py
  client/tests/core/test_serverless_client_jobs.py
Due: lint-client

Add unique index over program with provider and author
  gateway/api/migrations/0050_unique_program_constraints.py
  gateway/core/models.py
Due: lint-gateway

Add compute profile field (#2031)
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/function.py
  client/qiskit_serverless/core/job.py
  client/tests/core/test_serverless_client_jobs.py
  gateway/api/serializers.py
  gateway/api/v1/serializers.py
  gateway/api/v1/views/jobs/list.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/api/views/programs.py
  gateway/main/settings.py
  gateway/tests/api/test_compute_profile.py
Due: lint-gateway, lint-client

fix test
  gateway/api/migrations/0050_unique_program_constraints.py
  gateway/api/serializers.py
  gateway/tests/scheduler/management/test_migrate_old_job_logs.py
Due: lint-gateway

remove only specific validator
  gateway/api/serializers.py
Due: lint-gateway

Rename legacy OT_JAEGER_* env vars to standard OTEL_* names in client SDK
  client/qiskit_serverless/core/constants.py
  client/qiskit_serverless/core/decorators.py
  client/qiskit_serverless/core/tracing.py
Due: lint-client

Consolidate duplicate OTLP setup in gateway into main/tracing.py
  gateway/api/views/programs.py
  gateway/core/services/runners/ray_runner.py
  gateway/main/tracing.py
  gateway/manage.py
Due: lint-gateway

Rename Helm chart env vars and add Jaeger to docker-compose-dev
  charts/qiskit-serverless/charts/gateway/templates/rayclustertemplate.yaml
  docker-compose-dev.yaml
Due: none

Add Django auto-instrumentation for automatic HTTP request tracing
  gateway/main/tracing.py
  gateway/requirements.txt
Due: lint-gateway

Simplify trace decorator to use implicit active context
  gateway/api/decorators/trace_decorator.py
Due: lint-gateway

Add psycopg2 auto-instrumentation for automatic DB query spans
  gateway/main/tracing.py
  gateway/requirements.txt
Due: lint-gateway

Move tracing setup to AppConfig.ready() so it runs in the Django reloader child process
  gateway/api/apps.py
  gateway/manage.py
Due: lint-gateway

Remove JobWorkers: no planned use in this PR
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler_integration.py
Due: lint-gateway

Simplify COS HMAC to hmac_secret_name only
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_job_cos_unit.py
Due: lint-gateway

Drop swagger-sdk path hacks; exclude ce_client from lint and coverage
  .gitignore
  gateway/.coveragerc
  gateway/.pylintrc
  gateway/Dockerfile
  gateway/pytest.ini
  gateway/tox.ini
Due: none

Update test imports for new core/ibm_cloud paths
  gateway/tests/core/services/ibm_cloud/cos/test_cos_client_unit.py
  gateway/tests/core/services/ibm_cloud/test_clients_unit.py
Due: lint-gateway

Prevent gateway/media/ from being created during test runs. Fixes PathBuilder.absolute_path() eagerly calling os.makedirs against the real MEDIA_ROOT during test execution.
  gateway/tests/conftest.py
  gateway/tests/scheduler/management/test_migrate_old_job_logs.py
Due: lint-gateway

Refactor test to use pytest-native features
  gateway/tests/scheduler/management/test_migrate_old_job_logs.py
Due: lint-gateway

Prevent gateway/media/ from being created during test runs (#2037)
  gateway/tests/conftest.py
  gateway/tests/scheduler/management/test_migrate_old_job_logs.py
Due: lint-gateway
