Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Restore error code in not-found log
  gateway/core/services/storage/result_storage_fleets.py
Due: lint-gateway

Use str|None over Optional in FleetsResultStorage
  gateway/core/services/storage/result_storage_fleets.py
Due: lint-gateway

refactor the usage of settings
  gateway/core/services/runners/fleets_runner.py
Due: lint-gateway

added compute profile to deployment
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

remove unused fleets values
  gateway/main/settings.py
Due: lint-gateway

added settings for ce in the project
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/values.yaml
  gateway/main/settings.py
Due: lint-gateway

removed FLEETS_DEFAULT_CPU_LIMIT and FLEETS_DEFAULT_MEMORY_LIMIT
  gateway/core/services/runners/fleets_runner.py
  gateway/main/settings.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

removed logic for _sync_single
  gateway/api/management/commands/sync_ce_project.py
  gateway/main/settings.py
Due: lint-gateway

added max instances to the deployment
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

Base64-encode Python wrapper in run_commands
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
Due: lint-gateway

update values for ce configuration
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
Due: none

added if for api key secret
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
Due: none

removed CE_COS_ENDPOINT_URL as is not being used
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
Due: none

Apply review suggestion (remove shutil import)
  gateway/templates/fleet_custom_job_wrapper.py
  gateway/templates/fleet_provider_job_wrapper.py
Due: lint-gateway

Apply review suggestion: remove build_run_commands
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_template.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_utils.py
Due: lint-gateway

remove hmac settings key and key_id
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  gateway/main/settings.py
Due: lint-gateway

Update gateway/api/management/commands/sync_ce_project.py
  gateway/api/management/commands/sync_ce_project.py
Due: lint-gateway

Update values and settings for CE integration (#2205)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/api/management/commands/sync_ce_project.py
  gateway/core/services/runners/fleets_runner.py
  gateway/main/settings.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Update Ray node dockerfile to generate new mount dirs. for fleets alongside ray directories
  ray-node/Dockerfile
Due: none

Fix test after changing env vars
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Shifted the validation for the account to qiskit ibm runtime
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

added deprecation warning for 'name' attribute in the 'BaseClient' class
  client/qiskit_serverless/core/client.py
Due: lint-client

Apply suggestion from @avilches
  gateway/core/services/storage/result_storage_fleets.py
Due: lint-gateway

feat: add function_id to event data payload
  gateway/core/ibm_cloud/event_streams/event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

Remove gateway /result fallback from save_result
  client/qiskit_serverless/core/job.py
  client/tests/core/test_job.py
Due: lint-client

refactor and comments
  gateway/api/use_cases/jobs/retrieve.py
  gateway/api/v1/views/jobs/save_result.py
Due: lint-gateway

fix: raise on publish failure to block DB update and retry next iteration
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

Move FleetsResultStorage tests to their own file
  gateway/tests/core/services/storage/test_result_storage.py
  gateway/tests/core/services/storage/test_result_storage_fleets.py
Due: lint-gateway

Reorganize result tests; fix retrieve preserving inline DB result
  gateway/api/use_cases/jobs/retrieve.py
  gateway/tests/api/test_job.py
Due: lint-gateway

Fix get_result: fall back to DB value when storage returns None
  gateway/api/use_cases/jobs/retrieve.py
Due: lint-gateway

Remove gateway /result fallback from save_result (#2207)
  client/qiskit_serverless/core/job.py
  client/tests/core/test_job.py
Due: lint-client

refactor: move emit_job_in_progress into update_job_status
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

feat: add EVENT_STREAMS_ENABLED feature flag with no-op client fallback
  gateway/core/ibm_cloud/event_streams/event_streams_client.py
  gateway/main/settings.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
Due: lint-gateway

Refactor entrypoint upload for custom/provider functions + COS variable management for Fleets (#2173)
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/templates/fleet_custom_job_wrapper.py
  gateway/templates/fleet_provider_job_wrapper.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_template.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_utils.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  ray-node/Dockerfile
Due: lint-gateway

Move code_engine_project FK from Job to Program
  docker-compose-dev.yaml
  gateway/api/admin.py
  gateway/api/management/commands/sync_ce_project.py
  gateway/api/migrations/0053_remove_codeengineproject_zone_and_more.py
  gateway/api/serializers.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/use_cases/jobs/retrieve.py
  gateway/api/use_cases/jobs/save_result.py
  gateway/core/model_managers/code_engine_projects.py
  gateway/core/models.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/arguments_storage_fleets.py
  gateway/core/services/storage/logs_storage_fleets.py
  gateway/core/services/storage/result_storage_fleets.py
  gateway/main/settings.py
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_compute_profile.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/api/use_cases/jobs/test_logs_use_cases_fleets.py
  gateway/tests/core/model_managers/test_code_engine_projects.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/core/services/storage/test_arguments_storage_fleets.py
  gateway/tests/core/services/storage/test_logs_storage_fleets.py
  gateway/tests/core/services/storage/test_result_storage_fleets.py
Due: lint-gateway

Add mount invariant test for FleetJobPaths COS-to-container paths
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_utils.py
Due: lint-gateway

Derive container_* paths from cos_* via _paired helper in build_*_job_paths
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_utils.py
Due: lint-gateway

Apply suggestion from @avilches
  gateway/api/v1/views/jobs/save_result.py
Due: lint-gateway

Apply suggestion from @avilches
  gateway/tests/core/services/storage/test_result_storage.py
Due: lint-gateway
