Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Update client logs() and provider_logs() to handle 302 redirect and 204
  client/tests/core/test_serverless_client_jobs.py
Due: lint-client

Add LogsResult dataclass for log use case return type
  gateway/api/use_cases/jobs/logs_result.py
Due: lint-gateway

Add implementation plan: Fleet logs presigned URL redirect
  docs/superpowers/plans/2026-06-01-fleet-logs-presigned-url.md
Due: none

Add head_object and get_presigned_url to JobCOS
  gateway/core/ibm_cloud/code_engine/fleets/cos.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_job_cos_unit.py
Due: lint-gateway

minor
  docs/superpowers/specs/2026-05-29-fleet-logs-presigned-url-design.md
Due: none

minor
  gateway/api/use_cases/jobs/get_logs.py
  specs/LOGS.md
Due: lint-gateway

Fleets logs: return presigned URL redirect instead of buffering content (#2186)
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_serverless_client_jobs.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/logs_result.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/v1/views/jobs/get_logs.py
  gateway/api/v1/views/jobs/provider_logs.py
  gateway/core/ibm_cloud/code_engine/fleets/cos.py
  gateway/core/ibm_cloud/cos/cos_client.py
  gateway/core/services/storage/logs_storage.py
  gateway/core/services/storage/logs_storage_fleets.py
  gateway/core/services/storage/logs_storage_ray.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/use_cases/jobs/test_logs_use_cases_fleets.py
  gateway/tests/api/use_cases/jobs/test_provider_logs.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_job_cos_unit.py
  gateway/tests/core/services/ibm_cloud/cos/test_cos_client_unit.py
  gateway/tests/core/services/storage/test_logs_storage.py
  gateway/tests/core/services/storage/test_logs_storage_fleets.py
  specs/LOGS.md
Due: lint-gateway, lint-client

Add presigned URL redirect for Fleet job results
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_serverless_client_jobs.py
  gateway/api/use_cases/jobs/get_result.py
  gateway/api/use_cases/jobs/result_fetch_result.py
  gateway/api/use_cases/jobs/retrieve.py
  gateway/api/v1/views/jobs/save_result.py
  gateway/core/services/storage/result_storage.py
  gateway/core/services/storage/result_storage_fleets.py
  gateway/core/services/storage/result_storage_ray.py
  gateway/tests/api/test_job.py
  gateway/tests/api/use_cases/jobs/test_result_use_cases_fleets.py
  gateway/tests/core/services/storage/test_result_storage.py
  gateway/tests/core/services/storage/test_result_storage_fleets.py
Due: lint-gateway, lint-client

Inline GET result logic in view, restore swagger, remove use case
  gateway/api/use_cases/jobs/get_result.py
  gateway/api/use_cases/jobs/result_fetch_result.py
  gateway/api/v1/views/jobs/save_result.py
  gateway/tests/api/test_job.py
  gateway/tests/api/use_cases/jobs/test_result_use_cases_fleets.py
Due: lint-gateway

Add head_object and get_presigned_url to JobCOS; fix unused imports
  gateway/api/v1/views/jobs/save_result.py
Due: lint-gateway

Remove get_url from ResultStorage interface and Ray; add with_result=false to job()
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_serverless_client_jobs.py
  gateway/api/v1/views/jobs/save_result.py
  gateway/core/services/storage/result_storage.py
  gateway/core/services/storage/result_storage_ray.py
  gateway/tests/api/test_job.py
  gateway/tests/core/services/storage/test_result_storage.py
Due: lint-gateway, lint-client

refactor: move IBMEventStreamsClient to event_streams module
  gateway/core/ibm_cloud/clients.py
  gateway/core/ibm_cloud/event_streams/__init__.py
  gateway/core/ibm_cloud/event_streams/event_streams_client.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/services/ibm_cloud/event_streams/__init__.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/test_clients_unit.py
Due: lint-gateway

Restore original result test names; add test for dedicated /result/ endpoint
  client/tests/core/test_serverless_client_jobs.py
Due: lint-client

Restore in arguments storage, save at serializer stage and not fleets runner.
  gateway/api/serializers.py
  gateway/core/services/runners/fleets_runner.py
Due: lint-gateway

Undo debug print
  gateway/api/serializers.py
Due: lint-gateway

Fix tests after moving argument storage
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Revert FleetsResultStorage.save() to NotImplementedError
  gateway/core/services/storage/result_storage_fleets.py
  gateway/tests/core/services/storage/test_result_storage_fleets.py
Due: lint-gateway

Extract GetJobResultUseCase; rename TestJobMethod to TestRetrieveJobMethod
  client/tests/core/test_serverless_client_jobs.py
  gateway/api/use_cases/jobs/get_result.py
  gateway/api/use_cases/jobs/job_result.py
  gateway/api/v1/views/jobs/save_result.py
  gateway/tests/api/test_job.py
Due: lint-gateway, lint-client

Move test_result_uses_dedicated_result_endpoint to TestResultMethod
  client/tests/core/test_serverless_client_jobs.py
Due: lint-client

fix wrapper tests for colima
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_template.py
  gateway/tests/resources/tmp/.gitkeep
Due: lint-gateway

remove dead logs()/provider_logs() from AbstractRunner and FleetRunner
  gateway/core/services/runners/abstract_runner.py
  gateway/core/services/runners/fleets_runner.py
Due: lint-gateway

stream Ray logs line by line into deque[str] with rolling buffer
  gateway/core/services/runners/ray_runner.py
  gateway/tests/core/test_ray.py
  gateway/tests/core/test_ray_runner.py
Due: lint-gateway

update save_logs_to_storage to accept deque[str], remove check_logs call
  gateway/scheduler/tasks/update_ray_jobs_statuses.py
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

refactor filter_logs: accept Iterable[str] instead of full string
  gateway/core/domain/filter_logs.py
  gateway/tests/api/domain/functions/test_filter_logs.py
Due: lint-gateway

Fix streaming logs to use client address and update tests
  gateway/core/services/runners/ray_runner.py
  gateway/tests/core/test_ray.py
  gateway/tests/core/test_ray_runner.py
Due: lint-gateway

Stream Ray job logs with rolling buffer to bound memory usage
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

Restore test_result_includes_with_result_true_param
  client/tests/core/test_serverless_client_jobs.py
Due: lint-client

extract _seek_log_marker and _consume_logs helpers from _stream_logs_from_ray
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

add large-logs integration test (disabled by default, LARGE_LOGS_TEST=1 to enable)
  tests/integration/test_jobs.py
  tests/source_files/large_logs_generator.py
  tests/tox.ini
Due: lint-tests

retry refactor
  gateway/core/services/runners/ray_runner.py
  gateway/tests/scheduler/test_update_jobs_statuses.py
Due: lint-gateway

update get_logs and provider_logs use cases to work with deque[str]
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/tests/api/test_logs.py
Due: lint-gateway

retry logs() on HTTP 5xx and connection errors, fail fast on mid-download
  gateway/core/services/runners/ray_runner.py
  gateway/tests/core/test_ray_runner.py
Due: lint-gateway

fix pylint: move constants to module level, disable inherent streaming parser complexity
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

initialize lines=None to prevent UnboundLocalError on already-terminal jobs
  gateway/scheduler/tasks/update_ray_jobs_statuses.py
  gateway/tests/scheduler/test_update_jobs_statuses.py
Due: lint-gateway

Rename JobResult to GetResultResponse, LogsResult to GetLogsResponse
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/get_logs_response.py
  gateway/api/use_cases/jobs/get_result.py
  gateway/api/use_cases/jobs/get_result_response.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/tests/api/use_cases/jobs/test_logs_use_cases_fleets.py
Due: lint-gateway

Restore license headers and docstrings; remove result_ready; fix view to check raw_result is None
  gateway/api/use_cases/jobs/get_result.py
  gateway/api/use_cases/jobs/get_result_response.py
  gateway/api/v1/views/jobs/save_result.py
  gateway/core/services/storage/result_storage.py
  gateway/core/services/storage/result_storage_fleets.py
  gateway/core/services/storage/result_storage_ray.py
Due: lint-gateway

fix wrapper tests for colima (#2204)
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_template.py
  gateway/tests/resources/tmp/.gitkeep
Due: lint-gateway

Call get_result_storage and get_logs_storage once at top of use case execute()
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/get_result.py
  gateway/tests/api/test_job.py
Due: lint-gateway

Reorder imports in serverless_client
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

Use str|None over Optional; result() always returns dict
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_serverless_client_jobs.py
  gateway/api/use_cases/jobs/get_logs_response.py
  gateway/api/use_cases/jobs/get_result_response.py
Due: lint-gateway, lint-client

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
