Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

specs
  specs/FLEETS_LOGS_UPLOAD.md
Due: none

update specs
  specs/FLEETS_LOGS_UPLOAD.md
Due: none

Implement fleet log size limit and COS upload with Python wrappers
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/templates/fleet_custom_job_wrapper.tmpl
  gateway/templates/fleet_provider_job_wrapper.tmpl
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_template.py
  specs/FLEETS_LOGS_UPLOAD.md
  specs/LOGS.md
Due: lint-gateway

Add design spec: Fleet logs presigned URL redirect
  docs/superpowers/specs/2026-05-29-fleet-logs-presigned-url-design.md
Due: none

Move release notes and add prelude
  releasenotes/notes/0.32.0/default-time-job-in-running_status-b1a6296c58d4dcb3.yaml
  releasenotes/notes/0.32.0/drop-python-3-9-support-19ff2bdc207bfcac.yaml
  releasenotes/notes/0.32.0/error-message-backward-compat-1c923955a0ad8ac9.yaml
  releasenotes/notes/0.32.0/prelude-0.32-fcb6b8257d13cf78.yaml
  releasenotes/notes/0.32.0/runtime-and-telemetry-improvements-f8e0fee796cbaeb8.yaml
Due: none

Update prelude-0.32-fcb6b8257d13cf78.yaml
  releasenotes/notes/0.32.0/prelude-0.32-fcb6b8257d13cf78.yaml
Due: none

removed the check for file existing
  client/qiskit_serverless/core/job.py
  gateway/tests/api/test_utils.py
Due: lint-gateway, lint-client

Refactor fleet wrapper templates into a class
  gateway/templates/fleet_custom_job_wrapper.tmpl
  gateway/templates/fleet_provider_job_wrapper.tmpl
Due: none

refactor file storage
  gateway/api/use_cases/files/delete.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/file_storage_fleets.py
  gateway/core/services/storage/file_storage_ray.py
Due: lint-gateway

Add comments and rename variables in fleet wrapper templates
  gateway/templates/fleet_custom_job_wrapper.tmpl
  gateway/templates/fleet_provider_job_wrapper.tmpl
Due: none

updated api use_cases
  gateway/api/use_cases/files/download.py
  gateway/api/use_cases/files/list.py
  gateway/api/use_cases/files/provider_delete.py
  gateway/api/use_cases/files/provider_download.py
  gateway/api/use_cases/files/provider_list.py
  gateway/api/use_cases/files/provider_upload.py
  gateway/api/use_cases/files/upload.py
Due: lint-gateway

Move inline comments above their property declaration
  gateway/templates/fleet_custom_job_wrapper.tmpl
  gateway/templates/fleet_provider_job_wrapper.tmpl
Due: none

add tests
  gateway/tests/core/services/storage/test_file_storage.py
Due: lint-gateway

fix lint
  gateway/core/services/runners/ray_runner.py
  gateway/core/services/storage/file_storage.py
  gateway/core/services/storage/file_storage_fleets.py
  gateway/core/services/storage/file_storage_ray.py
Due: lint-gateway

Explain 128+sig POSIX convention in on_signal
  gateway/templates/fleet_custom_job_wrapper.tmpl
  gateway/templates/fleet_provider_job_wrapper.tmpl
Due: none

Rename uploader loop variables for clarity
  gateway/templates/fleet_custom_job_wrapper.tmpl
  gateway/templates/fleet_provider_job_wrapper.tmpl
Due: none

Explain SIGTERM and SIGINT in signal handler setup
  gateway/templates/fleet_custom_job_wrapper.tmpl
  gateway/templates/fleet_provider_job_wrapper.tmpl
Due: none

Clarify inode preservation comment
  gateway/templates/fleet_custom_job_wrapper.tmpl
  gateway/templates/fleet_provider_job_wrapper.tmpl
Due: none

fix comments
  gateway/templates/fleet_custom_job_wrapper.tmpl
  gateway/templates/fleet_provider_job_wrapper.tmpl
Due: none

Rename wrapper templates to .py and hoist app_cmd to module level
  .pre-commit-config.yaml
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/pyproject.toml
  gateway/templates/fleet_custom_job_wrapper.py
  gateway/templates/fleet_provider_job_wrapper.py
Due: lint-gateway

Hoist all constants to module level, remove optional size param from upload_log
  gateway/templates/fleet_custom_job_wrapper.py
  gateway/templates/fleet_provider_job_wrapper.py
Due: lint-gateway

Add implementation plan: Fleet logs presigned URL redirect
  docs/superpowers/plans/2026-06-01-fleet-logs-presigned-url.md
Due: none

fix doc
  specs/FLEETS_LOGS_UPLOAD.md
Due: none

Pre-compute TRUNCATION_HEADER as bytes constant; update spec
  gateway/templates/fleet_custom_job_wrapper.py
  gateway/templates/fleet_provider_job_wrapper.py
Due: lint-gateway

refactor
  gateway/templates/fleet_custom_job_wrapper.py
  gateway/templates/fleet_provider_job_wrapper.py
Due: lint-gateway

Fix black extend-exclude to preserve default exclusions
  gateway/pyproject.toml
Due: none

Fix upload permission check: return 404 instead of skipping retrieve
  gateway/api/views/programs.py
Due: lint-gateway

Instances: enforce function-custom.create/run permissions on upload and run
  gateway/api/access_policies/jobs.py
  gateway/api/access_policies/programs.py
  gateway/api/clients/function_access_client.py
  gateway/api/views/programs.py
  gateway/core/domain/authorization/function_access_result.py
  gateway/core/models.py
  gateway/tests/api/access_policies/test_jobs.py
  gateway/tests/api/access_policies/test_programs.py
  gateway/tests/api/clients/conftest.py
  gateway/tests/api/clients/test_function_access_client.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/utils.py
  tests/instances/conftest.py
  tests/instances/test_instance_permissions.py
Due: lint-gateway, lint-tests

Fix pylint warnings after custom auth checks
  gateway/api/views/programs.py
  tests/instances/test_instance_permissions.py
Due: lint-gateway, lint-tests

Fix double flush on signal and use shutil.copyfile in wrappers
  gateway/templates/fleet_custom_job_wrapper.py
  gateway/templates/fleet_provider_job_wrapper.py
  specs/FLEETS_LOGS_UPLOAD.md
Due: lint-gateway

Fix grant() body overwrite, extract _check_custom helper, freeze custom permissions
  gateway/api/access_policies/jobs.py
  gateway/api/access_policies/programs.py
  gateway/core/domain/authorization/function_access_result.py
  gateway/tests/api/clients/conftest.py
Due: lint-gateway

Add head_object and generate_presigned_url to COSClient
  gateway/core/ibm_cloud/cos/cos_client.py
  gateway/tests/core/services/ibm_cloud/cos/test_cos_client_unit.py
Due: lint-gateway

Harden gateway security: secrets, authz, input validation
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  client/qiskit_serverless/core/files.py
  client/qiskit_serverless/serializers/program_serializers.py
  docker-compose.yaml
  gateway/api/serializers.py
  gateway/api/v1/serializers.py
  gateway/api/v1/views/programs.py
  gateway/api/views/programs.py
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/utils.py
  gateway/main/settings.py
Due: lint-gateway, lint-client

Fix truncation header lost on final flush: use >= LIMIT comparison
  gateway/templates/fleet_custom_job_wrapper.py
  gateway/templates/fleet_provider_job_wrapper.py
Due: lint-gateway

Fix concurrent COS writers in flush: wait for uploader thread before final upload
  gateway/templates/fleet_custom_job_wrapper.py
  gateway/templates/fleet_provider_job_wrapper.py
Due: lint-gateway

Register signal handlers after Popen to avoid SIGTERM race with None user_process
  gateway/templates/fleet_custom_job_wrapper.py
  gateway/templates/fleet_provider_job_wrapper.py
Due: lint-gateway

Restore test for FLEETS_LOG_FLUSH_INTERVAL_SECONDS fallback to 15
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
Due: lint-gateway

Use getattr fallback for FUNCTIONS_LOGS_SIZE_LIMIT to match adjacent settings accesses
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
Due: lint-gateway

Show exact bytes in truncation header instead of rounded-down MB
  gateway/templates/fleet_custom_job_wrapper.py
  gateway/templates/fleet_provider_job_wrapper.py
  specs/FLEETS_LOGS_UPLOAD.md
Due: lint-gateway

Add head_object and get_presigned_url to JobCOS
  gateway/core/ibm_cloud/code_engine/fleets/cos.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_job_cos_unit.py
Due: lint-gateway
