Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Add business_model to job get state endpoint
  gateway/api/v1/views/jobs/retrieve.py
  gateway/tests/api/test_job.py
  gateway/tests/core/domain/authorization/test_function_access_entry.py
Due: lint-gateway

program to arguments input
  gateway/api/serializers.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/arguments_storage.py
  gateway/tests/api/test_job.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/core/services/storage/test_arguments_storage.py
Due: lint-gateway

improve tests for arguments storage
  gateway/tests/core/services/storage/test_arguments_storage.py
Due: lint-gateway

add Runtime API /functions tests
  tests/instances/conftest.py
  tests/instances/test_instance_permissions.py
  tests/tox.ini
Due: lint-tests

add Runtime API /functions tests
  tests/instances/conftest.py
  tests/instances/test_instance_permissions.py
Due: lint-tests

add Runtime API /functions tests
  tests/instances/test_instance_permissions.py
Due: lint-tests

Refactor FleetsRunner to 3-mount layout for SDK compatibility
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Add business_model to job get state endpoint (#2091)
  gateway/api/v1/views/jobs/retrieve.py
  gateway/tests/api/test_job.py
  gateway/tests/core/domain/authorization/test_function_access_entry.py
Due: lint-gateway

Refactor FleetsRunner to 3-mount layout for SDK compatibility (#2094)
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Arguments Storage input unification (#2093)
  gateway/api/serializers.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/arguments_storage.py
  gateway/tests/api/test_job.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/core/services/storage/test_arguments_storage.py
Due: lint-gateway

Update minimum django version to 5.2.14
  gateway/requirements.txt
Due: none

Update function names
  gateway/core/models.py
Due: lint-gateway

Update minimum django version to 5.2.14 (#2095)
  gateway/requirements.txt
Due: none

Added instance_crn and account_id to job
  gateway/api/authentication.py
  gateway/api/domain/authentication/custom_authentication.py
  gateway/api/serializers.py
  gateway/api/services/authentication/authentication_base.py
  gateway/api/services/authentication/ibm_quantum_platform.py
  gateway/api/services/authentication/local_authentication.py
  gateway/api/use_cases/authentication.py
  gateway/api/views/programs.py
  gateway/core/models.py
Due: lint-gateway

Add ARGUMENTS_PATH env var for runner-controlled argument file location
  client/qiskit_serverless/core/constants.py
  client/qiskit_serverless/serializers/program_serializers.py
  gateway/api/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/api/test_utils.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway, lint-client

Improve backoffice speed with auto complete long combo box
  gateway/api/admin.py
Due: lint-gateway

rename permission labels
  gateway/core/models.py
Due: lint-gateway

rename permission labels + added retrieve
  gateway/api/access_policies/providers.py
  gateway/api/use_cases/files/provider_delete.py
  gateway/api/use_cases/files/provider_download.py
  gateway/api/use_cases/files/provider_list.py
  gateway/api/use_cases/files/provider_upload.py
  gateway/api/use_cases/jobs/provider_list.py
  gateway/api/use_cases/jobs/retrieve.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/core/models.py
  gateway/tests/api/access_policies/test_jobs.py
  gateway/tests/api/access_policies/test_providers.py
  gateway/tests/api/test_job.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/use_cases/jobs/test_provider_list.py
  gateway/tests/core/domain/authorization/test_function_access_result.py
Due: lint-gateway

Stream Ray job logs with rolling buffer to bound memory usage
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

rename permission labels + added retrieve
  gateway/api/access_policies/providers.py
Due: lint-gateway

new arguments storage structure
  gateway/api/serializers.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/arguments_storage.py
  gateway/core/services/storage/arguments_storage_fleets.py
  gateway/core/services/storage/arguments_storage_ray.py
Due: lint-gateway

Add unit tests for JobRetrieveUseCase
  gateway/tests/api/use_cases/jobs/test_retrieve.py
Due: lint-gateway

added test
  gateway/tests/api/use_cases/jobs/test_retrieve.py
Due: lint-gateway

updated tests
  gateway/tests/api/test_job.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/core/services/storage/test_arguments_storage.py
Due: lint-gateway

Fix streaming logs to use client address and update tests
  gateway/core/services/runners/ray_runner.py
  gateway/tests/core/test_ray.py
  gateway/tests/core/test_ray_runner.py
Due: lint-gateway

Update instance permission tests: rename permission strings, add no-permissions instance and retrieve tests
  tests/instances/conftest.py
  tests/instances/test_instance_permissions.py
Due: lint-tests

wip
  gateway/tests/core/services/ibm_cloud/test_clients_unit.py
  tests/instances/conftest.py
  tests/instances/test_instance_permissions.py
  tests/tox.ini
Due: lint-gateway, lint-tests

Fix lint: disable line-too-long for CRN strings
  tests/instances/conftest.py
  tests/instances/test_instance_permissions.py
Due: lint-tests

Rename should_raise to grant in parametrize
  gateway/tests/api/use_cases/jobs/test_retrieve.py
Due: lint-gateway

Fix bug in logging (wrong unit)
  gateway/core/utils.py
Due: lint-gateway

Avoid double-fetching of the logs when job is in a terminal state
  gateway/scheduler/tasks/update_jobs_statuses.py
Due: lint-gateway

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
