Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
  # pre-commit hooks (fast)
  # - repo: https://github.com/pre-commit/pre-commit-hooks
  #   rev: v5.0.0
  #   hooks:
  #     - id: trailing-whitespace
  #     - id: end-of-file-fixer
  #     - id: check-yaml
  #     - id: check-added-large-files

  # Black on commit
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11

  # Pylint & Mypy only on pre-push (slower checks)
  - repo: local
    hooks:
      # Config located in gateway/.pylintrc
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && pylint -rn api main'
        language: system
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      # Config located in client/.pylintrc
      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && pylint -rn qiskit_serverless tests && mypy --install-types --non-interactive .'
        language: system
        files: ^client/
        types: [python]
        stages: [pre-push]

      # Config located in tests/.pylintrc
      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && pylint -rn docker/test_* docker/conftest.py'
        language: system
        files: ^tests/docker/
        types: [python]
        stages: [pre-push]

make the command collect all the jobs per batches and improve logging
  gateway/scheduler/management/commands/migrate_old_job_logs.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

black
  gateway/scheduler/management/commands/migrate_old_job_logs.py
Due: lint-gateway

gateway e2e tests
  gateway/scheduler/management/commands/schedule_queued_jobs.py
  gateway/scheduler/management/commands/update_jobs_statuses.py
  gateway/scheduler/schedule.py
  gateway/tests_e2e/conftest.py
  gateway/tests_e2e/gateway_client.py
  gateway/tests_e2e/test_auth_e2e.py
  gateway/tox.ini
Due: lint-gateway

gateway e2e tests
  gateway/tests_e2e/test_auth_e2e.py
  gateway/tests_e2e/test_custom_functions.py
  gateway/tests_e2e/test_smoke.py
Due: lint-gateway

allow run docker compose with CustomAuthentication
  docker-compose-dev.yaml
  docker-compose.yaml
  gateway/api/utils.py
Due: lint-gateway

allow run docker compose with CustomAuthentication
  docker-compose-dev.yaml
  docker-compose.yaml
  gateway/README.md
  gateway/api/utils.py
  gateway/core/services/ray.py
  gateway/main/settings.py
  gateway/tests/api/test_utils.py
Due: lint-gateway

fix
  gateway/README.md
  gateway/main/settings.py
Due: lint-gateway

Apply suggestion from @avilches
  gateway/tests_e2e/test_custom_functions.py
Due: lint-gateway

refactor
  gateway/api/services/authentication/ibm_quantum_platform.py
Due: lint-gateway

lint
  gateway/api/services/authentication/ibm_quantum_platform.py
Due: lint-gateway

lint
  gateway/api/serializers.py
  gateway/api/use_cases/files/provider_delete.py
  gateway/api/use_cases/files/provider_download.py
  gateway/api/use_cases/files/provider_list.py
  gateway/api/use_cases/files/provider_upload.py
Due: lint-gateway

Decouple docker tests from Docker Compose
  .github/workflows/integration-tests.yaml
  tests/docker/conftest.py
  tests/tox.ini
Due: lint-tests

add tox environments for docker
  tests/tox.ini
Due: none

set default por to 8000
  tests/docker/conftest.py
Due: lint-tests

set default por to 8000
  .github/workflows/integration-tests.yaml
  tests/docker/conftest.py
  tests/tox.ini
Due: lint-tests

fix
  tests/docker/test_docker_experimental.py
Due: lint-tests

last commit
  .github/workflows/kubernetes-deploy.yaml
  gateway/tox.ini
  tests/basic/01_running_program.py
  tests/basic/02_arguments_and_results.py
  tests/basic/03_dependencies.py
  tests/basic/04_distributed_workloads.py
  tests/basic/05_retrieving_past_results.py
  tests/basic/06_function.py
  tests/basic/function/Sample-Docker
  tests/basic/function/runner.py
  tests/basic/source_files/circuit_utils.py
  tests/basic/source_files/pattern.py
  tests/basic/source_files/pattern_with_arguments.py
  tests/basic/source_files/pattern_with_dependencies.py
  tests/basic/source_files/pattern_with_parallel_workflow.py
  tests/docker/test_decorators.py
  tests/experimental/file_download.py
  tests/experimental/manage_data_directory.py
  tests/experimental/running_programs_using_decorators.py
  tests/experimental/source_files/circuit_utils.py
  tests/experimental/source_files/consume_files.py
  tests/experimental/source_files/data.tar
  tests/experimental/source_files/hello_world.py
  tests/experimental/source_files/produce_files.py
  tests/experimental/source_files/program.py
Due: lint-tests

use local kind tox config
  .github/workflows/kubernetes-deploy.yaml
  tests/kind-config.yaml
  tests/tox.ini
Due: none

fix
  gateway/tox.ini
Due: none

Allow execute Gateway in Docker Compose with CustomAuthentication (#1865)
  docker-compose-dev.yaml
  docker-compose.yaml
  gateway/README.md
  gateway/api/utils.py
  gateway/core/services/ray.py
  gateway/main/settings.py
  gateway/tests/api/test_utils.py
Due: lint-gateway

remove usage tests folder and tox.ini environment configurations
  .github/workflows/integration-tests.yaml
  tests/tox.ini
Due: none

rename env var to match /tests
  gateway/tests_e2e/conftest.py
Due: lint-gateway

fix
  gateway/tests_e2e/test_smoke.py
Due: lint-gateway

Decouple docker tests from Docker Compose (#1867)
  .github/workflows/integration-tests.yaml
  tests/docker/conftest.py
  tests/docker/test_docker_experimental.py
  tests/tox.ini
Due: lint-tests

[create-pull-request] automated change
  charts/qiskit-serverless/Chart.lock
  charts/qiskit-serverless/Chart.yaml
  charts/qiskit-serverless/charts/gateway/Chart.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  client/qiskit_serverless/VERSION.txt
  docker-compose.yaml
  docs/deployment/cloud.rst
  docs/deployment/custom_function/Sample-Dockerfile
  gateway/main/settings.py
Due: lint-gateway

update lost versions
  .github/ISSUE_TEMPLATE/pip_dependency_request.yaml
  CITATION.cff
  docs/deployment/deploying_custom_image_function.rst
  docs/deployment/example_custom_image_function.rst
Due: none

file upload type restriction feature
  gateway/Dockerfile
  gateway/api/v1/views/files/provider_upload.py
  gateway/api/v1/views/files/upload.py
  gateway/api/v1/views/utils.py
  gateway/main/settings.py
  gateway/requirements.txt
  gateway/tests/api/test_v1_files.py
Due: lint-gateway

clean up
  tests/tox.ini
Due: none

Added QUEUE_STATUSES
  gateway/api/models.py
Due: lint-gateway

Added Utils function to check if the limit has been reached
  gateway/api/utils.py
Due: lint-gateway

added check for limit and raised HTTP error 429
  gateway/api/views/programs.py
Due: lint-gateway

added to the settings default value for the number of jobs in queue
  gateway/main/settings.py
Due: lint-gateway

fix local docker download
  charts/qiskit-serverless/Chart.yaml
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  tests/kind-config.yaml
  tests/tox.ini
Due: none

update lost references
  .github/ISSUE_TEMPLATE/pip_dependency_request.yaml
  CITATION.cff
  docs/deployment/deploying_custom_image_function.rst
  docs/deployment/example_custom_image_function.rst
Due: none

fix folder
  .github/workflows/kubernetes-deploy.yaml
Due: none

debug startup
  .github/workflows/kubernetes-deploy.yaml
Due: none

minor refactor
  gateway/tests_e2e/conftest.py
Due: lint-gateway

refactor to simplify serverless client
  tests/docker/conftest.py
Due: lint-tests
