Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Strengthen index test and make execute_fleets_job context keyword-only
  gateway/scheduler/schedule.py
  gateway/tests/core/test_job_model.py
Due: lint-gateway

Add the filler jobs balancer to the scheduler loop
  gateway/scheduler/main.py
  gateway/scheduler/metrics/scheduler_metrics_collector.py
  gateway/scheduler/tasks/balance_filler_jobs.py
  gateway/tests/scheduler/test_balance_filler_jobs.py
Due: lint-gateway

Fix filler jobs balancer review findings
  gateway/scheduler/tasks/balance_filler_jobs.py
  gateway/tests/scheduler/test_balance_filler_jobs.py
Due: lint-gateway

Fix churn-breaker back-off and throttle message findings
  gateway/scheduler/tasks/balance_filler_jobs.py
Due: lint-gateway

Report filler jobs on their own metric instead of mixing them with user demand
  gateway/scheduler/metrics/scheduler_metrics_collector.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/scheduler/tasks/update_job_status_counts.py
  gateway/scheduler/tasks/update_ray_jobs_statuses.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
  gateway/tests/scheduler/test_update_job_status_counts.py
Due: lint-gateway

Count filler jobs separately in the admin dashboard
  gateway/api/admin.py
  gateway/templates/admin/index.html
  gateway/tests/test_admin_dashboard.py
Due: lint-gateway

Rebase the filler column onto the migration that came from main
  gateway/api/migrations/0061_job_filler.py
Due: lint-gateway

Pass the filler author username to the scheduler and stop overlapping rollouts
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

Normalize the default compute profile when a run omits one
  gateway/api/use_cases/programs/run.py
  gateway/tests/api/use_cases/programs/test_run.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Filler jobs for GPU nodes 1/2 (#2450)
  gateway/api/migrations/0061_job_filler.py
  gateway/core/config_key.py
  gateway/core/ibm_cloud/event_streams/abstract_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/noop_event_streams_client.py
  gateway/core/model_managers/job_events.py
  gateway/core/models.py
  gateway/core/services/runners/fleets_runner.py
  gateway/main/settings.py
  gateway/requirements.txt
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_noop_event_streams_client.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/core/test_config.py
  gateway/tests/core/test_job_model.py
  gateway/tests/main/test_settings.py
  gateway/tox.ini
Due: lint-gateway

Add a release note for the filler jobs balancer
  releasenotes/notes/filler-jobs-a1b2c3d4e5f60718.yaml
Due: none

Fix filler job metric review findings
  gateway/api/admin.py
  gateway/scheduler/metrics/scheduler_metrics_collector.py
  gateway/scheduler/tasks/schedule_fleets_jobs.py
  gateway/scheduler/tasks/update_job_status_counts.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
  gateway/tests/scheduler/test_update_job_status_counts.py
  gateway/tests/test_admin_dashboard.py
Due: lint-gateway

Address filler jobs review findings
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  gateway/scheduler/tasks/balance_filler_jobs.py
  gateway/tests/scheduler/test_schedule_fleets_jobs.py
  releasenotes/notes/filler-jobs-64ee7299f42d12d0.yaml
Due: lint-gateway

Address final review findings on the filler jobs balancer
  gateway/scheduler/tasks/balance_filler_jobs.py
  gateway/tests/scheduler/test_update_jobs_statuses.py
  gateway/tests/test_admin_dashboard.py
  releasenotes/notes/filler-jobs-64ee7299f42d12d0.yaml
Due: lint-gateway

deploy: 191b59f606c99f5f2fbb840d4fd19418720ff216
  .buildinfo
  .doctrees/environment.pickle
Due: none

Update requirements.txt
  gateway/requirements.txt
Due: none

Send sizes_map and default_size when uploading a function
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/function.py
  releasenotes/notes/client-upload-function-sizes-5b9e0c3a1d2f4e6a.yaml
Due: lint-client

Drop release note; feature is not yet publicly documented
  releasenotes/notes/client-upload-function-sizes-5b9e0c3a1d2f4e6a.yaml
Due: none

Test that uploads carry the size catalog
  client/tests/core/test_serverless_client_functions.py
Due: lint-client

Align the default profile test with the new deployment default
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Classify filler jobs by compute profile row and align the chart default
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  gateway/scheduler/tasks/balance_filler_jobs.py
  gateway/tests/scheduler/test_balance_filler_jobs.py
Due: lint-gateway

Send sizes_map and default_size when uploading a function (#2454)
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/function.py
  client/tests/core/test_serverless_client_functions.py
Due: lint-client

Make the profile classification and default profile tests test what they claim
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/scheduler/test_balance_filler_jobs.py
Due: lint-gateway

Resolve Code Engine subnet pool id from a configured name
  gateway/api/management/commands/sync_ce_project.py
  gateway/api/migrations/0062_codeengineproject_subnet_pool_name_and_more.py
  gateway/core/ibm_cloud/code_engine/ce_client/__init__.py
  gateway/core/ibm_cloud/code_engine/ce_client/api/subnet_pools_api.py
  gateway/core/ibm_cloud/code_engine/ce_client/models/__init__.py
  gateway/core/ibm_cloud/code_engine/ce_client/models/v2_subnet_pool.py
  gateway/core/ibm_cloud/code_engine/ce_client/models/v2_subnet_pool_list.py
  gateway/core/ibm_cloud/code_engine/fleets/handler.py
  gateway/core/models.py
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/api/test_sync_ce_project.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/utils.py
  releasenotes/notes/fleets-subnet-pool-name-73c596ed166536e8.yaml
Due: lint-gateway

fix version
  client/tests/core/test_serverless_client_functions.py
  client/tests/core/test_serverless_client_jobs.py
Due: lint-client

modify kafka classical metric type
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

Run exactly one scheduler pod, including during a rollout
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  releasenotes/notes/scheduler-single-replica-6e46ca255ebb5bf4.yaml
Due: none

Move the filler index, profile normalization and Recreate strategy to their own PRs
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  gateway/api/migrations/0062_job_job_filler_true_idx.py
  gateway/api/use_cases/programs/run.py
  gateway/core/models.py
  gateway/tests/api/use_cases/programs/test_run.py
  gateway/tests/core/test_job_model.py
  releasenotes/notes/filler-jobs-64ee7299f42d12d0.yaml
Due: lint-gateway

apply comments
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

Add a partial index for filler job lookups
  gateway/api/migrations/0062_job_job_filler_true_idx.py
  gateway/core/models.py
  gateway/tests/core/test_job_model.py
Due: lint-gateway

Validate and normalize the compute profile settings at startup
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  gateway/main/settings.py
  gateway/tests/main/test_settings.py
  releasenotes/notes/canonical-compute-profile-settings-and-filler-index-4aad94e33bdc93cb.yaml
Due: lint-gateway

Run exactly one scheduler pod, including during a rollout (#2457)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  releasenotes/notes/scheduler-single-replica-6e46ca255ebb5bf4.yaml
Due: none

Discard a filler job row when its submit fails before creating the fleet
  gateway/scheduler/tasks/balance_filler_jobs.py
  gateway/tests/scheduler/test_balance_filler_jobs.py
Due: lint-gateway

Validate the compute profile settings at startup and index filler job lookups (#2458)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  gateway/api/migrations/0062_job_job_filler_true_idx.py
  gateway/core/models.py
  gateway/main/settings.py
  gateway/tests/core/test_job_model.py
  gateway/tests/main/test_settings.py
  releasenotes/notes/canonical-compute-profile-settings-and-filler-index-4aad94e33bdc93cb.yaml
Due: lint-gateway

Trust the configured filler slot count and stop filler jobs of another program
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/scheduler/tasks/balance_filler_jobs.py
  gateway/tests/scheduler/test_balance_filler_jobs.py
  releasenotes/notes/filler-jobs-64ee7299f42d12d0.yaml
Due: lint-gateway

Create one filler job per scheduler iteration
  gateway/scheduler/tasks/balance_filler_jobs.py
  gateway/tests/scheduler/test_balance_filler_jobs.py
  releasenotes/notes/filler-jobs-64ee7299f42d12d0.yaml
Due: lint-gateway

Split the balancer run into draining and balancing
  gateway/scheduler/tasks/balance_filler_jobs.py
Due: lint-gateway

Merge migration graph leaves
  gateway/api/migrations/0063_merge_20260902_1720.py
Due: lint-gateway

Split the filler job creation into its two failure cases
  gateway/scheduler/tasks/balance_filler_jobs.py
Due: lint-gateway

Keep Job.updated in sync when bypassing save()
  gateway/api/use_cases/jobs/set_sub_status.py
  gateway/core/models.py
  gateway/scheduler/tasks/update_ray_jobs_statuses.py
  gateway/tests/core/test_job_model.py
  releasenotes/notes/job-updated-timestamp-3f1b8c92ad47e065.yaml
Due: lint-gateway
