Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix methods
  gateway/core/services/storage/file_storage_fleets.py
Due: lint-gateway

fix tests
  gateway/tests/core/services/storage/test_file_storage_fleets.py
Due: lint-gateway

reverted a change in instance name
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

delete visualization folder in client
  client/qiskit_serverless/visualization/__init__.py
  client/qiskit_serverless/visualization/widget.py
Due: lint-client

remove widget from client
  client/qiskit_serverless/core/client.py
Due: lint-client

added release notes
  releasenotes/notes/remove-client-widget-d095628f89b32915.yaml
Due: none

removed 'ipywidgets' dependency from requirements
  client/requirements.txt
Due: none

fix: add FLEETS_GATEWAY_HOST to scheduler env and harden runtime job callback
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  client/qiskit_serverless/utils/runtime_service_client.py
  client/tests/utils/test_runtime_service_client.py
Due: lint-client

Refactor/file storage fleets (#2228)
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/file_storage_fleets.py
  gateway/tests/core/services/storage/test_file_storage_fleets.py
Due: lint-gateway

fix: add FLEETS_GATEWAY_HOST to scheduler env and harden runtime job callback (#2230)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  client/qiskit_serverless/utils/runtime_service_client.py
  client/tests/utils/test_runtime_service_client.py
Due: lint-client

fix the output of the list to only show the names
  gateway/core/services/storage/file_storage_fleets.py
  gateway/tests/core/services/storage/test_file_storage_fleets.py
Due: lint-gateway

fix the output of the list to only show the names (#2231)
  gateway/core/services/storage/file_storage_fleets.py
  gateway/tests/core/services/storage/test_file_storage_fleets.py
Due: lint-gateway

fix test file: add copyright header, remove unused import
  gateway/tests/core/ibm_cloud/cos/test_cos_client_metadata.py
Due: lint-gateway

wire storage_files_link into JobAdmin fieldsets
  gateway/api/admin.py
Due: lint-gateway

add job files view URL to JobAdmin
  gateway/api/admin.py
Due: lint-gateway

fix: add copyright headers to job_file_explorer files
  gateway/core/services/storage/job_file_explorer.py
  gateway/tests/core/services/test_job_file_explorer.py
Due: lint-gateway

fix: use get_fieldsets to append Storage section instead of static fieldsets
  gateway/api/admin.py
Due: lint-gateway

add admin storage files template for Job
  gateway/templates/admin/api/job/files.html
Due: none

add JobFileExplorer service (fleets backend)
  gateway/core/services/storage/job_file_explorer.py
  gateway/tests/core/services/test_job_file_explorer.py
Due: lint-gateway

fix pylint: docstrings, top-level import, reduce locals, disable broad-exception-caught
  gateway/api/admin.py
  gateway/core/services/storage/job_file_explorer.py
Due: lint-gateway

add Ray backend tests for JobFileExplorer
  gateway/tests/core/services/test_job_file_explorer.py
Due: lint-gateway

refactor: use build_job_paths for Fleets prefixes, simplify list_keys
  gateway/core/ibm_cloud/cos/cos_client.py
  gateway/core/services/storage/job_file_explorer.py
  gateway/tests/core/services/test_job_file_explorer.py
Due: lint-gateway

add list_with_metadata to COSClient and JobCOS
  gateway/core/ibm_cloud/code_engine/fleets/cos.py
  gateway/core/ibm_cloud/cos/cos_client.py
  gateway/tests/core/ibm_cloud/__init__.py
  gateway/tests/core/ibm_cloud/cos/__init__.py
  gateway/tests/core/ibm_cloud/cos/test_cos_client_metadata.py
Due: lint-gateway

upload now returns the file name only
  gateway/core/services/storage/file_storage_fleets.py
  gateway/tests/core/services/storage/test_file_storage_fleets.py
Due: lint-gateway

upload now returns the file name only (#2233)
  gateway/core/services/storage/file_storage_fleets.py
  gateway/tests/core/services/storage/test_file_storage_fleets.py
Due: lint-gateway

deploy: d2db9f6ae8b90878b74b23174c5b3a49ada20a96
  .buildinfo
  .doctrees/environment.pickle
Due: none

improve tests files for fleets
  gateway/tests/core/services/storage/test_file_storage_fleets.py
Due: lint-gateway

add arguments_schema field to Program model
  gateway/api/migrations/0053_program_arguments_schema.py
  gateway/core/models.py
Due: lint-gateway

accept arguments_schema in upload endpoint
  gateway/api/serializers.py
  gateway/api/v1/serializers.py
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

improve tests files for fleets (#2234)
  gateway/tests/core/services/storage/test_file_storage_fleets.py
Due: lint-gateway

remove allow_blank from arguments_schema serializer field
  gateway/api/serializers.py
Due: lint-gateway

refactor: _explore_ray uses Ray storage services for path resolution
  gateway/api/admin.py
  gateway/core/services/storage/job_file_explorer.py
  gateway/core/services/storage/logs_storage_ray.py
  gateway/core/services/storage/result_storage_ray.py
  gateway/tests/core/services/test_job_file_explorer.py
Due: lint-gateway

reorder INSTALLED_APPS so api/static shadows django.contrib.admin icons
  gateway/main/settings.py
  gateway/tests/test_carbon_icons.py
Due: lint-gateway

add Carbon action icons to Django admin
  gateway/api/static/admin/img/icon-addlink.svg
  gateway/api/static/admin/img/icon-changelink.svg
  gateway/api/static/admin/img/icon-deletelink.svg
  gateway/api/static/admin/img/icon-hidelink.svg
  gateway/api/static/admin/img/icon-viewlink.svg
Due: none

add Carbon boolean and status icons to Django admin
  gateway/api/static/admin/img/icon-alert.svg
  gateway/api/static/admin/img/icon-no.svg
  gateway/api/static/admin/img/icon-unknown-alt.svg
  gateway/api/static/admin/img/icon-unknown.svg
  gateway/api/static/admin/img/icon-yes.svg
Due: none

add Carbon utility icons to Django admin
  gateway/api/static/admin/img/inline-delete.svg
  gateway/api/static/admin/img/search.svg
  gateway/api/static/admin/img/tooltag-add.svg
  gateway/api/static/admin/img/tooltag-arrowright.svg
Due: none

add Carbon calendar and clock icons to Django admin
  gateway/api/static/admin/img/icon-calendar.svg
  gateway/api/static/admin/img/icon-clock.svg
Due: none

add Carbon sorting sprite to Django admin
  gateway/api/static/admin/img/sorting-icons.svg
Due: none

fix icon-unknown-alt to white for blue-background context, drop unnecessary db mark from test
  gateway/api/static/admin/img/icon-unknown-alt.svg
  gateway/tests/test_carbon_icons.py
Due: lint-gateway

add Carbon theme CSS, IBM Plex fonts and admin base template
  gateway/api/static/admin/css/carbon_theme.css
  gateway/api/static/admin/fonts/ibm-plex-mono-latin.woff2
  gateway/api/static/admin/fonts/ibm-plex-sans-latin.woff2
  gateway/templates/admin/base_site.html
Due: none

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
