Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
  # pre-commit hooks (fast)
  # - repo: https://github.com/pre-commit/pre-commit-hooks
  #   rev: v5.0.0
  #   hooks:
  #     - id: trailing-whitespace
  #     - id: end-of-file-fixer
  #     - id: check-yaml
  #     - id: check-added-large-files

  # Black on commit
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11

  # Pylint & Mypy only on pre-push (slower checks)
  - repo: local
    hooks:
      # Config located in gateway/.pylintrc
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && pylint -rn api main'
        language: system
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      # Config located in client/.pylintrc
      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && pylint -rn qiskit_serverless tests && mypy --install-types --non-interactive .'
        language: system
        files: ^client/
        types: [python]
        stages: [pre-push]

      # Config located in tests/.pylintrc
      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && pylint -rn docker/test_* docker/conftest.py'
        language: system
        files: ^tests/docker/
        types: [python]
        stages: [pre-push]

move to folder
  tests/integration/conftest.py
  tests/integration/source_files/circuit_utils.py
  tests/integration/source_files/consume_files.py
  tests/integration/source_files/data.tar
  tests/integration/source_files/hello_world.py
  tests/integration/source_files/pattern.py
  tests/integration/source_files/pattern_wait.py
  tests/integration/source_files/pattern_with_arguments.py
  tests/integration/source_files/pattern_with_dependencies.py
  tests/integration/source_files/pattern_with_errors.py
  tests/integration/source_files/pattern_with_parallel_workflow.py
  tests/integration/source_files/pattern_with_runtime_wrapper_1.py
  tests/integration/source_files/pattern_with_runtime_wrapper_2.py
  tests/integration/source_files/pattern_with_stop.py
  tests/integration/source_files/pattern_with_sub_status_and_wait.py
  tests/integration/source_files/produce_files.py
  tests/integration/source_files/program.py
  tests/integration/test_decorators.py
  tests/integration/test_docker.py
  tests/integration/test_docker_experimental.py
  tests/integration/test_docker_runtime_staging.py
  tests/tox.ini
Due: none

fix
  .github/workflows/kubernetes-deploy.yaml
Due: none

black and pylint
  gateway/api/utils.py
  gateway/api/views/programs.py
Due: lint-gateway

disabled pylint error for to many return statements
  gateway/api/views/programs.py
Due: lint-gateway

black
  gateway/api/views/programs.py
Due: lint-gateway

Added new option to k8s deployment file and values. Updated README.md
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  gateway/README.md
Due: none

Allow using kind in local tests through Tox (#1873)
  .github/workflows/kubernetes-deploy.yaml
  charts/qiskit-serverless/Chart.yaml
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  tests/docker/conftest.py
  tests/kind-config.yaml
  tests/tox.ini
Due: lint-tests

Remove paaragon from maintainers list
  charts/qiskit-serverless/Chart.yaml
Due: none

Added test for job queue limitation
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

Added releasenotes
  releasenotes/notes/queue_limit_setting-07e5fdde214f55d3.yaml
Due: none

Separate gateway and scheduler dependencies [2/3] (#1868)
  gateway/api/domain/function/__init__.py
  gateway/api/domain/function/check_logs.py
  gateway/api/serializers.py
  gateway/api/use_cases/files/delete.py
  gateway/api/use_cases/files/download.py
  gateway/api/use_cases/files/list.py
  gateway/api/use_cases/files/provider_delete.py
  gateway/api/use_cases/files/provider_download.py
  gateway/api/use_cases/files/provider_list.py
  gateway/api/use_cases/files/provider_upload.py
  gateway/api/use_cases/files/upload.py
  gateway/api/use_cases/jobs/retrieve.py
  gateway/api/use_cases/jobs/save_result.py
  gateway/api/use_cases/jobs/set_sub_status.py
  gateway/api/utils.py
  gateway/core/services/job_status.py
  gateway/core/services/ray.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/arguments_storage.py
  gateway/core/services/storage/enums/__init__.py
  gateway/core/services/storage/enums/working_dir.py
  gateway/core/services/storage/file_storage.py
  gateway/core/services/storage/path_builder.py
  gateway/core/services/storage/result_storage.py
  gateway/core/utils.py
  gateway/scheduler/management/commands/update_jobs_statuses.py
  gateway/scheduler/schedule.py
  gateway/tests/api/test_job.py
  gateway/tests/api/test_utils.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/utils/test_cluster_name_generator.py
  gateway/tests/core/services/__init__.py
  gateway/tests/core/services/storage/__init__.py
  gateway/tests/core/services/storage/test_arguments_storage.py
  gateway/tests/core/services/storage/test_file_storage.py
  gateway/tests/core/services/storage/test_result_storage.py
  gateway/tests/core/test_ray.py
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

Remove paaragon from maintainers list (#1874)
  charts/qiskit-serverless/Chart.yaml
Due: none

Changed name of the setting to `LIMITS_ACTIVE_JOBS_QUEUE_PER_USER` and changed accordingly all var names to have `active` in them.
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  gateway/README.md
  gateway/api/models.py
  gateway/api/utils.py
  gateway/api/views/programs.py
  gateway/main/settings.py
  gateway/tests/api/test_v1_program.py
  releasenotes/notes/queue_limit_setting-07e5fdde214f55d3.yaml
Due: lint-gateway

black
  gateway/main/settings.py
Due: lint-gateway

Remove stray file, update gitignore to avoid accidental log commits in the future.
  .gitignore
  tests/out.log
Due: none

fixed response to return a json
  gateway/api/views/programs.py
Due: lint-gateway

Updated the response to return a json and the message content
  gateway/api/views/programs.py
Due: lint-gateway

lint
  gateway/api/views/programs.py
Due: lint-gateway

added a check for the response in case of a failure
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

Changed `LIMITS_ACTIVE_JOBS_QUEUE_PER_USER` to `LIMITS_ACTIVE_JOBS_PER_USER` and changed all function to match accordingly
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  gateway/README.md
  gateway/api/utils.py
  gateway/api/views/programs.py
  gateway/main/settings.py
  gateway/tests/api/test_v1_program.py
  releasenotes/notes/queue_limit_setting-07e5fdde214f55d3.yaml
Due: lint-gateway

fix lint
  gateway/api/services/storage/__init__.py
  gateway/api/services/storage/logs_storage.py
Due: lint-gateway

fix imports
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/scheduler/management/commands/update_jobs_statuses.py
  gateway/tests/core/services/storage/test_path_builder.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

remove duplicated
  tests/docker/conftest.py
Due: lint-tests

refactor and fix tests, mark flaky tests with skip
  .github/workflows/kubernetes-deploy.yaml
  tests/integration/test_dependencies.py
  tests/integration/test_experimental.py
  tests/integration/test_jobs.py
  tests/integration/test_runtime.py
Due: none

refactor and fix tests, mark flaky tests with skip
  tests/integration/test_jobs.py
Due: none

refactor and fix tests, mark flaky tests with skip
  tests/integration/test_jobs.py
  tests/integration/test_runtime.py
Due: none

Remove stray file, update gitignore to avoid accidental log commits in the future. (#1876)
  .gitignore
  tests/out.log
Due: none

Update tests/integration/test_runtime.py
  tests/integration/test_runtime.py
Due: none

move TestRuntimeIntegration to external folder
  tests/external/test_runtime.py
  tests/integration/source_files/consume_files.py
  tests/integration/test_decorators.py
  tests/integration/test_dependencies.py
  tests/integration/test_experimental.py
  tests/integration/test_jobs.py
  tests/source_files/circuit_utils.py
  tests/source_files/consume_files.py
  tests/source_files/data.tar
  tests/source_files/hello_world.py
  tests/source_files/pattern.py
  tests/source_files/pattern_wait.py
  tests/source_files/pattern_with_arguments.py
  tests/source_files/pattern_with_dependencies.py
  tests/source_files/pattern_with_errors.py
  tests/source_files/pattern_with_parallel_workflow.py
  tests/source_files/pattern_with_runtime_wrapper_1.py
  tests/source_files/pattern_with_runtime_wrapper_2.py
  tests/source_files/pattern_with_stop.py
  tests/source_files/pattern_with_sub_status_and_wait.py
  tests/source_files/produce_files.py
  tests/source_files/program.py
  tests/tox.ini
Due: none

new external tests workflow
  .github/workflows/external-tests.yaml
  .github/workflows/kubernetes-deploy.yaml
Due: none

fix workflow name and load docker images
  .github/workflows/external-tests.yaml
  tests/tox.ini
Due: none

fix imports
  gateway/api/serializers.py
  gateway/api/signals.py
  gateway/api/use_cases/authentication.py
  gateway/api/use_cases/files/delete.py
  gateway/api/use_cases/files/download.py
  gateway/api/use_cases/files/list.py
  gateway/api/use_cases/files/provider_delete.py
  gateway/api/use_cases/files/provider_download.py
  gateway/api/use_cases/files/provider_list.py
  gateway/api/use_cases/files/provider_upload.py
  gateway/api/use_cases/files/upload.py
  gateway/api/v1/serializers.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/api/v1/views/jobs/save_result.py
  gateway/api/v1/views/jobs/set_sub_status.py
  gateway/api/views/programs.py
  gateway/core/apps.py
  gateway/core/utils.py
  gateway/scheduler/apps.py
  gateway/tox.ini
Due: lint-gateway

fix image load
  tests/tox.ini
Due: none

resolve merge conflicts
  gateway/api/utils.py
  gateway/core/services/ray.py
  gateway/scheduler/management/commands/update_jobs_statuses.py
Due: lint-gateway

create job events of status and sub-status changes
  gateway/api/migrations/0042_jobevents.py
  gateway/api/model_managers/JobEvents.py
  gateway/api/models.py
  gateway/api/serializers.py
  gateway/api/use_cases/jobs/set_sub_status.py
  gateway/api/use_cases/jobs/stop.py
  gateway/core/services/job_status.py
  gateway/scheduler/management/commands/schedule_queued_jobs.py
  gateway/scheduler/management/commands/update_jobs_statuses.py
  gateway/tests/api/test_job.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

add event type
  gateway/api/migrations/0042_jobevents.py
  gateway/api/model_managers/JobEvents.py
  gateway/api/models.py
  gateway/tests/api/test_job.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

changed the test name and data placement
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

Added an Exception class and raise an exception when active queue limit is reached
  gateway/api/domain/exceptions/active_job_limit_exceeded_exception.py
  gateway/api/v1/endpoint_handle_exceptions.py
  gateway/api/views/programs.py
Due: lint-gateway

Added a `TestUtils` class
  gateway/tests/utils.py
Due: lint-gateway

black
  gateway/api/domain/exceptions/active_job_limit_exceeded_exception.py
  gateway/api/v1/endpoint_handle_exceptions.py
  gateway/api/views/programs.py
Due: lint-gateway
