Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Prepare 0.33.0 release notes and dependency bumps (#2324)
  gateway/tests/api/test_v1_dependencies.py
  ray-node/requirements-dynamic-dependencies-arm64.txt
  ray-node/requirements-dynamic-dependencies.txt
  releasenotes/notes/0.33.0/bump-aqc-tensor-0.3.0-9e4a7c2f1b60d835.yaml
  releasenotes/notes/0.33.0/bump-qiskit-ibm-runtime-0.47-6c1f9a2d8b34e057.yaml
  releasenotes/notes/0.33.0/bump-ray-node-dynamic-deps-2a8d5f13c7e94b60.yaml
  releasenotes/notes/0.33.0/deprecate-widget-and-client-name-a3f1c8e2d4b07691.yaml
  releasenotes/notes/0.33.0/download-target-basename-7d2b1e4c9a6f0e83.yaml
  releasenotes/notes/0.33.0/fix-ray-provider-result-path-0b3c1d2e4f5a6b7c.yaml
  releasenotes/notes/0.33.0/ibm-client-run-backend-validation-a9c0e2609474f9bd.yaml
  releasenotes/notes/0.33.0/prelude-0.33.0-5e9a1c7b4d2f8036.yaml
  releasenotes/notes/0.33.0/runtime-service-authentication-2c0d96730c4025c2.yaml
  releasenotes/notes/deprecate-widget-and-client-name-a3f1c8e2d4b07691.yaml
Due: lint-gateway

Fix authentication for non-default-region CRNs (e.g. eu-de) (#2325)
  gateway/api/clients/function_access_client.py
  gateway/main/settings.py
  gateway/tests/api/clients/test_function_access_client.py
  releasenotes/notes/0.33.0/fix-eu-de-region-auth-4b8c2e9f1a6d0357.yaml
Due: lint-gateway

Harden Ray cluster pod security context (#2318)
  charts/qiskit-serverless/charts/gateway/templates/raycertgen.yaml
  charts/qiskit-serverless/charts/gateway/templates/rayclustertemplate.yaml
Due: none

deploy: 39f85dd47cc1580bc579667ef03147febf901e7e
  .buildinfo
  .doctrees/environment.pickle
Due: none

update serializer test to reflect title-only upload being valid
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

Never modify user flags on w3id SSO login, only get or create
  gateway/api/authentication_oidc.py
  gateway/main/settings.py
  gateway/tests/api/authentication/w3id_sso/test_w3id_sso.py
Due: lint-gateway

Add optional IBM w3id SSO login for backoffice
  gateway/api/authentication_oidc.py
  gateway/api/context_processors.py
  gateway/api/static/admin/css/carbon_theme.css
  gateway/main/settings.py
  gateway/main/urls.py
  gateway/requirements.txt
  gateway/templates/admin/login.html
  gateway/tests/api/authentication/w3id_sso/__init__.py
  gateway/tests/api/authentication/w3id_sso/test_w3id_sso.py
Due: lint-gateway

Use IBM id as backoffice username for w3id SSO logins
  gateway/api/authentication_oidc.py
  gateway/main/settings.py
  gateway/tests/api/authentication/w3id_sso/test_w3id_sso.py
Due: lint-gateway

Pass w3id SSO env vars to gateway in dev compose
  docker-compose-dev.yaml
Due: none

Use email as backoffice username with case-insensitive lookup for w3id SSO
  gateway/api/authentication_oidc.py
  gateway/main/settings.py
  gateway/tests/api/authentication/w3id_sso/test_w3id_sso.py
Due: lint-gateway

Reduce w3id SSO config to three env vars, enable via client id presence
  docker-compose-dev.yaml
  gateway/api/authentication_oidc.py
  gateway/api/context_processors.py
  gateway/main/settings.py
  gateway/main/urls.py
Due: lint-gateway

Always mount w3id SSO, gate the login link and entry view on client id
  gateway/api/authentication_oidc.py
  gateway/api/context_processors.py
  gateway/main/settings.py
  gateway/main/urls.py
  gateway/tests/api/authentication/w3id_sso/test_w3id_sso.py
Due: lint-gateway

Require w3id SSO id and secret
  gateway/api/authentication_oidc.py
  gateway/api/context_processors.py
  gateway/main/settings.py
  gateway/tests/api/authentication/w3id_sso/test_w3id_sso.py
Due: lint-gateway

Wire w3id SSO credentials from Secrets Manager via ExternalSecret
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/templates/w3id-sso-credentials.yaml
  charts/qiskit-serverless/values.yaml
Due: none

Use w3idSsoCredentials.enabled as single feature flag
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/templates/w3id-sso-credentials.yaml
  charts/qiskit-serverless/values.yaml
Due: none

Use a generic secret store path example in the public chart
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

Define empty w3idSso default instead of a commented example
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

Move w3id SSO enabled flag into application.w3idSso block
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/templates/w3id-sso-credentials.yaml
  charts/qiskit-serverless/values.yaml
Due: none

Added deprecation warning
  client/qiskit_serverless/core/decorators.py
Due: lint-client

added test to check the deprecation warning
  client/tests/core/test_decorator.py
Due: lint-client

Added releasenotes
  releasenotes/notes/deprecate-distribute-task-decorators-1586.yaml
Due: none

remove trailing slashes in Serveless host
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

add arguments_schema field and preserve optional fields on program re-upload
  gateway/api/migrations/0055_program_arguments_schema.py
  gateway/api/use_cases/programs/upload.py
  gateway/api/use_cases/programs/upload_input.py
  gateway/api/v1/views/programs/upload.py
  gateway/core/models.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

validate run arguments against the function schema and add validate_arguments endpoint
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/validate_arguments.py
  gateway/api/v1/views/programs/run.py
  gateway/api/v1/views/programs/validate_arguments.py
  gateway/requirements.txt
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/use_cases/test_validate_arguments.py
Due: lint-gateway

add validate_arguments to client SDK and rename QiskitFunction.schema to arguments_schema
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/function.py
  client/tests/core/test_serverless_client_functions.py
  tests/integration/test_jobs.py
Due: lint-client, lint-tests

improve storage file read check on migrations
  gateway/scheduler/management/commands/migrate_old_job_arguments.py
  gateway/scheduler/management/commands/migrate_old_job_logs.py
  gateway/scheduler/management/commands/migrate_old_job_results.py
Due: lint-gateway

improve storage file read check on migrations (#2331)
  gateway/scheduler/management/commands/migrate_old_job_arguments.py
  gateway/scheduler/management/commands/migrate_old_job_logs.py
  gateway/scheduler/management/commands/migrate_old_job_results.py
Due: lint-gateway

Make ray an optional dependency of the client
  client/README.md
  client/pyproject.toml
  client/qiskit_serverless/core/decorators.py
  client/qiskit_serverless/core/job.py
  client/qiskit_serverless/serializers/serializers.py
  client/requirements.txt
  client/tests/core/test_decorator.py
  client/tests/core/test_ray_optional.py
  client/tests/utils.py
  ray-node/Dockerfile
  ray-node/Dockerfile.arm64
  releasenotes/notes/0.33.0/ray-optional-client-1605-3f7a9c2e5b1d8046.yaml
Due: lint-client

Fix CI for optional ray: lint import-error + docs [ray] extra
  client/qiskit_serverless/core/decorators.py
  client/qiskit_serverless/serializers/serializers.py
  client/tests/utils.py
  tox.ini
Due: lint-client

Bump minimum Qiskit to 2.2 and drop the symengine handling
  client/requirements.txt
  ray-node/Dockerfile
  ray-node/Dockerfile.arm64
  releasenotes/notes/0.33.0/bump-qiskit-2.2-drop-symengine-7c1e9f0a2b4d6835.yaml
Due: none

Drop qpy-compat and symengine handling from the gateway too
  gateway/Dockerfile
  gateway/requirements.txt
  releasenotes/notes/0.33.0/bump-qiskit-2.2-drop-symengine-7c1e9f0a2b4d6835.yaml
Due: none

Fix missing title field in Program admin form
  gateway/api/admin.py
  gateway/tests/test_program_admin.py
Due: lint-gateway

Use format_html instead of mark_safe in admin badges
  gateway/api/admin.py
Due: lint-gateway

Add cotengrust dependency version 0.2.0 to allowlist
  ray-node/requirements-dynamic-dependencies.txt
Due: none

Add cotengrust dependency to test_v1_dependencies.py
  gateway/tests/api/test_v1_dependencies.py
Due: lint-gateway

Use format_html instead of mark_safe in admin displays
  gateway/api/admin.py
Due: lint-gateway

refactor tests
  tests/integration/execution/test_files_execution.py
  tests/integration/execution/test_jobs_execution.py
  tests/integration/storage/test_files_storage.py
  tests/integration/storage/test_jobs_storage.py
  tests/source_files/gold_path_function.py
  tests/source_files/pattern_with_arguments.py
Due: lint-tests

fix lint
  tests/instances/runtime_api_client.py
  tests/integration/execution/test_files_execution.py
  tests/integration/execution/test_jobs_execution.py
  tests/integration/storage/test_files_storage.py
  tests/integration/storage/test_jobs_storage.py
Due: lint-tests

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
