Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Result storage architecture (#2174)
  gateway/api/use_cases/jobs/retrieve.py
  gateway/api/use_cases/jobs/save_result.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/result_storage.py
  gateway/core/services/storage/result_storage_fleets.py
  gateway/core/services/storage/result_storage_ray.py
  gateway/tests/api/test_job.py
  gateway/tests/core/services/storage/test_result_storage.py
Due: lint-gateway

Adding RESULT_PATH env var (#2124)
  client/qiskit_serverless/core/constants.py
  client/qiskit_serverless/core/job.py
  gateway/api/utils.py
  gateway/tests/api/test_utils.py
Due: lint-gateway, lint-client

Add get_public/private_logs_url to LogsStorage interface and Ray stub
  gateway/core/services/storage/logs_storage.py
  gateway/core/services/storage/logs_storage_ray.py
  gateway/tests/core/services/storage/test_logs_storage.py
Due: lint-gateway

Add presigned URL methods to FleetsLogsStorage
  gateway/core/services/storage/logs_storage_fleets.py
  gateway/tests/core/services/storage/test_logs_storage_fleets.py
Due: lint-gateway

fix provider path creation in logs storage
  gateway/core/services/storage/file_storage_ray.py
Due: lint-gateway

Add LogsResult dataclass for log use case return type
  gateway/api/use_cases/jobs/logs_result.py
Due: lint-gateway

Update get_logs use case and view for Fleet presigned URL redirect
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/v1/views/jobs/get_logs.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/use_cases/jobs/test_logs_use_cases_fleets.py
Due: lint-gateway

fix tests
  gateway/tests/api/use_cases/files/test_provider_files.py
Due: lint-gateway

Update provider_logs use case and view for Fleet presigned URL redirect
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/v1/views/jobs/provider_logs.py
  gateway/tests/api/test_logs.py
  gateway/tests/api/use_cases/jobs/test_logs_use_cases_fleets.py
Due: lint-gateway

fix lint
  gateway/core/services/storage/__init__.py
Due: lint-gateway

Update client logs() and provider_logs() to handle 302 redirect and 204
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_serverless_client_jobs.py
Due: lint-client

Refactor fleet-worker into class-based multi-file architecture
  tests/fleets/fleet-worker/Dockerfile
  tests/fleets/fleet-worker/storage.py
  tests/fleets/fleet-worker/worker.py
Due: lint-tests

Rename CUSTOM_CREATE to CUSTOM_WRITE, inline access checks, immutable FunctionAccessResult
  gateway/api/access_policies/jobs.py
  gateway/api/access_policies/programs.py
  gateway/api/views/programs.py
  gateway/core/domain/authorization/function_access_result.py
  gateway/core/models.py
  gateway/tests/api/access_policies/test_jobs.py
  gateway/tests/api/access_policies/test_programs.py
  gateway/tests/api/clients/test_function_access_client.py
  gateway/tests/api/test_v1_program.py
  tests/instances/conftest.py
  tests/instances/test_instance_permissions.py
Due: lint-gateway, lint-tests

Enable Instances auth: /run and /upload for custom functions (#2178)
  gateway/api/access_policies/jobs.py
  gateway/api/access_policies/programs.py
  gateway/api/clients/function_access_client.py
  gateway/api/views/programs.py
  gateway/core/domain/authorization/function_access_result.py
  gateway/core/models.py
  gateway/tests/api/access_policies/test_jobs.py
  gateway/tests/api/access_policies/test_programs.py
  gateway/tests/api/clients/conftest.py
  gateway/tests/api/clients/test_function_access_client.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/utils.py
  tests/instances/conftest.py
  tests/instances/test_instance_permissions.py
Due: lint-gateway, lint-tests

minor
  LOGS.md
  gateway/api/use_cases/jobs/get_logs.py
Due: lint-gateway

minor
  docs/superpowers/plans/2026-06-01-fleet-logs-presigned-url.md
Due: none

minor
  docs/superpowers/specs/2026-05-29-fleet-logs-presigned-url-design.md
Due: none

tests
  client/tests/core/test_serverless_client_jobs.py
Due: lint-client

Return 'No logs yet.' on 204 in logs() and provider_logs()
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_serverless_client_jobs.py
Due: lint-client

Fix test assertions to use LogsResult.raw_log instead of comparing to string
  gateway/tests/api/use_cases/jobs/test_provider_logs.py
Due: lint-gateway

fix test
  gateway/tests/api/use_cases/files/test_user_files.py
Due: lint-gateway

Used 'QiskitRuntimeService' to init the account
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

fix sub path
  gateway/core/services/runners/ray_runner.py
  gateway/core/services/storage/file_storage_ray.py
Due: lint-gateway

fix sub_path
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

Apply suggestion from @avilches
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_template.py
Due: lint-gateway

private paths set to none
  gateway/core/services/storage/file_storage_ray.py
Due: lint-gateway

Address PR review comments
  client/qiskit_serverless/core/clients/serverless_client.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/logs_result.py
Due: lint-gateway, lint-client

Fix logs redirect detection to use hostname comparison instead of allow_redirects=False
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

Clarify COS redirect detection with named variable and comment
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

restore filter_horizontal
  gateway/api/admin.py
Due: lint-gateway

restore filter_horizontal (#2188)
  gateway/api/admin.py
Due: lint-gateway

Remove 'integration' label from test description in spec
  specs/FLEETS_LOGS_UPLOAD.md
Due: none

deploy: 3e82c0ad4cb3f5406e21d679bf6c035f88663559
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: 570865ecaba904c330243c569a727612dc08fef2
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: e50a27dca500cb118b1a6bccd2b8db3cff03ef27
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: 4145609b1de9dca36603ce300851b8d4dd54762b
  .buildinfo
  .doctrees/environment.pickle
Due: none

Fleet log wrappers: Python implementation (alternative to #2179) (#2181)
  .pre-commit-config.yaml
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/pyproject.toml
  gateway/templates/fleet_custom_job_wrapper.py
  gateway/templates/fleet_custom_job_wrapper.tmpl
  gateway/templates/fleet_provider_job_wrapper.py
  gateway/templates/fleet_provider_job_wrapper.tmpl
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_template.py
  specs/FLEETS_LOGS_UPLOAD.md
  specs/LOGS.md
Due: lint-gateway

Add post-create worktree hooks
  hooks/copy-.claude-settings.sh
  hooks/copy-idea-folders.sh
  hooks/create-worktree-hook.sh
Due: none

Ignore hooks/ dir, remove from tracking
  .gitignore
  hooks/copy-.claude-settings.sh
  hooks/copy-idea-folders.sh
  hooks/create-worktree-hook.sh
Due: none
