Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Allow get_runtime_service to use a private endpoint (#2424)
  client/qiskit_serverless/core/job.py
  client/tests/core/test_job.py
  releasenotes/notes/runtime-service-private-endpoint-6a052c5bfbb17c36.yaml
Due: lint-client

Stabilize the flaky uniqueItems CPU budget test
  gateway/tests/api/domain/test_legitimate_schema_cost.py
Due: lint-gateway

Wrap job creation in a database transaction (#2414)
  gateway/api/use_cases/programs/run.py
  gateway/tests/api/use_cases/programs/test_run.py
Due: lint-gateway

Accept licensed as the new name of the subsidized business model
  gateway/api/migrations/0058_job_business_model_licensed.py
  gateway/api/use_cases/programs/run.py
  gateway/core/domain/authorization/function_access_entry.py
  gateway/core/domain/business_models.py
  gateway/core/domain/subsidized_license_mapping.py
  gateway/core/models.py
  gateway/tests/api/access_policies/test_providers.py
  gateway/tests/api/clients/test_function_access_client.py
  gateway/tests/api/test_job.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/core/domain/authorization/test_function_access_entry.py
  gateway/tests/core/domain/authorization/test_function_access_result.py
  gateway/tests/core/domain/test_business_models.py
  gateway/tests/core/domain/test_subsidized_license_mapping.py
  gateway/tests/core/model_managers/test_functions.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
  gateway/tests/core/test_job_business_model_from_db.py
  gateway/tests/utils.py
  releasenotes/notes/rename-subsidized-business-model-to-licensed-4f7c1b2ad9e0e315.yaml
  specs/INSTANCES_AUTH.md
Due: lint-gateway

Add a command to migrate old job business models to licensed
  gateway/scheduler/management/commands/migrate_job_business_model.py
  gateway/tests/scheduler/management/test_migrate_job_business_model.py
  releasenotes/notes/migrate-job-business-model-to-licensed-2b5e91c7d4a0f386.yaml
Due: lint-gateway

Stabilize the flaky uniqueItems CPU budget test (#2426)
  gateway/tests/api/domain/test_legitimate_schema_cost.py
Due: lint-gateway

deploy: 92988630e7e825b296f5307df4415b675f8814b4
  .buildinfo
  .doctrees/environment.pickle
Due: none

Drop django update
  gateway/requirements.txt
Due: none

deploy: 2f53bcd213917d4e0953d5eb7011d2b22b5bea18
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: b8c5c1b6dd0045d87e769d4873403e09ced4df31
  .buildinfo
  .doctrees/environment.pickle
Due: none

[create-pull-request] automated change
  .github/ISSUE_TEMPLATE/pip_dependency_request.yaml
  CITATION.cff
  charts/qiskit-serverless/Chart.lock
  charts/qiskit-serverless/Chart.yaml
  charts/qiskit-serverless/charts/gateway/Chart.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  client/qiskit_serverless/VERSION.txt
  docker-compose.yaml
  docs/custom_images/custom_function/Sample-Dockerfile
  docs/custom_images/custom_image_examples.rst
  docs/custom_images/deploy_custom_image_function.rst
  docs/custom_images/run_on_apple_silicon.rst
  docs/deployment/cloud.rst
  gateway/main/settings.py
Due: lint-gateway

Add release notes for v0.35.1
  releasenotes/notes/0.35.1/fix-request-body-size-limit-9c4f81ba2e5d7a36.yaml
  releasenotes/notes/0.35.1/prelude-0.35.1-c25744e16cd133f2.yaml
  releasenotes/notes/0.35.1/provider-function-author-operations-8bb8f21e4d1e1d76.yaml
  releasenotes/notes/0.35.1/runtime-service-private-endpoint-6a052c5bfbb17c36.yaml
  releasenotes/notes/0.35.1/scope-provider-job-listings-6e21e37b94adaa15.yaml
  releasenotes/notes/add-function-size-and-compute-profile-models-1562cb724e32f451.yaml
  releasenotes/notes/runtime-service-private-endpoint-6a052c5bfbb17c36.yaml
Due: none

Allow filtering functions by provider name in list()
  client/qiskit_serverless/core/client.py
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_serverless_client_functions.py
  gateway/api/use_cases/programs/list.py
  gateway/api/v1/views/programs/list.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/use_cases/programs/test_list.py
  releasenotes/notes/list-functions-by-provider-cf1bd3b1a853c299.yaml
Due: lint-gateway, lint-client

Ignore local AI assistant files and anchor hooks/ to the repo root
  .gitignore
Due: none

Apply suggestion from @avilches
  .gitignore
Due: none

Update .gitignore (#2434)
  .gitignore
Due: none

improve error handling
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
Due: lint-gateway

Assign Code Engine projects per provider
  docker-compose-fleets-test.yaml
  gateway/api/admin.py
  gateway/api/management/commands/sync_ce_project.py
  gateway/api/migrations/0058_codeengineproject_provider_name_and_more.py
  gateway/api/use_cases/programs/upload.py
  gateway/core/model_managers/code_engine_projects.py
  gateway/core/models.py
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_sync_ce_project.py
  gateway/tests/core/model_managers/test_code_engine_projects.py
  gateway/tests/utils.py
  releasenotes/notes/ce-project-per-provider-83dea96302b691d9.yaml
Due: lint-gateway

Drop release note for the business model migration command
  releasenotes/notes/migrate-job-business-model-to-licensed-2b5e91c7d4a0f386.yaml
Due: none

Read the Fleets task state without pinning the COS schema version
  gateway/core/ibm_cloud/code_engine/fleets/cos.py
  gateway/core/services/runners/fleets_mock.py
  gateway/core/services/runners/fleets_runner.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_job_cos_unit.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
  releasenotes/notes/fleets-task-store-version-agnostic-08e848ab66518811.yaml
  tests/fleets/_helpers.py
  tests/fleets/fleet-worker/worker.py
  tests/fleets/test_fleets_jobs.py
Due: lint-gateway, lint-tests

fix tests
  gateway/core/ibm_cloud/event_streams/abstract_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/noop_event_streams_client.py
Due: lint-gateway

simplify _build_classical_metric_type
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
Due: lint-gateway

remove unnucessary catch
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
Due: lint-gateway

improved classical metric type (#2422)
  gateway/core/ibm_cloud/event_streams/abstract_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/noop_event_streams_client.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

Drop the `api_program.default_compute_profile` column (#2421)
  gateway/api/migrations/0058_drop_program_default_compute_profile.py
  releasenotes/notes/drop-program-default-compute-profile-column-9f4c2be71a3d5e08.yaml
Due: lint-gateway

Read the Fleets task state without pinning the COS schema version (#2437)
  gateway/core/ibm_cloud/code_engine/fleets/cos.py
  gateway/core/services/runners/fleets_mock.py
  gateway/core/services/runners/fleets_runner.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_job_cos_unit.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
  releasenotes/notes/fleets-task-store-version-agnostic-08e848ab66518811.yaml
  tests/fleets/_helpers.py
  tests/fleets/fleet-worker/worker.py
  tests/fleets/test_fleets_jobs.py
Due: lint-gateway, lint-tests

deploy: 1c37afbcd595f159ce9eb0c47909a9aa5082bac0
  .buildinfo
  .doctrees/environment.pickle
  .doctrees/release-notes.doctree
  index.html
  objects.inv
  release-notes.html
  searchindex.js
Due: none

add job_started_at to kafka events
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

fix tests
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

Add job started at (#2438)
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

support multiple providers in a project
  docker-compose-fleets-test.yaml
  gateway/api/admin.py
  gateway/api/management/commands/sync_ce_project.py
  gateway/api/migrations/0058_codeengineproject_provider_name_and_more.py
  gateway/api/migrations/0059_provider_code_engine_project.py
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/upload.py
  gateway/core/model_managers/code_engine_projects.py
  gateway/core/models.py
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_sync_ce_project.py
  gateway/tests/core/model_managers/test_code_engine_projects.py
  gateway/tests/utils.py
  releasenotes/notes/ce-project-per-provider-83dea96302b691d9.yaml
  tests/fleets/conftest.py
Due: lint-gateway, lint-tests

new exception for function configuration error
  gateway/api/domain/exceptions/function_configuration_exception.py
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/upload.py
  gateway/api/v1/exception_handler.py
  gateway/tests/api/use_cases/programs/test_upload.py
Due: lint-gateway

fixed tests due to the change introduced prev
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

Add job timeline rendering module
  gateway/api/domain/job_timeline.py
  gateway/tests/test_job_timeline_admin.py
Due: lint-gateway

Add Timeline action to the job admin
  gateway/api/admin.py
  gateway/api/static/admin/css/job_timeline.css
  gateway/templates/admin/api/job/timeline.html
  gateway/tests/test_job_timeline_admin.py
Due: lint-gateway

Reject malformed job ids in the timeline view
  gateway/api/admin.py
  gateway/tests/test_job_timeline_admin.py
Due: lint-gateway

Externalize timeline JS and CSS to satisfy CSP, translate its text and fix edge cases
  gateway/api/admin.py
  gateway/api/domain/job_timeline.py
  gateway/api/static/admin/css/job_timeline.css
  gateway/api/static/admin/js/job_timeline.js
  gateway/templates/admin/api/job/timeline.html
  gateway/tests/test_job_timeline_admin.py
Due: lint-gateway

Replace overlap summary with a click-to-show job details panel, fix light theme
  gateway/api/admin.py
  gateway/api/domain/job_timeline.py
  gateway/api/static/admin/css/job_timeline.css
  gateway/api/static/admin/js/job_timeline.js
  gateway/templates/admin/api/job/timeline.html
  gateway/tests/test_job_timeline_admin.py
Due: lint-gateway
