Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

endpoints
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/logs_storage_fleets.py
  gateway/tests/api/use_cases/jobs/test_logs_use_cases_fleets.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
  gateway/tests/core/services/storage/test_logs_storage_fleets.py
Due: lint-gateway

Remove JobCOS.logs
  gateway/core/ibm_cloud/code_engine/fleets/cos.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_job_cos_unit.py
Due: lint-gateway

Fix bucket_name keyword arg in FleetsLogsStorage._read
  gateway/core/services/storage/logs_storage_fleets.py
Due: lint-gateway

Remove JobCOS.logs (#2159)
  gateway/core/ibm_cloud/code_engine/fleets/cos.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_job_cos_unit.py
Due: lint-gateway

dead code
  gateway/api/use_cases/jobs/get_logs.py
Due: lint-gateway

Revert to custom_functions path and RuntimeError for non-provider jobs
  gateway/core/services/storage/logs_storage_fleets.py
  gateway/tests/core/services/storage/test_logs_storage_fleets.py
Due: lint-gateway

Fix custom_functions COS path for non-provider fleet jobs
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Use build_cos_paths in FleetsLogsStorage
  gateway/core/services/storage/logs_storage_fleets.py
Due: lint-gateway

Simplify build_run_env_variables: use full paths, drop LOG_DIR vars
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
Due: lint-gateway

Refactor FleetsLogsStorage: extract bucket loaders, fix dead condition
  gateway/core/services/storage/logs_storage_fleets.py
  gateway/tests/core/services/storage/test_logs_storage_fleets.py
Due: lint-gateway

Split build_cos_paths into custom/provider functions, conditionally mount provider_logs
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/logs_storage_fleets.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

reworking build_cos_paths
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
Due: lint-gateway

Use None sentinel for absent provider cos paths in custom jobs
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Add release notes for user-facing features (#2155)
  releasenotes/notes/default-time-job-in-running_status-b1a6296c58d4dcb3.yaml
  releasenotes/notes/error-message-backward-compat-1c923955a0ad8ac9.yaml
  releasenotes/notes/runtime-and-telemetry-improvements-f8e0fee796cbaeb8.yaml
Due: none

update base images (#2158)
  gateway/Dockerfile
  ray-node/Dockerfile
Due: none

deploy: e7629436e4d65c535bdd21d47871956f484a42f7
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: e8dc9f8bd1cbfeaa2d59d687fe15cb198f341a47
  .buildinfo
  .doctrees/environment.pickle
Due: none

tmp_push
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/job.py
  gateway/api/use_cases/jobs/retrieve.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/result_storage.py
Due: lint-gateway, lint-client

style: apply black formatting to gateway tracing tests
  gateway/tests/test_tracing.py
Due: lint-gateway

deploy: 7ca9d101b2ff145ef8e5ee284a0e8e6dd1830fbd
  .buildinfo
  .doctrees/environment.pickle
Due: none

removed any `get` related changes.
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/job.py
  gateway/api/use_cases/jobs/retrieve.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/result_storage.py
Due: lint-gateway, lint-client

deploy: 9aea80d5193c2a6f93c922de328efbee09d0203d
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: 2a390c7f4b5ce90151f559325065d4719f6a8a62
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: bcf504a51eb52e18bd3ffe9c2929419567cb6b3a
  .buildinfo
  .doctrees/environment.pickle
Due: none

style: apply black formatting to client tracing tests
  client/tests/core/test_tracing.py
Due: lint-client

Made tests to pass new logic
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/result_storage.py
  gateway/tests/api/test_utils.py
Due: lint-gateway

black
  client/qiskit_serverless/core/job.py
Due: lint-client

lint disable
  client/qiskit_serverless/core/job.py
Due: lint-client

Update docker base images
  gateway/Dockerfile
  ray-node/Dockerfile
Due: none

Fleets runner fixes and API field additions from mvp branch (#2133)
  gateway/api/management/commands/sync_ce_project.py
  gateway/api/serializers.py
  gateway/api/v1/serializers.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/core/services/runners/fleets_runner.py
  gateway/main/settings.py
  gateway/scheduler/schedule.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

deploy: e16819d7072449e4c78a443fbf63d7a83a48c99f
  .buildinfo
  .doctrees/environment.pickle
Due: none

Remove provider_logs mount; private logs via function_data/jobs path
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/main/settings.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

Fix blank line after imports
  gateway/core/services/runners/fleets_runner.py
Due: lint-gateway

Update docker base images (#2172)
  gateway/Dockerfile
  ray-node/Dockerfile
Due: none

Remove unused LOG_FILENAME import; fix line too long
  gateway/core/services/runners/fleets_runner.py
Due: lint-gateway

reworking build_cos_paths
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/logs_storage_fleets.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

reworking build_cos_paths
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

reworking build_cos_paths
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway

linter
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
Due: lint-gateway

minor fixes
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway
