Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

secret store kafka refactor
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/templates/kafka-credentials.yaml
  charts/qiskit-serverless/values.yaml
Due: none

Arguments validations (2/3): validate against the schema and add validate_arguments endpoint (#2341)
  gateway/api/domain/exceptions/invalid_arguments_exception.py
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/validate_arguments.py
  gateway/api/v1/exception_handler.py
  gateway/api/v1/views/programs/validate_arguments.py
  gateway/requirements.txt
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
Due: lint-gateway

apply comments
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

Update gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
Due: lint-gateway

Update gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

emit license only in provider function jobs.
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
Due: lint-gateway

add comment
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
Due: lint-gateway

Add license fee event (#2377)
  gateway/core/ibm_cloud/event_streams/abstract_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/noop_event_streams_client.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

remove dead client validate hook, expose arguments_schema on read, trim tests and add release note
  client/qiskit_serverless/core/function.py
  client/tests/core/test_serverless_client_functions.py
  gateway/api/use_cases/validate_arguments.py
  gateway/api/v1/views/programs/get_by_title.py
  gateway/api/v1/views/programs/list.py
  gateway/api/v1/views/programs/run.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/use_cases/test_validate_arguments.py
  releasenotes/notes/0.34.0/arguments-validation-client-5b7701bd6f304c2f.yaml
  tests/integration/execution/test_jobs_execution.py
Due: lint-gateway, lint-client, lint-tests

add arguments validation spec and cover the whole feature in the release note
  releasenotes/notes/0.34.0/arguments-validation-5b7701bd6f304c2f.yaml
  releasenotes/notes/0.34.0/arguments-validation-client-5b7701bd6f304c2f.yaml
  specs/ARGUMENTS_VALIDATION.md
Due: none

block external references in function arguments schemas
  gateway/api/use_cases/programs/validate_arguments.py
  gateway/api/v1/views/programs/upload.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
  releasenotes/notes/block-arguments-schema-external-refs-28395991b2f30826.yaml
Due: lint-gateway

correct the spec: validate_arguments does not split provider/title
  specs/ARGUMENTS_VALIDATION.md
Due: none

drop release note, feature is not deployed yet
  releasenotes/notes/block-arguments-schema-external-refs-28395991b2f30826.yaml
Due: none

split provider/title in validate_arguments like upload and get_by_title
  gateway/api/v1/views/programs/validate_arguments.py
  gateway/tests/api/test_v1_program.py
  specs/ARGUMENTS_VALIDATION.md
Due: lint-gateway

match arguments schema patterns with a linear-time regex engine
  gateway/api/domain/arguments_schema.py
  gateway/api/use_cases/programs/validate_arguments.py
  gateway/api/v1/views/programs/upload.py
  gateway/requirements.txt
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
Due: lint-gateway

share one provider/title parser across upload, get_by_title and validate_arguments
  gateway/api/use_cases/programs/upload_input.py
  gateway/api/utils.py
  gateway/api/v1/views/programs/get_by_title.py
  gateway/api/v1/views/programs/validate_arguments.py
  gateway/tests/api/test_utils.py
  specs/ARGUMENTS_VALIDATION.md
Due: lint-gateway

show arguments_schema in the admin and document removing it with an empty schema
  gateway/api/admin.py
  gateway/tests/api/test_v1_program.py
  releasenotes/notes/0.34.0/arguments-validation-5b7701bd6f304c2f.yaml
  specs/ARGUMENTS_VALIDATION.md
Due: lint-gateway

move the release note to its own PR
  releasenotes/notes/0.34.0/arguments-validation-5b7701bd6f304c2f.yaml
Due: none

add release note for the arguments validation feature
  releasenotes/notes/0.34.0/arguments-validation-5b7701bd6f304c2f.yaml
Due: none

Helm kafka refactor (#2378)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/templates/kafka-credentials.yaml
  charts/qiskit-serverless/values.yaml
Due: none

Stop seeding Code Engine projects on startup
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  gateway/entrypoint-gateway.sh
  gateway/entrypoint-scheduler.sh
  gateway/tests/api/test_sync_ce_project.py
  releasenotes/notes/stop-seeding-ce-projects-on-startup-1f7e6b8681267812.yaml
Due: lint-gateway

Added new models to gateway
  gateway/core/models.py
Due: lint-gateway

makemigrations file
  gateway/api/migrations/0057_computeprofile_job_flavor_functionsize.py
Due: lint-gateway

Arguments validations (3/3): Add validate_arguments to the client and rename QiskitFunction.schema to arguments_schema (#2348)
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/function.py
  client/tests/core/test_serverless_client_functions.py
  gateway/api/admin.py
  gateway/api/use_cases/programs/upload_input.py
  gateway/api/utils.py
  gateway/api/v1/views/programs/get_by_title.py
  gateway/api/v1/views/programs/list.py
  gateway/api/v1/views/programs/validate_arguments.py
  gateway/tests/api/test_utils.py
  gateway/tests/api/test_v1_program.py
  specs/ARGUMENTS_VALIDATION.md
  tests/integration/execution/test_jobs_execution.py
Due: lint-gateway, lint-client, lint-tests

bound the cost of uniqueItems and cap the length of job arguments
  gateway/api/domain/arguments_schema.py
  gateway/api/use_cases/programs/validate_arguments.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
Due: lint-gateway

refuse unevaluatedProperties and unevaluatedItems, whose cost the step budget cannot see
  gateway/api/domain/arguments_schema.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
Due: lint-gateway

reject scalar schemas, stop schema false disabling validation, and check dynamic references
  gateway/api/domain/arguments_schema.py
  gateway/api/use_cases/programs/validate_arguments.py
  gateway/api/v1/views/programs/upload.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
Due: lint-gateway

report endless recursion and excessive nesting as invalid instead of failing the request
  gateway/api/domain/arguments_schema.py
  gateway/api/use_cases/programs/validate_arguments.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
Due: lint-gateway

apply declared formats, cache the metaschema check, and stop echoing payloads in errors
  gateway/api/domain/arguments_schema.py
  gateway/api/use_cases/programs/validate_arguments.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
Due: lint-gateway

fixed a typo
  gateway/core/models.py
Due: lint-gateway

fixed typo in models and migrations
  gateway/api/migrations/0057_computeprofile_job_flavor_functionsize.py
  gateway/core/models.py
Due: lint-gateway

correct the arguments validation spec, which contradicted the code
  specs/ARGUMENTS_VALIDATION.md
Due: none

raise the arguments length limit so a batch of encoded circuits fits
  gateway/api/domain/arguments_schema.py
  specs/ARGUMENTS_VALIDATION.md
Due: lint-gateway

report an unusable stored arguments schema instead of decoding it into the wrong type
  client/qiskit_serverless/core/function.py
  client/tests/core/test_serverless_client_functions.py
Due: lint-client

record why get_by_title cannot receive a provider in the path
  gateway/api/v1/views/programs/get_by_title.py
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

added update and change migraitons
  gateway/api/migrations/0057_computeprofiles_job_flavor_functionsize.py
  gateway/core/models.py
Due: lint-gateway

PSQL secret refactor
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/templates/secret-psql.yaml
Due: none

Refactor name and secretRef
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/templates/kafka-credentials.yaml
  charts/qiskit-serverless/templates/w3id-sso-credentials.yaml
  charts/qiskit-serverless/values.yaml
Due: none

Stop seeding Code Engine projects on startup (#2385)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  gateway/entrypoint-gateway.sh
  gateway/entrypoint-scheduler.sh
  gateway/tests/api/test_sync_ce_project.py
  releasenotes/notes/stop-seeding-ce-projects-on-startup-1f7e6b8681267812.yaml
Due: lint-gateway

run untrusted work in a forked child under CPU and memory limits
  gateway/api/domain/isolated.py
  gateway/tests/api/domain/test_isolated.py
Due: lint-gateway
