Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
  # pre-commit hooks (fast)
  # - repo: https://github.com/pre-commit/pre-commit-hooks
  #   rev: v5.0.0
  #   hooks:
  #     - id: trailing-whitespace
  #     - id: end-of-file-fixer
  #     - id: check-yaml
  #     - id: check-added-large-files

  # Black on commit
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11

  # Pylint & Mypy only on pre-push (slower checks)
  - repo: local
    hooks:
      # Config located in gateway/.pylintrc
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && pylint -rn api main'
        language: system
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      # Config located in client/.pylintrc
      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && pylint -rn qiskit_serverless tests && mypy --install-types --non-interactive .'
        language: system
        files: ^client/
        types: [python]
        stages: [pre-push]

      # Config located in tests/.pylintrc
      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && pylint -rn docker/test_* docker/conftest.py'
        language: system
        files: ^tests/docker/
        types: [python]
        stages: [pre-push]

added a provider_logs test
  client/qiskit_serverless/core/clients/serverless_client.py
  tests/docker/test_docker.py
Due: lint-client, lint-tests

fix clients
  client/qiskit_serverless/core/clients/local_client.py
  client/qiskit_serverless/core/clients/ray_client.py
Due: lint-client

black
  client/qiskit_serverless/core/clients/local_client.py
  client/qiskit_serverless/core/clients/ray_client.py
Due: lint-client

Update gateway files to fit new black version
  gateway/api/access_policies/jobs.py
  gateway/api/access_policies/providers.py
  gateway/api/access_policies/users.py
  gateway/api/authentication.py
  gateway/api/domain/function/check_logs.py
  gateway/api/management/commands/free_resources.py
  gateway/api/models.py
  gateway/api/repositories/functions.py
  gateway/api/repositories/providers.py
  gateway/api/repositories/users.py
  gateway/api/schedule.py
  gateway/api/services/authentication/ibm_quantum_platform.py
  gateway/api/services/authentication/local_authentication.py
  gateway/api/use_cases/authentication.py
  gateway/api/use_cases/dependencies_versions.py
  gateway/api/use_cases/files/delete.py
  gateway/api/use_cases/files/download.py
  gateway/api/use_cases/files/list.py
  gateway/api/use_cases/files/provider_upload.py
  gateway/api/use_cases/files/upload.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/stop.py
  gateway/api/v1/urls.py
  gateway/manage.py
Due: lint-gateway

Update test files to fit new black version
  tests/basic/01_running_program.py
  tests/docker/conftest.py
  tests/docker/test_docker.py
  tests/docker/test_docker_experimental.py
  tests/docker/test_docker_runtime_staging.py
  tests/experimental/running_programs_using_decorators.py
  tests/out.log
Due: lint-tests

Removing `LocalClient` and `RayClient` (#1841)
  client/qiskit_serverless/__init__.py
  client/qiskit_serverless/core/__init__.py
  client/qiskit_serverless/core/clients/local_client.py
  client/qiskit_serverless/core/clients/ray_client.py
  client/qiskit_serverless/core/local_functions_store.py
  releasenotes/notes/remove-local-ray-client-8401e08384314cce.yaml
  tests/docker/conftest.py
  tests/docker/test_docker.py
Due: lint-client, lint-tests

black
  gateway/api/services/storage/file_storage.py
  gateway/api/services/storage/logs_storage.py
  gateway/api/services/storage/path_builder.py
  gateway/api/use_cases/jobs/provider_logs.py
Due: lint-gateway

black tests
  tests/docker/test_docker.py
Due: lint-tests

replace fuction to function in docs
  gateway/tests/api/test_job.py
Due: lint-gateway

remove the GetComputeResourceLogsUseCase from the tests
  gateway/tests/api/test_job.py
Due: lint-gateway

black
  gateway/tests/api/test_job.py
Due: lint-gateway

fix broken test
  gateway/tests/api/test_job.py
Due: lint-gateway

rollback GetComputeResourceLogsUseCase
  gateway/api/management/commands/free_resources.py
  gateway/api/use_cases/jobs/get_compute_resource_logs.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/tests/api/management/test_commands.py
  gateway/tests/api/test_job.py
Due: lint-gateway

verify private log is not created
  gateway/tests/api/management/test_commands.py
Due: lint-gateway

apply comments
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/tests/api/test_job.py
Due: lint-gateway

modify test
  gateway/tests/api/test_job.py
Due: lint-gateway

Rename github workflows
  .github/workflows/build-containers-test.yaml
  .github/workflows/client-verify.yaml
  .github/workflows/gateway-verify.yaml
  .github/workflows/integration-tests.yaml
  .github/workflows/kubernetes-deploy.yaml
Due: none

control get_job_handler not accessible host
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/tests/api/test_job.py
Due: lint-gateway

permit access to providers to get_logs endpoint
  gateway/api/access_policies/jobs.py
Due: lint-gateway

added some missing tests
  gateway/tests/api/test_job.py
Due: lint-gateway

fix black
  gateway/tests/api/test_job.py
Due: lint-gateway

removed github pre-commit hooks
  .pre-commit-config.yaml
Due: none

refactor _authorize method to make it more explicit, so the tests are easier to read and check
  gateway/tests/api/test_job.py
Due: lint-gateway

wrong name
  gateway/tests/api/test_job.py
Due: lint-gateway

refactor to make the code easier to follow
  gateway/api/domain/function/filter_logs.py
  gateway/api/management/commands/free_resources.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/tests/api/domain/functions/test_filter_logs.py
  gateway/tests/api/test_job.py
Due: lint-gateway

refactor to make the code easier to follow
  gateway/api/management/commands/free_resources.py
  gateway/tests/api/test_job.py
Due: lint-gateway

doc
  LOGS.md
Due: none

doc updated
  LOGS.md
Due: none

add tests to free resources
  gateway/api/management/commands/free_resources.py
  gateway/tests/api/management/test_commands.py
Due: lint-gateway

rollback ArgumentsStorage to use
  gateway/api/services/storage/arguments_storage.py
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

refactor LogStorage
  gateway/api/management/commands/free_resources.py
  gateway/api/services/storage/logs_storage.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/tests/api/management/test_commands.py
  gateway/tests/api/services/storage/__init__.py
  gateway/tests/api/services/storage/test_logs_storage.py
  gateway/tests/api/services/storage/test_path_builder.py
  gateway/tests/api/test_job.py
Due: lint-gateway

black
  gateway/tests/api/management/test_commands.py
Due: lint-gateway

add test for test_filter_user_job_logs
  gateway/tests/api/domain/functions/test_filter_logs.py
Due: lint-gateway

improve comments
  gateway/tests/api/management/test_commands.py
Due: lint-gateway

bugfix
  gateway/api/access_policies/jobs.py
Due: lint-gateway

added pending tests
  gateway/tests/api/test_job.py
Due: lint-gateway

Rename github workflows (#1847)
  .github/workflows/build-containers-test.yaml
  .github/workflows/client-verify.yaml
  .github/workflows/gateway-verify.yaml
  .github/workflows/integration-tests.yaml
  .github/workflows/kubernetes-deploy.yaml
Due: none

deploy: 31a035f7a6eac043f8dacd3213ad08d6bb5a4637
  .buildinfo
  .doctrees/environment.pickle
Due: none

Add linter hooks (#1842)
  .pre-commit-config.yaml
  .pre-commit-scripts.sh
  CONTRIBUTING.md
  client/requirements-dev.txt
  gateway/.pylintrc
  gateway/requirements-dev.txt
  gateway/tox.ini
  tests/.pylintrc
  tests/requirements-dev.txt
Due: none
