Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Add fleets integration tests with Docker Compose and CI
  .dockerignore
  .github/workflows/fleets-integration-tests.yaml
  docker-compose-fleets-test.yaml
  gateway/core/apps.py
  gateway/core/services/runners/fleets_mock.py
  tests/fleets/_helpers.py
  tests/fleets/conftest.py
  tests/fleets/fleet-worker/Dockerfile
  tests/fleets/fleet-worker/worker.py
  tests/fleets/pytest.ini
  tests/fleets/source_files/bad_entrypoint.py
  tests/fleets/source_files/entrypoint.py
  tests/fleets/source_files/other-file-by-user.json
  tests/fleets/test_fleets_jobs.py
  tests/requirements-dev.txt
  tests/tox.ini
Due: lint-gateway, lint-tests

Add fleets mock layer for local integration tests
  gateway/core/apps.py
  gateway/core/services/runners/fleets_mock.py
Due: lint-gateway

Apply reviewer feedback: docstrings, import fix, remove unused file
  gateway/core/apps.py
  gateway/core/services/runners/fleets_mock.py
  tests/fleets/_helpers.py
  tests/fleets/conftest.py
  tests/fleets/fleet-worker/worker.py
  tests/fleets/source_files/other-file-by-user.json
  tests/fleets/test_fleets_jobs.py
Due: lint-gateway, lint-tests

Refactor fleet-worker into class-based multi-file architecture
  tests/fleets/fleet-worker/Dockerfile
  tests/fleets/fleet-worker/storage.py
  tests/fleets/fleet-worker/worker.py
Due: lint-tests

Strengthen test assertions and add coverage for edge cases
  tests/fleets/source_files/entrypoint_no_args.py
  tests/fleets/test_fleets_jobs.py
Due: lint-tests

feat: mock layer uses CE_PROJECTS JSON config and MinIO public endpoint
  docker-compose-fleets-test.yaml
  gateway/core/services/runners/fleets_mock.py
Due: lint-gateway

feat: fleet-worker checks for cancel signal before writing terminal status
  tests/fleets/fleet-worker/Dockerfile
  tests/fleets/fleet-worker/runner.py
  tests/fleets/fleet-worker/storage.py
  tests/fleets/fleet-worker/worker.py
Due: lint-tests

add GetFunctionByTitleUseCase with tests
  gateway/api/use_cases/programs/get_by_title.py
  gateway/tests/api/use_cases/programs/test_get_by_title.py
Due: lint-gateway

migrate programs list endpoint to standalone function view
  gateway/api/v1/views/programs/__init__.py
  gateway/api/v1/views/programs/list.py
  gateway/api/views/programs.py
Due: lint-gateway

migrate programs get_by_title endpoint to standalone function view
  gateway/api/v1/views/programs/__init__.py
  gateway/api/v1/views/programs/get_by_title.py
  gateway/api/views/programs.py
Due: lint-gateway

handle JSONDecodeError and None arguments in validation
  gateway/api/use_cases/validate_arguments.py
  gateway/api/views/programs.py
Due: lint-gateway

feat: focused integration test suite covering 5 lifecycle paths
  gateway/core/services/runners/fleets_mock.py
  tests/fleets/_helpers.py
  tests/fleets/conftest.py
  tests/fleets/source_files/bad_entrypoint.py
  tests/fleets/source_files/entrypoint.py
  tests/fleets/source_files/entrypoint_no_args.py
  tests/fleets/test_fleets_jobs.py
Due: lint-gateway, lint-tests

ignore docs/superpowers from git
  .gitignore
Due: none

add get_dashboard_stats for admin dashboard
  gateway/api/admin.py
  gateway/tests/test_admin_dashboard.py
Due: lint-gateway

remove unused TestUtils import in dashboard tests
  gateway/tests/test_admin_dashboard.py
Due: lint-gateway

add QiskitAdminSite to inject dashboard stats into admin index
  gateway/api/admin.py
Due: lint-gateway

add admin_dashboard.css for Carbon dashboard layout
  gateway/api/static/admin/css/admin_dashboard.css
Due: none

add admin dashboard template with KPI cards and bar charts
  gateway/templates/admin/index.html
Due: none

add nav sidebar override with Overview link for admin dashboard
  gateway/templates/admin/nav_sidebar.html
Due: none

fix sidebar icon, English texts, clickable KPI cards, header layout
  gateway/api/static/admin/css/admin_dashboard.css
  gateway/api/static/admin/css/carbon_theme.css
  gateway/templates/admin/index.html
  gateway/templates/admin/nav_sidebar.html
Due: none

Stream Ray job logs to limit memory usage (#2101)
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/core/domain/filter_logs.py
  gateway/core/services/runners/abstract_runner.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/runners/ray_runner.py
  gateway/scheduler/tasks/update_ray_jobs_statuses.py
  gateway/tests/api/domain/functions/test_filter_logs.py
  gateway/tests/api/test_logs.py
  gateway/tests/core/test_ray.py
  gateway/tests/core/test_ray_runner.py
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/scheduler/test_schedule.py
  gateway/tests/scheduler/test_update_jobs_statuses.py
  tests/integration/test_jobs.py
  tests/source_files/large_logs_generator.py
  tests/tox.ini
Due: lint-gateway, lint-tests

Fleets results: return presigned URL redirect instead of buffering content (#2203)
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_serverless_client_jobs.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/get_logs_response.py
  gateway/api/use_cases/jobs/get_result.py
  gateway/api/use_cases/jobs/get_result_response.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/use_cases/jobs/retrieve.py
  gateway/api/use_cases/jobs/save_result.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/api/v1/views/jobs/save_result.py
  gateway/core/services/storage/result_storage_fleets.py
  gateway/tests/api/test_job.py
  gateway/tests/api/use_cases/jobs/test_logs_use_cases_fleets.py
  gateway/tests/core/services/storage/test_result_storage.py
  gateway/tests/core/services/storage/test_result_storage_fleets.py
Due: lint-gateway, lint-client

refactor: split runtime_jobs endpoint into GET and POST handlers (#2236)
  gateway/api/v1/endpoint_decorator.py
  gateway/api/v1/route_registry.py
  gateway/api/v1/views/jobs/associate_runtime_jobs.py
  gateway/api/v1/views/jobs/get_runtime_jobs.py
  gateway/api/v1/views/jobs/runtime_jobs.py
Due: lint-gateway

helm: add kafka-credentials ExternalSecret template
  charts/qiskit-serverless/templates/kafka-credentials.yaml
Due: none

helm: add eventStreams.enabled default (false) to gateway values
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

helm: inject Event Streams env vars into scheduler container
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
Due: none

fix: renumber running_started_at migration to 0054 to resolve conflict
  gateway/api/migrations/0054_job_running_started_at.py
  gateway/core/models.py
Due: lint-gateway

fix: renumber running_started_at migration to 0054 to resolve conflict
  gateway/api/migrations/0054_job_running_started_at.py
Due: lint-gateway

fix: raise on flush timeout to block DB update on Kafka delivery failure
  gateway/core/ibm_cloud/event_streams/event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

Fix black
  client/qiskit_serverless/core/serverless_error.py
Due: lint-client

deploy: 0e41833250014a7dc10070ae421f316cadb9d872
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: bc5e513f8dbb8e91f55e832347a4196171fd61f8
  .buildinfo
  .doctrees/environment.pickle
Due: none

style: move pytest import to top level and remove inline import
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

refactor: remove @api_view from all endpoints, make method required in @endpoint
  gateway/api/v1/endpoint_decorator.py
  gateway/api/v1/route_registry.py
  gateway/api/v1/views/dependencies_versions.py
  gateway/api/v1/views/files/delete.py
  gateway/api/v1/views/files/download.py
  gateway/api/v1/views/files/list.py
  gateway/api/v1/views/files/provider_delete.py
  gateway/api/v1/views/files/provider_download.py
  gateway/api/v1/views/files/provider_list.py
  gateway/api/v1/views/files/provider_upload.py
  gateway/api/v1/views/files/upload.py
  gateway/api/v1/views/jobs/associate_runtime_jobs.py
  gateway/api/v1/views/jobs/create_event.py
  gateway/api/v1/views/jobs/get_events.py
  gateway/api/v1/views/jobs/get_logs.py
  gateway/api/v1/views/jobs/get_runtime_jobs.py
  gateway/api/v1/views/jobs/list.py
  gateway/api/v1/views/jobs/provider_list.py
  gateway/api/v1/views/jobs/provider_logs.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/api/v1/views/jobs/save_result.py
  gateway/api/v1/views/jobs/set_sub_status.py
  gateway/api/v1/views/jobs/stop.py
Due: lint-gateway

fix pylint no-member on dynamically set DRF attributes
  gateway/api/v1/endpoint_decorator.py
Due: lint-gateway

fix CSRF 403 on POST/DELETE endpoints: set csrf_exempt on dispatch
  gateway/api/v1/route_registry.py
Due: lint-gateway

remove @api_view from programs views, use method= in @endpoint
  gateway/api/v1/views/programs/get_by_title.py
  gateway/api/v1/views/programs/list.py
Due: lint-gateway

add VIEWS_REFACTOR spec: standalone function endpoints pattern
  docs/superpowers/specs/VIEWS_REFACTOR.md
Due: none

Refactor: remove @api_view decorator from all endpoints (#2252)
  gateway/api/v1/endpoint_decorator.py
  gateway/api/v1/route_registry.py
  gateway/api/v1/views/dependencies_versions.py
  gateway/api/v1/views/files/delete.py
  gateway/api/v1/views/files/download.py
  gateway/api/v1/views/files/list.py
  gateway/api/v1/views/files/provider_delete.py
  gateway/api/v1/views/files/provider_download.py
  gateway/api/v1/views/files/provider_list.py
  gateway/api/v1/views/files/provider_upload.py
  gateway/api/v1/views/files/upload.py
  gateway/api/v1/views/jobs/associate_runtime_jobs.py
  gateway/api/v1/views/jobs/create_event.py
  gateway/api/v1/views/jobs/get_events.py
  gateway/api/v1/views/jobs/get_logs.py
  gateway/api/v1/views/jobs/get_runtime_jobs.py
  gateway/api/v1/views/jobs/list.py
  gateway/api/v1/views/jobs/provider_list.py
  gateway/api/v1/views/jobs/provider_logs.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/api/v1/views/jobs/save_result.py
  gateway/api/v1/views/jobs/set_sub_status.py
  gateway/api/v1/views/jobs/stop.py
Due: lint-gateway

remove programs.py restored by merge (moved to programs/__init__.py)
  gateway/api/v1/views/programs.py
Due: lint-gateway
