Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

refactor
  gateway/api/migrations/0066_outbox.py
  gateway/api/use_cases/jobs/stop.py
  gateway/core/ibm_cloud/event_streams/kafka_producers.py
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
  gateway/core/models.py
  gateway/main/settings.py
  gateway/scheduler/tasks/circuit_breaker.py
  gateway/scheduler/tasks/outbox.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/test_job_model.py
  gateway/tests/scheduler/test_main.py
  gateway/tests/scheduler/test_outbox.py
  specs/OUTBOX.md
Due: lint-gateway

Read the subscription id from the instance parameters
  gateway/api/services/authentication/ibm_quantum_platform.py
  gateway/tests/api/authentication/custom_token/test_ibm_quantum_platform.py
Due: lint-gateway

create one thread per region
  gateway/core/apps.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

Fix NameError in Job.change_status from stale variable names after inlining _enqueue_billing_messages
  gateway/core/models.py
Due: lint-gateway

Reword a TODO comment so it does not trip the pylint fixme check
  gateway/core/models.py
Due: lint-gateway

Install Ray in the Fleets selector image (#2522)
  docker-images/fleet-node/Dockerfile
Due: none

Count a stopping job as active
  gateway/core/models.py
  gateway/scheduler/tasks/update_job_status_counts.py
  gateway/tests/core/test_job_model.py
  gateway/tests/scheduler/test_update_job_status_counts.py
Due: lint-gateway

Update gateway/tests/scheduler/test_update_job_status_counts.py
  gateway/tests/scheduler/test_update_job_status_counts.py
Due: lint-gateway

Update gateway/scheduler/tasks/update_job_status_counts.py
  gateway/scheduler/tasks/update_job_status_counts.py
Due: lint-gateway

Name the Fleets concurrency cap in the status list comment
  gateway/core/models.py
Due: lint-gateway

Update gateway/core/models.py
  gateway/core/models.py
Due: lint-gateway

Pin the STOPPING entry in the job status gauge
  gateway/tests/scheduler/test_update_job_status_counts.py
  gateway/tests/utils.py
Due: lint-gateway

Add a STOPPING job status
  gateway/api/migrations/0065_alter_job_status.py
  gateway/core/models.py
  gateway/scheduler/tasks/update_job_status_counts.py
Due: lint-gateway

Re-parent the status migration onto main's leaf
  gateway/api/migrations/0066_alter_job_status.py
  gateway/core/models.py
Due: lint-gateway

Remove the Kafka outbox kill switch and scope the outbox settings to Kafka channels
  gateway/core/config_key.py
  gateway/core/domain/billing_events.py
  gateway/core/models.py
  gateway/main/settings.py
  gateway/scheduler/tasks/outbox.py
  gateway/tests/core/test_job_model.py
  gateway/tests/scheduler/test_outbox.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
  specs/OUTBOX.md
Due: lint-gateway

Add a STOPPING job status (#2508)
  gateway/api/migrations/0066_alter_job_status.py
  gateway/core/models.py
  gateway/scheduler/tasks/update_job_status_counts.py
  gateway/tests/core/test_job_model.py
  gateway/tests/scheduler/test_update_job_status_counts.py
  gateway/tests/utils.py
Due: lint-gateway

refactor
  gateway/api/domain/job_timeline.py
  gateway/api/use_cases/jobs/stop.py
  gateway/core/domain/exceptions/__init__.py
  gateway/core/domain/exceptions/invalid_job_transition_exception.py
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
  gateway/core/models.py
  gateway/main/settings.py
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/balance_filler_jobs.py
  gateway/scheduler/tasks/outbox.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_kafka_sender.py
  gateway/tests/core/test_job_model.py
  gateway/tests/scheduler/test_outbox.py
  gateway/tests/scheduler/test_schedule.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
  specs/OUTBOX.md
Due: lint-gateway

Make the outbox sender an abstract class and fix in-progress event sending
  gateway/core/ibm_cloud/sender.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
Due: lint-gateway

Fix startup migration deadlock by building job_fleet_id_idx without CONCURRENTLY
  gateway/api/migrations/0064_job_fleet_id_idx.py
  releasenotes/notes/fix-startup-migration-index-deadlock-2ea92d72dbcfde98.yaml
Due: lint-gateway

Map the STOPPING status to CANCELING in the client SDK
  client/qiskit_serverless/core/job.py
  client/tests/core/test_job.py
Due: lint-client

Fix startup migration deadlock by building job_fleet_id_idx without CONCURRENTLY (#2524)
  gateway/api/migrations/0064_job_fleet_id_idx.py
  releasenotes/notes/fix-startup-migration-index-deadlock-2ea92d72dbcfde98.yaml
Due: lint-gateway

Update requirements.txt
  gateway/requirements.txt
Due: none

Resolve plan_id and subscription_id during authentication (#2523)
  gateway/api/authentication.py
  gateway/api/domain/authentication/authentication_result.py
  gateway/api/services/authentication/authentication_base.py
  gateway/api/services/authentication/ibm_quantum_platform.py
  gateway/api/services/authentication/local_authentication.py
  gateway/api/use_cases/authentication.py
  gateway/tests/api/authentication/custom_token/test_ibm_quantum_platform.py
Due: lint-gateway

Persist plan_id and subscription_id on the job
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/run_input.py
  gateway/api/v1/views/programs/run.py
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_job.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/api/use_cases/programs/test_run.py
  gateway/tests/utils.py
Due: lint-gateway

Persist plan_id and subscription_id on the job (#2529)
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/run_input.py
  gateway/api/v1/views/programs/run.py
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_job.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/api/use_cases/programs/test_run.py
  gateway/tests/utils.py
Due: lint-gateway

Map the STOPPING status to CANCELING in the client SDK (#2528)
  client/qiskit_serverless/core/job.py
  client/tests/core/test_job.py
Due: lint-client

Poll for the migration lock instead of blocking on it
  gateway/api/management/commands/migrate_with_lock.py
  releasenotes/notes/migrate-lock-polling-7c1d4e9a2b3f5a60.yaml
Due: lint-gateway

Exit the entrypoints when the startup migration fails
  gateway/entrypoint-gateway.sh
  gateway/entrypoint-scheduler.sh
  releasenotes/notes/exit-on-startup-migration-failure-5d2b8c41e7a90f36.yaml
Due: none

Exit the entrypoints when the startup migration fails (#2531)
  gateway/entrypoint-gateway.sh
  gateway/entrypoint-scheduler.sh
  releasenotes/notes/exit-on-startup-migration-failure-5d2b8c41e7a90f36.yaml
Due: none

Fail after a timeout when the migration lock cannot be acquired
  gateway/api/management/commands/migrate_with_lock.py
Due: lint-gateway

Pass the migration lock timeout explicitly in the entrypoints
  gateway/entrypoint-gateway.sh
  gateway/entrypoint-scheduler.sh
Due: none

Move job status transitions and their billing into JobTransitionService
  gateway/api/use_cases/jobs/stop.py
  gateway/core/domain/exceptions/invalid_job_transition_exception.py
  gateway/core/ibm_cloud/event_streams/kafka_producers.py
  gateway/core/ibm_cloud/event_streams/kafka_sender.py
  gateway/core/models.py
  gateway/core/services/job_transitions.py
  gateway/scheduler/main.py
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/balance_filler_jobs.py
  gateway/scheduler/tasks/schedule_fleets_jobs.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/api/use_cases/jobs/test_stop.py
  gateway/tests/core/model_managers/test_job_events.py
  gateway/tests/core/services/test_job_transitions.py
  gateway/tests/core/test_job_model.py
  gateway/tests/scheduler/test_balance_filler_jobs.py
  gateway/tests/scheduler/test_main.py
  gateway/tests/scheduler/test_schedule.py
  gateway/tests/scheduler/test_schedule_fleets_jobs.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
  specs/OUTBOX.md
Due: lint-gateway

Add a startupProbe to the gateway and scheduler
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  releasenotes/notes/startup-probe-3f8a1c6d92b47e05.yaml
Due: none

Add a retryable operation to build indexes concurrently
  gateway/core/migration_operations.py
  gateway/tests/core/test_migration_operations.py
  releasenotes/notes/retryable-concurrent-index-operation-9b3e4d27a15c8f60.yaml
Due: lint-gateway

Let the transition service build its own sender and make the billing checks module functions
  gateway/api/use_cases/jobs/stop.py
  gateway/core/services/job_transitions.py
  gateway/tests/api/use_cases/jobs/test_stop.py
  specs/OUTBOX.md
Due: lint-gateway

Forbid importing django.contrib.postgres.operations from migrations
  gateway/setup.cfg
Due: none

Apply suggestion from @avilches
  gateway/core/services/job_transitions.py
Due: lint-gateway

Apply batched suggestions from code review
  gateway/core/services/job_transitions.py
Due: lint-gateway

Update gateway/core/services/job_transitions.py
  gateway/core/services/job_transitions.py
Due: lint-gateway
