Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

black
  gateway/api/v1/serializers.py
Due: lint-gateway

update migration to default as null/None
  gateway/api/migrations/0044_program_version.py
Due: lint-gateway

use "0.0.1" for all versions in fixtures
  gateway/tests/fixtures/fixtures.json
Due: none

add version numbers to all api.program in fixtures
  gateway/tests/fixtures/acl_fixtures.json
  gateway/tests/fixtures/catalog_fixtures.json
Due: none

black
  gateway/scheduler/management/commands/migrate_old_job_logs.py
Due: lint-gateway

use django test context manager
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

prettify job-events-history
  gateway/.gitignore
  gateway/api/admin.py
  gateway/api/static/admin/css/admin_job_event_inline.css
Due: lint-gateway

fix lint
  gateway/api/admin.py
Due: lint-gateway

shorter invalid version message so that it doesn't exceed 120 charecters per line for linting.
  gateway/api/v1/serializers.py
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

remove empty string as valid
  gateway/api/v1/serializers.py
Due: lint-gateway

remove added version numbers from fixtures as they are not needed
  gateway/tests/fixtures/acl_fixtures.json
  gateway/tests/fixtures/catalog_fixtures.json
  gateway/tests/fixtures/schedule_fixtures.json
Due: none

remove added version number from fixtures
  gateway/tests/fixtures/files_fixtures.json
  gateway/tests/fixtures/fixtures.json
Due: none

fix W0707 raise missing from
  gateway/api/v1/serializers.py
Due: lint-gateway

Fix admin css (#1906)
  gateway/.gitignore
  gateway/api/admin.py
  gateway/api/static/admin/css/admin_job_event_inline.css
Due: lint-gateway

Fix black
  tests/integration/test_jobs.py
Due: lint-tests

Add version field (#1904)
  gateway/api/migrations/0044_program_version.py
  gateway/api/serializers.py
  gateway/api/v1/serializers.py
  gateway/core/models.py
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

delete unwanted release note
  releasenotes/notes/migrate-old-job-logs-c994efd84b14fc8e.yaml
Due: none

black
  tests/integration/test_jobs.py
Due: lint-tests

Fix DATA_PATH for local testing of provider functions (#1898)
  gateway/api/utils.py
  gateway/tests/api/test_job.py
  gateway/tests/api/test_utils.py
Due: lint-gateway

moved to config/config_key
  gateway/api/v1/views/utils.py
  gateway/core/config_key.py
  gateway/core/models.py
  gateway/main/settings.py
  gateway/tests/api/test_v1_files.py
  tests/integration/test_jobs.py
Due: lint-gateway, lint-tests

remove TODO
  gateway/main/settings.py
Due: lint-gateway

change pre-commit-config
  .pre-commit-config.yaml
Due: none

change file tests
  tests/integration/test_files.py
  tests/source_files/test.md
Due: lint-tests

refactor
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/core/domain/__init__.py
  gateway/core/domain/filter_logs.py
  gateway/main/settings.py
  gateway/scheduler/main.py
  gateway/scheduler/management/commands/run_scheduler.py
  gateway/scheduler/tasks/__init__.py
  gateway/scheduler/tasks/free_resources.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
  gateway/scripts/scheduler.sh
  gateway/tests/api/domain/functions/test_filter_logs.py
  gateway/tests/api/test_logs.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

refactor
  gateway/scheduler/tasks/free_resources.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
Due: lint-gateway

refactor 3
  gateway/scheduler/tasks/__init__.py
  gateway/scheduler/tasks/free_resources.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/task.py
  gateway/scheduler/tasks/update_jobs_statuses.py
Due: lint-gateway

refactor 4
  gateway/scheduler/tasks/__init__.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
Due: lint-gateway

Refactor scheduler loop (#1903)
  gateway/api/services/storage/__init__.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/v1/urls.py
  gateway/core/apps.py
  gateway/core/domain/__init__.py
  gateway/core/domain/filter_logs.py
  gateway/core/models.py
  gateway/core/services/storage/logs_storage.py
  gateway/main/settings.py
  gateway/main/urls.py
  gateway/manage.py
  gateway/scheduler/kill_signal.py
  gateway/scheduler/main.py
  gateway/scheduler/management/commands/run_scheduler.py
  gateway/scheduler/tasks/__init__.py
  gateway/scheduler/tasks/free_resources.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/task.py
  gateway/scheduler/tasks/update_jobs_statuses.py
  gateway/scripts/scheduler.sh
  gateway/tests/api/domain/functions/test_filter_logs.py
  gateway/tests/api/test_logs.py
  gateway/tests/core/services/storage/test_logs_storage.py
  gateway/tests/core/test_config.py
  gateway/tests/scheduler/management/test_commands.py
  releasenotes/notes/queue_limit_setting-07e5fdde214f55d3.yaml
Due: lint-gateway

first commit
  gateway/scheduler/http_server.py
  gateway/scheduler/main.py
  gateway/scheduler/management/commands/run_scheduler.py
  gateway/scheduler/views/__init__.py
  gateway/scheduler/views/probes.py
Due: lint-gateway

first commit
  gateway/tests/scheduler/test_main.py
Due: lint-gateway

http server
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/main/settings.py
  gateway/scheduler/http_server.py
  gateway/scheduler/main.py
  gateway/scheduler/management/commands/run_scheduler.py
  gateway/scheduler/views/probes.py
  gateway/tests/scheduler/test_main.py
Due: lint-gateway

add test http server
  gateway/tests/scheduler/test_http_server.py
Due: lint-gateway

add logs
  gateway/scheduler/http_server.py
  gateway/scheduler/views/probes.py
Due: lint-gateway

Add version field to client upload code
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

Add unit tests for function upload in both artifact and image mode. Include tests for version.
  client/tests/core/test_function_upload.py
Due: lint-client

Add release note for fix
  releasenotes/notes/add-version-fe2b6a4ae0b42f76.yaml
Due: none

Revamp test
  client/tests/core/test_function_upload.py
Due: lint-client

Group all release notes from 0.29.0 in corresponding folder
  releasenotes/notes/0.29/improve-exception-404-9815392d005df623.yaml
  releasenotes/notes/0.29/improve-storage-logic-cffa12b8e089a34d.yaml
  releasenotes/notes/0.29/remove-local-ray-client-8401e08384314cce.yaml
  releasenotes/notes/0.29/remove-old-iqp-authentication-903433fbbc1d59fe.yaml
  releasenotes/notes/0.29/update-runtime-0.45-557adfb4707927cf.yaml
Due: none

Add missing 0.30 release notes
  releasenotes/notes/create-job-events-246dea646646a2fc.yaml
  releasenotes/notes/fix-data-path-892b3f3b42dc4b6c.yaml
  releasenotes/notes/logs-refactor-with-cos-227ee56323684349.yaml
  releasenotes/notes/new-api-exceptions-7aa47ab63b218672.yaml
  releasenotes/notes/scheduler-refactored-f8cbc662aa0072f2.yaml
Due: none

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
