Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

grafana panels
  gateway/scheduler/metrics/grafana_dashboard.json
  gateway/scheduler/metrics/grafana_gateway.json
Due: none

grafana panels
  gateway/scheduler/metrics/grafana_dashboard.json
  gateway/scheduler/metrics/grafana_scheduler.json
Due: none

grafana panels
  gateway/scheduler/metrics/grafana_gateway.json
  gateway/scheduler/metrics/grafana_scheduler.json
Due: none

Configure JSON logging (#1969)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/main/settings.py
  gateway/requirements.txt
Due: lint-gateway

new metrics
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  gateway/scheduler/metrics/grafana_scheduler.json
  gateway/scheduler/metrics/scheduler_metrics_collector.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
Due: lint-gateway

time per job metrics, and job status per provider
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  gateway/scheduler/metrics/scheduler_metrics_collector.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
Due: lint-gateway

linter fix
  gateway/scheduler/tasks/schedule_queued_jobs.py
Due: lint-gateway

Add Scheduler metrics per provider (#1973)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  gateway/scheduler/metrics/scheduler_metrics_collector.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
Due: lint-gateway

dashboard
  gateway/scheduler/metrics/grafana_scheduler.json
Due: none

set REGISTRY as default registry
  gateway/scheduler/main.py
  gateway/scheduler/management/commands/run_scheduler.py
  gateway/scheduler/metrics/scheduler_metrics_collector.py
  gateway/scheduler/tasks/free_resources.py
  gateway/scheduler/tasks/update_jobs_statuses.py
  gateway/tests/api/test_logs.py
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/scheduler/test_http_server.py
  gateway/tests/scheduler/test_main.py
Due: lint-gateway

added more logs
  gateway/core/services/runners/ray_runner.py
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
Due: lint-gateway

improve kill cluster
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

linter
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

linter
  gateway/scheduler/tasks/schedule_queued_jobs.py
Due: lint-gateway

new version
  gateway/core/services/runners/ray_runner.py
  gateway/scheduler/tasks/free_resources.py
Due: lint-gateway

combine panels
  gateway/scheduler/metrics/grafana_scheduler.json
Due: none

fix logs
  gateway/scheduler/tasks/free_resources.py
Due: lint-gateway

organize methods
  gateway/scheduler/tasks/free_resources.py
Due: lint-gateway

bugfix
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

fix _wait_for_cluster_ready
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

undo fix _wait_for_cluster_ready
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

undo fix _kill_ray_cluster
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

fix _kill_ray_cluster
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

Apply suggestion from @avilches
  gateway/scheduler/tasks/schedule_queued_jobs.py
Due: lint-gateway

default to 8 min
  gateway/main/settings.py
Due: lint-gateway

Improve scheduler logs in Ray/Cluster operations (#1974)
  gateway/core/services/runners/ray_runner.py
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
Due: lint-gateway

Remove DYNAMIC_DEPENDENCIES_FILE and its references
  .github/workflows/build-containers-test.yaml
  docker-compose-dev.yaml
  gateway/Dockerfile
  gateway/tests/api/test_v1_dependencies.py
  gateway/tests/api/test_v1_serializers.py
  ray-node/Dockerfile
  ray-node/requirements-test-dynamic-dependencies.txt
  tests/integration/test_dependencies.py
  tests/source_files/pattern_with_dependencies.py
  tests/tox.ini
Due: lint-gateway, lint-tests

GATEWAY_DYNAMIC_DEPENDENCIES no longer required in compose
  docker-compose-dev.yaml
Due: none

remove requirements-test-dynamic-dependencies.txt override
  tests/tox.ini
Due: none

update gateway tests to use production dependencies
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

Remove unnecessary @override_settings decorators from tests
  gateway/tests/api/test_v1_dependencies.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

Fix test failures: Update GATEWAY_DYNAMIC_DEPENDENCIES default path
  gateway/main/settings.py
Due: lint-gateway
