Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Fix wait_for_cluster ready (#1976)
  gateway/core/services/runners/ray_runner.py
  gateway/main/settings.py
Due: lint-gateway

Fix gateway unit tests by configuring path in tox.ini
  gateway/main/settings.py
  gateway/tox.ini
Due: lint-gateway

Remove Helm secret creation templates from gateway chart
  charts/qiskit-serverless/charts/gateway/templates/secret-key.yaml
  charts/qiskit-serverless/charts/gateway/templates/secret-psql.yaml
  charts/qiskit-serverless/charts/gateway/templates/secret-superuser.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
Due: none

improve error loggin
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

fix linter
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

reduce the complexity of the flow
  gateway/scheduler/tasks/update_jobs_statuses.py
Due: lint-gateway

reduce the complexity of the flow
  gateway/scheduler/schedule.py
Due: lint-gateway

moved the configuration to the tox.ini file
  charts/qiskit-serverless/charts/gateway/templates/secret-key.yaml
  charts/qiskit-serverless/charts/gateway/templates/secret-psql.yaml
  charts/qiskit-serverless/charts/gateway/templates/secret-superuser.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  tests/tox.ini
Due: none

fix values configuration
  tests/tox.ini
Due: none

restore values from root
  tests/tox.ini
Due: none

inject the values in the yaml by now
  charts/qiskit-serverless/values.yaml
  tests/tox.ini
Due: none

bugfix
  gateway/api/repositories/users.py
Due: lint-gateway

Update gateway/tests/api/test_v1_serializers.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

bugfix
  .github/workflows/integration-tests.yaml
  .github/workflows/kubernetes-deploy.yaml
Due: none

bugfix
  .github/workflows/integration-tests.yaml
Due: none

bugfix
  gateway/requirements.txt
Due: none

rollback changes
  gateway/api/repositories/users.py
Due: lint-gateway

Pin django concurrency (#1982)
  .github/workflows/integration-tests.yaml
  .github/workflows/kubernetes-deploy.yaml
  gateway/requirements.txt
Due: none

Scheduler: reduce the complexity of the update job status flow (#1980)
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/update_jobs_statuses.py
Due: lint-gateway

Fix the `_kill_ray_cluster` (#1978)
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

bugfix (#1981)
  gateway/api/repositories/users.py
Due: lint-gateway

linter and merge
  gateway/scheduler/main.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
Due: lint-gateway

linter and merge
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

Improve entrypoint files
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  docker-compose-dev.yaml
  docker-compose.yaml
  gateway/Dockerfile
  gateway/entrypoint.sh
  gateway/scripts/scheduler.sh
Due: none

added entrypoint files
  gateway/entrypoint-gateway.sh
  gateway/entrypoint-scheduler.sh
Due: none

refactor: Replace GATEWAY_DYNAMIC_DEPENDENCIES with environment-aware path selection
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  gateway/api/utils.py
  gateway/main/settings.py
  gateway/tox.ini
Due: lint-gateway

added entrypoint files
  gateway/entrypoint-scheduler.sh
Due: none

fix formatting
  gateway/api/utils.py
Due: lint-gateway

fix: Remove GATEWAY_DYNAMIC_DEPENDENCIES env var from deployment template
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
Due: none

Remove DYNAMIC_DEPENDENCIES_FILE build argument (#1975)
  .github/workflows/build-containers-test.yaml
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  docker-compose-dev.yaml
  gateway/Dockerfile
  gateway/api/utils.py
  gateway/main/settings.py
  gateway/tests/api/test_v1_dependencies.py
  gateway/tests/api/test_v1_serializers.py
  ray-node/Dockerfile
  ray-node/requirements-test-dynamic-dependencies.txt
  tests/integration/test_dependencies.py
  tests/source_files/pattern_with_dependencies.py
  tests/tox.ini
Due: lint-gateway, lint-tests

Scheduler/refactors tasks free resources only (#1979)
  gateway/scheduler/tasks/free_resources.py
Due: lint-gateway

Scheduler use default REGISTRY for metrics (#1983)
  gateway/scheduler/main.py
  gateway/scheduler/management/commands/run_scheduler.py
  gateway/scheduler/metrics/scheduler_metrics_collector.py
  gateway/scheduler/tasks/free_resources.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
  gateway/tests/api/test_logs.py
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/scheduler/test_http_server.py
  gateway/tests/scheduler/test_main.py
Due: lint-gateway

improve task errors
  gateway/scheduler/metrics/grafana_scheduler.json
  gateway/scheduler/metrics/scheduler_metrics_collector.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
Due: lint-gateway

fix active job by status metric
  gateway/scheduler/metrics/scheduler_metrics_collector.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
Due: lint-gateway

fix active job by status metric (#1986)
  gateway/scheduler/metrics/scheduler_metrics_collector.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
Due: lint-gateway

merge from main
  gateway/api/services/authentication/ibm_quantum_platform.py
  gateway/tests/api/authentication/custom_token/test_ibm_quantum_platform.py
Due: lint-gateway

tox.ini setup
  charts/qiskit-serverless/values.yaml
  tests/tox.ini
Due: none

add configuration in deploy script
  docs/custom_images/custom_function/local_cluster/deploy.sh
Due: none

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
