Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-gateway, pylint-client, pylint-tests, mypy-client

.pre-commit-config.yaml:

repos:
  # Fast hooks - run on every commit
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-added-large-files

  # Black - auto-formats staged files (very fast)
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11

  # Pylint & Mypy - only on pre-push (slower checks)
  # Config is read from each project's .pylintrc file
  - repo: local
    hooks:
      - id: pylint-gateway
        name: pylint (gateway)
        entry: bash -c 'cd gateway && pylint -rn api main'
        language: system
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: pylint-client
        name: pylint (client)
        entry: bash -c 'cd client && pylint -rn qiskit_serverless tests'
        language: system
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: pylint-tests
        name: pylint (tests)
        entry: bash -c 'cd tests && pylint -rn docker/test_* docker/conftest.py'
        language: system
        files: ^tests/docker/
        types: [python]
        stages: [pre-push]

      - id: mypy-client
        name: mypy (client)
        entry: bash -c 'cd client && mypy --install-types --non-interactive .'
        language: system
        files: ^client/
        types: [python]
        stages: [pre-push]

test
  .pre-commit-config.yaml
  docs/deployment/client_configuration.rst
Due: none

tox init
  .pre-commit-scripts.sh
  gateway/tox.ini
Due: none

config
  .pre-commit-config.yaml
Due: none

test
  client/qiskit_serverless/core/files.py
Due: pylint-client, mypy-client

rollback
  client/qiskit_serverless/core/files.py
Due: pylint-client, mypy-client

test
  gateway/api/use_cases/jobs/associate_runtime_jobs.py
Due: pylint-gateway

.pylintrc for tests
  tests/.pylintrc
Due: none

Removed LocalClient and RayClient
  client/qiskit_serverless/__init__.py
  client/qiskit_serverless/core/__init__.py
  client/qiskit_serverless/core/clients/local_client.py
  client/qiskit_serverless/core/clients/ray_client.py
Due: pylint-client, mypy-client

Removed LocalClient and RayClient and changed tests
  tests/docker/conftest.py
Due: pylint-tests

Removed `LocalFunctionsStore`
  client/qiskit_serverless/core/local_functions_store.py
Due: pylint-client, mypy-client

fix import
  gateway/tests/api/test_v1_program.py
Due: pylint-gateway

move cast to settings
  gateway/api/domain/function/check_logs.py
  gateway/main/settings.py
Due: pylint-gateway

fix test
  gateway/tests/api/management/test_commands.py
Due: pylint-gateway

adding instructions to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

add pre-commit to requirements-dev.txt
  client/requirements-dev.txt
Due: none

add pre-commit to requirements-dev.txt
  gateway/requirements-dev.txt
Due: none

add pre-commit to requirements-dev.txt
  tests/requirements-dev.txt
Due: none

fix comment
  CONTRIBUTING.md
Due: none

Apply suggestions from code review
  client/README.md
  docs/deployment/client_configuration.rst
Due: none

fix comment
  CONTRIBUTING.md
  gateway/api/use_cases/jobs/associate_runtime_jobs.py
Due: pylint-gateway

add auto install
  .pre-commit-config.yaml
Due: none

use tox per folder instead to avoid install pylint-django in client venv
  .pre-commit-config.yaml
Due: none

test
  gateway/tox.ini
Due: none

Removed `params` since there is only `serverless` client
  tests/docker/conftest.py
Due: pylint-tests

add tests and fix logs
  gateway/api/use_cases/jobs/get_logs.py
  gateway/tests/api/test_job.py
Due: pylint-gateway

fix black
  gateway/tests/api/test_job.py
Due: pylint-gateway

removed request argument
  tests/docker/conftest.py
Due: pylint-tests

added release notes
  releasenotes/notes/remove-local-ray-client-8401e08384314cce.yaml
Due: none

Removed `local client` in the skip decorator.
  tests/docker/test_docker.py
Due: pylint-tests

Removed `local client` in the comment and changed releasenotes
  releasenotes/notes/remove-local-ray-client-8401e08384314cce.yaml
  tests/docker/test_docker.py
Due: pylint-tests

added and fixed test and small refactor
  gateway/api/management/commands/free_resources.py
  gateway/api/use_cases/jobs/get_compute_resource_logs.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/tests/api/management/test_commands.py
  gateway/tests/api/test_job.py
Due: pylint-gateway

lint
  gateway/tests/api/management/test_commands.py
  gateway/tests/api/test_job.py
Due: pylint-gateway

fix integration tests
  gateway/api/domain/function/filter_logs.py
  gateway/api/use_cases/jobs/get_compute_resource_logs.py
Due: pylint-gateway

fix tests
  gateway/tests/api/test_job.py
  tests/docker/test_docker.py
Due: pylint-gateway, pylint-tests

improved docs
  gateway/api/use_cases/jobs/get_compute_resource_logs.py
Due: pylint-gateway

black .
  gateway/api/use_cases/jobs/get_compute_resource_logs.py
  tests/docker/test_docker.py
Due: pylint-gateway, pylint-tests

Added provider_logs client access
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/job.py
Due: pylint-client, mypy-client
