Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && pylint -rn api main'
  language: system
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && pylint -rn qiskit_serverless tests && mypy --install-types --non-interactive .'
  language: system
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && pylint -rn docker/test_* docker/conftest.py'
  language: system
  stages:
  - pre-push

fix linter
  tests/integration/test_experimental.py
Due: none

fix test
  tests/integration/test_experimental.py
Due: none

fix model
  gateway/core/models.py
Due: lint-gateway

black
  gateway/core/models.py
Due: lint-gateway

ensure "core" models belongs to the api
  gateway/core/apps.py
Due: lint-gateway

New logs system management (#1753)
  LOGS.md
  client/qiskit_serverless/__init__.py
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/job.py
  client/qiskit_serverless/utils/__init__.py
  client/qiskit_serverless/utils/json.py
  client/qiskit_serverless/utils/loggers.py
  docker-compose-dev.yaml
  docker-compose.yaml
  gateway/api/access_policies/jobs.py
  gateway/api/domain/function/filter_logs.py
  gateway/api/services/storage/__init__.py
  gateway/api/services/storage/logs_storage.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/v1/views/jobs/provider_logs.py
  gateway/core/services/storage/file_storage.py
  gateway/scheduler/management/commands/free_resources.py
  gateway/scheduler/management/commands/update_jobs_statuses.py
  gateway/scheduler/schedule.py
  gateway/tests/api/access_policies/test_jobs.py
  gateway/tests/api/authentication/custom_token/__init__.py
  gateway/tests/api/domain/__init__.py
  gateway/tests/api/domain/functions/__init__.py
  gateway/tests/api/domain/functions/test_filter_logs.py
  gateway/tests/api/test_job.py
  gateway/tests/api/test_logs.py
  gateway/tests/core/services/storage/test_logs_storage.py
  gateway/tests/core/services/storage/test_path_builder.py
  gateway/tests/resources/fake_media/default/Docker-Image-Program/logs/1a7947f9-6ae8-4e3d-ac1e-e7d608deec85.log
  gateway/tests/resources/fake_media/test_user/logs/57fc2e4d-267f-40c6-91a3-38153272e764.log
  gateway/tests/resources/fake_media/test_user_2/default/Docker-Image-Program/logs/1a7947f9-6ae8-4e3d-ac1e-e7d608deec85.log
  gateway/tests/scheduler/management/test_commands.py
  releasenotes/notes/logs-refactor-with-cos-227ee56323684349.yaml
  tests/external/test_runtime.py
  tests/integration/test_experimental.py
  tests/integration/test_jobs.py
  tests/source_files/logger.py
  tests/source_files/pattern_with_errors.py
  tests/source_files/pattern_with_stop.py
  tests/tox.ini
Due: lint-gateway, lint-client

move tests
  tests/integration/test_files.py
  tests/source_files/consume_files.py
  tests/source_files/produce_files.py
Due: none

improve
  gateway/core/apps.py
Due: lint-gateway

remove folder
  tests/tox.ini
Due: none

remove folder
  .pre-commit-config.yaml
Due: none

Fix experimental tests (#1884)
  tests/integration/test_files.py
Due: none

remove require_serial
  .pre-commit-config.yaml
Due: none

Validate api models (#1885)
  gateway/core/apps.py
Due: lint-gateway

change add status event condition
  gateway/api/use_cases/jobs/set_sub_status.py
Due: lint-gateway

fix update jobs statuses
  gateway/scheduler/management/commands/update_jobs_statuses.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

move inside save
  gateway/scheduler/management/commands/update_jobs_statuses.py
Due: lint-gateway

fix related name
  gateway/api/migrations/0042_jobevent.py
  gateway/core/model_managers/job_events.py
  gateway/core/models.py
Due: lint-gateway

add_sub_status_event function added black formatting
  gateway/api/use_cases/jobs/set_sub_status.py
  gateway/core/model_managers/job_events.py
  gateway/core/services/job_status.py
  gateway/scheduler/management/commands/schedule_queued_jobs.py
  gateway/scheduler/management/commands/update_jobs_statuses.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

fix tests
  gateway/tests/api/test_job.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

remove old tests
  gateway/tests/api/test_job.py
Due: lint-gateway

delete unused var
  gateway/api/use_cases/jobs/set_sub_status.py
Due: lint-gateway

move event inside try-except block
  gateway/core/services/job_status.py
Due: lint-gateway

change update_jobs_statuses test
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

fix lint and black
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

rename run_program_serializer to run_program
  gateway/api/serializers.py
  gateway/core/model_managers/job_events.py
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

black
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

Set pass_filenames in commit hooks (#1886)
  .pre-commit-config.yaml
Due: none

addressing feedback
  gateway/tests/api/authentication/custom_token/test_ibm_quantum_platform.py
Due: lint-gateway

Cache IAM requests (#1887)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  gateway/api/authentication.py
  gateway/api/services/authentication/ibm_quantum_platform.py
  gateway/main/settings.py
  gateway/tests/api/authentication/custom_token/test_ibm_quantum_platform.py
Due: lint-gateway

Allow integration tests to runtime jobs with staging and production
  tests/external/conftest.py
  tests/external/test_runtime.py
  tests/source_files/runtime_job.py
  tests/source_files/runtime_session.py
  tests/source_files/runtime_stop.py
Due: none

Create job events of status and sub-status changes (#1878)
  gateway/api/migrations/0042_jobevent.py
  gateway/api/serializers.py
  gateway/api/use_cases/jobs/set_sub_status.py
  gateway/api/use_cases/jobs/stop.py
  gateway/core/model_managers/__init__.py
  gateway/core/model_managers/job_events.py
  gateway/core/models.py
  gateway/core/services/job_status.py
  gateway/scheduler/management/commands/schedule_queued_jobs.py
  gateway/scheduler/management/commands/update_jobs_statuses.py
  gateway/tests/api/test_job.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

Allow integration tests to runtime jobs with staging and production
  tests/external/test_runtime.py
  tests/source_files/runtime_job.py
  tests/source_files/runtime_session.py
  tests/source_files/runtime_stop.py
Due: none

Allow integration tests to runtime jobs with staging and production
  tests/source_files/runtime_job.py
  tests/source_files/runtime_session.py
  tests/source_files/runtime_stop.py
Due: none

refactors
  tests/external/conftest.py
  tests/external/test_runtime.py
Due: none

upgrade ray node image
  ray-node/Dockerfile
Due: none

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/docker/ and \.py$
