Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Move queryset.update() inside if status_has_changed and drop COS result retrieval
  gateway/scheduler/tasks/update_jobs_statuses.py
  gateway/tests/scheduler/test_update_jobs_statuses.py
Due: lint-gateway

Fix mypy JsonType incompatibility in json request dicts
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/job.py
Due: lint-client

Fix mypy JsonType incompatibility in json request dicts (#2111)
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/job.py
Due: lint-client

Fix black formatting
  tests/instances/conftest.py
  tests/instances/test_instance_permissions.py
Due: lint-tests

Support different accesses for Arguments storage (#2102)
  gateway/api/serializers.py
  gateway/core/services/runners/fleets_runner.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/arguments_storage.py
  gateway/core/services/storage/arguments_storage_fleets.py
  gateway/core/services/storage/arguments_storage_ray.py
  gateway/tests/api/test_job.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/core/services/runners/test_fleets_runner.py
  gateway/tests/core/services/storage/test_arguments_storage.py
Due: lint-gateway

Add ARGUMENTS_PATH env var for runner-controlled argument file location (#2099)
  client/qiskit_serverless/core/constants.py
  client/qiskit_serverless/serializers/program_serializers.py
  client/tests/serializers/test_program_serializers.py
  gateway/api/utils.py
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/api/test_utils.py
  gateway/tests/core/services/runners/test_fleets_runner.py
Due: lint-gateway, lint-client

Replace retry loop with save(update_fields) in ScheduleQueuedJobs (#2106)
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/scheduler/test_schedule_queued_jobs.py
Due: lint-gateway

Remove dead code job.refresh_from_db() with no assert after it
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

Add tracing env variables to docker-compose
  docker-compose.yaml
Due: none

Replace job.save() with save(update_fields) in UpdateJobsStatuses (#2110)
  gateway/scheduler/tasks/update_jobs_statuses.py
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/scheduler/test_update_jobs_statuses.py
Due: lint-gateway

Integrate telemetry in the API and configure it locally (#2038)
  charts/qiskit-serverless/charts/gateway/templates/rayclustertemplate.yaml
  client/qiskit_serverless/core/constants.py
  client/qiskit_serverless/core/decorators.py
  client/qiskit_serverless/core/tracing.py
  docker-compose-dev.yaml
  docker-compose.yaml
  gateway/api/apps.py
  gateway/api/decorators/trace_decorator.py
  gateway/api/views/programs.py
  gateway/core/services/runners/ray_runner.py
  gateway/main/tracing.py
  gateway/manage.py
  gateway/requirements.txt
Due: lint-gateway, lint-client

Extract job status counts metric into its own scheduler task
  gateway/scheduler/tasks/schedule_fleets_jobs.py
Due: lint-gateway

Split Fleets scheduling into dedicated ScheduleFleetsJobs task
  gateway/scheduler/main.py
  gateway/scheduler/tasks/update_job_status_counts.py
Due: lint-gateway

Register ScheduleRayJobs and ScheduleFleetsJobs in main scheduler loop
  gateway/scheduler/main.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

Refactor ScheduleQueuedJobs to ScheduleRayJobs, Ray only
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/tests/scheduler/test_schedule_queued_jobs.py
Due: lint-gateway

Restore UpdateJobStatusCounts task (moved in #2107, not removed)
  gateway/scheduler/main.py
  gateway/scheduler/tasks/update_job_status_counts.py
Due: lint-gateway

Add ScheduleFleetsJobs task
  gateway/scheduler/tasks/schedule_fleets_jobs.py
  gateway/tests/scheduler/test_schedule_fleets_jobs.py
Due: lint-gateway

Do not update min version
  gateway/requirements.txt
Due: none

Update requirements.txt
  client/requirements.txt
Due: none

deploy: 66232a58e562541e51c18de1664bc474e81aebe5
  .buildinfo
  .doctrees/environment.pickle
Due: none

added 'account_id' to the serializer
  gateway/api/serializers.py
Due: lint-gateway

created adn updated tests
  gateway/tests/api/test_job.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/utils.py
Due: lint-gateway

lint
  gateway/tests/api/test_job.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/utils.py
Due: lint-gateway

lint
  gateway/tests/utils.py
Due: lint-gateway

Split execute_job into execute_ray_job and execute_fleets, add Job.save_direct
  gateway/core/models.py
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/schedule_fleets_jobs.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/scheduler/test_schedule.py
  gateway/tests/scheduler/test_schedule_fleets_jobs.py
  gateway/tests/scheduler/test_schedule_queued_jobs.py
Due: lint-gateway

lint format
  gateway/core/models.py
  gateway/scheduler/schedule.py
Due: lint-gateway

Create Runtime API /functions integration tests (WIP) (#2092)
  tests/instances/conftest.py
  tests/instances/test_instance_permissions.py
  tests/tox.ini
Due: lint-tests

start of adding RESULT_PATH env var
  client/qiskit_serverless/core/constants.py
  gateway/api/utils.py
  gateway/core/services/runners/fleets_runner.py
Due: lint-gateway, lint-client

lint
  gateway/core/services/runners/fleets_runner.py
Due: lint-gateway

deploy: e47ad101d8855c395e7570647f3d2260779fbac5
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: a1a371a805cf3ec1f276284eca20c3b6efaf7867
  .buildinfo
  .doctrees/environment.pickle
Due: none

Add pyproject.toml with Black line-length 120
  gateway/pyproject.toml
  gateway/scheduler/main.py
  gateway/scheduler/tasks/schedule_fleets_jobs.py
Due: lint-gateway

Fix mypy after update
  client/qiskit_serverless/utils/http.py
Due: lint-client

Apply review comments: move factories to init and change name to follow get_ pattern
  gateway/core/ibm_cloud/__init__.py
  gateway/core/ibm_cloud/clients.py
  gateway/core/ibm_cloud/code_engine/fleets/cos.py
  gateway/core/ibm_cloud/code_engine/fleets/handler.py
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_job_cos_unit.py
Due: lint-gateway

Apply review suggestion: return object (CEAuth) instead of tuple from constructor
  gateway/core/ibm_cloud/__init__.py
  gateway/core/services/runners/fleets_runner.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_job_cos_unit.py
Due: lint-gateway

Second attempt at fixing mypy
  client/qiskit_serverless/utils/http.py
Due: lint-client

Fix COS endpoint URL: use direct instead of private
  gateway/core/ibm_cloud/clients.py
  gateway/core/ibm_cloud/cos/cos_client.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_job_cos_unit.py
  gateway/tests/core/services/ibm_cloud/cos/test_cos_client_unit.py
  gateway/tests/core/services/ibm_cloud/test_clients_unit.py
Due: lint-gateway

Add tracing configuration
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/templates/rayclustertemplate.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

wip
  gateway/tests/core/services/ibm_cloud/test_clients_unit.py
Due: lint-gateway

bugfix
  gateway/tests/core/services/ibm_cloud/test_clients_unit.py
Due: lint-gateway

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
