Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Basename client download target to prevent path traversal (#2310)
  client/qiskit_serverless/core/files.py
  client/tests/core/test_files.py
Due: lint-client

Drop duplicate ENV_JOB_ARGUMENTS literal env var for fleets (#2314)
  gateway/core/ibm_cloud/code_engine/fleets/utils.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_utils.py
Due: lint-gateway

Instance permission acceptance tests via NTC and Runtime API (#2282)
  gateway/api/clients/function_access_client.py
  gateway/tests/api/clients/conftest.py
  gateway/tests/api/clients/test_function_access_client.py
  specs/INSTANCES_AUTH.md
  tests/instances/conftest.py
  tests/instances/instance_client.py
  tests/instances/ntc_client.py
  tests/instances/permission_checks.py
  tests/instances/runtime_api_client.py
  tests/instances/test_instance_permissions.py
  tests/instances/test_instance_propagation.py
  tests/instances/test_ntc_client.py
  tests/instances/test_runtime_api.py
  tests/instances/test_runtime_api_client.py
  tests/pyproject.toml
  tests/tox.ini
Due: lint-gateway, lint-tests

Move gateway ray template dir off world-writable /tmp (#2301)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  gateway/main/settings.py
  gateway/tests/main/__init__.py
  gateway/tests/main/test_settings.py
Due: lint-gateway

Change noops log level to info
  gateway/core/ibm_cloud/event_streams/noop_event_streams_client.py
Due: lint-gateway

Rename to ENVIRONMENT the env variable
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

Add fleets integration tests with mock CE and MinIO (#2130)
  .dockerignore
  .github/workflows/fleets-integration-tests.yaml
  docker-compose-fleets-test.yaml
  docs/local_setup/fleets_integration_tests.rst
  docs/local_setup/index.rst
  gateway/core/apps.py
  gateway/core/ibm_cloud/__init__.py
  gateway/core/ibm_cloud/code_engine/fleets/cos.py
  gateway/core/services/runners/fleets_mock.py
  gateway/core/services/runners/fleets_runner.py
  tests/fleets/_helpers.py
  tests/fleets/conftest.py
  tests/fleets/fleet-worker/Dockerfile
  tests/fleets/fleet-worker/runner.py
  tests/fleets/fleet-worker/storage.py
  tests/fleets/fleet-worker/worker.py
  tests/fleets/pytest.ini
  tests/fleets/source_files/bad_entrypoint.py
  tests/fleets/source_files/entrypoint.py
  tests/fleets/test_fleets_jobs.py
  tests/requirements-dev.txt
  tests/tox.ini
Due: lint-gateway, lint-tests

Add environment prefix variable (#2306)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/core/ibm_cloud/event_streams/noop_event_streams_client.py
Due: lint-gateway

improve migrations
  gateway/scheduler/management/commands/migrate_old_job_results.py
  gateway/tests/scheduler/management/test_migrate_old_job_results.py
Due: lint-gateway

Clean up merged settings test file
  gateway/tests/main/test_settings.py
Due: lint-gateway

Normalize entrypoint path to align with fleets runner
  gateway/api/v1/views/programs/upload.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

add a log
  gateway/scheduler/management/commands/migrate_old_job_results.py
Due: lint-gateway

Default DEBUG to off (#2307)
  gateway/main/settings.py
  gateway/tests/main/test_settings.py
Due: lint-gateway

improve migrations (#2315)
  gateway/scheduler/management/commands/migrate_old_job_results.py
  gateway/tests/scheduler/management/test_migrate_old_job_results.py
Due: lint-gateway

add another log
  gateway/scheduler/management/commands/migrate_old_job_results.py
Due: lint-gateway

Minor changes
  charts/qiskit-serverless/charts/gateway/values.yaml
Due: none

make the 204 cached too
  gateway/api/clients/function_access_client.py
Due: lint-gateway

make the 204 cached too
  gateway/api/clients/function_access_client.py
  gateway/tests/api/clients/test_function_access_client.py
Due: lint-gateway

add another log (#2316)
  gateway/scheduler/management/commands/migrate_old_job_results.py
Due: lint-gateway

Raise a clear error on malformed result decoder payloads (#2311)
  client/qiskit_serverless/serializers/program_serializers.py
  client/tests/serializers/test_program_serializers.py
Due: lint-client

Validate entrypoint is a safe relative .py path (#2312)
  gateway/api/v1/views/programs/upload.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

deploy: 5f432ebd9a2caa4ad2388faa3534b3d3317bec62
  .buildinfo
  .doctrees/environment.pickle
  _modules/qiskit_serverless/serializers/program_serializers.html
Due: none

deploy: 71902cf0f99451077a9809fb9f305ef8156c8790
  .buildinfo
  .doctrees/environment.pickle
Due: none

Cache the 204 response from the Runtime functions API (#2317)
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/api/clients/function_access_client.py
  gateway/tests/api/clients/test_function_access_client.py
Due: lint-gateway

deploy: 4d3885d80486e8ae1ed7ff2591e190cdc482ee48
  .buildinfo
  .doctrees/environment.pickle
Due: none

Fail closed on missing DJANGO_SECRET_KEY in production (#2304)
  docker-compose.yaml
  gateway/main/settings.py
  gateway/tests/main/test_settings.py
  gateway/tox.ini
Due: lint-gateway

deploy: 9e8dce53975ce92ddf337712ca7be6c71aa85d86
  .buildinfo
  .doctrees/environment.pickle
Due: none

Format test_settings.py with black
  gateway/tests/main/test_settings.py
Due: lint-gateway

update aqc-tensor dependency
  ray-node/requirements-dynamic-dependencies.txt
Due: none

fix test
  gateway/tests/api/test_v1_dependencies.py
Due: lint-gateway

Update aqc-tensor dependency (#2319)
  gateway/tests/api/test_v1_dependencies.py
  ray-node/requirements-dynamic-dependencies.txt
Due: lint-gateway

deploy: c8e0851d3b57e4895415ac811a19c0aafae4b36e
  .buildinfo
  .doctrees/environment.pickle
Due: none

Harden Ray cluster pod security context
  charts/qiskit-serverless/charts/gateway/templates/raycertgen.yaml
  charts/qiskit-serverless/charts/gateway/templates/rayclustertemplate.yaml
Due: none

deploy: 57c41995ec6de923233a173f71a83397e064de95
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: a95d7c5eed2d53baea2491788a79cd8dbee5c93b
  .buildinfo
  .doctrees/environment.pickle
Due: none

Prepare 0.33.0 release notes and dependency bumps
  gateway/tests/api/test_v1_dependencies.py
  ray-node/requirements-dynamic-dependencies-arm64.txt
  ray-node/requirements-dynamic-dependencies.txt
  releasenotes/notes/0.33.0/bump-aqc-tensor-0.3.0-9e4a7c2f1b60d835.yaml
  releasenotes/notes/0.33.0/bump-qiskit-ibm-runtime-0.47-6c1f9a2d8b34e057.yaml
  releasenotes/notes/0.33.0/bump-ray-node-dynamic-deps-2a8d5f13c7e94b60.yaml
  releasenotes/notes/0.33.0/deprecate-widget-and-client-name-a3f1c8e2d4b07691.yaml
  releasenotes/notes/0.33.0/download-target-basename-7d2b1e4c9a6f0e83.yaml
  releasenotes/notes/0.33.0/fix-ray-provider-result-path-0b3c1d2e4f5a6b7c.yaml
  releasenotes/notes/0.33.0/ibm-client-run-backend-validation-a9c0e2609474f9bd.yaml
  releasenotes/notes/0.33.0/prelude-0.33.0-5e9a1c7b4d2f8036.yaml
  releasenotes/notes/0.33.0/runtime-service-authentication-2c0d96730c4025c2.yaml
  releasenotes/notes/deprecate-widget-and-client-name-a3f1c8e2d4b07691.yaml
Due: lint-gateway

Fix authentication for non-default-region CRNs (e.g. eu-de)
  gateway/api/clients/function_access_client.py
  gateway/main/settings.py
  gateway/tests/api/clients/test_function_access_client.py
  releasenotes/notes/0.33.0/fix-eu-de-region-auth-4b8c2e9f1a6d0357.yaml
Due: lint-gateway

Add end-to-end routing tests for region-scoped functions API
  gateway/tests/api/clients/test_function_access_client.py
Due: lint-gateway

[create-pull-request] automated change
  .github/ISSUE_TEMPLATE/pip_dependency_request.yaml
  CITATION.cff
  charts/qiskit-serverless/Chart.lock
  charts/qiskit-serverless/Chart.yaml
  charts/qiskit-serverless/charts/gateway/Chart.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  client/qiskit_serverless/VERSION.txt
  docker-compose.yaml
  docs/custom_images/custom_function/Sample-Dockerfile
  docs/custom_images/custom_image_examples.rst
  docs/custom_images/deploy_custom_image_function.rst
  docs/deployment/cloud.rst
  gateway/main/settings.py
Due: lint-gateway

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
