Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

recover old file
  gateway/tests/fixtures/authentication_fixtures.json
Due: none

Add runner field to Job and clean up scheduler logic
  client/qiskit_serverless/core/function.py
  client/tests/core/test_serverless_client_functions.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
Due: lint-gateway, lint-client

fleets update
  gateway/api/migrations/0046_alter_config_options_alter_jobevent_options_and_more.py
  gateway/core/models.py
Due: lint-gateway

Validate JWT signature (#1999)
  gateway/api/services/authentication/ibm_quantum_platform.py
  gateway/requirements.txt
  gateway/tests/api/authentication/custom_token/test_ibm_quantum_platform.py
Due: lint-gateway

fleets update (#2002)
  gateway/api/migrations/0046_alter_config_options_alter_jobevent_options_and_more.py
  gateway/core/models.py
Due: lint-gateway

updated schedule_queued_jobs
  gateway/scheduler/tasks/schedule_queued_jobs.py
Due: lint-gateway

Add CodeEngineProject model and runner fields for Fleets support (#1990)
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/function.py
  client/tests/core/test_serverless_client_functions.py
  gateway/api/serializers.py
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/api/use_cases/jobs/stop.py
  gateway/core/services/runners/__init__.py
  gateway/main/settings.py
  gateway/scheduler/schedule.py
  gateway/scheduler/tasks/schedule_queued_jobs.py
  gateway/scheduler/tasks/update_jobs_statuses.py
  gateway/tests/core/test_ray_runner.py
Due: lint-gateway, lint-client

update alpine and openssl
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
Due: none

update ray-node
  ray-node/Dockerfile
Due: none

update gateway
  gateway/Dockerfile
Due: none

Add minimal IBMCloudClientProvider to core/services/ibm_cloud
  gateway/core/services/ibm_cloud/__init__.py
  gateway/core/services/ibm_cloud/clients.py
  gateway/requirements.txt
  gateway/tests/core/services/ibm_cloud/__init__.py
  gateway/tests/core/services/ibm_cloud/test_clients_unit.py
Due: lint-gateway

Add COSClient and JobCOS to core/services/ibm_cloud
  gateway/core/services/ibm_cloud/code_engine/__init__.py
  gateway/core/services/ibm_cloud/code_engine/fleets/__init__.py
  gateway/core/services/ibm_cloud/code_engine/fleets/cos.py
  gateway/core/services/ibm_cloud/cos/__init__.py
  gateway/core/services/ibm_cloud/cos/cos_client.py
Due: lint-gateway

Add unit tests for COSClient and JobCOS
  gateway/tests/core/services/ibm_cloud/code_engine/__init__.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/__init__.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_job_cos_unit.py
  gateway/tests/core/services/ibm_cloud/cos/__init__.py
  gateway/tests/core/services/ibm_cloud/cos/test_cos_client_unit.py
Due: lint-gateway

Add minimal IBMCloudClientProvider to core/services/ibm_cloud (#2004)
  gateway/core/services/ibm_cloud/__init__.py
  gateway/core/services/ibm_cloud/clients.py
  gateway/requirements.txt
  gateway/tests/core/services/ibm_cloud/__init__.py
  gateway/tests/core/services/ibm_cloud/test_clients_unit.py
Due: lint-gateway

Update Docker base images (#2003)
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  gateway/Dockerfile
  ray-node/Dockerfile
Due: none

Title: Add COSClient and JobCOS to gateway (#2005)
  gateway/core/services/ibm_cloud/code_engine/__init__.py
  gateway/core/services/ibm_cloud/code_engine/fleets/__init__.py
  gateway/core/services/ibm_cloud/code_engine/fleets/cos.py
  gateway/core/services/ibm_cloud/cos/__init__.py
  gateway/core/services/ibm_cloud/cos/cos_client.py
  gateway/tests/core/services/ibm_cloud/code_engine/__init__.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/__init__.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_job_cos_unit.py
  gateway/tests/core/services/ibm_cloud/cos/__init__.py
  gateway/tests/core/services/ibm_cloud/cos/test_cos_client_unit.py
Due: lint-gateway

updating ce-swagger-sdk files
  gateway/ce-swagger-sdk/swagger_client/__init__.py
  gateway/ce-swagger-sdk/swagger_client/api/__init__.py
  gateway/ce-swagger-sdk/swagger_client/api/fleets_api.py
  gateway/ce-swagger-sdk/swagger_client/api_client.py
  gateway/ce-swagger-sdk/swagger_client/configuration.py
  gateway/ce-swagger-sdk/swagger_client/models/__init__.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet_cancel.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet_list.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet_prototype.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet_status_details.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet_volume_mount.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet_volume_mount_prototype.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_worker.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_worker_list.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_worker_profile.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_worker_profile_list.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_worker_status_details.py
  gateway/ce-swagger-sdk/swagger_client/rest.py
Due: lint-gateway

Add minimal ce-swagger-sdk files (#2000)
  gateway/ce-swagger-sdk/swagger_client/__init__.py
  gateway/ce-swagger-sdk/swagger_client/api/__init__.py
  gateway/ce-swagger-sdk/swagger_client/api/fleets_api.py
  gateway/ce-swagger-sdk/swagger_client/api_client.py
  gateway/ce-swagger-sdk/swagger_client/configuration.py
  gateway/ce-swagger-sdk/swagger_client/models/__init__.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet_cancel.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet_list.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet_prototype.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet_status_details.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet_volume_mount.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_fleet_volume_mount_prototype.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_worker.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_worker_list.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_worker_profile.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_worker_profile_list.py
  gateway/ce-swagger-sdk/swagger_client/models/v2_worker_status_details.py
  gateway/ce-swagger-sdk/swagger_client/rest.py
Due: lint-gateway

expanded the allowed states to QUEUED
  gateway/api/use_cases/jobs/create_event.py
  gateway/api/use_cases/jobs/set_sub_status.py
  gateway/tests/api/test_job.py
Due: lint-gateway

delete code
  gateway/api/use_cases/jobs/create_event.py
  gateway/core/services/job_status.py
Due: lint-gateway

added filter property to extractall
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

adding fleethandler implementation and unit test
  gateway/core/services/ibm_cloud/code_engine/fleets/fleet_handler.py
  gateway/core/services/ibm_cloud/code_engine/fleets/fleet_utils.py
  gateway/core/services/ibm_cloud/code_engine/fleets/fleet_workers.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_handler.py
Due: lint-gateway

Race condition with send error (#2006)
  gateway/api/use_cases/jobs/create_event.py
  gateway/api/use_cases/jobs/set_sub_status.py
  gateway/core/services/job_status.py
  gateway/tests/api/test_job.py
Due: lint-gateway

Update docker base images to latest version
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  gateway/Dockerfile
  ray-node/Dockerfile
Due: none

Move 0.30.1 release notes to corresponding folder
  releasenotes/notes/0.30.1/fix-download-error-with-big-files-f6e1ff9a85dcb4c9.yaml
  releasenotes/notes/0.30.1/fix-file-upload-error-22b2062f7a90c90a.yaml
  releasenotes/notes/0.30.1/prepare-0.30.1-e17b51e18eac9195.yaml
Due: none

Add prelude, missing renos, expland error event release note with details on subclassing exceptions, move all release notes to 0.31.0 folder
  releasenotes/notes/0.31.0/add-json-logging-2154a77b91e48089.yaml
  releasenotes/notes/0.31.0/improve-metrics-68f28444ffcf2cd2.yaml
  releasenotes/notes/0.31.0/prepare-0.31.0-494c85ef0c27688b.yaml
  releasenotes/notes/0.31.0/send_and_get_error_events-66d3fb658cd6f4bd.yaml
  releasenotes/notes/0.31.0/update-runtime-0.47-fb2845aa79d88658.yaml
  releasenotes/notes/fix-download-error-with-big-files-f6e1ff9a85dcb4c9.yaml
  releasenotes/notes/fix-file-upload-error-22b2062f7a90c90a.yaml
  releasenotes/notes/prepare-0.30.1-e17b51e18eac9195.yaml
Due: none

Adjust wording for runtime release note
  releasenotes/notes/0.31.0/update-runtime-0.47-fb2845aa79d88658.yaml
Due: none

Prepare release notes and docker images for 0.31 (#2007)
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/values.yaml
  gateway/Dockerfile
  ray-node/Dockerfile
  releasenotes/notes/0.30.1/fix-download-error-with-big-files-f6e1ff9a85dcb4c9.yaml
  releasenotes/notes/0.30.1/fix-file-upload-error-22b2062f7a90c90a.yaml
  releasenotes/notes/0.30.1/prepare-0.30.1-e17b51e18eac9195.yaml
  releasenotes/notes/0.31.0/add-json-logging-2154a77b91e48089.yaml
  releasenotes/notes/0.31.0/improve-metrics-68f28444ffcf2cd2.yaml
  releasenotes/notes/0.31.0/prepare-0.31.0-494c85ef0c27688b.yaml
  releasenotes/notes/0.31.0/send_and_get_error_events-66d3fb658cd6f4bd.yaml
  releasenotes/notes/0.31.0/update-runtime-0.47-fb2845aa79d88658.yaml
Due: none

missing permissions for stop and get runtime jobs
  gateway/api/access_policies/jobs.py
  gateway/api/use_cases/jobs/associate_runtime_jobs.py
  gateway/api/use_cases/jobs/stop.py
  gateway/api/v1/views/jobs/runtime_jobs.py
  gateway/api/v1/views/jobs/stop.py
  gateway/tests/api/test_job.py
Due: lint-gateway

remove duplicated code
  gateway/api/serializers.py
  gateway/api/views/programs.py
Due: lint-gateway

missing permissions for stop and get runtime jobs
  gateway/api/use_cases/jobs/get_runtime_jobs.py
Due: lint-gateway

add access policy to stop
  gateway/api/access_policies/jobs.py
  gateway/api/use_cases/jobs/stop.py
  gateway/api/v1/views/jobs/stop.py
  gateway/tests/api/test_job.py
Due: lint-gateway

add access policy to get runtime jobs
  gateway/api/access_policies/jobs.py
  gateway/api/use_cases/jobs/stop.py
  gateway/api/v1/views/jobs/stop.py
  gateway/tests/api/test_job.py
Due: lint-gateway

add import
  gateway/api/use_cases/jobs/stop.py
Due: lint-gateway

add import
  gateway/api/use_cases/jobs/stop.py
  gateway/api/v1/views/jobs/stop.py
Due: lint-gateway

cast user
  gateway/api/use_cases/jobs/associate_runtime_jobs.py
  gateway/api/use_cases/jobs/get_runtime_jobs.py
  gateway/api/v1/views/jobs/runtime_jobs.py
Due: lint-gateway

Add access policy to stop endpoint (#2011)
  gateway/api/access_policies/jobs.py
  gateway/api/use_cases/jobs/stop.py
  gateway/api/v1/views/jobs/stop.py
  gateway/tests/api/test_job.py
Due: lint-gateway

added filter property to extractall (#2010)
  gateway/core/services/runners/ray_runner.py
Due: lint-gateway

Add AccessPolicy to get runtime jobs endpoint (#2009)
  gateway/api/access_policies/jobs.py
  gateway/api/use_cases/jobs/associate_runtime_jobs.py
  gateway/api/use_cases/jobs/get_runtime_jobs.py
  gateway/api/v1/views/jobs/runtime_jobs.py
  gateway/tests/api/test_job.py
Due: lint-gateway

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
