Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && tox -e lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

migrate programs get_by_title endpoint to standalone function view
  gateway/api/v1/views/programs/__init__.py
  gateway/api/v1/views/programs/get_by_title.py
Due: lint-gateway

remove dead get_serializer_* overrides from v1 ViewSet
  gateway/api/v1/views/programs/__init__.py
Due: lint-gateway

convert v1 programs view to package to allow endpoint submodules
  gateway/api/v1/views/programs/__init__.py
Due: lint-gateway

update integration test to match FunctionNotFoundException message
  tests/integration/test_jobs.py
Due: lint-tests

complete env_vars on job before storage; save arguments just before db save
  gateway/api/use_cases/programs/run.py
Due: lint-gateway

strip RunJobSerializer to fields-only; make v1 RunJobSerializer standalone; migrate tests to use case
  gateway/api/serializers.py
  gateway/api/v1/serializers.py
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

restore missing imports in upload use case after rebase
  gateway/api/use_cases/programs/upload.py
Due: lint-gateway

remove duplicate api_view import in endpoint_decorator
  gateway/api/v1/endpoint_decorator.py
Due: lint-gateway

Apply suggestion from @avilches
  gateway/scheduler/management/commands/migrate_old_job_logs.py
Due: lint-gateway

Fix custom image deployment guide (#2257)
  docs/custom_images/deploy_custom_image_function.rst
Due: none

fix: make Ray result storage provider-aware (#2259)
  gateway/core/services/storage/result_storage_ray.py
  gateway/tests/core/services/storage/test_result_storage.py
  releasenotes/notes/fix-ray-provider-result-path-0b3c1d2e4f5a6b7c.yaml
Due: lint-gateway

Sync charts folder (#2261)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
Due: none

deploy: 91d726022ed7d0ef53c88f157fc453e7d60dfdb9
  .buildinfo
  .doctrees/environment.pickle
  .doctrees/release-notes.doctree
  objects.inv
  release-notes.html
  searchindex.js
Due: none

Fix detect-secrets issues
  charts/qiskit-serverless/templates/kafka-credentials.yaml
  gateway/api/static/admin/css/carbon_theme.css
Due: none

Update client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/clients/serverless_client.py
Due: lint-client

updated changed from review part 1/2
  client/qiskit_serverless/core/clients/serverless_client.py
  client/tests/core/test_ibm_serverless_client.py
  releasenotes/notes/ibm-client-run-backend-validation-a9c0e2609474f9bd.yaml
Due: lint-client

updated changed from review part 2/2
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

fix review findings: encrypt env_vars on update, active_jobs_limit order, sanitize_name symmetry, N+1 in _is_trial, FunctionDisabledException base class, Function.RAY constant
  gateway/api/domain/exceptions/function_disabled_exception.py
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/run_input.py
  gateway/api/use_cases/programs/upload.py
  gateway/api/use_cases/programs/upload_input.py
  gateway/api/v1/serializers.py
  gateway/api/v1/views/programs/run.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/api/use_cases/programs/test_run.py
  gateway/tests/api/use_cases/programs/test_upload.py
Due: lint-gateway

document FunctionDisabledException HTTP 423 and view vs use case validation boundary
  specs/VIEWS.md
Due: none

remove redundant note about FunctionDisabledException inheritance
  specs/VIEWS.md
Due: none

update tests to expect sanitized function titles on upload
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

Update client/tests/core/test_ibm_serverless_client.py
  client/tests/core/test_ibm_serverless_client.py
Due: lint-client

Update gateway/scheduler/management/commands/migrate_old_job_logs.py
  gateway/scheduler/management/commands/migrate_old_job_logs.py
Due: lint-gateway

check after save
  gateway/scheduler/management/commands/migrate_old_job_logs.py
Due: lint-gateway

fix tests
  gateway/tests/scheduler/management/test_migrate_old_job_logs.py
Due: lint-gateway

change error management
  gateway/scheduler/management/commands/migrate_old_job_logs.py
Due: lint-gateway

Check that the logs file is created before erasing the job logs (#2258)
  gateway/scheduler/management/commands/migrate_old_job_logs.py
  gateway/tests/scheduler/management/test_migrate_old_job_logs.py
Due: lint-gateway

colocate program serializers with their view files
  gateway/api/v1/serializers.py
  gateway/api/v1/views/programs/run.py
  gateway/api/v1/views/programs/upload.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

add missing docstrings to satisfy pylint
  gateway/api/v1/views/programs/run.py
  gateway/api/v1/views/programs/upload.py
Due: lint-gateway

inline all serializers into their view files; delete api/v1/serializers.py
  gateway/api/v1/serializers.py
  gateway/api/v1/views/jobs/get_runtime_jobs.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/api/v1/views/jobs/save_result.py
  gateway/api/v1/views/jobs/set_sub_status.py
  gateway/api/v1/views/programs/get_by_title.py
  gateway/api/v1/views/programs/get_jobs.py
  gateway/api/v1/views/programs/list.py
  gateway/api/v1/views/programs/run.py
  gateway/api/v1/views/programs/upload.py
  gateway/tests/api/test_v1_serializers.py
Due: lint-gateway

document serializer colocating pattern in VIEWS.md
  specs/VIEWS.md
Due: none

Create ProviderQuerySet manager with get_by_name method
  gateway/core/model_managers/providers.py
  gateway/core/models.py
Due: lint-gateway

Replace ProviderRepository with Provider.objects.get_by_name()
  gateway/api/use_cases/authentication.py
  gateway/api/use_cases/files/provider_delete.py
  gateway/api/use_cases/files/provider_download.py
  gateway/api/use_cases/files/provider_list.py
  gateway/api/use_cases/files/provider_upload.py
  gateway/api/use_cases/jobs/provider_list.py
  gateway/tests/api/authentication/mock_token/test_mock_token.py
Due: lint-gateway

Remove GroupRepository and ProgramHistoryRepository from signals.py
  gateway/api/signals.py
Due: lint-gateway

Remove RuntimeJobRepository from job use cases - use ORM directly
  gateway/api/use_cases/jobs/associate_runtime_jobs.py
  gateway/api/use_cases/jobs/get_runtime_jobs.py
  gateway/api/use_cases/jobs/stop.py
Due: lint-gateway

Add reconfigurable instance permission tests via NTC
  tests/instances/conftest.py
  tests/instances/ntc_client.py
  tests/instances/permission_checks.py
  tests/instances/test_instance_permissions.py
  tests/instances/test_instance_propagation.py
  tests/instances/test_ntc_client.py
  tests/tox.ini
Due: lint-tests

Inline UserRepository into AuthenticationUseCase
  gateway/api/use_cases/authentication.py
Due: lint-gateway

Remove gateway/api/repositories/ folder
  gateway/api/repositories/__init__.py
  gateway/api/repositories/groups.py
  gateway/api/repositories/jobs.py
  gateway/api/repositories/program_history.py
  gateway/api/repositories/providers.py
  gateway/api/repositories/runtime_job.py
  gateway/api/repositories/users.py
Due: lint-gateway

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/ and \.py$
