Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Added releasenotes with migration guide
  releasenotes/notes/remove-client-name-attribute-22d41a16ad2218f5.yaml
Due: none

don't reassign program author when re-uploading an existing function
  gateway/api/use_cases/programs/upload.py
  gateway/tests/api/use_cases/programs/test_upload.py
Due: lint-gateway

Revert to python:3-alpine; fix _harden() to run on Alpine via libc.so.6 fallback
  gateway/templates/fleet_custom_job_wrapper.py
  gateway/templates/fleet_provider_job_wrapper.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_template.py
Due: lint-gateway

validate Code Engine project only when runner changes on program update
  gateway/api/use_cases/programs/upload.py
  gateway/tests/api/use_cases/programs/test_upload.py
Due: lint-gateway

Fix fleet template tests: use docker create/cp/start instead of bind mounts
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_template.py
Due: lint-gateway

Arguments validations (1/3): add `arguments_schema` field and preserve optional fields on program re-upload (#2330)
  gateway/api/migrations/0056_program_arguments_schema.py
  gateway/api/use_cases/programs/upload.py
  gateway/api/use_cases/programs/upload_input.py
  gateway/api/v1/views/programs/upload.py
  gateway/core/models.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/api/use_cases/programs/test_upload.py
Due: lint-gateway

Fix blank line flagged by black
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_template.py
Due: lint-gateway

Show function artifact in job storage files admin view
  gateway/core/services/storage/job_file_explorer.py
  gateway/tests/core/services/test_job_file_explorer.py
Due: lint-gateway

raise InvalidArgumentsException and handle it centrally in endpoint_handle_exceptions
  gateway/api/domain/exceptions/invalid_arguments_exception.py
  gateway/api/use_cases/validate_arguments.py
  gateway/api/v1/exception_handler.py
  gateway/api/v1/views/programs/run.py
  gateway/api/v1/views/programs/validate_arguments.py
  gateway/tests/api/use_cases/test_validate_arguments.py
Due: lint-gateway

move validate_arguments use case under programs/ and add ValidateArgumentsUseCase for the view
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/validate_arguments.py
  gateway/api/use_cases/validate_arguments.py
  gateway/api/v1/views/programs/validate_arguments.py
  gateway/tests/api/use_cases/programs/test_validate_arguments.py
  gateway/tests/api/use_cases/test_validate_arguments.py
Due: lint-gateway

Split fleet-node image into base and selector stages
  fleet-node/Dockerfile
Due: none

Sync fleet-node dynamic dependencies with ray-node
  fleet-node/requirements-dynamic-dependencies.txt
Due: none

add private VirtualService for SDNLB private gateway
  charts/qiskit-serverless/templates/istio.yaml
Due: none

Remove client name (#2354)
  client/qiskit_serverless/core/client.py
  client/qiskit_serverless/core/clients/serverless_client.py
  releasenotes/notes/remove-client-name-attribute-22d41a16ad2218f5.yaml
Due: lint-client

Make event streams interface metric-aware
  gateway/core/ibm_cloud/event_streams/abstract_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/noop_event_streams_client.py
Due: lint-gateway

Emit metric-oriented usage payload from Kafka client
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
Due: lint-gateway

Pass the billed metric type from the scheduler
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

Align Functions usage events with the billing service contract (#2367)
  gateway/core/ibm_cloud/event_streams/abstract_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/noop_event_streams_client.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

Update run_on_apple_silicon.rst version to 0.34.0 and add it to version-bump workflow
  .github/workflows/update-component-versions.yaml
  docs/custom_images/run_on_apple_silicon.rst
Due: none

Update run_on_apple_silicon.rst version to 0.34.0 and add it to version-bump workflow (#2368)
  .github/workflows/update-component-versions.yaml
  docs/custom_images/run_on_apple_silicon.rst
Due: none

Split fleet-node image into base and selector stages (#2365)
  fleet-node/Dockerfile
  fleet-node/requirements-dynamic-dependencies.txt
Due: none

Update requirements.txt
  client/requirements.txt
Due: none

deploy: 03f65cb19ec0b00501a01f62f2b96e76645cf335
  .buildinfo
  .doctrees/environment.pickle
Due: none

add private VirtualService for SDNLB private gateway (#2366)
  charts/qiskit-serverless/templates/istio.yaml
Due: none

Show function artifact in job storage files admin view (#2364)
  gateway/core/services/storage/job_file_explorer.py
  gateway/tests/core/services/test_job_file_explorer.py
Due: lint-gateway

Harden Fleets job wrappers: drop capabilities and set no-new-privs (#2363)
  gateway/templates/fleet_custom_job_wrapper.py
  gateway/templates/fleet_provider_job_wrapper.py
  gateway/tests/core/services/ibm_cloud/code_engine/fleets/test_fleet_template.py
Due: lint-gateway

w3id secret refactor
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/templates/w3id-sso-credentials.yaml
  charts/qiskit-serverless/values.yaml
Due: none

Consolidate ray-node and fleet-node under docker-images directory
  .github/workflows/build-containers-test.yaml
  .github/workflows/fleets-integration-tests.yaml
  Makefile
  docker-compose-dev.arm64.yaml
  docker-compose-dev.yaml
  docker-compose.arm64.yaml
  docker-images/fleet-node/Dockerfile
  docker-images/ray-node/Dockerfile
  docker-images/requirements-dynamic-dependencies-arm64.txt
  docker-images/requirements-dynamic-dependencies.txt
  docs/custom_images/custom_function/local_cluster/deploy.sh
  docs/custom_images/run_on_apple_silicon.rst
  gateway/Dockerfile
  gateway/api/utils.py
  ray-node/requirements-dynamic-dependencies.txt
  tests/tox.ini
Due: lint-gateway

w3id secret refactor (#2372)
  charts/qiskit-serverless/charts/gateway/values.yaml
  charts/qiskit-serverless/templates/w3id-sso-credentials.yaml
  charts/qiskit-serverless/values.yaml
Due: none

Keep build-containers check names stable after Dockerfile move
  .github/workflows/build-containers-test.yaml
Due: none

Rename CI checks to Ray Integration tests and Fleets smoke tests
  .github/workflows/external-tests.yaml
  .github/workflows/fleets-integration-tests.yaml
  .github/workflows/integration-tests.yaml
Due: none

improve loggin in logs migration
  gateway/scheduler/management/commands/migrate_old_job_arguments.py
  gateway/scheduler/management/commands/migrate_old_job_logs.py
  gateway/scheduler/management/commands/migrate_old_job_results.py
Due: lint-gateway

improve loggin in logs migration (#2375)
  gateway/scheduler/management/commands/migrate_old_job_arguments.py
  gateway/scheduler/management/commands/migrate_old_job_logs.py
  gateway/scheduler/management/commands/migrate_old_job_results.py
Due: lint-gateway

add license fee event
  gateway/core/ibm_cloud/event_streams/abstract_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/kafka_event_streams_client.py
  gateway/core/ibm_cloud/event_streams/noop_event_streams_client.py
  gateway/scheduler/tasks/update_fleets_jobs_statuses.py
Due: lint-gateway

chore: update Python 3.11 → 3.12 across gateway, tests, CI and tooling
  .github/workflows/build-containers-test.yaml
  .github/workflows/client-pypi-release.yaml
  .github/workflows/docs-verify.yaml
  .github/workflows/external-tests.yaml
  .github/workflows/gateway-verify.yaml
  .github/workflows/generate-release-notes.yml
  .github/workflows/integration-tests.yaml
  .github/workflows/kubernetes-deploy.yaml
  .github/workflows/publish-docs.yaml
  .gitignore
  .pre-commit-config.yaml
  gateway/Dockerfile
  gateway/pyproject.toml
  gateway/tox.ini
  tests/pyproject.toml
  tests/tox.ini
  tox.ini
Due: none

sanitize title/provider inside the validate_arguments serializer, not after validation
  gateway/api/v1/views/programs/validate_arguments.py
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

Consolidate ray-node and fleet-node under a docker-images directory (#2373)
  .github/workflows/build-containers-test.yaml
  .github/workflows/fleets-integration-tests.yaml
  Makefile
  docker-compose-dev.arm64.yaml
  docker-compose-dev.yaml
  docker-compose.arm64.yaml
  docker-images/fleet-node/Dockerfile
  docker-images/ray-node/Dockerfile
  docker-images/requirements-dynamic-dependencies-arm64.txt
  docker-images/requirements-dynamic-dependencies.txt
  docs/custom_images/custom_function/local_cluster/deploy.sh
  docs/custom_images/run_on_apple_silicon.rst
  gateway/Dockerfile
  gateway/api/utils.py
  ray-node/requirements-dynamic-dependencies.txt
  tests/tox.ini
Due: lint-gateway

add event tests
  gateway/tests/core/services/ibm_cloud/event_streams/test_event_streams_client.py
  gateway/tests/scheduler/test_update_fleets_jobs_statuses.py
Due: lint-gateway

fix lint
  gateway/core/ibm_cloud/event_streams/noop_event_streams_client.py
Due: lint-gateway

refactor feature flags to only use event stream
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/templates/kafka-credentials.yaml
  charts/qiskit-serverless/values.yaml
Due: none
