Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

lint-gateway:
  name: lint (gateway)
  entry: bash -c 'cd gateway && pylint -rn api main'
  language: system
  stages:
  - pre-push

lint-client:
  name: lint (client)
  entry: bash -c 'cd client && pylint -rn qiskit_serverless tests && mypy --install-types --non-interactive .'
  language: system
  stages:
  - pre-push

lint-tests:
  name: lint (tests)
  entry: bash -c 'cd tests && pylint -rn docker/test_* docker/conftest.py'
  language: system
  stages:
  - pre-push

Revert "remove unecessary prints"
  gateway/api/domain/function/check_logs.py
  gateway/tests/api/services/storage/test_file_storage.py
Due: lint-gateway

separate the Gateway code from the Scheduler code
  gateway/api/domain/function/__init__.py
  gateway/api/domain/function/check_logs.py
  gateway/api/serializers.py
  gateway/api/use_cases/files/delete.py
  gateway/api/use_cases/files/download.py
  gateway/api/use_cases/files/list.py
  gateway/api/use_cases/files/provider_delete.py
  gateway/api/use_cases/files/provider_download.py
  gateway/api/use_cases/files/provider_list.py
  gateway/api/use_cases/files/provider_upload.py
  gateway/api/use_cases/files/upload.py
  gateway/api/use_cases/jobs/set_sub_status.py
  gateway/api/utils.py
  gateway/core/services/file_storage.py
  gateway/core/services/job_status.py
  gateway/core/services/ray.py
  gateway/core/utils.py
  gateway/scheduler/management/commands/update_jobs_statuses.py
  gateway/scheduler/schedule.py
  gateway/tests/api/test_utils.py
  gateway/tests/api/utils/test_cluster_name_generator.py
  gateway/tests/core/test_ray.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

merge conflicts
  gateway/api/services/storage/file_storage.py
  gateway/api/services/storage/path_builder.py
Due: lint-gateway

move dependencies
  gateway/api/serializers.py
  gateway/api/use_cases/files/delete.py
  gateway/api/use_cases/files/download.py
  gateway/api/use_cases/files/list.py
  gateway/api/use_cases/files/provider_delete.py
  gateway/api/use_cases/files/provider_download.py
  gateway/api/use_cases/files/provider_list.py
  gateway/api/use_cases/files/provider_upload.py
  gateway/api/use_cases/files/upload.py
  gateway/api/use_cases/jobs/retrieve.py
  gateway/api/use_cases/jobs/save_result.py
  gateway/core/services/ray.py
  gateway/core/services/storage/__init__.py
  gateway/core/services/storage/arguments_storage.py
  gateway/core/services/storage/enums/__init__.py
  gateway/core/services/storage/enums/working_dir.py
  gateway/core/services/storage/file_storage.py
  gateway/core/services/storage/path_builder.py
  gateway/core/services/storage/result_storage.py
  gateway/tests/api/services/storage/test_arguments_storage.py
  gateway/tests/api/services/storage/test_file_storage.py
  gateway/tests/api/services/storage/test_result_storage.py
  gateway/tests/api/test_job.py
  gateway/tests/api/test_v1_program.py
Due: lint-gateway

move dependencies
  gateway/core/services/job_status.py
  gateway/tests/core/services/__init__.py
  gateway/tests/core/services/storage/__init__.py
  gateway/tests/core/services/storage/test_arguments_storage.py
  gateway/tests/core/services/storage/test_file_storage.py
  gateway/tests/core/services/storage/test_result_storage.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

move models.py and update dependencies
  gateway/api/models.py
Due: lint-gateway

configure import-linter
  gateway/requirements-dev.txt
  gateway/setup.cfg
  gateway/tox.ini
Due: none

Apply suggestions from code review
  client/qiskit_serverless/core/job.py
Due: lint-client

configure import-linter
  gateway/setup.cfg
Due: none

make tox faster
  gateway/tox.ini
Due: none

empty logs column after save.
  gateway/api/management/commands/update_jobs_statuses.py
Due: lint-gateway

save logs to storage on update_jobs_statuses
  gateway/api/management/commands/update_jobs_statuses.py
Due: lint-gateway

remove user logger name from logger.
  client/qiskit_serverless/utils/loggers.py
  gateway/api/management/commands/update_jobs_statuses.py
  gateway/tests/api/management/test_commands.py
Due: lint-gateway, lint-client

black .
  client/qiskit_serverless/core/decorators.py
  client/qiskit_serverless/utils/loggers.py
Due: lint-client

fix tests
  gateway/tests/api/test_logs.py
  tests/docker/test_docker.py
Due: lint-gateway, lint-tests

fix black
  client/qiskit_serverless/core/decorators.py
Due: lint-client

fix update jobs statuses and its test
  gateway/api/management/commands/update_jobs_statuses.py
  gateway/api/schedule.py
  gateway/tests/api/management/test_commands.py
Due: lint-gateway

fix lint
  gateway/api/management/commands/update_jobs_statuses.py
Due: lint-gateway

Update base images version
  gateway/Dockerfile
  ray-node/Dockerfile
Due: none

Separate the Gateway code from the Scheduler code [1/3] (#1856)
  gateway/api/services/storage/file_storage.py
  gateway/api/services/storage/path_builder.py
  gateway/api/use_cases/jobs/set_sub_status.py
  gateway/api/use_cases/jobs/stop.py
  gateway/core/__init__.py
  gateway/core/apps.py
  gateway/core/services/__init__.py
  gateway/core/services/ray.py
  gateway/core/utils.py
  gateway/main/settings.py
  gateway/manage.py
  gateway/scheduler/__init__.py
  gateway/scheduler/apps.py
  gateway/scheduler/management/commands/__init__.py
  gateway/scheduler/management/commands/free_resources.py
  gateway/scheduler/management/commands/schedule_queued_jobs.py
  gateway/scheduler/management/commands/update_jobs_statuses.py
  gateway/scheduler/schedule.py
  gateway/tests/core/__init__.py
  gateway/tests/core/test_ray.py
  gateway/tests/scheduler/__init__.py
  gateway/tests/scheduler/management/__init__.py
  gateway/tests/scheduler/management/test_commands.py
  gateway/tests/scheduler/test_schedule.py
Due: lint-gateway

Make Tox gateway faster (#1857)
  gateway/tox.ini
Due: none

Apply suggestion from @avilches
  gateway/Dockerfile
Due: none

Update base images version (#1858)
  gateway/Dockerfile
  ray-node/Dockerfile
Due: none

fix merge errors
  gateway/api/use_cases/jobs/get_logs.py
  gateway/api/use_cases/jobs/provider_logs.py
  gateway/tests/api/test_logs.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

fix docker file
  gateway/Dockerfile
Due: none

fix docker file (#1859)
  gateway/Dockerfile
Due: none

Add hsts header config (disabled) (#1813)
  charts/qiskit-serverless/charts/gateway/templates/deployment.yaml
  charts/qiskit-serverless/charts/gateway/values.yaml
  gateway/main/settings.py
Due: lint-gateway

ensure scheduler doesn't fail when job is not found
  gateway/scheduler/management/commands/update_jobs_statuses.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

ensure scheduler doesn't fail when job is not found (#1860)
  gateway/scheduler/management/commands/update_jobs_statuses.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

migrate old job logs working with tests
  gateway/main/settings.py
  gateway/scheduler/management/commands/migrate_old_job_logs.py
  gateway/tests/scheduler/management/test_commands.py
Due: lint-gateway

Use jwt to get aim_id and account_id for IBM
  gateway/api/services/authentication/ibm_quantum_platform.py
  gateway/tests/api/authentication/custom_token/test_ibm_quantum_platform.py
  gateway/tox.ini
Due: lint-gateway

tests
  gateway/tests/e2e/__init__.py
  gateway/tests/e2e/test_auth_e2e.py
Due: lint-gateway

move e2e tests outside of tests directory
  gateway/tests_e2e/__init__.py
  gateway/tests_e2e/test_auth_e2e.py
  gateway/tox.ini
Due: lint-gateway

Use JWT to get account (#1864)
  gateway/api/services/authentication/ibm_quantum_platform.py
  gateway/tests/api/authentication/custom_token/test_ibm_quantum_platform.py
  gateway/tests_e2e/__init__.py
  gateway/tests_e2e/test_auth_e2e.py
  gateway/tox.ini
Due: lint-gateway

validate JWT signature
  gateway/api/services/authentication/ibm_quantum_platform.py
  gateway/requirements.txt
  gateway/tests/api/authentication/custom_token/test_ibm_quantum_platform.py
  gateway/tests/fixtures/authentication_fixtures.json
  gateway/tox.ini
Due: lint-gateway

add release note
  releasenotes/notes/logs-refactor-with-cos-227ee56323684349.yaml
Due: none

add release note
  releasenotes/notes/migrate-old-job-logs-c994efd84b14fc8e.yaml
Due: none

Path conditions:
  lint-gateway: any of: ^gateway/ and \.py$
  lint-client: any of: ^client/ and \.py$
  lint-tests: any of: ^tests/docker/ and \.py$
