Repository Qiskit/qiskit-serverless: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-gateway, lint-client, lint-tests

.pre-commit-config.yaml:

repos:
   # pre-commit hooks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
     - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=120]

  # Pylint & Mypy only on pre-push (slower checks)
  # These hooks use tox to run linting in isolated environments with correct dependencies.
  # First run is slower (tox creates envs), subsequent runs are cached.
  - repo: local
    hooks:
      - id: lint-gateway
        name: lint (gateway)
        entry: bash -c 'cd gateway && tox -e lint'
        language: system
        pass_filenames: false
        files: ^gateway/
        types: [python]
        stages: [pre-push]

      - id: lint-client
        name: lint (client)
        entry: bash -c 'cd client && tox -e lint'
        language: system
        pass_filenames: false
        files: ^client/
        types: [python]
        stages: [pre-push]

      - id: lint-tests
        name: lint (tests)
        entry: bash -c 'cd tests && tox -e lint'
        language: system
        pass_filenames: false
        files: ^tests/
        types: [python]
        stages: [pre-push]

Fix logger name and restore docstrings
  gateway/api/signals.py
  gateway/core/model_managers/providers.py
Due: lint-gateway

Fix lint: remove unused imports and add missing docstring
  gateway/api/use_cases/authentication.py
  gateway/core/model_managers/providers.py
Due: lint-gateway

Serverless ibm client fail fast mechanics and runtime API expose (#2239)
  client/qiskit_serverless/core/clients/serverless_client.py
  client/qiskit_serverless/core/constants.py
  client/tests/core/test_ibm_serverless_client.py
  releasenotes/notes/ibm-client-run-backend-validation-a9c0e2609474f9bd.yaml
Due: lint-client

Refactor programs endpoint layer: standalone views, input dataclasses, clean use cases (#2255)
  gateway/api/domain/exceptions/function_disabled_exception.py
  gateway/api/serializers.py
  gateway/api/use_cases/programs/get_jobs.py
  gateway/api/use_cases/programs/run.py
  gateway/api/use_cases/programs/run_input.py
  gateway/api/use_cases/programs/upload.py
  gateway/api/use_cases/programs/upload_input.py
  gateway/api/v1/exception_handler.py
  gateway/api/v1/serializers.py
  gateway/api/v1/urls.py
  gateway/api/v1/views/__init__.py
  gateway/api/v1/views/jobs/get_runtime_jobs.py
  gateway/api/v1/views/jobs/retrieve.py
  gateway/api/v1/views/jobs/save_result.py
  gateway/api/v1/views/jobs/set_sub_status.py
  gateway/api/v1/views/programs/__init__.py
  gateway/api/v1/views/programs/get_by_title.py
  gateway/api/v1/views/programs/get_jobs.py
  gateway/api/v1/views/programs/list.py
  gateway/api/v1/views/programs/run.py
  gateway/api/v1/views/programs/upload.py
  gateway/api/views/__init__.py
  gateway/api/views/programs.py
  gateway/tests/api/test_ce_project_assignment.py
  gateway/tests/api/test_v1_program.py
  gateway/tests/api/test_v1_serializers.py
  gateway/tests/api/use_cases/programs/test_get_jobs.py
  gateway/tests/api/use_cases/programs/test_run.py
  gateway/tests/api/use_cases/programs/test_upload.py
  specs/VIEWS.md
  specs/VIEWS_REFACTOR.md
Due: lint-gateway

deploy: ed7a7a49ad36148f8aaa72b41f72e21d8de84cd9
  .buildinfo
  .doctrees/environment.pickle
Due: none

deploy: 18024bafdd20bdab8bf18b32fcddc3ba0f310d7a
  .buildinfo
  .doctrees/environment.pickle
Due: none

remove unused import in upload_input
  gateway/api/use_cases/programs/upload_input.py
Due: lint-gateway

Replace private imports with public imports
  client/qiskit_serverless/serializers/program_serializers.py
  client/qiskit_serverless/utils/runtime_service_client.py
Due: lint-client

Modify Kafka external secret definition
  charts/qiskit-serverless/templates/kafka-credentials.yaml
Due: none

Control external secret creation with a separated flag
  charts/qiskit-serverless/templates/kafka-credentials.yaml
  charts/qiskit-serverless/values.yaml
Due: none

Modify Kafka external secret definition (#2277)
  charts/qiskit-serverless/templates/kafka-credentials.yaml
  charts/qiskit-serverless/values.yaml
Due: none

Fix missing Optional and AuthenticationBase type imports in AuthenticationUseCase
  gateway/api/use_cases/authentication.py
Due: lint-gateway

Add optional IBM w3id SSO login for backoffice
  gateway/api/authentication_oidc.py
  gateway/api/context_processors.py
  gateway/api/static/admin/css/carbon_theme.css
  gateway/main/settings.py
  gateway/main/urls.py
  gateway/requirements.txt
  gateway/templates/admin/login.html
  gateway/tests/api/authentication/w3id_sso/__init__.py
  gateway/tests/api/authentication/w3id_sso/test_w3id_sso.py
Due: lint-gateway

Pass w3id SSO env vars to gateway in dev compose
  docker-compose-dev.yaml
Due: none

Use IBM id as backoffice username for w3id SSO logins
  gateway/api/authentication_oidc.py
  gateway/main/settings.py
  gateway/tests/api/authentication/w3id_sso/test_w3id_sso.py
Due: lint-gateway

Use email as backoffice username with case-insensitive lookup for w3id SSO
  gateway/api/authentication_oidc.py
  gateway/main/settings.py
  gateway/tests/api/authentication/w3id_sso/test_w3id_sso.py
Due: lint-gateway

Never modify user flags on w3id SSO login, only get or create
  gateway/api/authentication_oidc.py
  gateway/main/settings.py
  gateway/tests/api/authentication/w3id_sso/test_w3id_sso.py
Due: lint-gateway

Reduce w3id SSO config to three env vars, enable via client id presence
  docker-compose-dev.yaml
  gateway/api/authentication_oidc.py
  gateway/api/context_processors.py
  gateway/main/settings.py
  gateway/main/urls.py
Due: lint-gateway

Always mount w3id SSO, gate the login link and entry view on client id
  gateway/api/authentication_oidc.py
  gateway/api/context_processors.py
  gateway/main/settings.py
  gateway/main/urls.py
  gateway/tests/api/authentication/w3id_sso/test_w3id_sso.py
Due: lint-gateway

Apply review suggestions: batch permissions query and extract shared signal helper
  gateway/api/signals.py
  gateway/api/use_cases/authentication.py
Due: lint-gateway

added args and results migrations
  gateway/scheduler/management/commands/migrate_old_job_arguments.py
  gateway/scheduler/management/commands/migrate_old_job_results.py
  gateway/tests/scheduler/management/test_migrate_old_job_arguments.py
  gateway/tests/scheduler/management/test_migrate_old_job_results.py
Due: lint-gateway

Update kafka credentials secret
  charts/qiskit-serverless/templates/kafka-credentials.yaml
Due: none

Replace private imports with public imports (#2276)
  client/qiskit_serverless/serializers/program_serializers.py
  client/qiskit_serverless/utils/runtime_service_client.py
Due: lint-client

Remove repository layer in favor of Django ORM and model managers (#2278)
  gateway/api/repositories/__init__.py
  gateway/api/repositories/groups.py
  gateway/api/repositories/jobs.py
  gateway/api/repositories/program_history.py
  gateway/api/repositories/providers.py
  gateway/api/repositories/runtime_job.py
  gateway/api/repositories/users.py
  gateway/api/signals.py
  gateway/api/use_cases/authentication.py
  gateway/api/use_cases/files/provider_delete.py
  gateway/api/use_cases/files/provider_download.py
  gateway/api/use_cases/files/provider_list.py
  gateway/api/use_cases/files/provider_upload.py
  gateway/api/use_cases/jobs/associate_runtime_jobs.py
  gateway/api/use_cases/jobs/get_runtime_jobs.py
  gateway/api/use_cases/jobs/provider_list.py
  gateway/api/use_cases/jobs/stop.py
  gateway/core/model_managers/providers.py
  gateway/core/models.py
  gateway/tests/api/authentication/mock_token/test_mock_token.py
Due: lint-gateway

Update kafka credentials secret (#2280)
  charts/qiskit-serverless/templates/kafka-credentials.yaml
Due: none

Use API key and IAM bearer for NTC client auth
  tests/instances/conftest.py
  tests/instances/ntc_client.py
  tests/instances/test_instance_permissions.py
  tests/instances/test_ntc_client.py
  tests/tox.ini
Due: lint-tests

Document NTC instance test endpoints and add cache-aware propagation waits
  specs/INSTANCES_AUTH.md
  tests/instances/conftest.py
  tests/instances/ntc_client.py
  tests/instances/test_instance_propagation.py
  tests/instances/test_ntc_client.py
  tests/pyproject.toml
  tests/tox.ini
Due: lint-tests

Simplify fleets_mock: drop over-built indirection
  gateway/core/services/runners/fleets_mock.py
Due: lint-gateway

Patch get_cos_client in one pass instead of a hardcoded module list
  gateway/core/services/runners/fleets_mock.py
Due: lint-gateway

Compute job status once and pass it to _report_status
  tests/fleets/fleet-worker/worker.py
Due: lint-tests

Tighten fleets integration tests and compose hygiene
  docker-compose-fleets-test.yaml
  tests/fleets/_helpers.py
  tests/fleets/conftest.py
  tests/fleets/test_fleets_jobs.py
Due: lint-tests

Use SDK get_logger/get_provider_logger in fleets test fixtures
  tests/fleets/fleet-worker/runner.py
  tests/fleets/source_files/entrypoint.py
Due: lint-tests

Fix flaky test_cancel_running_job by enforcing cancel mid-execution
  tests/fleets/fleet-worker/worker.py
  tests/fleets/source_files/entrypoint.py
  tests/fleets/test_fleets_jobs.py
Due: lint-tests

Don't reclassify a succeeded job as failed on a terminal-write hiccup
  tests/fleets/fleet-worker/worker.py
Due: lint-tests

Simplify fleets test harness: remove redundant indirection
  tests/fleets/_helpers.py
  tests/fleets/conftest.py
  tests/fleets/fleet-worker/worker.py
Due: lint-tests

Extract fetch_one/fetch_all DB helpers to de-noise fleets tests
  tests/fleets/_helpers.py
  tests/fleets/test_fleets_jobs.py
Due: lint-tests

Share one COS queue-prefix builder between runner and mock
  gateway/core/ibm_cloud/code_engine/fleets/cos.py
  gateway/core/services/runners/fleets_mock.py
  gateway/core/services/runners/fleets_runner.py
Due: lint-gateway

Patch get_cos_client via a single private seam
  gateway/core/ibm_cloud/__init__.py
  gateway/core/services/runners/fleets_mock.py
Due: lint-gateway

Harden fleet-worker and mock against crashes and silent fabrication
  gateway/core/services/runners/fleets_mock.py
  tests/fleets/fleet-worker/worker.py
Due: lint-gateway, lint-tests

Fix edge cases found in final review of the worker hardening
  gateway/core/services/runners/fleets_mock.py
  tests/fleets/fleet-worker/worker.py
Due: lint-gateway, lint-tests
